<script setup lang="ts">
import { computed } from 'vue'

import { ItemState } from '@core/stores/items'
import { Template } from '@core/clients/tilig/item'
import { useItemRoutes } from '@/composables/useItemRoutes'

import SidebarBaseItem from './SidebarBaseItem.vue'
import SidebarCreditCardItem from './SidebarCreditCardItem.vue'
import SidebarLoginItem from './SidebarLoginItem.vue'

const componentMap = new Map([
  [Template.Login, SidebarLoginItem],
  [Template.CreditCard, SidebarCreditCardItem],
])

const props = defineProps<{
  itemState: ItemState
}>()
const itemRoutes = useItemRoutes()

const item = computed(() => props.itemState.item)
const overview = computed(() => props.itemState.overview)
const component = computed(
  () => (item.value.template && componentMap.get(item.value?.template)) || SidebarBaseItem
)
</script>

<template>
  <router-link :to="itemRoutes.toItem(item)" class="sidebar-item-link">
    <component :is="component" :overview="overview" :item="item" class="sidebar-item" />
  </router-link>
</template>

<style scoped>
.sidebar-item-link {
  @apply flex h-[50px] items-stretch rounded-lg px-3 py-1.5
    text-sm text-blue-light hover:bg-indigo-light 
    focus:outline-none focus:ring-0 focus-visible:ring-2 focus-visible:ring-indigo;
}

.sidebar-item {
  @apply w-full;
}

.sidebar-item-link.router-link-active {
  @apply bg-indigo-lighter hover:bg-indigo-light;
}
</style>
