<script setup lang="ts">
import { computed } from 'vue'

import SidebarBaseItem from './SidebarBaseItem.vue'

import itemIconURL from '@/utils/itemIconURL'
import { EncryptedItem, DecryptedOverview } from '@core/clients/tilig'

const props = defineProps<{
  item: EncryptedItem
  overview: DecryptedOverview
}>()

const iconURL = computed(() => itemIconURL(props.item))
const itemInfo = computed(() => props.overview.info || 'No username')
</script>

<template>
  <SidebarBaseItem :item="item" :overview="overview" :info="itemInfo">
    <template #icon>
      <img :src="iconURL" />
    </template>
  </SidebarBaseItem>
</template>
