<script setup lang="ts">
withDefaults(
  defineProps<{
    isAnimated?: boolean
  }>(),
  {
    isAnimated: true,
  }
)
</script>
<template>
  <div :class="['item', isAnimated && 'animate-pulse']">
    <slot><div class="icon-wrapper" /></slot>
    <div class="text-wrapper">
      <slot name="name">
        <span class="account-name" />
      </slot>
      <slot name="info">
        <span class="account-info" />
      </slot>
    </div>
  </div>
</template>

<style scoped>
.item {
  @apply mx-0.5 flex items-center gap-3 rounded-lg py-1.5 pl-1.5 pr-4 text-sm font-medium text-gray;
}

.icon-wrapper {
  @apply flex h-8 w-8 items-center justify-center rounded bg-gray-light;
}

.text-wrapper {
  @apply flex max-w-[200px] flex-col;
}

.account-name {
  @apply mb-[8px] mt-[4px] h-[12px] w-20 rounded-sm bg-gray-light;
}

.account-info {
  @apply mb-[4px] h-[12px] w-28 rounded-sm bg-gray-light text-xs font-book;
}
</style>
