<script setup lang="ts">
import { computed } from 'vue'

import { EncryptedItem, DecryptedOverview } from '@core/clients/tilig'
import useScrollCurrentItemIntoView from '@/composables/useScrollCurrentItemIntoView'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import SharedIcon from '@core/assets/shared.svg?component'

const props = defineProps<{
  item: EncryptedItem
  overview: DecryptedOverview
  name?: string
  info?: string
}>()

const itemName = computed(() => props.name || props.overview.name || 'Untitled')
const itemInfo = computed(() => props.info || props.overview.info)

const ref = useScrollCurrentItemIntoView(props.item.id)
const hasShareLink = computed(() => !!props.item.share_link)
// Shared with more than one person
const hasShareMembers = computed(() => {
  if (!props.item.folder) return false
  if (!props.item.folder.single_item) return false
  return (
    props.item.folder.folder_memberships.length + props.item.folder.folder_invitations.length > 1
  )
})
const isShared = computed(() => hasShareLink.value || hasShareMembers.value)
</script>

<template>
  <div ref="ref" class="item-list-item">
    <div class="item-icon">
      <slot name="icon" v-bind="{ item }">
        <ItemIcon class="w-full" :item="item" />
      </slot>
    </div>

    <div class="item-details">
      <slot name="item-name">
        <p class="item-name">{{ itemName }}</p>
      </slot>

      <slot name="item-info">
        <p v-if="itemInfo" class="item-info">{{ itemInfo }}</p>
      </slot>
    </div>

    <SharedIcon v-if="isShared" class="item-shared-icon" />
  </div>
</template>

<style scoped>
.item-list-item {
  @apply flex items-center gap-2;
}

.item-icon {
  @apply flex h-10 w-6 shrink-0 grow-0 items-center justify-center rounded-sm text-blue-darkest;
}

.item-details {
  @apply flex min-w-0 flex-shrink flex-grow flex-col gap-1;
}

.item-name {
  @apply max-w-full truncate text-sm leading-[1.2] text-blue-darkest;
}

.item-info {
  @apply max-w-full truncate text-xs font-book leading-[1.2] text-blue-light;
}

.item-shared-icon {
  @apply w-6 shrink-0 grow-0;
}
</style>
