<script setup lang="ts">
import { computed } from 'vue'
import { DecryptedOverview, EncryptedItem } from '@core/clients/tilig'

import SidebarBaseItem from './SidebarBaseItem.vue'

const props = defineProps<{
  item: EncryptedItem
  overview: DecryptedOverview
}>()

const maskedCardNumber = computed(() =>
  props.overview.info ? `•••• •••• •••• ${props.overview.info}` : ''
)
</script>

<template>
  <SidebarBaseItem :item="item" :overview="overview" :info="maskedCardNumber" />
</template>
