<script setup lang="ts">
import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'

// defineProps<{
//   open?: boolean
// }>()

// defineEmits<{
//   (event: 'open'): void
// }>()
</script>

<template>
  <Disclosure v-slot="{ open }" as="div">
    <DisclosureButton class="flex w-full items-center text-left text-sm">
      <div class="flex-auto"><slot name="title" /></div>

      <svg
        class="ml-auto w-3 transform transition-all duration-200"
        :class="{ 'rotate-180': open }"
        fill="none"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 10"
        aria-hidden="true"
      >
        <path
          d="M15 1.2l-7 7-7-7"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </DisclosureButton>

    <Transition name="expand">
      <DisclosurePanel class="max-h-[500px] overflow-hidden">
        <slot></slot>
      </DisclosurePanel>
    </Transition>
  </Disclosure>
</template>

<style scoped>
.expand-enter-active,
.expand-leave-active {
  transition: max-height 500ms ease;
}

.expand-enter-from,
.expand-leave-to {
  max-height: 0;
  overflow: hidden;
}
</style>
