<template>
  <svg width="131" height="39" viewBox="0 0 131 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.25" y="0.601074" width="130" height="37.9731" rx="3.95545" fill="#05003F" />
    <path
      d="M28.5996 20.3924C28.6121 19.4221 28.8698 18.4707 29.3488 17.6268C29.8278 16.7828 30.5125 16.0738 31.3391 15.5656C30.814 14.8156 30.1212 14.1983 29.3157 13.7629C28.5103 13.3275 27.6145 13.0859 26.6993 13.0572C24.7472 12.8523 22.8547 14.2254 21.8599 14.2254C20.8459 14.2254 19.3142 13.0776 17.6649 13.1115C16.5981 13.146 15.5584 13.4562 14.6472 14.0119C13.7359 14.5677 12.9841 15.35 12.4651 16.2827C10.2168 20.1753 11.8938 25.8961 14.0475 29.0426C15.1251 30.5833 16.3844 32.3044 18.0322 32.2433C19.6447 32.1764 20.2469 31.2151 22.1933 31.2151C24.1216 31.2151 24.6867 32.2433 26.3679 32.2045C28.0982 32.1764 29.1883 30.6569 30.2281 29.1016C31.0023 28.0038 31.598 26.7904 31.9932 25.5065C30.988 25.0813 30.1302 24.3697 29.5267 23.4602C28.9232 22.5508 28.6007 21.4838 28.5996 20.3924Z"
      fill="white"
    />
    <path
      d="M25.4246 10.9881C26.368 9.85554 26.8328 8.39987 26.7202 6.93018C25.2789 7.08156 23.9475 7.77042 22.9913 8.8595C22.5239 9.39154 22.1658 10.0105 21.9377 10.681C21.7095 11.3515 21.6158 12.0604 21.6618 12.7672C22.3827 12.7746 23.0959 12.6183 23.7477 12.3102C24.3995 12.002 24.9728 11.55 25.4246 10.9881Z"
      fill="white"
    />
    <path
      d="M49.6295 25.828H44.7349L43.5595 29.2193H41.4863L46.1224 16.6721H48.2763L52.9124 29.2193H50.8039L49.6295 25.828ZM45.2418 24.263H49.1216L47.209 18.7591H47.1555L45.2418 24.263Z"
      fill="white"
    />
    <path
      d="M62.9242 24.6457C62.9242 27.4885 61.3671 29.3149 59.0172 29.3149C58.422 29.3453 57.83 29.2114 57.309 28.9283C56.7881 28.6453 56.3593 28.2246 56.0716 27.7144H56.0271V32.2455H54.1055V20.0713H55.9656V21.5928H56.0009C56.3018 21.0851 56.7379 20.6666 57.2628 20.3818C57.7877 20.0971 58.3818 19.9567 58.9819 19.9756C61.358 19.9756 62.9242 21.8109 62.9242 24.6457ZM60.949 24.6457C60.949 22.7937 59.9695 21.576 58.475 21.576C57.0067 21.576 56.0191 22.8193 56.0191 24.6457C56.0191 26.4889 57.0067 27.7233 58.475 27.7233C59.9695 27.7233 60.949 26.5146 60.949 24.6457Z"
      fill="white"
    />
    <path
      d="M73.2289 24.6457C73.2289 27.4885 71.6718 29.3149 69.3219 29.3149C68.7267 29.3453 68.1347 29.2113 67.6137 28.9283C67.0928 28.6452 66.6639 28.2246 66.3763 27.7144H66.3318V32.2455H64.4102V20.0713H66.2702V21.5928H66.3056C66.6064 21.0851 67.0425 20.6666 67.5674 20.3818C68.0924 20.0971 68.6865 19.9567 69.2866 19.9756C71.6627 19.9756 73.2289 21.8109 73.2289 24.6457ZM71.2537 24.6457C71.2537 22.7937 70.2742 21.576 68.7797 21.576C67.3114 21.576 66.3238 22.8193 66.3238 24.6457C66.3238 26.4889 67.3114 27.7233 68.7797 27.7233C70.2742 27.7233 71.2537 26.5146 71.2537 24.6457H71.2537Z"
      fill="white"
    />
    <path
      d="M80.0394 25.7231C80.1818 26.9674 81.4188 27.7843 83.1093 27.7843C84.729 27.7843 85.8943 26.9673 85.8943 25.8454C85.8943 24.8715 85.1915 24.2884 83.5273 23.8887L81.8632 23.497C79.5052 22.9405 78.4106 21.863 78.4106 20.1145C78.4106 17.9496 80.3414 16.4626 83.083 16.4626C85.7964 16.4626 87.6565 17.9496 87.7191 20.1145H85.7792C85.6631 18.8624 84.6038 18.1065 83.0557 18.1065C81.5077 18.1065 80.4484 18.8713 80.4484 19.9843C80.4484 20.8713 81.125 21.3933 82.78 21.7929L84.1948 22.1323C86.8294 22.7411 87.924 23.7753 87.924 25.6105C87.924 27.958 86.0104 29.4282 82.9668 29.4282C80.1192 29.4282 78.1965 27.9925 78.0723 25.723L80.0394 25.7231Z"
      fill="white"
    />
    <path
      d="M92.0713 17.9062V20.0711H93.8516V21.5581H92.0713V26.6013C92.0713 27.3847 92.4278 27.7498 93.2104 27.7498C93.4217 27.7462 93.6327 27.7317 93.8425 27.7064V29.1845C93.4906 29.2487 93.133 29.2778 92.7751 29.2713C90.8797 29.2713 90.1405 28.5757 90.1405 26.8015V21.5581H88.7793V20.0711H90.1405V17.9062H92.0713Z"
      fill="white"
    />
    <path
      d="M94.8818 24.6457C94.8818 21.7674 96.6167 19.9587 99.322 19.9587C102.036 19.9587 103.763 21.7674 103.763 24.6457C103.763 27.5319 102.045 29.3326 99.322 29.3326C96.5995 29.3326 94.8818 27.5318 94.8818 24.6457ZM101.805 24.6457C101.805 22.6712 100.879 21.5059 99.322 21.5059C97.7649 21.5059 96.8399 22.6801 96.8399 24.6457C96.8399 26.628 97.7649 27.7845 99.322 27.7845C100.879 27.7845 101.805 26.628 101.805 24.6457H101.805Z"
      fill="white"
    />
    <path
      d="M105.348 20.0712H107.18V21.6282H107.225C107.349 21.1419 107.641 20.7122 108.051 20.4112C108.461 20.1102 108.964 19.9563 109.477 19.9755C109.698 19.9747 109.919 19.9982 110.135 20.0455V21.8019C109.856 21.7184 109.564 21.6801 109.272 21.6884C108.993 21.6774 108.714 21.7255 108.456 21.8294C108.198 21.9334 107.965 22.0907 107.775 22.2907C107.585 22.4906 107.441 22.7284 107.354 22.9878C107.267 23.2471 107.238 23.5218 107.269 23.7931V29.2191H105.348L105.348 20.0712Z"
      fill="white"
    />
    <path
      d="M118.996 26.5323C118.737 28.193 117.082 29.3326 114.965 29.3326C112.241 29.3326 110.551 27.5496 110.551 24.6891C110.551 21.8197 112.25 19.9587 114.884 19.9587C117.474 19.9587 119.103 21.6973 119.103 24.471V25.1144H112.491V25.2278C112.46 25.5645 112.503 25.9037 112.617 26.2228C112.731 26.5419 112.913 26.8337 113.151 27.0788C113.39 27.3239 113.678 27.5166 113.999 27.6442C114.319 27.7718 114.663 27.8314 115.009 27.819C115.463 27.8606 115.919 27.7578 116.309 27.526C116.698 27.2941 117.001 26.9456 117.171 26.5323L118.996 26.5323ZM112.5 23.802H117.18C117.197 23.4993 117.151 23.1964 117.042 22.9123C116.934 22.6281 116.767 22.3689 116.551 22.1509C116.336 21.9329 116.076 21.7608 115.789 21.6454C115.502 21.53 115.194 21.4738 114.884 21.4803C114.571 21.4784 114.261 21.5372 113.971 21.6531C113.682 21.7691 113.418 21.9399 113.197 22.1557C112.975 22.3716 112.799 22.6282 112.68 22.9108C112.56 23.1933 112.499 23.4963 112.5 23.802V23.802Z"
      fill="white"
    />
    <path
      d="M45.0011 7.22657C45.404 7.19832 45.8083 7.25779 46.1848 7.40069C46.5613 7.5436 46.9007 7.76637 47.1784 8.05295C47.4561 8.33953 47.6653 8.68276 47.7908 9.05789C47.9164 9.43303 47.9551 9.83071 47.9043 10.2223C47.9043 12.1483 46.839 13.2555 45.0011 13.2555H42.7725V7.22657H45.0011ZM43.7308 12.4029H44.8941C45.182 12.4197 45.4701 12.3736 45.7374 12.2679C46.0047 12.1622 46.2446 11.9995 46.4395 11.7918C46.6344 11.5841 46.7795 11.3366 46.8641 11.0672C46.9488 10.7978 46.9709 10.5133 46.9289 10.2345C46.9678 9.95685 46.9435 9.67417 46.8575 9.40675C46.7716 9.13933 46.6262 8.8938 46.4317 8.68775C46.2372 8.4817 45.9985 8.32023 45.7327 8.21491C45.4669 8.10958 45.1805 8.06302 44.8941 8.07855H43.7308V12.4029Z"
      fill="white"
    />
    <path
      d="M48.9869 10.9789C48.9577 10.6799 48.9927 10.3782 49.0897 10.0932C49.1868 9.80817 49.3437 9.54613 49.5504 9.32386C49.7572 9.10159 50.0092 8.92399 50.2903 8.80247C50.5714 8.68094 50.8754 8.61816 51.1828 8.61816C51.4902 8.61816 51.7942 8.68094 52.0753 8.80247C52.3564 8.92399 52.6084 9.10159 52.8152 9.32386C53.0219 9.54613 53.1788 9.80817 53.2759 10.0932C53.3729 10.3782 53.4079 10.6799 53.3786 10.9789C53.4085 11.2782 53.3739 11.5803 53.2771 11.8657C53.1803 12.1512 53.0235 12.4137 52.8167 12.6364C52.6099 12.8591 52.3577 13.0371 52.0763 13.1589C51.7949 13.2807 51.4906 13.3436 51.1828 13.3436C50.875 13.3436 50.5707 13.2807 50.2893 13.1589C50.0079 13.0371 49.7557 12.8591 49.5489 12.6364C49.3421 12.4137 49.1853 12.1512 49.0885 11.8657C48.9917 11.5803 48.9571 11.2782 48.9869 10.9789ZM52.4334 10.9789C52.4334 9.99263 51.98 9.41589 51.1843 9.41589C50.3855 9.41589 49.9362 9.99263 49.9362 10.9789C49.9362 11.973 50.3856 12.5453 51.1843 12.5453C51.9801 12.5453 52.4335 11.969 52.4335 10.9789H52.4334Z"
      fill="white"
    />
    <path
      d="M59.2163 13.2556H58.263L57.3007 9.90468H57.228L56.2697 13.2556H55.3255L54.042 8.70581H54.9741L55.8082 12.1776H55.8768L56.8341 8.70581H57.7157L58.673 12.1776H58.7457L59.5758 8.70581H60.4947L59.2163 13.2556Z"
      fill="white"
    />
    <path
      d="M61.5742 8.70583H62.4588V9.4286H62.5275C62.644 9.16901 62.8405 8.95139 63.0895 8.80609C63.3386 8.66079 63.6279 8.59504 63.917 8.618C64.1436 8.60136 64.371 8.63474 64.5826 8.71567C64.7942 8.7966 64.9844 8.923 65.1392 9.08552C65.294 9.24804 65.4093 9.4425 65.4768 9.65451C65.5442 9.86651 65.5619 10.0906 65.5287 10.3102V13.2556H64.6097V10.5357C64.6097 9.80455 64.2846 9.44094 63.605 9.44094C63.4511 9.43394 63.2976 9.45952 63.1548 9.51593C63.0121 9.57234 62.8835 9.65825 62.7779 9.76776C62.6723 9.87728 62.5922 10.0078 62.543 10.1504C62.4939 10.293 62.4769 10.4443 62.4931 10.5939V13.2556H61.5742L61.5742 8.70583Z"
      fill="white"
    />
    <path d="M66.9932 6.92969H67.9121V13.2556H66.9932V6.92969Z" fill="white" />
    <path
      d="M69.1891 10.9789C69.1598 10.6799 69.1948 10.3782 69.2919 10.0932C69.389 9.8082 69.5459 9.54615 69.7527 9.32387C69.9595 9.1016 70.2115 8.924 70.4926 8.80247C70.7737 8.68094 71.0778 8.61816 71.3852 8.61816C71.6926 8.61816 71.9966 8.68094 72.2777 8.80247C72.5589 8.924 72.8109 9.1016 73.0177 9.32387C73.2244 9.54615 73.3814 9.8082 73.4784 10.0932C73.5755 10.3782 73.6105 10.6799 73.5813 10.9789C73.6111 11.2783 73.5764 11.5804 73.4796 11.8658C73.3828 12.1513 73.226 12.4138 73.0191 12.6365C72.8123 12.8592 72.5601 13.0372 72.2787 13.1589C71.9973 13.2807 71.6929 13.3436 71.3852 13.3436C71.0774 13.3436 70.773 13.2807 70.4916 13.1589C70.2102 13.0372 69.958 12.8592 69.7512 12.6365C69.5444 12.4138 69.3875 12.1513 69.2907 11.8658C69.1939 11.5804 69.1593 11.2783 69.1891 10.9789ZM72.6356 10.9789C72.6356 9.99271 72.1822 9.41597 71.3864 9.41597C70.5877 9.41597 70.1383 9.99271 70.1383 10.9789C70.1383 11.9731 70.5877 12.5454 71.3864 12.5454C72.1822 12.5454 72.6356 11.9691 72.6356 10.9789H72.6356Z"
      fill="white"
    />
    <path
      d="M74.5488 11.9691C74.5488 11.1501 75.1729 10.6779 76.2807 10.6108L77.5419 10.5398V10.1471C77.5419 9.66655 77.2168 9.39521 76.5887 9.39521C76.0757 9.39521 75.7202 9.57923 75.6182 9.90091H74.7286C74.8225 9.11942 75.5748 8.61816 76.6311 8.61816C77.7984 8.61816 78.4568 9.18601 78.4568 10.1471V13.2558H77.5722V12.6164H77.4995C77.3519 12.8457 77.1447 13.0327 76.899 13.1582C76.6533 13.2837 76.3779 13.3432 76.1009 13.3307C75.9054 13.3506 75.7079 13.3302 75.521 13.2709C75.334 13.2116 75.1619 13.1147 75.0157 12.9864C74.8695 12.8581 74.7524 12.7013 74.672 12.5261C74.5915 12.3508 74.5496 12.1611 74.5488 11.9691ZM77.5419 11.5803V11.1999L76.4049 11.271C75.7636 11.3129 75.4728 11.526 75.4728 11.9271C75.4728 12.3366 75.8363 12.5749 76.3362 12.5749C76.4827 12.5894 76.6307 12.575 76.7713 12.5324C76.9119 12.4899 77.0424 12.4202 77.1549 12.3274C77.2674 12.2346 77.3596 12.1206 77.4261 11.9923C77.4926 11.8639 77.532 11.7238 77.5419 11.5803Z"
      fill="white"
    />
    <path
      d="M79.6641 10.9787C79.6641 9.54107 80.4204 8.63032 81.5969 8.63032C81.8878 8.61722 82.1767 8.68532 82.4295 8.82667C82.6824 8.96802 82.8888 9.17678 83.0247 9.42854H83.0934V6.92969H84.0123V13.2556H83.1318V12.5367H83.0591C82.9126 12.7868 82.699 12.993 82.4413 13.1329C82.1835 13.2728 81.8915 13.3412 81.5969 13.3306C80.4123 13.3306 79.6641 12.4198 79.6641 10.9787ZM80.6133 10.9787C80.6133 11.9437 81.0789 12.5244 81.8574 12.5244C82.6319 12.5244 83.1106 11.9354 83.1106 10.9827C83.1106 10.0344 82.6269 9.43697 81.8574 9.43697C81.0839 9.43697 80.6133 10.0216 80.6133 10.9787H80.6133Z"
      fill="white"
    />
    <path
      d="M87.8151 10.9789C87.7858 10.6799 87.8208 10.3782 87.9178 10.0932C88.0149 9.80817 88.1718 9.54613 88.3786 9.32386C88.5853 9.10159 88.8373 8.92399 89.1184 8.80247C89.3995 8.68094 89.7035 8.61816 90.0109 8.61816C90.3183 8.61816 90.6223 8.68094 90.9034 8.80247C91.1845 8.92399 91.4365 9.10159 91.6433 9.32386C91.85 9.54613 92.007 9.80817 92.104 10.0932C92.201 10.3782 92.236 10.6799 92.2068 10.9789C92.2366 11.2782 92.202 11.5803 92.1052 11.8657C92.0084 12.1512 91.8516 12.4137 91.6448 12.6364C91.438 12.8591 91.1858 13.0371 90.9044 13.1589C90.623 13.2807 90.3187 13.3436 90.0109 13.3436C89.7032 13.3436 89.3988 13.2807 89.1174 13.1589C88.836 13.0371 88.5838 12.8591 88.377 12.6364C88.1702 12.4137 88.0134 12.1512 87.9166 11.8657C87.8198 11.5803 87.7852 11.2782 87.8151 10.9789ZM91.2616 10.9789C91.2616 9.99263 90.8082 9.41589 90.0124 9.41589C89.2137 9.41589 88.7643 9.99263 88.7643 10.9789C88.7643 11.973 89.2137 12.5453 90.0124 12.5453C90.8082 12.5453 91.2616 11.969 91.2616 10.9789Z"
      fill="white"
    />
    <path
      d="M93.4395 8.70583H94.3241V9.4286H94.3927C94.5092 9.16901 94.7057 8.95139 94.9548 8.80609C95.2038 8.66079 95.4931 8.59504 95.7822 8.618C96.0088 8.60136 96.2363 8.63474 96.4478 8.71567C96.6594 8.7966 96.8496 8.923 97.0044 9.08552C97.1592 9.24804 97.2746 9.4425 97.342 9.65451C97.4094 9.86651 97.4271 10.0906 97.3939 10.3102V13.2556H96.475V10.5357C96.475 9.80455 96.1498 9.44094 95.4702 9.44094C95.3164 9.43394 95.1628 9.45952 95.0201 9.51593C94.8773 9.57234 94.7487 9.65825 94.6431 9.76776C94.5375 9.87728 94.4574 10.0078 94.4082 10.1504C94.3591 10.293 94.3421 10.4443 94.3584 10.5939V13.2556H93.4395V8.70583Z"
      fill="white"
    />
    <path
      d="M102.587 7.57324V8.72672H103.596V9.48305H102.587V11.8226C102.587 12.2992 102.788 12.5079 103.245 12.5079C103.362 12.5075 103.479 12.5006 103.596 12.4871V13.2351C103.431 13.2639 103.263 13.2793 103.096 13.2809C102.074 13.2809 101.667 12.9297 101.667 12.0525V9.48301H100.928V8.72668H101.667V7.57324H102.587Z"
      fill="white"
    />
    <path
      d="M104.851 6.92969H105.761V9.43696H105.834C105.956 9.17494 106.158 8.95609 106.412 8.81025C106.666 8.6644 106.96 8.59864 107.254 8.62192C107.479 8.60994 107.705 8.64671 107.914 8.7296C108.123 8.8125 108.311 8.93948 108.464 9.10149C108.617 9.26349 108.732 9.45653 108.8 9.66683C108.868 9.87713 108.888 10.0995 108.857 10.3181V13.2556H107.938V10.5396C107.938 9.81289 107.591 9.44484 106.942 9.44484C106.784 9.43218 106.625 9.4534 106.476 9.507C106.328 9.56061 106.193 9.64531 106.081 9.75518C105.97 9.86505 105.884 9.99743 105.83 10.1431C105.776 10.2887 105.756 10.4441 105.77 10.5983V13.2556H104.851L104.851 6.92969Z"
      fill="white"
    />
    <path
      d="M114.216 12.0274C114.091 12.4432 113.82 12.8029 113.452 13.0435C113.083 13.2841 112.639 13.3904 112.198 13.3437C111.891 13.3516 111.586 13.2942 111.305 13.1754C111.023 13.0567 110.771 12.8794 110.566 12.656C110.362 12.4325 110.209 12.1683 110.12 11.8815C110.03 11.5947 110.005 11.2923 110.047 10.9953C110.006 10.6973 110.031 10.3943 110.121 10.1066C110.21 9.81898 110.362 9.55348 110.566 9.32809C110.769 9.10269 111.02 8.92267 111.301 8.8002C111.582 8.67773 111.886 8.61568 112.194 8.61824C113.49 8.61824 114.271 9.48315 114.271 10.9119V11.2252H110.983V11.2755C110.969 11.4425 110.99 11.6105 111.046 11.7689C111.102 11.9273 111.192 12.0725 111.308 12.1952C111.425 12.3179 111.567 12.4155 111.724 12.4815C111.882 12.5476 112.052 12.5808 112.223 12.5789C112.443 12.6047 112.666 12.566 112.863 12.4678C113.06 12.3696 113.223 12.2163 113.331 12.0273L114.216 12.0274ZM110.983 10.5611H113.335C113.347 10.4084 113.325 10.255 113.273 10.1108C113.22 9.96661 113.137 9.83478 113.029 9.72377C112.921 9.61277 112.791 9.52507 112.646 9.46628C112.501 9.4075 112.346 9.37895 112.189 9.38246C112.03 9.38051 111.872 9.40967 111.725 9.46821C111.578 9.52676 111.444 9.61352 111.332 9.72336C111.219 9.8332 111.131 9.96392 111.071 10.1078C111.011 10.2517 110.981 10.4058 110.983 10.5611H110.983Z"
      fill="white"
    />
  </svg>
</template>
