<script lang="ts" setup>
import { onMounted, onUnmounted } from 'vue'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import Modal from '@/ui/components/Modal.vue'

import { KeyIcon, XIcon } from '@heroicons/vue/outline'

const props = defineProps<{
  open: boolean
  currentDomain: string
  currentDomainIcon: string | null
  autofillDomain: string
  autofillDomainIcon: string | null
}>()

const emits = defineEmits<{
  (e: 'cancel'): void
  (e: 'autofill'): void
}>()

const escapeKeyDownListener = (e: KeyboardEvent) => {
  if (e.key === 'Escape') {
    emits('cancel')
  }
}

onMounted(() => {
  window.addEventListener('keydown', escapeKeyDownListener)
})

onUnmounted(() => {
  window.removeEventListener('keydown', escapeKeyDownListener)
})
</script>
<template>
  <Modal :open="props.open" class="autofill-modal">
    <div class="controls">
      <a @click="emits('cancel')"><XIcon class="h-[24px]" /></a>
    </div>
    <div class="content">
      <KeyIcon class="m-auto mb-2 h-[36px]" />
      <h1>Are you sure?</h1>
      <p>The URL's of these accounts don't match.</p>
      <p>Do you want to continue?</p>

      <label>You're currently visiting</label>
      <div class="input-group">
        <input readonly :value="currentDomain" class="bg-indigo-lightest" />
        <div class="icon-holder">
          <ItemIcon :icon-url="currentDomainIcon" class="item-icon" />
        </div>
      </div>

      <label>You're entering a password from</label>
      <div class="input-group">
        <input readonly :value="autofillDomain" />
        <div class="icon-holder">
          <ItemIcon :icon-url="autofillDomainIcon" class="item-icon" />
        </div>
      </div>
      <a class="force-autofill-btn" @click="emits('autofill')">Continue</a>
    </div>
  </Modal>
</template>

<style scoped>
.autofill-modal {
  @apply w-9/12 border-indigo-dark bg-black;
}
.controls {
  @apply -mb-10 flex cursor-pointer flex-col items-end p-4;
}

.content {
  @apply flex flex-col items-start p-4;
}

.content h1 {
  @apply m-auto pb-4 text-2xl;
}

.content p {
  @apply m-auto text-center text-xs text-black text-opacity-80;
}
.content label {
  @apply pb-1 pt-8 text-xs text-black text-opacity-80;
}

.content input {
  @apply h-12 w-full rounded-md border-[1px] border-gray-light p-2 pl-4 focus:outline-none;
}

.content .input-group {
  @apply relative w-full;
}

.icon-holder {
  @apply absolute right-0 top-[10px] mr-2 h-[28px] w-[28px];
}

.content .force-autofill-btn {
  @apply mt-6 box-border block w-full cursor-pointer rounded-md border-[1px] bg-indigo px-4 py-2 text-center text-sm text-white hover:bg-indigo-dark;
}
</style>
