<script setup lang="ts">
import type { Component } from 'vue'

defineProps<{
  icon?: Component | null
}>()
</script>

<template>
  <div class="coming-soon">
    <div class="icon">
      <slot name="icon">
        <component :is="icon" />
      </slot>
    </div>

    <div class="content">
      <h3 class="header">
        <slot />
      </h3>
      <p class="body">
        <slot name="body" />
      </p>
    </div>
  </div>
</template>

<style scoped>
.coming-soon {
  @apply flex flex-col items-center justify-center bg-white;
}

.icon {
  @apply h-[141px] w-[141px];
}

.content {
  @apply mt-8 flex flex-col gap-2 text-center;
}

.header {
  @apply font-medium leading-6;
}

.body {
  @apply text-center text-xs text-gray-darkest;
}
</style>
