<template>
  <div>
    <div class="field">
      <p class="field-label">This action can not be undone.</p>
      <p>Are you sure you want to remove this item from Tilig?</p>
    </div>
    <div class="controls">
      <button type="button" class="button" @click="$emit('delete')">Delete Permanently</button>
      <button type="button" class="button is-primary" @click="$emit('cancel')">Don't Delete</button>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  emits: ['cancel', 'delete'],
  mounted() {
    window.scrollTo(0, document.body.scrollHeight)
  },
}
</script>

<style scoped>
.field-label {
  @apply my-1.5 text-xs text-blue-light;
}

.controls {
  @apply mb-2 mt-4 flex flex-row justify-between;
}
.button {
  @apply text-sm text-indigo hover:underline;
}

.button.is-primary {
  @apply rounded-xl border-2 bg-indigo px-5 py-4 text-sm leading-none text-white hover:no-underline;
}
</style>
