<script setup lang="ts">
import { RouterLink } from 'vue-router'

import { useItemTypeTabs } from '@core/composables/useItemTypeTabs'

const props = defineProps<{
  hasCustomItems: boolean
}>()

const { tabs } = useItemTypeTabs(props.hasCustomItems)
</script>

<template>
  <div class="tabs">
    <RouterLink :to="{ name: 'secrets' }" class="tab">All items</RouterLink>
    <RouterLink
      v-for="tab in tabs"
      :key="tab.name"
      :to="{
        name: 'secrets',
        params: {
          type: tab.itemType,
        },
      }"
      class="tab"
      >{{ tab.name }}</RouterLink
    >
  </div>
</template>

<style scoped>
.tabs {
  @apply flex gap-2;
}
.tab {
  @apply min-w-max rounded-[40px] border border-gray-light px-4 py-1 text-sm font-normal leading-5 text-gray2;
}

.tab.router-link-exact-active {
  @apply border-indigo bg-indigo-lighter text-indigo;
}
</style>
