<script setup lang="ts">
import ArrowLeftSLine from '~icons/ri/arrow-left-s-line?width=1.5em&height=1.5em&dummy'
import ArrowRightSLine from '~icons/ri/arrow-right-s-line?width=1.5em&height=1.5em&dummy'

defineProps<{
  direction: 'left' | 'right'
}>()
</script>

<template>
  <div class="item-navigation" :class="direction">
    <button class="icon-container">
      <ArrowLeftSLine v-if="direction === 'left'" class="icon" />
      <ArrowRightSLine v-else class="icon" />
    </button>
  </div>
</template>

<style scoped>
.item-navigation {
  @apply flex items-center;
}
.icon-container {
  @apply h-8 w-8 rounded-full bg-gray-lightest p-2 hover:bg-gray-light active:bg-gray;
}

.icon {
  @apply h-full w-full text-gray2;
}

.right {
  @apply bg-gradient-to-l from-white from-50% to-transparent;
}

.left {
  @apply bg-gradient-to-r from-white from-50% to-transparent;
}
</style>
