<script setup lang="ts">
import { computed, toRefs } from 'vue'
import { storeToRefs } from 'pinia'

import { parseDomain } from '@core/utils/domainUtils'
import { ItemState } from '@core/stores/items'
import { Template } from '@core/clients/tilig/item'
import { domainToHref } from '@/utils/urls'
import { attemptAutofillLogin } from '@/background/messageApis/autofillLogin'

import { usePopupStore } from '../store'

import ArrowRightSLine from '~icons/ri/arrow-right-s-line?width=1.5em&height=1.5em&dummy'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import BaseButton from '@/ui/components/next/BaseButton.vue'

const props = defineProps<{
  item: ItemState
  suggested?: boolean
}>()

const store = usePopupStore()
const { activeTab } = storeToRefs(store)
const { item } = toRefs(props)

const encryptedItem = computed(() => {
  return item.value.item
})
const overview = computed(() => {
  return item.value.overview
})
const canAutofill = computed(() => {
  if (!encryptedItem.value.website || !activeTab.value?.url) return false
  const accountDomain = parseDomain(encryptedItem.value.website)
  const activeDomain = parseDomain(activeTab.value.url)
  if (!accountDomain) return false
  const domainMatch = accountDomain === activeDomain
  // TODO: @mdp Punting on until 3.value.1 and feedback from product
  // if (currentContext) {.value
  //   return currentContext.value.hasLoginOrSignupForm && domainMatch
  // }
  return domainMatch
})
const canVisit = computed(() => {
  return !!encryptedItem.value.website
})

const sendAutoFillMessage = () => {
  attemptAutofillLogin({
    trigger: 'Popup Account List',
    userInitiated: true,
    id: encryptedItem.value.id,
  })
  window.close()
}
const visitSite = () => {
  if (encryptedItem.value.website) {
    window.open(domainToHref(encryptedItem.value.website), '_blank')
  }
}
</script>

<template>
  <RouterLink :to="{ name: 'secret', params: { id: encryptedItem.id } }" class="item group">
    <ItemIcon :item="encryptedItem" class="item-icon" />
    <div class="text-wrapper" :title="overview?.name || 'Untitled'">
      <p class="item-name">
        <span class="name" :class="{ noname: !overview?.name }">{{
          overview?.name || 'Untitled'
        }}</span>
        <span v-if="suggested" class="text-xs text-indigo">Suggested</span>
      </p>
      <p
        v-if="encryptedItem.template === Template.Login"
        class="item-info"
        :class="{ noinfo: !overview?.info }"
      >
        {{ overview?.info || 'No username or email' }}
      </p>
    </div>

    <BaseButton
      v-if="canAutofill"
      class="text-action-button"
      variant="primary-outline"
      text="Autofill"
      @click.prevent="sendAutoFillMessage"
    />
    <BaseButton
      v-else-if="canVisit"
      class="text-action-button"
      variant="primary-outline"
      text="Visit"
      @click.prevent="visitSite"
    />

    <ArrowRightSLine class="text-gray2" />
  </RouterLink>
</template>

<style scoped>
.item {
  @apply flex h-16 items-center gap-3 rounded-lg px-4 py-2 hover:bg-indigo-lightest focus:outline-none focus:ring-0 focus-visible:ring-2 focus-visible:ring-indigo;
}

.item.current {
  @apply bg-indigo-lighter;
}

.text-wrapper {
  @apply flex flex-1 flex-col gap-1 overflow-hidden;
}
.item-info {
  @apply truncate text-ellipsis text-sm leading-snug text-gray-darkest;
}

.item-name {
  @apply flex flex-shrink items-center gap-2 leading-snug;
}

.item-name .name {
  @apply truncate text-ellipsis;
}

.item-name .name.noname {
  @apply text-gray2;
}

.item-info.noinfo {
  @apply text-gray;
}

/* TODO */
.text-action-button {
  @apply hidden  group-hover:block;
}

.item-icon {
  @apply h-6 w-6 rounded-sm;
}
:deep(.item-icon img),
:deep(.item-icon svg) {
  @apply rounded-sm;
}
</style>
