<script setup lang="ts">
import { computed, reactive, toRef } from 'vue'

import { DecryptedItem, findInMain } from '@core/clients/tilig/item'
import { PASSWORD_COPIED, ACCOUNT_VIEWED, PASSWORD_REVEALED } from '@core/utils/trackingConstants'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'
import { domainToHref } from '@/utils/urls'

import Totp from '../components/ViewTotpField.vue'
import ViewField from './ViewField.vue'
import { attemptAutofillLogin } from '@/background/messageApis/autofillLogin'
import { parseDomain } from '@core/utils/domainUtils'

import AutofillWarningModal from './AutofillWarningModal.vue'
import { KeyIcon } from '@heroicons/vue/outline'

const props = defineProps<{
  item: DecryptedItem | null
  canAutofill?: boolean
}>()

const item = toRef(props, 'item')

// Hold empty strings while we decrypt
const loginItem = reactive({
  name: item.value?.overview.name || 'Untitled',
  website: item.value?.overview?.urls[0]?.url || '',
  username: item.value ? findInMain(item.value?.details, 'username') ?? '' : '',
  password: item.value ? findInMain(item.value?.details, 'password') ?? '' : '',
  otp: item.value ? findInMain(item.value?.details, 'totp') ?? '' : '',
  notes: item.value?.details.notes ?? '',
})

dispatchTrackEvent(ACCOUNT_VIEWED)

const websiteHref = computed(() => {
  if (loginItem.website) {
    return domainToHref(loginItem.website)
  }
  return ''
})

const autofillModalProps = reactive({
  open: false,
  currentDomain: parseDomain(loginItem.website) || '',
  currentDomainIcon: item.value?.item.brand?.logo_icon_source || null,
  autofillDomain: parseDomain(loginItem.website) || '',
  autofillDomainIcon: item.value?.item.brand?.logo_icon_source || null,
})

const onCopy = (copiedInputType: string) => {
  if (['otp', 'password'].includes(copiedInputType)) {
    dispatchTrackEvent(PASSWORD_COPIED)
  }
}

const onReveal = () => {
  dispatchTrackEvent(PASSWORD_REVEALED)
}

const onAutofillLogin = () => {
  autofillLogin()
  autofillModalProps.open = false
}

const autofillLogin = () => {
  attemptAutofillLogin({
    id: item.value?.item.id,
    trigger: 'Login Item Details',
    userInitiated: true,
  })
  autofillModalProps.open = false
}

const closeAutofillModal = () => {
  autofillModalProps.open = false
}
</script>

<template>
  <div class="item-details">
    <div class="field is-grouped">
      <div v-if="canAutofill" class="autofill-controls">
        <a class="autofill-btn" @click="onAutofillLogin">
          <KeyIcon class="inline h-[18px]" />
          Autofill
        </a>
      </div>
      <ViewField
        :value="loginItem.username"
        title="Email or username"
        :can-copy="true"
        placeholder="No email or username"
        @copied="onCopy"
      />
      <ViewField
        :value="loginItem.password"
        title="Password"
        :can-copy="true"
        input-type="password"
        placeholder="No password"
        @copied="onCopy"
        @revealed="onReveal"
      />
    </div>
    <div v-if="!!loginItem.website" class="field is-grouped">
      <ViewField :value="loginItem.website" title="Website" :link-href="websiteHref" />
    </div>

    <div v-if="loginItem.otp" class="field is-grouped">
      <Totp :value="loginItem.otp"></Totp>
    </div>
    <div v-if="loginItem.notes" class="field is-grouped">
      <ViewField :value="loginItem.notes" title="Notes" :is-multi-line="true" />
    </div>
  </div>
  <AutofillWarningModal
    v-bind="autofillModalProps"
    @autofill="autofillLogin"
    @cancel="closeAutofillModal"
  />
</template>

<style scoped>
.item-details {
  @apply flex w-full flex-col items-center;
}

.is-grouped {
  @apply mt-4 w-full rounded-md bg-white px-4;
}

.is-grouped > * {
  @apply relative pb-2 pt-2;
}

.is-grouped > *:not(:last-child, .autofill-controls) {
  @apply border-b-2 border-gray-lightest;
}

.autofill-controls {
  @apply w-full border-b-0 py-2;
}

.autofill-btn {
  @apply box-border block w-full cursor-pointer rounded-md border-[1px] border-indigo px-4 py-2 text-center text-sm text-indigo hover:bg-gray-light;
}
</style>
