<template>
  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="5 0 145 190">
    <g filter="url(#filter0_ddddd_454_29290)">
      <rect x="29.4492" y="136.544" width="98.0958" height="27.4553" rx="6" fill="white"></rect>
      <rect
        x="29.9492"
        y="137.044"
        width="97.0958"
        height="26.4553"
        rx="5.5"
        stroke="#E8E8ED"
      ></rect>
    </g>
    <g clip-path="url(#clip0_454_29290)">
      <path
        d="M48.9255 147.264C48.9345 147.394 48.9345 147.524 48.9345 147.655C48.9345 151.652 45.8841 156.262 40.3064 156.262V156.259C38.6587 156.262 37.0453 155.791 35.6582 154.903C35.8978 154.932 36.1386 154.946 36.38 154.947C37.7454 154.948 39.0718 154.491 40.1461 153.65C38.8485 153.625 37.7106 152.781 37.3131 151.549C37.7676 151.636 38.236 151.618 38.6821 151.497C37.2674 151.212 36.2497 149.972 36.2497 148.532C36.2497 148.519 36.2497 148.506 36.2497 148.493C36.6712 148.728 37.1432 148.858 37.6259 148.872C36.2935 147.984 35.8828 146.216 36.6874 144.833C38.227 146.723 40.4986 147.872 42.937 147.993C42.6927 146.943 43.0265 145.842 43.8143 145.103C45.0357 143.958 46.9566 144.017 48.1046 145.234C48.7838 145.101 49.4347 144.852 50.0303 144.5C49.804 145.2 49.3302 145.795 48.6973 146.173C49.2984 146.102 49.8856 145.942 50.4387 145.697C50.0315 146.305 49.5187 146.835 48.9255 147.264Z"
        fill="#DADADA"
      ></path>
    </g>
    <path
      d="M56.7666 147.774C56.7666 147.085 57.3225 146.526 58.0083 146.526H112.023C112.709 146.526 113.265 147.085 113.265 147.774C113.265 148.464 112.709 149.022 112.023 149.022H58.0083C57.3225 149.022 56.7666 148.464 56.7666 147.774Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M59.8709 153.078C59.8709 153.94 59.176 154.638 58.3188 154.638C57.4615 154.638 56.7666 153.94 56.7666 153.078C56.7666 152.217 57.4615 151.518 58.3188 151.518C59.176 151.518 59.8709 152.217 59.8709 153.078Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M64.2169 153.078C64.2169 153.94 63.522 154.638 62.6648 154.638C61.8075 154.638 61.1126 153.94 61.1126 153.078C61.1126 152.217 61.8075 151.518 62.6648 151.518C63.522 151.518 64.2169 152.217 64.2169 153.078Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M68.5629 153.078C68.5629 153.94 67.868 154.638 67.0108 154.638C66.1536 154.638 65.4586 153.94 65.4586 153.078C65.4586 152.217 66.1536 151.518 67.0108 151.518C67.868 151.518 68.5629 152.217 68.5629 153.078Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M72.909 153.078C72.909 153.94 72.214 154.638 71.3568 154.638C70.4996 154.638 69.8047 153.94 69.8047 153.078C69.8047 152.217 70.4996 151.518 71.3568 151.518C72.214 151.518 72.909 152.217 72.909 153.078Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M77.255 153.078C77.255 153.94 76.5601 154.638 75.7028 154.638C74.8456 154.638 74.1507 153.94 74.1507 153.078C74.1507 152.217 74.8456 151.518 75.7028 151.518C76.5601 151.518 77.255 152.217 77.255 153.078Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M81.601 153.078C81.601 153.94 80.9061 154.638 80.0488 154.638C79.1916 154.638 78.4967 153.94 78.4967 153.078C78.4967 152.217 79.1916 151.518 80.0488 151.518C80.9061 151.518 81.601 152.217 81.601 153.078Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M85.947 153.078C85.947 153.94 85.2521 154.638 84.3949 154.638C83.5376 154.638 82.8427 153.94 82.8427 153.078C82.8427 152.217 83.5376 151.518 84.3949 151.518C85.2521 151.518 85.947 152.217 85.947 153.078Z"
      fill="#D0D0DC"
    ></path>
    <g filter="url(#filter1_ddddd_454_29290)">
      <rect x="29.4492" y="106.596" width="98.0958" height="27.4553" rx="6" fill="white"></rect>
      <rect
        x="29.9492"
        y="107.096"
        width="97.0958"
        height="26.4553"
        rx="5.5"
        stroke="#E8E8ED"
      ></rect>
    </g>
    <g clip-path="url(#clip1_454_29290)">
      <path
        d="M48.2306 112.836H37.9864C36.7006 112.836 35.6582 113.884 35.6582 115.176V125.472C35.6582 126.764 36.7006 127.812 37.9864 127.812H48.2306C49.5165 127.812 50.5588 126.764 50.5588 125.472V115.176C50.5588 113.884 49.5165 112.836 48.2306 112.836Z"
        fill="#DEDEDE"
      ></path>
      <path
        d="M41.0601 124.068H39.4769V119.06H41.0601V124.068ZM40.2685 118.358C39.7563 118.358 39.3838 117.984 39.3838 117.469C39.3838 116.954 39.8029 116.58 40.2685 116.58C40.7807 116.58 41.1532 116.954 41.1532 117.469C41.1532 117.984 40.7807 118.358 40.2685 118.358ZM46.8341 124.068H45.2509V121.354C45.2509 120.558 44.925 120.324 44.4593 120.324C43.9937 120.324 43.528 120.698 43.528 121.4V124.068H41.9448V119.06H43.4349V119.762C43.5746 119.435 44.1334 118.92 44.925 118.92C45.8097 118.92 46.741 119.435 46.741 120.979V124.068H46.8341Z"
        fill="white"
      ></path>
    </g>
    <path
      d="M56.7676 117.827C56.7676 117.138 57.3235 116.579 58.0093 116.579H112.024C112.71 116.579 113.266 117.138 113.266 117.827C113.266 118.516 112.71 119.075 112.024 119.075H58.0093C57.3235 119.075 56.7676 118.516 56.7676 117.827Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M59.8719 123.131C59.8719 123.992 59.177 124.691 58.3197 124.691C57.4625 124.691 56.7676 123.992 56.7676 123.131C56.7676 122.269 57.4625 121.571 58.3197 121.571C59.177 121.571 59.8719 122.269 59.8719 123.131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M64.2179 123.131C64.2179 123.992 63.523 124.691 62.6657 124.691C61.8085 124.691 61.1136 123.992 61.1136 123.131C61.1136 122.269 61.8085 121.571 62.6657 121.571C63.523 121.571 64.2179 122.269 64.2179 123.131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M68.5639 123.131C68.5639 123.992 67.869 124.691 67.0118 124.691C66.1545 124.691 65.4596 123.992 65.4596 123.131C65.4596 122.269 66.1545 121.571 67.0118 121.571C67.869 121.571 68.5639 122.269 68.5639 123.131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M72.9099 123.131C72.9099 123.992 72.215 124.691 71.3578 124.691C70.5006 124.691 69.8056 123.992 69.8056 123.131C69.8056 122.269 70.5006 121.571 71.3578 121.571C72.215 121.571 72.9099 122.269 72.9099 123.131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M77.256 123.131C77.256 123.992 76.561 124.691 75.7038 124.691C74.8466 124.691 74.1517 123.992 74.1517 123.131C74.1517 122.269 74.8466 121.571 75.7038 121.571C76.561 121.571 77.256 122.269 77.256 123.131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M81.602 123.131C81.602 123.992 80.9071 124.691 80.0498 124.691C79.1926 124.691 78.4977 123.992 78.4977 123.131C78.4977 122.269 79.1926 121.571 80.0498 121.571C80.9071 121.571 81.602 122.269 81.602 123.131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M85.948 123.131C85.948 123.992 85.2531 124.691 84.3958 124.691C83.5386 124.691 82.8437 123.992 82.8437 123.131C82.8437 122.269 83.5386 121.571 84.3958 121.571C85.2531 121.571 85.948 122.269 85.948 123.131Z"
      fill="#D0D0DC"
    ></path>
    <g filter="url(#filter2_ddddd_454_29290)">
      <rect
        width="105.548"
        height="27.455"
        rx="6"
        transform="matrix(0.998606 -0.0527892 0.0522632 0.998633 25.1025 84.7119)"
        fill="white"
      ></rect>
      <rect
        x="0.525434"
        y="0.472922"
        width="104.548"
        height="26.455"
        rx="5.5"
        transform="matrix(0.998606 -0.0527892 0.0522632 0.998633 25.0786 84.7403)"
        stroke="#E8E8ED"
      ></rect>
    </g>
    <g clip-path="url(#clip2_454_29290)">
      <path
        d="M46.6111 97.4927C46.5834 96.9625 46.5094 96.4552 46.3958 95.9704L39.3887 96.3408L39.54 99.2332L43.5441 99.0216C43.4206 99.9654 42.9378 100.785 42.1776 101.357L42.2758 103.233L44.6803 103.106C46.019 101.73 46.7303 99.77 46.6111 97.4927V97.4927Z"
        fill="#EEEEEE"
      ></path>
      <path
        d="M39.8514 105.178C41.8602 105.072 43.5093 104.313 44.6805 103.106L42.1779 101.357C41.5351 101.841 40.6968 102.151 39.6958 102.204C37.758 102.306 36.0489 101.078 35.3714 99.3413L32.8857 99.4727L32.9871 101.41C34.3393 103.789 36.943 105.332 39.8514 105.178Z"
        fill="#CBCBCB"
      ></path>
      <path
        d="M35.3718 99.3409C35.1995 98.9001 35.0899 98.4254 35.0641 97.9325C35.0383 97.4397 35.0978 96.956 35.2231 96.4995L35.1217 94.5621L32.6361 94.6935C32.1698 95.763 31.959 96.9274 32.0205 98.0934C32.0836 99.3 32.4308 100.427 32.9876 101.41L35.3718 99.3409V99.3409Z"
        fill="#ECECEC"
      ></path>
      <path
        d="M39.2243 93.1967C40.3166 93.139 41.3171 93.4644 42.1269 94.1646L44.1486 91.9071C42.797 90.7687 41.074 90.1167 39.0686 90.2228C36.1602 90.3765 33.7318 92.1851 32.6355 94.6936L35.2225 96.4996C35.7151 94.7012 37.2865 93.2992 39.2243 93.1967Z"
        fill="#DBDBDB"
      ></path>
    </g>
    <path
      d="M52.9689 94.4843C52.933 93.796 53.459 93.2087 54.1439 93.1723L108.085 90.3126C108.769 90.2763 109.354 90.8048 109.39 91.4931C109.426 92.1814 108.899 92.7688 108.215 92.8051L54.2739 95.6648C53.5891 95.7011 53.0048 95.1726 52.9689 94.4843Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M56.3453 99.6165C56.3902 100.477 55.7326 101.211 54.8766 101.256C54.0205 101.302 53.2902 100.641 53.2453 99.7808C53.2004 98.9205 53.8579 98.1862 54.714 98.1409C55.57 98.0955 56.3004 98.7561 56.3453 99.6165Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M60.6854 99.3864C60.7303 100.247 60.0727 100.981 59.2166 101.026C58.3606 101.072 57.6302 100.411 57.5853 99.5507C57.5404 98.6904 58.198 97.9561 59.0541 97.9108C59.9101 97.8654 60.6405 98.526 60.6854 99.3864Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M65.0254 99.1563C65.0703 100.017 64.4127 100.751 63.5567 100.796C62.7006 100.842 61.9703 100.181 61.9254 99.3206C61.8805 98.4603 62.5381 97.7261 63.3941 97.6807C64.2502 97.6353 64.9805 98.2959 65.0254 99.1563Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M69.3655 98.9262C69.4104 99.7865 68.7528 100.521 67.8967 100.566C67.0407 100.612 66.3103 99.9509 66.2654 99.0906C66.2205 98.2302 66.8781 97.496 67.7342 97.4506C68.5902 97.4052 69.3206 98.0659 69.3655 98.9262Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M73.7055 98.6961C73.7504 99.5565 73.0928 100.291 72.2368 100.336C71.3807 100.381 70.6504 99.7208 70.6055 98.8605C70.5606 98.0001 71.2182 97.2659 72.0742 97.2205C72.9303 97.1751 73.6606 97.8358 73.7055 98.6961Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M78.0456 98.466C78.0905 99.3264 77.4329 100.061 76.5769 100.106C75.7208 100.151 74.9904 99.4907 74.9455 98.6304C74.9006 97.77 75.5582 97.0358 76.4143 96.9904C77.2703 96.945 78.0007 97.6057 78.0456 98.466Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M82.3856 98.2359C82.4305 99.0963 81.773 99.8305 80.9169 99.8759C80.0609 99.9213 79.3305 99.2606 79.2856 98.4003C79.2407 97.5399 79.8983 96.8057 80.7543 96.7603C81.6104 96.7149 82.3407 97.3756 82.3856 98.2359Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M38.2431 30.0662C38.1424 29.3844 38.6107 28.7497 39.2891 28.6485L92.7185 20.6778C93.3968 20.5766 94.0284 21.0472 94.129 21.729C94.2297 22.4107 93.7614 23.0454 93.0831 23.1466L39.6537 31.1174C38.9753 31.2186 38.3438 30.7479 38.2431 30.0662Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M42.0886 34.8545C42.2145 35.7067 41.6291 36.5001 40.7812 36.6266C39.9333 36.7531 39.1438 36.1648 39.018 35.3126C38.8921 34.4604 39.4775 33.667 40.3254 33.5405C41.1733 33.414 41.9628 34.0023 42.0886 34.8545Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M46.3875 34.2131C46.5134 35.0654 45.928 35.8587 45.0801 35.9852C44.2322 36.1117 43.4427 35.5234 43.3169 34.6712C43.191 33.819 43.7764 33.0256 44.6243 32.8991C45.4723 32.7726 46.2617 33.3609 46.3875 34.2131Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M50.6865 33.5718C50.8123 34.424 50.227 35.2174 49.379 35.3439C48.5311 35.4704 47.7417 34.8821 47.6158 34.0299C47.4899 33.1777 48.0753 32.3843 48.9232 32.2578C49.7712 32.1313 50.5606 32.7196 50.6865 33.5718Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M54.9854 32.9305C55.1112 33.7827 54.5259 34.5761 53.6779 34.7026C52.83 34.8291 52.0406 34.2408 51.9147 33.3886C51.7889 32.5364 52.3742 31.743 53.2221 31.6165C54.0701 31.49 54.8595 32.0783 54.9854 32.9305Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M59.2843 32.2892C59.4102 33.1414 58.8248 33.9348 57.9769 34.0613C57.1289 34.1878 56.3395 33.5995 56.2136 32.7473C56.0878 31.8951 56.6731 31.1017 57.5211 30.9752C58.369 30.8487 59.1584 31.437 59.2843 32.2892Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M63.5832 31.6479C63.7091 32.5001 63.1237 33.2935 62.2758 33.42C61.4278 33.5464 60.6384 32.9581 60.5126 32.1059C60.3867 31.2537 60.972 30.4603 61.82 30.3338C62.6679 30.2073 63.4573 30.7956 63.5832 31.6479Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M67.8821 31.0065C68.008 31.8587 67.4226 32.6521 66.5747 32.7786C65.7268 32.9051 64.9373 32.3168 64.8115 31.4646C64.6856 30.6124 65.271 29.819 66.1189 29.6925C66.9668 29.566 67.7563 30.1543 67.8821 31.0065Z"
      fill="#D0D0DC"
    ></path>
    <g filter="url(#filter3_ddddd_454_29290)">
      <rect
        width="135.364"
        height="27.452"
        rx="6"
        transform="matrix(0.987739 -0.156106 0.154584 0.987981 9.60938 23.2607)"
        fill="white"
      ></rect>
      <rect
        x="0.571161"
        y="0.415938"
        width="134.364"
        height="26.452"
        rx="5.5"
        transform="matrix(0.987739 -0.156106 0.154584 0.987981 9.55208 23.3549)"
        stroke="#E8E8ED"
      ></rect>
    </g>
    <path
      d="M38.3286 30.0911C38.2221 29.4102 38.6849 28.7715 39.3623 28.6644L92.7214 20.2314C93.3989 20.1243 94.0345 20.5894 94.141 21.2703C94.2475 21.9512 93.7847 22.5899 93.1072 22.697L39.7481 31.13C39.0707 31.2371 38.4351 30.772 38.3286 30.0911Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M42.215 34.8459C42.3482 35.697 41.7696 36.4954 40.9228 36.6293C40.076 36.7631 39.2816 36.1817 39.1484 35.3306C39.0152 34.4795 39.5938 33.6811 40.4406 33.5472C41.2874 33.4134 42.0818 33.9948 42.215 34.8459Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M46.5083 34.1674C46.6414 35.0185 46.0629 35.8169 45.2161 35.9507C44.3692 36.0846 43.5748 35.5031 43.4416 34.6521C43.3085 33.801 43.887 33.0025 44.7338 32.8687C45.5807 32.7349 46.3751 33.3163 46.5083 34.1674Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M50.8015 33.4889C50.9347 34.34 50.3562 35.1384 49.5093 35.2722C48.6625 35.4061 47.8681 34.8246 47.7349 33.9735C47.6017 33.1224 48.1803 32.324 49.0271 32.1902C49.8739 32.0563 50.6684 32.6378 50.8015 33.4889Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M55.0948 32.8104C55.2279 33.6614 54.6494 34.4599 53.8026 34.5937C52.9558 34.7275 52.1613 34.1461 52.0282 33.295C51.895 32.4439 52.4735 31.6455 53.3204 31.5117C54.1672 31.3778 54.9616 31.9593 55.0948 32.8104Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M59.388 32.1318C59.5212 32.9829 58.9427 33.7814 58.0959 33.9152C57.249 34.049 56.4546 33.4676 56.3214 32.6165C56.1883 31.7654 56.7668 30.967 57.6136 30.8331C58.4604 30.6993 59.2549 31.2807 59.388 32.1318Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M63.6813 31.4533C63.8145 32.3044 63.2359 33.1028 62.3891 33.2367C61.5423 33.3705 60.7479 32.7891 60.6147 31.938C60.4815 31.0869 61.0601 30.2884 61.9069 30.1546C62.7537 30.0208 63.5481 30.6022 63.6813 31.4533Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M67.9746 30.7748C68.1077 31.6259 67.5292 32.4243 66.6824 32.5581C65.8355 32.692 65.0411 32.1105 64.9079 31.2594C64.7748 30.4084 65.3533 29.6099 66.2001 29.4761C67.047 29.3423 67.8414 29.9237 67.9746 30.7748Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M29.9309 32.7123C27.2038 32.1083 23.4019 33.2316 21.4436 34.618C21.1291 34.8406 20.6943 34.7649 20.473 34.4489C20.2516 34.1325 20.3267 33.6959 20.6414 33.473C22.8893 31.8814 27.091 30.6499 30.2304 31.3445C30.6064 31.4278 30.8436 31.8016 30.7609 32.1789C30.6783 32.5567 30.3062 32.7957 29.9309 32.7123ZM30.5186 34.7526C30.4444 35.0666 30.1319 35.2611 29.8201 35.1869C27.5334 34.6436 24.5231 35.2656 22.4998 36.6981C22.2373 36.8835 21.875 36.8205 21.6903 36.5574C21.5061 36.2934 21.569 35.9298 21.8308 35.7441C24.1423 34.1078 27.4605 33.4272 30.0868 34.0509C30.3987 34.1253 30.5925 34.4394 30.5186 34.7526ZM30.2893 36.9756C30.231 37.2273 29.9812 37.383 29.7316 37.3242C27.7353 36.8553 25.569 37.3189 23.2927 38.7014C23.0735 38.8348 22.7879 38.7639 22.6554 38.5434C22.5228 38.3231 22.5928 38.0363 22.8126 37.9029C25.3035 36.3895 27.7022 35.8887 29.9428 36.4148C30.1925 36.4734 30.3477 36.7246 30.2893 36.9756ZM23.6759 27.7992C19.7697 29.0959 17.6488 33.3298 18.939 37.2556C20.2294 41.182 24.442 43.3131 28.3483 42.0164C32.2546 40.7197 34.3754 36.4862 33.0851 32.5598C31.7949 28.6339 27.5823 26.5025 23.6759 27.7992Z"
      fill="#E3E3E3"
    ></path>
    <g filter="url(#filter4_ddddd_454_29290)">
      <rect
        width="121.693"
        height="27.4545"
        rx="6"
        transform="matrix(0.996772 -0.0802872 0.0794902 0.996836 16.6406 54.3271)"
        fill="white"
      ></rect>
      <rect
        x="0.538131"
        y="0.458274"
        width="120.693"
        height="26.4545"
        rx="5.5"
        transform="matrix(0.996772 -0.0802872 0.0794902 0.996836 16.6059 54.3718)"
        stroke="#E8E8ED"
      ></rect>
    </g>
    <path
      d="M44.7639 63.3322C44.7091 62.6452 45.2188 62.0436 45.9024 61.9885L99.7446 57.6517C100.428 57.5966 101.027 58.109 101.082 58.796C101.136 59.483 100.627 60.0846 99.943 60.1397L46.1008 64.4765C45.4172 64.5316 44.8186 64.0193 44.7639 63.3322Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M48.2798 68.3699C48.3483 69.2287 47.7111 69.9807 46.8566 70.0495C46.0022 70.1183 45.2539 69.4779 45.1855 68.6191C45.117 67.7604 45.7542 67.0084 46.6086 66.9395C47.4631 66.8707 48.2114 67.5111 48.2798 68.3699Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M52.612 68.021C52.6804 68.8798 52.0433 69.6317 51.1888 69.7006C50.3343 69.7694 49.5861 69.129 49.5176 68.2702C49.4491 67.4114 50.0863 66.6594 50.9408 66.5906C51.7953 66.5218 52.5435 67.1622 52.612 68.021Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M56.9441 67.672C57.0126 68.5308 56.3754 69.2828 55.5209 69.3516C54.6664 69.4204 53.9182 68.7801 53.8497 67.9213C53.7812 67.0625 54.4184 66.3105 55.2729 66.2417C56.1274 66.1728 56.8756 66.8132 56.9441 67.672Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M61.2762 67.3231C61.3447 68.1819 60.7075 68.9339 59.853 69.0027C58.9985 69.0715 58.2503 68.4311 58.1818 67.5723C58.1134 66.7135 58.7505 65.9616 59.605 65.8927C60.4595 65.8239 61.2077 66.4643 61.2762 67.3231Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M65.6083 66.9741C65.6768 67.8329 65.0396 68.5849 64.1852 68.6537C63.3307 68.7226 62.5825 68.0822 62.514 67.2234C62.4455 66.3646 63.0827 65.6126 63.9372 65.5438C64.7917 65.475 65.5399 66.1153 65.6083 66.9741Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M69.9405 66.6252C70.009 67.484 69.3718 68.236 68.5173 68.3048C67.6628 68.3736 66.9146 67.7332 66.8461 66.8744C66.7776 66.0157 67.4148 65.2637 68.2693 65.1948C69.1238 65.126 69.872 65.7664 69.9405 66.6252Z"
      fill="#D0D0DC"
    ></path>
    <path
      d="M74.2726 66.2763C74.3411 67.135 73.7039 67.887 72.8494 67.9559C71.9949 68.0247 71.2467 67.3843 71.1782 66.5255C71.1097 65.6667 71.7469 64.9147 72.6014 64.8459C73.4559 64.7771 74.2041 65.4175 74.2726 66.2763Z"
      fill="#D0D0DC"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M38.3849 69.8125C38.4192 69.8805 38.4534 69.9484 38.4873 70.0145C38.7683 70.6331 38.9109 71.2238 38.8751 71.8234C38.8873 73.087 38.3111 74.2083 37.3373 74.7338C36.9919 74.9386 36.5877 75.0436 36.1716 75.0638C36.0527 75.0696 35.9017 75.0598 35.7804 75.0485C35.2805 75.0043 34.7493 74.8426 34.2136 74.5439C33.5646 74.1826 32.8919 73.6517 32.1241 72.869C31.5842 73.7152 31.083 74.3032 30.5282 74.723C30.0829 75.0693 29.6038 75.2802 29.123 75.372C29.0064 75.3948 28.8602 75.419 28.7413 75.4248C28.3252 75.445 27.912 75.3798 27.4996 75.2118C26.4078 74.7867 25.5151 73.7538 25.1735 72.4892C25.0138 71.8821 24.9901 71.2853 25.0956 70.6483C25.1389 70.4242 25.1848 70.217 25.2329 70.0266C25.268 69.883 25.3037 69.7432 25.3384 69.607C25.3789 69.4478 25.4181 69.2937 25.4538 69.1447L25.4639 69.1101C26.1332 66.5154 26.8869 63.8822 27.675 61.2817L27.7053 61.178C27.7878 60.9202 27.868 60.6458 27.9481 60.3714L27.9505 60.3632C28.0563 60.0504 28.1747 59.7201 28.3548 59.404C28.7551 58.7353 29.3715 58.3296 30.1145 58.2935C30.8427 58.2581 31.5784 58.5981 32.1491 59.2536C32.4079 59.525 32.5928 59.814 32.7703 60.0915C32.7851 60.1147 32.7999 60.1378 32.8147 60.1608C32.9714 60.4264 33.1283 60.6922 33.2829 60.941L33.3417 61.0409C34.8569 63.5291 36.3175 66.0545 37.6989 68.5498L37.7161 68.5658C37.7937 68.7116 37.8766 68.8622 37.9622 69.0178C38.0331 69.1467 38.1058 69.279 38.179 69.4147C38.2462 69.5372 38.3156 69.6749 38.3849 69.8125ZM37.944 71.7292C37.9634 72.6163 37.5505 73.4049 36.8703 73.7795C36.5376 73.9663 36.1587 74.036 35.7654 74.0038C35.3871 73.971 34.9969 73.8534 34.5753 73.618C33.9932 73.3044 33.385 72.8048 32.6522 72.0549C33.4401 70.6335 33.8584 69.3495 33.9246 68.2195C33.955 67.6885 33.9034 67.2129 33.7972 66.774C33.6786 66.353 33.4903 65.9693 33.2349 65.6402C32.6678 64.8994 31.834 64.4959 30.9727 64.5378C30.1114 64.5797 29.4033 65.0752 29.0474 65.8438C28.8869 66.1931 28.808 66.5898 28.8078 67.0166C28.8101 67.4605 28.8938 67.9517 29.0838 68.4549C29.463 69.5632 30.2498 70.8057 31.4073 72.1323C30.9076 72.9424 30.4317 73.4948 29.9445 73.86C29.5941 74.1333 29.2418 74.2871 28.8777 74.3558C28.4839 74.4263 28.0882 74.3771 27.7254 74.2412C26.9503 73.9374 26.3239 73.1992 26.0965 72.3223C25.9927 71.9006 25.9631 71.4752 26.0451 70.9931C26.0595 70.8741 26.0881 70.7547 26.1196 70.6238C26.1336 70.5655 26.1481 70.5049 26.1622 70.441C26.2276 70.1675 26.3051 69.8763 26.3826 69.5851L26.3826 69.5851L26.385 69.5762L26.3953 69.5417C27.0662 66.9647 27.8045 64.3333 28.5968 61.7677L28.627 61.6635C28.6687 61.5335 28.7097 61.3992 28.7507 61.2649C28.7917 61.1307 28.8327 60.9964 28.8744 60.8663C28.9551 60.5891 29.0532 60.3281 29.1856 60.0996C29.4405 59.6772 29.8255 59.4366 30.2858 59.4142C30.7461 59.3918 31.1928 59.592 31.5615 59.984C31.7557 60.1967 31.925 60.4447 32.0818 60.7103C32.1582 60.8335 32.2352 60.9607 32.3122 61.0879L32.3122 61.088L32.3123 61.0881C32.3908 61.2178 32.4693 61.3476 32.5472 61.4729L32.6061 61.5727C34.0881 64.0448 35.5477 66.5693 36.9259 69.0468L36.9282 69.0636C37.0065 69.1962 37.0823 69.3376 37.1581 69.4789L37.1581 69.479C37.234 69.6206 37.3099 69.7622 37.3884 69.8951C37.4197 69.956 37.4505 70.0138 37.4802 70.0693L37.4802 70.0694C37.548 70.1963 37.6098 70.3119 37.6573 70.4284C37.8378 70.8635 37.9417 71.2856 37.944 71.7292ZM31.7969 71.1418C30.8605 70.0383 30.2073 68.9881 29.9093 68.0897C29.784 67.7068 29.7232 67.3715 29.7249 67.0669C29.7168 66.7966 29.771 66.557 29.8586 66.3496C30.0704 65.8828 30.4928 65.5736 31.0269 65.5471C31.5609 65.5205 32.0741 65.7659 32.3986 66.2232C32.5417 66.4192 32.6608 66.6502 32.7266 66.9176C32.8115 67.2179 32.8456 67.5714 32.8244 67.9447C32.7738 68.8437 32.4167 69.944 31.7969 71.1418Z"
      fill="#E0E0E0"
    ></path>
    <defs>
      <filter
        id="filter0_ddddd_454_29290"
        x="19.4492"
        y="134.544"
        width="118.096"
        height="63.4551"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset></feOffset>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="1"></feOffset>
        <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_454_29290"
          result="effect2_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="6"></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_454_29290"
          result="effect3_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="13"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_454_29290"
          result="effect4_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="24"></feOffset>
        <feGaussianBlur stdDeviation="5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect4_dropShadow_454_29290"
          result="effect5_dropShadow_454_29290"
        ></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect5_dropShadow_454_29290"
          result="shape"
        ></feBlend>
      </filter>
      <filter
        id="filter1_ddddd_454_29290"
        x="19.4492"
        y="104.596"
        width="118.096"
        height="63.4551"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset></feOffset>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="1"></feOffset>
        <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_454_29290"
          result="effect2_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="6"></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_454_29290"
          result="effect3_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="13"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_454_29290"
          result="effect4_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="24"></feOffset>
        <feGaussianBlur stdDeviation="5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect4_dropShadow_454_29290"
          result="effect5_dropShadow_454_29290"
        ></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect5_dropShadow_454_29290"
          result="shape"
        ></feBlend>
      </filter>
      <filter
        id="filter2_ddddd_454_29290"
        x="15.4082"
        y="77.4482"
        width="126.225"
        height="68.373"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset></feOffset>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="1"></feOffset>
        <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_454_29290"
          result="effect2_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="6"></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_454_29290"
          result="effect3_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="13"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_454_29290"
          result="effect4_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="24"></feOffset>
        <feGaussianBlur stdDeviation="5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect4_dropShadow_454_29290"
          result="effect5_dropShadow_454_29290"
        ></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect5_dropShadow_454_29290"
          result="shape"
        ></feBlend>
      </filter>
      <filter
        id="filter3_ddddd_454_29290"
        x="0.463867"
        y="0.992188"
        width="156.239"
        height="82.5283"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset></feOffset>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="1"></feOffset>
        <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_454_29290"
          result="effect2_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="6"></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_454_29290"
          result="effect3_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="13"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_454_29290"
          result="effect4_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="24"></feOffset>
        <feGaussianBlur stdDeviation="5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect4_dropShadow_454_29290"
          result="effect5_dropShadow_454_29290"
        ></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect5_dropShadow_454_29290"
          result="shape"
        ></feBlend>
      </filter>
      <filter
        id="filter4_ddddd_454_29290"
        x="7.09863"
        y="43.0186"
        width="142.566"
        height="72.2139"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset></feOffset>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="1"></feOffset>
        <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_454_29290"
          result="effect2_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="6"></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_454_29290"
          result="effect3_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="13"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_454_29290"
          result="effect4_dropShadow_454_29290"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="24"></feOffset>
        <feGaussianBlur stdDeviation="5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect4_dropShadow_454_29290"
          result="effect5_dropShadow_454_29290"
        ></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect5_dropShadow_454_29290"
          result="shape"
        ></feBlend>
      </filter>
      <clipPath id="clip0_454_29290">
        <rect
          width="14.9006"
          height="14.9756"
          fill="white"
          transform="translate(35.6582 142.783)"
        ></rect>
      </clipPath>
      <clipPath id="clip1_454_29290">
        <rect
          width="14.9006"
          height="14.9756"
          fill="white"
          transform="translate(35.6582 112.836)"
        ></rect>
      </clipPath>
      <clipPath id="clip2_454_29290">
        <rect
          width="14.9008"
          height="14.9754"
          fill="white"
          transform="matrix(0.998606 -0.0527892 0.0522632 0.998633 31.6289 90.6162)"
        ></rect>
      </clipPath>
    </defs>
  </svg>
</template>
