<script setup lang="ts">
import NoItemsIllustration from './NoItemsIllustration.vue'
</script>

<template>
  <div class="empty-secrets">
    <NoItemsIllustration class="empty-image" />
    <h1 class="empty-header">Add your first login</h1>
    <p class="empty-body">
      Your logins will automatically appear here when you log in to any website
    </p>

    <RouterLink
      class="mt-4 text-xs text-indigo hover:text-indigo-dark active:text-indigo-darkest"
      :to="{
        name: 'new-secret',
        query: {
          name: 'Untitled',
          blank: 'true',
        },
      }"
    >
      Add a login
    </RouterLink>
  </div>
</template>

<style scoped>
.empty-secrets {
  @apply m-auto flex h-full w-80 flex-col items-center justify-center text-center;
}

.empty-header {
  @apply font-medium;
}

.empty-body {
  @apply mt-2 w-full text-xs text-gray-darkest;
}

.empty-image {
  @apply h-60;
}
</style>
