<script setup lang="ts">
import { computed } from 'vue'

import { getTemplateByItemType, ItemType } from '@core/stores/items'

import BaseButton from '@/ui/components/next/BaseButton.vue'
import NoSearchMatchesIllustration from './NoSearchMatchesIllustration.vue'

const props = defineProps<{ query?: string; activeItemType: ItemType | null }>()

const itemTypeTextMap = new Map([
  [ItemType.CreditCards, 'card'],
  [ItemType.Logins, 'login'],
  [ItemType.SecureNotes, 'note'],
  [ItemType.WiFi, 'WiFi network'],
  [ItemType.Custom, 'item'],
])

const itemTypeText = computed(() =>
  props.activeItemType ? itemTypeTextMap.get(props.activeItemType) : 'item'
)
const activeTemplate = computed(() =>
  props.activeItemType ? getTemplateByItemType(props.activeItemType) : null
)
</script>

<template>
  <div class="flex w-full flex-col items-center justify-center">
    <NoSearchMatchesIllustration />

    <h1 class="mb-1 mt-4 font-medium">No {{ itemTypeText }} saved for</h1>

    <p class="text-sm text-gray2">{{ query }}</p>

    <BaseButton
      class="mt-4"
      variant="primary"
      :to="{
        name: 'new-secret',
        query: { isBlank: 'true', name: query || '', template: activeTemplate },
      }"
      >Add {{ itemTypeText }}</BaseButton
    >
  </div>
</template>
