<template>
  <svg
    width="168"
    height="139"
    viewBox="0 0 168 139"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_472_70256)">
      <g filter="url(#filter1_ddd_472_70256)">
        <rect
          width="105.548"
          height="27.455"
          rx="6"
          transform="matrix(0.998606 -0.0527892 0.0522632 0.998633 39.0195 89.7109)"
          fill="white"
        />
        <rect
          x="0.525434"
          y="0.472922"
          width="104.548"
          height="26.455"
          rx="5.5"
          transform="matrix(0.998606 -0.0527892 0.0522632 0.998633 38.9955 89.7393)"
          stroke="#E8E8ED"
        />
      </g>
      <g clip-path="url(#clip0_472_70256)">
        <path
          d="M60.5281 102.492C60.5004 101.962 60.4264 101.454 60.3128 100.969L53.3057 101.34L53.457 104.232L57.4611 104.021C57.3376 104.964 56.8548 105.784 56.0946 106.356L56.1928 108.232L58.5973 108.105C59.936 106.729 60.6473 104.769 60.5281 102.492Z"
          fill="#EEEEEE"
        />
        <path
          d="M53.7684 110.176C55.7772 110.07 57.4263 109.311 58.5975 108.104L56.0949 106.355C55.4521 106.839 54.6138 107.149 53.6128 107.202C51.675 107.304 49.9659 106.076 49.2884 104.339L46.8027 104.471L46.9041 106.408C48.2562 108.787 50.86 110.33 53.7684 110.176Z"
          fill="#CBCBCB"
        />
        <path
          d="M49.2888 104.34C49.1165 103.899 49.0069 103.424 48.9811 102.932C48.9553 102.439 49.0148 101.955 49.1401 101.498L49.0387 99.5611L46.5531 99.6925C46.0868 100.762 45.876 101.926 45.9375 103.092C46.0006 104.299 46.3478 105.426 46.9046 106.409L49.2888 104.34Z"
          fill="#ECECEC"
        />
        <path
          d="M53.1412 98.1967C54.2336 98.139 55.2341 98.4644 56.0439 99.1646L58.0656 96.9071C56.714 95.7687 54.991 95.1167 52.9856 95.2228C50.0772 95.3765 47.6488 97.1851 46.5525 99.6936L49.1395 101.5C49.6321 99.7012 51.2035 98.2992 53.1412 98.1967Z"
          fill="#DBDBDB"
        />
      </g>
      <path
        d="M66.8859 99.4833C66.85 98.7951 67.376 98.2077 68.0609 98.1714L122.002 95.3116C122.686 95.2753 123.271 95.8039 123.307 96.4921C123.343 97.1804 122.816 97.7678 122.132 97.8041L68.1909 100.664C67.5061 100.7 66.9218 100.172 66.8859 99.4833Z"
        fill="#D0D0DC"
      />
      <path
        d="M70.2623 104.616C70.3072 105.476 69.6496 106.21 68.7936 106.255C67.9375 106.301 67.2072 105.64 67.1623 104.78C67.1174 103.92 67.7749 103.185 68.631 103.14C69.487 103.094 70.2174 103.755 70.2623 104.616Z"
        fill="#D0D0DC"
      />
      <path
        d="M74.6024 104.385C74.6472 105.246 73.9897 105.98 73.1336 106.025C72.2776 106.071 71.5472 105.41 71.5023 104.55C71.4574 103.689 72.115 102.955 72.971 102.91C73.8271 102.864 74.5575 103.525 74.6024 104.385Z"
        fill="#D0D0DC"
      />
      <path
        d="M78.9424 104.155C78.9873 105.016 78.3297 105.75 77.4737 105.795C76.6176 105.841 75.8873 105.18 75.8424 104.32C75.7975 103.459 76.455 102.725 77.3111 102.68C78.1672 102.634 78.8975 103.295 78.9424 104.155Z"
        fill="#D0D0DC"
      />
      <path
        d="M83.2825 103.925C83.3274 104.786 82.6698 105.52 81.8137 105.565C80.9577 105.611 80.2273 104.95 80.1824 104.09C80.1375 103.229 80.7951 102.495 81.6512 102.45C82.5072 102.404 83.2376 103.065 83.2825 103.925Z"
        fill="#D0D0DC"
      />
      <path
        d="M87.6225 103.695C87.6674 104.555 87.0098 105.29 86.1538 105.335C85.2977 105.38 84.5674 104.72 84.5225 103.859C84.4776 102.999 85.1352 102.265 85.9912 102.22C86.8473 102.174 87.5776 102.835 87.6225 103.695Z"
        fill="#D0D0DC"
      />
      <path
        d="M91.9626 103.465C92.0075 104.325 91.3499 105.06 90.4938 105.105C89.6378 105.15 88.9074 104.49 88.8625 103.629C88.8176 102.769 89.4752 102.035 90.3313 101.989C91.1873 101.944 91.9177 102.605 91.9626 103.465Z"
        fill="#D0D0DC"
      />
      <path
        d="M96.3026 103.235C96.3475 104.095 95.6899 104.83 94.8339 104.875C93.9778 104.92 93.2475 104.26 93.2026 103.399C93.1577 102.539 93.8153 101.805 94.6713 101.759C95.5274 101.714 96.2577 102.375 96.3026 103.235Z"
        fill="#D0D0DC"
      />
      <g filter="url(#filter2_ddd_472_70256)">
        <rect
          width="135.364"
          height="27.452"
          rx="6"
          transform="matrix(0.987739 -0.156106 0.154584 0.987981 23.5264 28.2598)"
          fill="white"
        />
        <rect
          x="0.571161"
          y="0.415938"
          width="134.364"
          height="26.452"
          rx="5.5"
          transform="matrix(0.987739 -0.156106 0.154584 0.987981 23.4691 28.3539)"
          stroke="#E8E8ED"
        />
      </g>
      <path
        d="M52.2456 35.0891C52.1391 34.4083 52.6019 33.7695 53.2793 33.6625L106.638 25.2294C107.316 25.1223 107.951 25.5875 108.058 26.2684C108.165 26.9492 107.702 27.588 107.024 27.695L53.6651 36.1281C52.9877 36.2352 52.3521 35.77 52.2456 35.0891Z"
        fill="#D0D0DC"
      />
      <path
        d="M56.132 39.844C56.2652 40.695 55.6866 41.4935 54.8398 41.6273C53.993 41.7612 53.1985 41.1797 53.0654 40.3286C52.9322 39.4775 53.5107 38.6791 54.3576 38.5453C55.2044 38.4114 55.9988 38.9929 56.132 39.844Z"
        fill="#D0D0DC"
      />
      <path
        d="M60.4253 39.1654C60.5584 40.0165 59.9799 40.815 59.1331 40.9488C58.2862 41.0826 57.4918 40.5012 57.3586 39.6501C57.2255 38.799 57.804 38.0006 58.6508 37.8667C59.4977 37.7329 60.2921 38.3144 60.4253 39.1654Z"
        fill="#D0D0DC"
      />
      <path
        d="M64.7185 38.4869C64.8517 39.338 64.2731 40.1364 63.4263 40.2703C62.5795 40.4041 61.7851 39.8227 61.6519 38.9716C61.5187 38.1205 62.0973 37.3221 62.9441 37.1882C63.7909 37.0544 64.5853 37.6358 64.7185 38.4869Z"
        fill="#D0D0DC"
      />
      <path
        d="M69.0118 37.8084C69.1449 38.6595 68.5664 39.4579 67.7196 39.5918C66.8728 39.7256 66.0783 39.1441 65.9452 38.2931C65.812 37.442 66.3905 36.6435 67.2374 36.5097C68.0842 36.3759 68.8786 36.9573 69.0118 37.8084Z"
        fill="#D0D0DC"
      />
      <path
        d="M73.305 37.1299C73.4382 37.981 72.8597 38.7794 72.0128 38.9132C71.166 39.0471 70.3716 38.4656 70.2384 37.6145C70.1053 36.7635 70.6838 35.965 71.5306 35.8312C72.3774 35.6973 73.1719 36.2788 73.305 37.1299Z"
        fill="#D0D0DC"
      />
      <path
        d="M77.5983 36.4514C77.7315 37.3024 77.1529 38.1009 76.3061 38.2347C75.4593 38.3685 74.6648 37.7871 74.5317 36.936C74.3985 36.0849 74.9771 35.2865 75.8239 35.1527C76.6707 35.0188 77.4651 35.6003 77.5983 36.4514Z"
        fill="#D0D0DC"
      />
      <path
        d="M81.8916 35.7728C82.0247 36.6239 81.4462 37.4224 80.5994 37.5562C79.7525 37.69 78.9581 37.1086 78.8249 36.2575C78.6918 35.4064 79.2703 34.608 80.1171 34.4741C80.964 34.3403 81.7584 34.9218 81.8916 35.7728Z"
        fill="#D0D0DC"
      />
      <path
        d="M43.8479 37.7113C41.1208 37.1073 37.3189 38.2306 35.3606 39.617C35.0461 39.8396 34.6113 39.7639 34.39 39.4479C34.1686 39.1316 34.2437 38.6949 34.5584 38.472C36.8063 36.8805 41.008 35.649 44.1473 36.3436C44.5234 36.4268 44.7606 36.8006 44.6779 37.1779C44.5953 37.5557 44.2231 37.7948 43.8479 37.7113ZM44.4356 39.7516C44.3614 40.0656 44.0489 40.2601 43.7371 40.1859C41.4503 39.6426 38.4401 40.2646 36.4168 41.6971C36.1543 41.8825 35.792 41.8195 35.6073 41.5564C35.4231 41.2925 35.486 40.9288 35.7478 40.7431C38.0593 39.1069 41.3775 38.4262 44.0038 39.0499C44.3157 39.1243 44.5095 39.4385 44.4356 39.7516ZM44.2063 41.9746C44.148 42.2263 43.8982 42.382 43.6486 42.3232C41.6523 41.8544 39.486 42.318 37.2097 43.7004C36.9904 43.8338 36.7049 43.7629 36.5724 43.5424C36.4397 43.3221 36.5097 43.0353 36.7296 42.9019C39.2205 41.3885 41.6192 40.8878 43.8598 41.4138C44.1095 41.4724 44.2647 41.7236 44.2063 41.9746ZM37.5929 32.7982C33.6867 34.0949 31.5658 38.3288 32.856 42.2547C34.1464 46.181 38.359 48.3122 42.2653 47.0155C46.1716 45.7187 48.2924 41.4852 47.002 37.5588C45.7119 33.633 41.4993 31.5015 37.5929 32.7982Z"
        fill="#E3E3E3"
      />
      <g filter="url(#filter3_ddd_472_70256)">
        <rect
          width="121.693"
          height="27.4545"
          rx="6"
          transform="matrix(0.996772 -0.0802872 0.0794902 0.996836 30.5576 59.3281)"
          fill="white"
        />
        <rect
          x="0.538131"
          y="0.458274"
          width="120.693"
          height="26.4545"
          rx="5.5"
          transform="matrix(0.996772 -0.0802872 0.0794902 0.996836 30.5229 59.3728)"
          stroke="#E8E8ED"
        />
      </g>
      <path
        d="M58.6809 68.3322C58.6261 67.6452 59.1358 67.0436 59.8194 66.9885L113.662 62.6517C114.345 62.5966 114.944 63.109 114.999 63.796C115.053 64.483 114.544 65.0846 113.86 65.1397L60.0178 69.4765C59.3342 69.5316 58.7356 69.0193 58.6809 68.3322Z"
        fill="#D0D0DC"
      />
      <path
        d="M62.1968 73.3699C62.2653 74.2287 61.6281 74.9807 60.7736 75.0495C59.9191 75.1183 59.1709 74.4779 59.1024 73.6191C59.034 72.7604 59.6711 72.0084 60.5256 71.9395C61.3801 71.8707 62.1283 72.5111 62.1968 73.3699Z"
        fill="#D0D0DC"
      />
      <path
        d="M66.529 73.021C66.5974 73.8798 65.9603 74.6317 65.1058 74.7006C64.2513 74.7694 63.5031 74.129 63.4346 73.2702C63.3661 72.4114 64.0033 71.6594 64.8578 71.5906C65.7123 71.5218 66.4605 72.1622 66.529 73.021Z"
        fill="#D0D0DC"
      />
      <path
        d="M70.8611 72.672C70.9296 73.5308 70.2924 74.2828 69.4379 74.3516C68.5834 74.4204 67.8352 73.7801 67.7667 72.9213C67.6982 72.0625 68.3354 71.3105 69.1899 71.2417C70.0444 71.1728 70.7926 71.8132 70.8611 72.672Z"
        fill="#D0D0DC"
      />
      <path
        d="M75.1932 72.3231C75.2617 73.1819 74.6245 73.9339 73.77 74.0027C72.9155 74.0715 72.1673 73.4311 72.0988 72.5723C72.0304 71.7135 72.6675 70.9616 73.522 70.8927C74.3765 70.8239 75.1247 71.4643 75.1932 72.3231Z"
        fill="#D0D0DC"
      />
      <path
        d="M79.5253 71.9741C79.5938 72.8329 78.9566 73.5849 78.1021 73.6537C77.2477 73.7226 76.4994 73.0822 76.431 72.2234C76.3625 71.3646 76.9997 70.6126 77.8542 70.5438C78.7086 70.475 79.4569 71.1154 79.5253 71.9741Z"
        fill="#D0D0DC"
      />
      <path
        d="M83.8575 71.6252C83.926 72.484 83.2888 73.236 82.4343 73.3048C81.5798 73.3736 80.8316 72.7332 80.7631 71.8744C80.6946 71.0157 81.3318 70.2637 82.1863 70.1948C83.0408 70.126 83.789 70.7664 83.8575 71.6252Z"
        fill="#D0D0DC"
      />
      <path
        d="M88.1896 71.2763C88.2581 72.135 87.6209 72.887 86.7664 72.9559C85.9119 73.0247 85.1637 72.3843 85.0952 71.5255C85.0267 70.6667 85.6639 69.9147 86.5184 69.8459C87.3729 69.7771 88.1211 70.4175 88.1896 71.2763Z"
        fill="#D0D0DC"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M52.3019 74.8115C52.3361 74.8795 52.3704 74.9474 52.4043 75.0135C52.6853 75.6321 52.8279 76.2228 52.7921 76.8225C52.8043 78.086 52.2281 79.2073 51.2543 79.7328C50.9089 79.9376 50.5047 80.0426 50.0886 80.0628C49.9697 80.0686 49.8187 80.0588 49.6974 80.0475C49.1975 80.0034 48.6663 79.8416 48.1306 79.5429C47.4816 79.1816 46.8089 78.6507 46.0411 77.868C45.5012 78.7142 45 79.3022 44.4452 79.722C43.9999 80.0684 43.5208 80.2792 43.04 80.371C42.9234 80.3939 42.7772 80.418 42.6583 80.4238C42.2422 80.444 41.829 80.3788 41.4166 80.2108C40.3247 79.7857 39.4321 78.7528 39.0905 77.4882C38.9308 76.8811 38.9071 76.2843 39.0126 75.6473C39.0559 75.4232 39.1018 75.216 39.1499 75.0256C39.185 74.8821 39.2207 74.7422 39.2553 74.606C39.2959 74.4468 39.3351 74.2927 39.3708 74.1438L39.3809 74.1092C40.0502 71.5144 40.8039 68.8813 41.592 66.2807L41.6223 66.177C41.7048 65.9192 41.785 65.6448 41.8651 65.3704L41.8675 65.3623C41.9733 65.0494 42.0917 64.7191 42.2718 64.403C42.6721 63.7343 43.2885 63.3286 44.0315 63.2925C44.7597 63.2571 45.4954 63.5971 46.0661 64.2526C46.3249 64.524 46.5098 64.813 46.6873 65.0905C46.7021 65.1137 46.7169 65.1368 46.7317 65.1599C46.8884 65.4255 47.0453 65.6912 47.1999 65.94L47.2587 66.0399C48.7739 68.5281 50.2345 71.0535 51.6159 73.5488L51.633 73.5649C51.7107 73.7106 51.7936 73.8612 51.8792 74.0168C51.95 74.1457 52.0228 74.278 52.096 74.4137C52.1632 74.5362 52.2326 74.6739 52.3019 74.8115ZM51.861 76.7282C51.8804 77.6154 51.4675 78.4039 50.7873 78.7785C50.4545 78.9653 50.0757 79.0351 49.6824 79.0028C49.3041 78.9701 48.9138 78.8524 48.4923 78.617C47.9102 78.3035 47.302 77.8039 46.5692 77.0539C47.3571 75.6325 47.7754 74.3485 47.8416 73.2185C47.872 72.6876 47.8204 72.2119 47.7142 71.773C47.5956 71.352 47.4073 70.9683 47.1519 70.6392C46.5848 69.8985 45.751 69.495 44.8897 69.5368C44.0284 69.5787 43.3203 70.0742 42.9644 70.8428C42.8039 71.1921 42.725 71.5888 42.7248 72.0156C42.7271 72.4596 42.8108 72.9507 43.0008 73.4539C43.38 74.5622 44.1668 75.8047 45.3243 77.1314C44.8246 77.9414 44.3487 78.4939 43.8615 78.8591C43.5111 79.1323 43.1588 79.2861 42.7947 79.3548C42.4009 79.4253 42.0052 79.3761 41.6424 79.2402C40.8673 78.9364 40.2409 78.1982 40.0135 77.3214C39.9097 76.8996 39.8801 76.4742 39.9621 75.9921C39.9765 75.8731 40.0051 75.7537 40.0365 75.6228C40.0506 75.5645 40.0651 75.5039 40.0792 75.44C40.1446 75.1665 40.2221 74.8753 40.2996 74.5842L40.2996 74.5841L40.302 74.5752L40.3123 74.5408C40.9832 71.9637 41.7215 69.3323 42.5138 66.7667L42.544 66.6626C42.5857 66.5325 42.6267 66.3983 42.6677 66.2639C42.7087 66.1297 42.7497 65.9954 42.7914 65.8653C42.8721 65.5881 42.9702 65.3271 43.1026 65.0986C43.3575 64.6763 43.7425 64.4356 44.2028 64.4132C44.6631 64.3909 45.1098 64.5911 45.4785 64.9831C45.6727 65.1957 45.842 65.4437 45.9988 65.7094C46.0752 65.8325 46.1522 65.9597 46.2292 66.0869L46.2292 66.087L46.2293 66.0871C46.3078 66.2169 46.3863 66.3466 46.4642 66.4719L46.5231 66.5718C48.0051 69.0438 49.4647 71.5683 50.8429 74.0458L50.8452 74.0626C50.9235 74.1953 50.9993 74.3366 51.075 74.4779L51.0751 74.478C51.151 74.6196 51.2269 74.7613 51.3054 74.8942C51.3367 74.9551 51.3675 75.0128 51.3972 75.0683L51.3972 75.0684C51.465 75.1953 51.5268 75.3109 51.5743 75.4275C51.7548 75.8626 51.8587 76.2847 51.861 76.7282ZM45.7139 76.1408C44.7774 75.0373 44.1243 73.9871 43.8263 73.0888C43.701 72.7058 43.6402 72.3706 43.6419 72.066C43.6338 71.7957 43.688 71.5561 43.7756 71.3486C43.9874 70.8818 44.4098 70.5727 44.9438 70.5461C45.4779 70.5195 45.9911 70.7649 46.3156 71.2222C46.4587 71.4182 46.5778 71.6492 46.6436 71.9167C46.7285 72.2169 46.7626 72.5704 46.7414 72.9438C46.6908 73.8427 46.3336 74.943 45.7139 76.1408Z"
        fill="#E0E0E0"
      />
    </g>
    <mask
      id="mask0_472_70256"
      style="mask-type: alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="21"
      width="89"
      height="88"
    >
      <circle
        cx="44.5"
        cy="65"
        r="39"
        fill="#F7F7F9"
        fill-opacity="0.7"
        stroke="#D0D0DC"
        stroke-width="10"
      />
    </mask>
    <g mask="url(#mask0_472_70256)">
      <path
        d="M39.3335 95.7043C39.1603 92.3951 41.7025 89.5707 45.0115 89.3957L138.429 84.4574C141.738 84.2825 144.561 86.8233 144.734 90.1325L145.542 105.566C145.715 108.876 143.173 111.7 139.864 111.875L46.4464 116.813C43.1373 116.988 40.3144 114.447 40.1412 111.138L39.3335 95.7043Z"
        fill="white"
      />
      <path
        d="M60.5289 102.493C60.5012 101.963 60.4271 101.455 60.3136 100.97L53.3064 101.341L53.4578 104.233L57.4619 104.022C57.3383 104.965 56.8556 105.785 56.0954 106.357L56.1936 108.233L58.598 108.106C59.9368 106.73 60.6481 104.77 60.5289 102.493Z"
        fill="#EEEEEE"
      />
      <path
        d="M53.7689 110.178C55.7777 110.072 57.4268 109.313 58.598 108.106L56.0954 106.357C55.4526 106.841 54.6143 107.151 53.6133 107.204C51.6755 107.306 49.9664 106.078 49.2889 104.341L46.8032 104.473L46.9046 106.41C48.2567 108.789 50.8605 110.332 53.7689 110.178Z"
        fill="#CBCBCB"
      />
      <path
        d="M49.2889 104.341C49.1166 103.9 49.007 103.426 48.9812 102.933C48.9554 102.44 49.0149 101.956 49.1402 101.5L49.0388 99.5625L46.5532 99.6939C46.0869 100.763 45.8761 101.928 45.9375 103.094C46.0007 104.3 46.3479 105.427 46.9046 106.41L49.2889 104.341Z"
        fill="#ECECEC"
      />
      <path
        d="M53.1419 98.197C54.2342 98.1392 55.2347 98.4647 56.0445 99.1648L58.0662 96.9074C56.7146 95.7689 54.9917 95.117 52.9862 95.223C50.0779 95.3767 47.6495 97.1854 46.5532 99.6939L49.1402 101.5C49.6327 99.7015 51.2041 98.2994 53.1419 98.197Z"
        fill="#DBDBDB"
      />
      <path
        d="M66.8862 99.4854C66.8503 98.7971 67.3764 98.2097 68.0612 98.1734L122.002 95.3137C122.687 95.2774 123.271 95.8059 123.307 96.4942C123.343 97.1824 122.817 97.7698 122.132 97.8061L68.1913 100.666C67.5064 100.702 66.9221 100.174 66.8862 99.4854Z"
        fill="#D0D0DC"
      />
      <path
        d="M70.2626 104.618C70.3075 105.478 69.65 106.212 68.7939 106.257C67.9379 106.303 67.2075 105.642 67.1626 104.782C67.1177 103.922 67.7753 103.187 68.6313 103.142C69.4874 103.097 70.2178 103.757 70.2626 104.618Z"
        fill="#D0D0DC"
      />
      <path
        d="M74.6027 104.387C74.6476 105.248 73.99 105.982 73.134 106.027C72.2779 106.073 71.5476 105.412 71.5027 104.552C71.4578 103.691 72.1153 102.957 72.9714 102.912C73.8274 102.866 74.5578 103.527 74.6027 104.387Z"
        fill="#D0D0DC"
      />
      <path
        d="M78.9428 104.157C78.9877 105.018 78.3301 105.752 77.474 105.797C76.618 105.843 75.8876 105.182 75.8427 104.322C75.7978 103.461 76.4554 102.727 77.3115 102.682C78.1675 102.636 78.8979 103.297 78.9428 104.157Z"
        fill="#D0D0DC"
      />
      <path
        d="M83.2828 103.927C83.3277 104.788 82.6701 105.522 81.8141 105.567C80.958 105.613 80.2277 104.952 80.1828 104.092C80.1379 103.231 80.7955 102.497 81.6515 102.452C82.5076 102.406 83.2379 103.067 83.2828 103.927Z"
        fill="#D0D0DC"
      />
      <path
        d="M87.6229 103.697C87.6678 104.557 87.0102 105.292 86.1541 105.337C85.2981 105.383 84.5677 104.722 84.5228 103.862C84.4779 103.001 85.1355 102.267 85.9916 102.222C86.8476 102.176 87.578 102.837 87.6229 103.697Z"
        fill="#D0D0DC"
      />
      <path
        d="M91.9629 103.467C92.0078 104.327 91.3502 105.062 90.4942 105.107C89.6381 105.152 88.9078 104.492 88.8629 103.631C88.818 102.771 89.4756 102.037 90.3316 101.991C91.1877 101.946 91.918 102.607 91.9629 103.467Z"
        fill="#D0D0DC"
      />
      <path
        d="M96.303 103.237C96.3479 104.097 95.6903 104.832 94.8343 104.877C93.9782 104.922 93.2478 104.262 93.2029 103.401C93.1581 102.541 93.8156 101.807 94.6717 101.761C95.5277 101.716 96.2581 102.377 96.303 103.237Z"
        fill="#D0D0DC"
      />
      <path
        d="M24.4539 34.189C23.9416 30.9151 26.1797 27.8417 29.4528 27.3244L151.304 8.0666C154.577 7.54931 157.646 9.78397 158.158 13.0579L160.547 28.3241C161.059 31.598 158.821 34.6714 155.548 35.1886L33.6964 54.4465C30.4233 54.9638 27.3547 52.7291 26.8425 49.4552L24.4539 34.189Z"
        fill="white"
      />
      <path
        d="M52.2462 35.0919C52.1397 34.411 52.6025 33.7723 53.28 33.6652L106.639 25.2322C107.317 25.1251 107.952 25.5903 108.059 26.2711C108.165 26.952 107.702 27.5907 107.025 27.6978L53.6657 36.1309C52.9883 36.2379 52.3527 35.7728 52.2462 35.0919Z"
        fill="#D0D0DC"
      />
      <path
        d="M56.1326 39.8467C56.2658 40.6978 55.6872 41.4963 54.8404 41.6301C53.9936 41.7639 53.1992 41.1825 53.066 40.3314C52.9328 39.4803 53.5114 38.6819 54.3582 38.548C55.205 38.4142 55.9994 38.9957 56.1326 39.8467Z"
        fill="#D0D0DC"
      />
      <path
        d="M60.4259 39.1682C60.559 40.0193 59.9805 40.8177 59.1337 40.9516C58.2869 41.0854 57.4924 40.504 57.3593 39.6529C57.2261 38.8018 57.8046 38.0034 58.6514 37.8695C59.4983 37.7357 60.2927 38.3171 60.4259 39.1682Z"
        fill="#D0D0DC"
      />
      <path
        d="M64.7191 38.4897C64.8523 39.3408 64.2738 40.1392 63.4269 40.273C62.5801 40.4069 61.7857 39.8254 61.6525 38.9744C61.5193 38.1233 62.0979 37.3248 62.9447 37.191C63.7915 37.0572 64.586 37.6386 64.7191 38.4897Z"
        fill="#D0D0DC"
      />
      <path
        d="M69.0124 37.8112C69.1455 38.6623 68.567 39.4607 67.7202 39.5945C66.8734 39.7284 66.0789 39.1469 65.9458 38.2958C65.8126 37.4447 66.3911 36.6463 67.238 36.5125C68.0848 36.3786 68.8792 36.9601 69.0124 37.8112Z"
        fill="#D0D0DC"
      />
      <path
        d="M73.3056 37.1327C73.4388 37.9837 72.8603 38.7822 72.0135 38.916C71.1666 39.0498 70.3722 38.4684 70.239 37.6173C70.1059 36.7662 70.6844 35.9678 71.5312 35.834C72.378 35.7001 73.1725 36.2816 73.3056 37.1327Z"
        fill="#D0D0DC"
      />
      <path
        d="M77.5989 36.4541C77.7321 37.3052 77.1535 38.1036 76.3067 38.2375C75.4599 38.3713 74.6655 37.7899 74.5323 36.9388C74.3991 36.0877 74.9777 35.2893 75.8245 35.1554C76.6713 35.0216 77.4657 35.603 77.5989 36.4541Z"
        fill="#D0D0DC"
      />
      <path
        d="M81.8922 35.7756C82.0253 36.6267 81.4468 37.4251 80.6 37.559C79.7532 37.6928 78.9587 37.1114 78.8256 36.2603C78.6924 35.4092 79.2709 34.6107 80.1177 34.4769C80.9646 34.3431 81.759 34.9245 81.8922 35.7756Z"
        fill="#D0D0DC"
      />
      <path
        d="M43.8481 37.7126C41.1209 37.1086 37.3191 38.2319 35.3608 39.6183C35.0463 39.8409 34.6115 39.7653 34.3902 39.4492C34.1687 39.1329 34.2438 38.6962 34.5585 38.4733C36.8065 36.8818 41.0082 35.6503 44.1475 36.3449C44.5235 36.4281 44.7607 36.8019 44.6781 37.1792C44.5954 37.557 44.2233 37.7961 43.8481 37.7126ZM44.4358 39.7529C44.3615 40.0669 44.0491 40.2614 43.7372 40.1872C41.4505 39.6439 38.4403 40.2659 36.417 41.6984C36.1545 41.8838 35.7921 41.8208 35.6074 41.5577C35.4232 41.2938 35.4862 40.9302 35.748 40.7444C38.0594 39.1082 41.3777 38.4276 44.004 39.0512C44.3159 39.1256 44.5096 39.4398 44.4358 39.7529ZM44.2064 41.9759C44.1482 42.2276 43.8984 42.3833 43.6487 42.3246C41.6525 41.8557 39.4862 42.3193 37.2099 43.7017C36.9906 43.8351 36.705 43.7642 36.5726 43.5438C36.4399 43.3234 36.5099 43.0366 36.7298 42.9032C39.2206 41.3898 41.6194 40.8891 43.8599 41.4151C44.1097 41.4737 44.2648 41.7249 44.2064 41.9759ZM37.5931 32.7995C33.6868 34.0962 31.566 38.3301 32.8562 42.256C34.1465 46.1823 38.3591 48.3135 42.2654 47.0168C46.1718 45.72 48.2926 41.4865 47.0022 37.5601C45.712 33.6343 41.4995 31.5028 37.5931 32.7995Z"
        fill="#E3E3E3"
      />
      <path
        d="M31.0354 65.3101C30.772 62.0069 33.236 59.1134 36.5391 58.8473L145.877 50.0404C149.18 49.7744 152.072 52.2365 152.335 55.5397L153.563 70.9453C153.827 74.2485 151.363 77.142 148.06 77.408L38.7214 86.2149C35.4184 86.481 32.5272 84.0189 32.2638 80.7156L31.0354 65.3101Z"
        fill="white"
      />
      <path
        d="M58.6806 68.3332C58.6259 67.6461 59.1356 67.0446 59.8192 66.9895L113.661 62.6527C114.345 62.5976 114.944 63.1099 114.998 63.7969C115.053 64.484 114.543 65.0856 113.86 65.1406L60.0176 69.4775C59.334 69.5325 58.7354 69.0202 58.6806 68.3332Z"
        fill="#D0D0DC"
      />
      <path
        d="M62.1966 73.3708C62.2651 74.2296 61.6279 74.9816 60.7734 75.0504C59.9189 75.1193 59.1707 74.4789 59.1022 73.6201C59.0338 72.7613 59.6709 72.0093 60.5254 71.9405C61.3799 71.8717 62.1281 72.5121 62.1966 73.3708Z"
        fill="#D0D0DC"
      />
      <path
        d="M66.5287 73.0219C66.5972 73.8807 65.96 74.6327 65.1055 74.7015C64.2511 74.7703 63.5028 74.1299 63.4344 73.2711C63.3659 72.4124 64.0031 71.6604 64.8576 71.5916C65.712 71.5227 66.4603 72.1631 66.5287 73.0219Z"
        fill="#D0D0DC"
      />
      <path
        d="M70.8609 72.673C70.9294 73.5318 70.2922 74.2837 69.4377 74.3526C68.5832 74.4214 67.835 73.781 67.7665 72.9222C67.698 72.0634 68.3352 71.3114 69.1897 71.2426C70.0442 71.1738 70.7924 71.8142 70.8609 72.673Z"
        fill="#D0D0DC"
      />
      <path
        d="M75.193 72.324C75.2615 73.1828 74.6243 73.9348 73.7698 74.0036C72.9153 74.0724 72.1671 73.4321 72.0986 72.5733C72.0301 71.7145 72.6673 70.9625 73.5218 70.8937C74.3763 70.8248 75.1245 71.4652 75.193 72.324Z"
        fill="#D0D0DC"
      />
      <path
        d="M79.5251 71.9751C79.5936 72.8339 78.9564 73.5859 78.1019 73.6547C77.2474 73.7235 76.4992 73.0831 76.4308 72.2243C76.3623 71.3655 76.9995 70.6136 77.8539 70.5447C78.7084 70.4759 79.4566 71.1163 79.5251 71.9751Z"
        fill="#D0D0DC"
      />
      <path
        d="M83.8573 71.6261C83.9257 72.4849 83.2886 73.2369 82.4341 73.3057C81.5796 73.3746 80.8314 72.7342 80.7629 71.8754C80.6944 71.0166 81.3316 70.2646 82.1861 70.1958C83.0406 70.127 83.7888 70.7674 83.8573 71.6261Z"
        fill="#D0D0DC"
      />
      <path
        d="M88.1894 71.2772C88.2579 72.136 87.6207 72.888 86.7662 72.9568C85.9117 73.0256 85.1635 72.3852 85.095 71.5264C85.0265 70.6677 85.6637 69.9157 86.5182 69.8468C87.3727 69.778 88.1209 70.4184 88.1894 71.2772Z"
        fill="#D0D0DC"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M52.3021 74.814C52.3364 74.882 52.3706 74.9499 52.4046 75.016C52.6856 75.6346 52.8281 76.2253 52.7923 76.8249C52.8046 78.0885 52.2283 79.2098 51.2545 79.7353C50.9091 79.9401 50.505 80.045 50.0888 80.0653C49.9699 80.071 49.8189 80.0613 49.6976 80.05C49.1978 80.0058 48.6665 79.8441 48.1309 79.5454C47.4818 79.1841 46.8091 78.6532 46.0413 77.8705C45.5015 78.7167 45.0002 79.3047 44.4454 79.7245C44.0002 80.0708 43.521 80.2816 43.0402 80.3734C42.9237 80.3963 42.7774 80.4205 42.6585 80.4263C42.2424 80.4465 41.8292 80.3813 41.4168 80.2132C40.325 79.7881 39.4324 78.7553 39.0907 77.4907C38.931 76.8836 38.9073 76.2868 39.0128 75.6498C39.0562 75.4257 39.1021 75.2185 39.1501 75.0281C39.1853 74.8845 39.2209 74.7446 39.2556 74.6085C39.2961 74.4493 39.3354 74.2952 39.371 74.1462L39.3811 74.1116C40.0504 71.5169 40.8041 68.8837 41.5922 66.2832L41.6226 66.1795C41.705 65.9217 41.7852 65.6473 41.8653 65.3729L41.8677 65.3647C41.9736 65.0519 42.0919 64.7216 42.272 64.4055C42.6723 63.7367 43.2887 63.331 44.0318 63.2949C44.7599 63.2596 45.4957 63.5996 46.0663 64.2551C46.3251 64.5265 46.51 64.8155 46.6875 65.093C46.7023 65.1162 46.7171 65.1393 46.7319 65.1623C46.8886 65.4279 47.0455 65.6937 47.2001 65.9425L47.2589 66.0423C48.7741 68.5306 50.2347 71.056 51.6161 73.5513L51.6333 73.5673C51.711 73.7131 51.7938 73.8637 51.8794 74.0193C51.9503 74.1482 52.023 74.2804 52.0963 74.4161C52.1634 74.5387 52.2328 74.6764 52.3021 74.814ZM51.8612 76.7307C51.8806 77.6178 51.4677 78.4064 50.7875 78.781C50.4548 78.9678 50.0759 79.0375 49.6826 79.0053C49.3044 78.9725 48.9141 78.8549 48.4925 78.6195C47.9104 78.3059 47.3022 77.8063 46.5694 77.0564C47.3574 75.635 47.7756 74.3509 47.8418 73.221C47.8723 72.69 47.8207 72.2144 47.7144 71.7755C47.5958 71.3545 47.4076 70.9708 47.1521 70.6417C46.585 69.9009 45.7512 69.4974 44.8899 69.5393C44.0286 69.5812 43.3206 70.0767 42.9646 70.8453C42.8041 71.1946 42.7252 71.5913 42.725 72.0181C42.7274 72.462 42.811 72.9532 43.001 73.4564C43.3803 74.5647 44.167 75.8072 45.3245 77.1338C44.8248 77.9438 44.3489 78.4963 43.8617 78.8615C43.5113 79.1348 43.159 79.2885 42.795 79.3573C42.4011 79.4277 42.0055 79.3786 41.6426 79.2427C40.8675 78.9389 40.2411 78.2007 40.0137 77.3238C39.9099 76.9021 39.8803 76.4767 39.9623 75.9945C39.9767 75.8756 40.0053 75.7562 40.0368 75.6253C40.0508 75.567 40.0653 75.5063 40.0794 75.4425C40.1448 75.1689 40.2223 74.8778 40.2999 74.5866L40.3022 74.5777L40.3125 74.5432C40.9834 71.9661 41.7217 69.3348 42.514 66.7692L42.5443 66.665C42.5859 66.535 42.6269 66.4007 42.6679 66.2664C42.7089 66.1322 42.75 65.9979 42.7916 65.8678C42.8723 65.5906 42.9704 65.3296 43.1029 65.101C43.3577 64.6787 43.7427 64.4381 44.203 64.4157C44.6633 64.3933 45.11 64.5935 45.4788 64.9855C45.673 65.1982 45.8422 65.4462 45.999 65.7118C46.0755 65.8349 46.1524 65.9622 46.2294 66.0894C46.3079 66.2191 46.3865 66.349 46.4644 66.4744L46.5234 66.5742C48.0053 69.0463 49.4649 71.5708 50.8431 74.0483L50.8455 74.065C50.9238 74.1977 50.9995 74.3391 51.0753 74.4804C51.1512 74.6221 51.2271 74.7637 51.3056 74.8966C51.3369 74.9575 51.3677 75.0152 51.3974 75.0708C51.4652 75.1977 51.5271 75.3134 51.5745 75.4299C51.755 75.865 51.8589 76.2871 51.8612 76.7307ZM45.7142 76.1433C44.7777 75.0397 44.1245 73.9896 43.8265 73.0912C43.7012 72.7083 43.6404 72.373 43.6422 72.0684C43.634 71.7981 43.6882 71.5585 43.7758 71.351C43.9877 70.8843 44.4101 70.5751 44.9441 70.5486C45.4781 70.522 45.9913 70.7673 46.3159 71.2247C46.459 71.4207 46.578 71.6517 46.6438 71.9191C46.7287 72.2194 46.7629 72.5729 46.7417 72.9462C46.6911 73.8452 46.3339 74.9454 45.7142 76.1433Z"
        fill="#E0E0E0"
      />
    </g>
    <mask id="path-18-inside-1_472_70256" fill="white">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M78.9479 92.3768C84.9273 84.8631 88.5 75.3488 88.5 65C88.5 40.6995 68.8005 21 44.5 21C20.1995 21 0.5 40.6995 0.5 65C0.5 89.3005 20.1995 109 44.5 109C54.8488 109 64.3631 105.427 71.8768 99.4479L109.964 137.536C111.917 139.488 115.083 139.488 117.036 137.536C118.988 135.583 118.988 132.417 117.036 130.464L78.9479 92.3768Z"
      />
    </mask>
    <path
      d="M78.9479 92.3768L71.1232 86.15L65.5643 93.1354L71.8768 99.4479L78.9479 92.3768ZM71.8768 99.4479L78.9479 92.3768L72.6354 86.0643L65.65 91.6232L71.8768 99.4479ZM78.5 65C78.5 73.0067 75.7448 80.3424 71.1232 86.15L86.7726 98.6037C94.1097 89.3839 98.5 77.6908 98.5 65H78.5ZM44.5 31C63.2777 31 78.5 46.2223 78.5 65H98.5C98.5 35.1766 74.3234 11 44.5 11V31ZM10.5 65C10.5 46.2223 25.7223 31 44.5 31V11C14.6766 11 -9.5 35.1766 -9.5 65H10.5ZM44.5 99C25.7223 99 10.5 83.7777 10.5 65H-9.5C-9.5 94.8234 14.6766 119 44.5 119V99ZM65.65 91.6232C59.8424 96.2448 52.5067 99 44.5 99V119C57.1908 119 68.8839 114.61 78.1037 107.273L65.65 91.6232ZM117.036 130.464L78.9479 92.3768L64.8058 106.519L102.893 144.607L117.036 130.464ZM109.964 130.464C111.917 128.512 115.083 128.512 117.036 130.464L102.893 144.607C108.751 150.464 118.249 150.464 124.107 144.607L109.964 130.464ZM109.964 137.536C108.012 135.583 108.012 132.417 109.964 130.464L124.107 144.607C129.964 138.749 129.964 129.251 124.107 123.393L109.964 137.536ZM71.8768 99.4479L109.964 137.536L124.107 123.393L86.019 85.3058L71.8768 99.4479Z"
      fill="#D0D0DC"
      mask="url(#path-18-inside-1_472_70256)"
    />
    <defs>
      <filter
        id="filter0_f_472_70256"
        x="17.3809"
        y="0.990234"
        width="150.239"
        height="122.83"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="3.5" result="effect1_foregroundBlur_472_70256" />
      </filter>
      <filter
        id="filter1_ddd_472_70256"
        x="33.3252"
        y="82.4473"
        width="118.225"
        height="46.373"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_472_70256" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="1" />
        <feGaussianBlur stdDeviation="1.5" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_472_70256"
          result="effect2_dropShadow_472_70256"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="6" />
        <feGaussianBlur stdDeviation="3" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" />
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_472_70256"
          result="effect3_dropShadow_472_70256"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect3_dropShadow_472_70256"
          result="shape"
        />
      </filter>
      <filter
        id="filter2_ddd_472_70256"
        x="18.3809"
        y="5.99023"
        width="148.239"
        height="60.5293"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_472_70256" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="1" />
        <feGaussianBlur stdDeviation="1.5" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_472_70256"
          result="effect2_dropShadow_472_70256"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="6" />
        <feGaussianBlur stdDeviation="3" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" />
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_472_70256"
          result="effect3_dropShadow_472_70256"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect3_dropShadow_472_70256"
          result="shape"
        />
      </filter>
      <filter
        id="filter3_ddd_472_70256"
        x="25.0156"
        y="48.0195"
        width="134.566"
        height="50.2148"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_472_70256" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="1" />
        <feGaussianBlur stdDeviation="1.5" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_472_70256"
          result="effect2_dropShadow_472_70256"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="6" />
        <feGaussianBlur stdDeviation="3" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0" />
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_472_70256"
          result="effect3_dropShadow_472_70256"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect3_dropShadow_472_70256"
          result="shape"
        />
      </filter>
      <clipPath id="clip0_472_70256">
        <rect
          width="14.9008"
          height="14.9754"
          fill="white"
          transform="matrix(0.998606 -0.0527892 0.0522632 0.998633 45.5459 95.6152)"
        />
      </clipPath>
    </defs>
  </svg>
</template>
