<script setup lang="ts">
import { computed, onUnmounted } from 'vue'
import { storeToRefs } from 'pinia'

import webAppUrl from '@core/utils/webappURL'
import { OnboardingSettings } from '@core/stores/onboarding'
import { createLogger } from '@core/utils/logger'
import { ONBOARDING_STEPS, initialOnboardingSettings } from '@core/stores/onboarding'

import { usePopupStore } from '../store'
import { openTab } from '@/utils/tabUtils'

import GettingStartedBanner from '@core/components/onboarding/GettingStartedBanner.vue'

const logger = createLogger('ext:onboarding-status')

const store = usePopupStore()
const { refreshUserProfile } = store
const { user } = storeToRefs(store)

const gettingStartedUrl = `${webAppUrl()}getting-started`

const openGettingStarted = () => {
  openTab({ url: gettingStartedUrl })
}

const onboardingSettings = computed(
  () => (user.value?.userSettings['onboarding'] as OnboardingSettings) ?? initialOnboardingSettings
)

const completedStepsCount = computed(() => onboardingSettings.value.stepsCompleted.length)

const totalStepsCount = ONBOARDING_STEPS.length
const isOnboarding = computed(
  () => !onboardingSettings.value.completed && !onboardingSettings.value.dismissed
)

logger.debug(`settings`, onboardingSettings.value)
logger.debug(`isOnboarding:`, isOnboarding.value)

refreshUserProfile()

let interVal = 0

const sync = async () => {
  if (isOnboarding.value) {
    logger.debug(`Refresh user profile`)
    await refreshUserProfile()
  } else {
    logger.debug(`Completed!`)
    clearInterval(interVal)
  }
}

if (isOnboarding.value) {
  interVal = window.setInterval(sync, 1000)
}

onUnmounted(() => clearInterval(interVal))
</script>

<template>
  <a v-if="isOnboarding" class="getting-started-container" @click="openGettingStarted">
    <GettingStartedBanner
      class="getting-started-banner"
      :total-steps="totalStepsCount"
      :completed-steps="completedStepsCount"
    />
  </a>
</template>

<style scoped>
.getting-started-container {
  @apply cursor-pointer p-4 pb-0;
}

.getting-started-banner {
  @apply p-4 text-sm;
}
</style>
