<script setup lang="ts">
import ArrowRightUpLine from '~icons/ri/arrow-right-up-line'

import { openTab } from '@/utils/tabUtils'
import webAppUrl from '@core/utils/webappURL'

import BaseButton from '@/ui/components/next/BaseButton.vue'
</script>

<template>
  <BaseButton
    class="bg-gray2 bg-opacity-70 text-white"
    size="small"
    text="Open web app"
    :suffix-icon="ArrowRightUpLine"
    @click="openTab({ url: webAppUrl() })"
  />
</template>
