<template>
  <svg width="131" height="39" viewBox="0 0 131 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.25" y="0.926758" width="130" height="37.9724" rx="3.95545" fill="#05003F" />
    <path
      d="M20.3191 19.345L9.83984 30.467C9.84083 30.469 9.84083 30.4719 9.84181 30.4739C10.1637 31.6815 11.266 32.5703 12.5751 32.5703C13.0987 32.5703 13.5898 32.4286 14.0111 32.1806L14.0445 32.1609L25.8397 25.3548L20.3191 19.345Z"
      fill="#EA4335"
    />
    <path
      d="M30.9205 17.451L30.9107 17.4441L25.8182 14.4924L20.0811 19.5977L25.8389 25.3535L30.9038 22.4313C31.7916 21.951 32.3949 21.015 32.3949 19.9362C32.3949 18.8634 31.8004 17.9323 30.9205 17.451Z"
      fill="#FBBC04"
    />
    <path
      d="M9.83962 9.35798C9.77663 9.59026 9.74316 9.83435 9.74316 10.0863V29.7397C9.74316 29.9917 9.77663 30.2357 9.8406 30.467L20.6791 19.6295L9.83962 9.35798Z"
      fill="#4285F4"
    />
    <path
      d="M20.3959 19.9128L25.819 14.4906L14.0376 7.66C13.6095 7.40311 13.1095 7.25548 12.5751 7.25548C11.266 7.25548 10.1617 8.14621 9.83985 9.35487C9.83985 9.35585 9.83887 9.35683 9.83887 9.35782L20.3959 19.9128Z"
      fill="#34A853"
    />
    <path
      d="M47.8201 10.3978C47.8201 11.1774 47.5894 11.798 47.127 12.2613C46.6014 12.812 45.9176 13.0874 45.0766 13.0874C44.27 13.0874 43.5853 12.8083 43.0224 12.2492C42.4577 11.691 42.1768 10.9979 42.1768 10.1718C42.1768 9.3447 42.4577 8.65254 43.0224 8.09342C43.5853 7.53522 44.27 7.25519 45.0766 7.25519C45.4757 7.25519 45.859 7.33334 46.2218 7.48963C46.5856 7.64593 46.8768 7.85339 47.0954 8.11295L46.6042 8.60416C46.2348 8.16319 45.7259 7.94177 45.0766 7.94177C44.4886 7.94177 43.9807 8.1483 43.5518 8.56137C43.1229 8.97536 42.9089 9.51123 42.9089 10.1718C42.9089 10.8314 43.1229 11.3682 43.5518 11.7812C43.9807 12.1952 44.4886 12.4008 45.0766 12.4008C45.6999 12.4008 46.219 12.1934 46.6358 11.7775C46.9056 11.5068 47.061 11.1309 47.1028 10.6472H45.0766V9.97639H47.781C47.8071 10.1225 47.8201 10.2629 47.8201 10.3978Z"
      fill="white"
    />
    <path
      d="M47.8201 10.3978C47.8201 11.1774 47.5894 11.798 47.127 12.2613C46.6014 12.812 45.9176 13.0874 45.0766 13.0874C44.27 13.0874 43.5853 12.8083 43.0224 12.2492C42.4577 11.691 42.1768 10.9979 42.1768 10.1718C42.1768 9.3447 42.4577 8.65254 43.0224 8.09342C43.5853 7.53522 44.27 7.25519 45.0766 7.25519C45.4757 7.25519 45.859 7.33334 46.2218 7.48963C46.5856 7.64593 46.8768 7.85339 47.0954 8.11295L46.6042 8.60416C46.2348 8.16319 45.7259 7.94177 45.0766 7.94177C44.4886 7.94177 43.9807 8.1483 43.5518 8.56137C43.1229 8.97536 42.9089 9.51123 42.9089 10.1718C42.9089 10.8314 43.1229 11.3682 43.5518 11.7812C43.9807 12.1952 44.4886 12.4008 45.0766 12.4008C45.6999 12.4008 46.219 12.1934 46.6358 11.7775C46.9056 11.5068 47.061 11.1309 47.1028 10.6472H45.0766V9.97639H47.781C47.8071 10.1225 47.8201 10.2629 47.8201 10.3978Z"
      fill="white"
    />
    <path
      d="M52.1085 8.06634H49.5669V9.83582H51.8592V10.5066H49.5669V12.2761H52.1085V12.9626H48.8496V7.38069H52.1085V8.06634Z"
      fill="white"
    />
    <path
      d="M52.1085 8.06634H49.5669V9.83582H51.8592V10.5066H49.5669V12.2761H52.1085V12.9626H48.8496V7.38069H52.1085V8.06634Z"
      fill="white"
    />
    <path
      d="M55.133 12.9622H54.4157V8.06586H52.8564V7.38021H56.6922V8.06586H55.133V12.9622Z"
      fill="white"
    />
    <path
      d="M55.133 12.9622H54.4157V8.06586H52.8564V7.38021H56.6922V8.06586H55.133V12.9622Z"
      fill="white"
    />
    <path d="M59.4668 7.38021H60.1841V12.9622H59.4668V7.38021Z" fill="white" />
    <path
      d="M63.3654 12.9622H62.6481V8.06586H61.0889V7.38021H64.9246V8.06586H63.3654V12.9622Z"
      fill="white"
    />
    <path
      d="M63.3654 12.9622H62.6481V8.06586H61.0889V7.38021H64.9246V8.06586H63.3654V12.9622Z"
      fill="white"
    />
    <path
      d="M68.6232 11.7738C69.0363 12.1924 69.5415 12.4008 70.1397 12.4008C70.7379 12.4008 71.243 12.1924 71.6561 11.7738C72.0692 11.3551 72.2766 10.8211 72.2766 10.1718C72.2766 9.5224 72.0692 8.98746 71.6561 8.56974C71.243 8.1511 70.7379 7.94177 70.1397 7.94177C69.5415 7.94177 69.0363 8.1511 68.6232 8.56974C68.2111 8.98746 68.0037 9.5224 68.0037 10.1718C68.0037 10.8211 68.2111 11.3551 68.6232 11.7738ZM72.1864 12.2408C71.6375 12.8055 70.9556 13.0874 70.1397 13.0874C69.3238 13.0874 68.6419 12.8055 68.0939 12.2408C67.545 11.677 67.2715 10.9877 67.2715 10.1718C67.2715 9.35587 67.545 8.66557 68.0939 8.10179C68.6419 7.53801 69.3238 7.25519 70.1397 7.25519C70.9509 7.25519 71.631 7.53894 72.1827 8.10551C72.7334 8.67208 73.0088 9.36052 73.0088 10.1718C73.0088 10.9877 72.7344 11.677 72.1864 12.2408Z"
      fill="white"
    />
    <path
      d="M68.6232 11.7738C69.0363 12.1924 69.5415 12.4008 70.1397 12.4008C70.7379 12.4008 71.243 12.1924 71.6561 11.7738C72.0692 11.3551 72.2766 10.8211 72.2766 10.1718C72.2766 9.5224 72.0692 8.98746 71.6561 8.56974C71.243 8.1511 70.7379 7.94177 70.1397 7.94177C69.5415 7.94177 69.0363 8.1511 68.6232 8.56974C68.2111 8.98746 68.0037 9.5224 68.0037 10.1718C68.0037 10.8211 68.2111 11.3551 68.6232 11.7738ZM72.1864 12.2408C71.6375 12.8055 70.9556 13.0874 70.1397 13.0874C69.3238 13.0874 68.6419 12.8055 68.0939 12.2408C67.545 11.677 67.2715 10.9877 67.2715 10.1718C67.2715 9.35587 67.545 8.66557 68.0939 8.10179C68.6419 7.53801 69.3238 7.25519 70.1397 7.25519C70.9509 7.25519 71.631 7.53894 72.1827 8.10551C72.7334 8.67208 73.0088 9.36052 73.0088 10.1718C73.0088 10.9877 72.7344 11.677 72.1864 12.2408Z"
      fill="white"
    />
    <path
      d="M74.0146 12.9622V7.38021H74.8873L77.6001 11.722H77.6318L77.6001 10.6466V7.38021H78.3183V12.9622H77.5694L74.731 8.40915H74.7003L74.731 9.48553V12.9622H74.0146Z"
      fill="white"
    />
    <path
      d="M74.0146 12.9622V7.38021H74.8873L77.6001 11.722H77.6318L77.6001 10.6466V7.38021H78.3183V12.9622H77.5694L74.731 8.40915H74.7003L74.731 9.48553V12.9622H74.0146Z"
      fill="white"
    />
    <path
      d="M103.191 28.7783H104.927V17.1483H103.191V28.7783ZM118.827 21.3376L116.837 26.3799H116.777L114.712 21.3376H112.842L115.939 28.3848L114.174 32.3052H115.983L120.757 21.3376H118.827ZM108.982 27.4572C108.412 27.4572 107.62 27.1735 107.62 26.4692C107.62 25.5724 108.607 25.2282 109.46 25.2282C110.223 25.2282 110.583 25.3929 111.046 25.6171C110.911 26.6944 109.984 27.4572 108.982 27.4572ZM109.191 21.0836C107.934 21.0836 106.632 21.6371 106.094 22.8642L107.635 23.5071C107.964 22.8642 108.577 22.654 109.221 22.654C110.119 22.654 111.031 23.1926 111.046 24.1509V24.2699C110.732 24.0904 110.059 23.8215 109.236 23.8215C107.575 23.8215 105.884 24.7342 105.884 26.4395C105.884 27.9959 107.246 28.9988 108.772 28.9988C109.939 28.9988 110.583 28.475 110.987 27.861H111.046V28.7588H112.722V24.2997C112.722 22.2353 111.181 21.0836 109.191 21.0836ZM98.4626 22.7535H95.9936V18.7671H98.4626C99.7604 18.7671 100.497 19.8416 100.497 20.7598C100.497 21.6613 99.7604 22.7535 98.4626 22.7535ZM98.418 17.1483H94.2585V28.7783H95.9936V24.3723H98.418C100.342 24.3723 102.233 22.9787 102.233 20.7598C102.233 18.541 100.342 17.1483 98.418 17.1483ZM75.7357 27.4591C74.5365 27.4591 73.5327 26.4553 73.5327 25.0765C73.5327 23.6829 74.5365 22.6633 75.7357 22.6633C76.92 22.6633 77.8485 23.6829 77.8485 25.0765C77.8485 26.4553 76.92 27.4591 75.7357 27.4591ZM77.7294 21.9888H77.6689C77.2791 21.5246 76.5302 21.105 75.5859 21.105C73.6071 21.105 71.7939 22.8428 71.7939 25.0765C71.7939 27.2944 73.6071 29.0183 75.5859 29.0183C76.5302 29.0183 77.2791 28.5988 77.6689 28.1187H77.7294V28.689C77.7294 30.2026 76.92 31.012 75.6157 31.012C74.5514 31.012 73.8918 30.2473 73.622 29.6026L72.1084 30.2324C72.5428 31.2818 73.6974 32.5703 75.6157 32.5703C77.654 32.5703 79.3779 31.3711 79.3779 28.449V21.3441H77.7294V21.9888ZM80.5771 28.7783H82.3159V17.1474H80.5771V28.7783ZM84.878 24.9416C84.8334 23.4131 86.0623 22.6335 86.9461 22.6335C87.6364 22.6335 88.2207 22.9777 88.4151 23.4727L84.878 24.9416ZM90.2739 23.6224C89.9446 22.7386 88.9398 21.105 86.8866 21.105C84.8483 21.105 83.1551 22.7079 83.1551 25.0617C83.1551 27.2796 84.8334 29.0183 87.081 29.0183C88.8952 29.0183 89.9446 27.9094 90.379 27.2647L89.0301 26.365C88.5807 27.0246 87.9658 27.4591 87.081 27.4591C86.1972 27.4591 85.5674 27.0544 85.1627 26.2608L90.4535 24.0718L90.2739 23.6224ZM48.1227 22.3191V23.9974H52.139C52.0189 24.9416 51.7045 25.631 51.2254 26.1101C50.6402 26.6953 49.7257 27.34 48.1227 27.34C45.649 27.34 43.7158 25.3463 43.7158 22.8735C43.7158 20.3998 45.649 18.407 48.1227 18.407C49.4568 18.407 50.4309 18.9317 51.15 19.6062L52.3343 18.4219C51.3296 17.4628 49.9964 16.7278 48.1227 16.7278C44.7354 16.7278 41.8877 19.4862 41.8877 22.8735C41.8877 26.2608 44.7354 29.0183 48.1227 29.0183C49.9508 29.0183 51.3296 28.4183 52.4087 27.2944C53.5186 26.1855 53.8628 24.6272 53.8628 23.3675C53.8628 22.9777 53.8331 22.6186 53.7726 22.3191H48.1227ZM58.4298 27.4591C57.2306 27.4591 56.1961 26.4702 56.1961 25.0617C56.1961 23.6373 57.2306 22.6633 58.4298 22.6633C59.6281 22.6633 60.6626 23.6373 60.6626 25.0617C60.6626 26.4702 59.6281 27.4591 58.4298 27.4591ZM58.4298 21.105C56.2408 21.105 54.4573 22.7684 54.4573 25.0617C54.4573 27.34 56.2408 29.0183 58.4298 29.0183C60.6179 29.0183 62.4014 27.34 62.4014 25.0617C62.4014 22.7684 60.6179 21.105 58.4298 21.105ZM67.0939 27.4591C65.8947 27.4591 64.8602 26.4702 64.8602 25.0617C64.8602 23.6373 65.8947 22.6633 67.0939 22.6633C68.2931 22.6633 69.3267 23.6373 69.3267 25.0617C69.3267 26.4702 68.2931 27.4591 67.0939 27.4591ZM67.0939 21.105C64.9058 21.105 63.1224 22.7684 63.1224 25.0617C63.1224 27.34 64.9058 29.0183 67.0939 29.0183C69.2821 29.0183 71.0655 27.34 71.0655 25.0617C71.0655 22.7684 69.2821 21.105 67.0939 21.105Z"
      fill="white"
    />
  </svg>
</template>
