<script setup lang="ts">
import { reactive, toRef } from 'vue'

import ViewField from './ViewField.vue'

import { DecryptedItem } from '@core/clients/tilig/item'

const props = defineProps<{
  item: DecryptedItem | null
}>()

const item = toRef(props, 'item')

// Hold empty strings while we decrypt
const secureNote = reactive({
  name: item.value?.overview?.name || '',
  notes: item.value?.details.notes ?? '',
})
</script>

<template>
  <div class="item-details">
    <div class="field is-grouped">
      <ViewField :value="secureNote.notes" title="Notes" :is-multi-line="true" />
    </div>
  </div>
</template>

<style scoped>
.item-details {
  @apply flex w-full flex-col items-center;
}

.is-grouped {
  @apply mt-4 w-full rounded-md bg-white px-4;
}

.is-grouped > * {
  @apply relative pb-2 pt-2;
}

.is-grouped > *:not(:last-child) {
  @apply border-b-2 border-gray-lightest;
}
</style>
