<script setup lang="ts">
const props = defineProps<{
  active: boolean
  labelText?: string
}>()

const emits = defineEmits(['toggle'])
</script>

<template>
  <div class="flex w-full cursor-pointer" @click.prevent="emits('toggle')">
    <label for="toggle" class="flex w-full">
      <div>{{ props.labelText }}</div>
      <!-- toggle -->
      <div class="relative ml-auto">
        <!-- input -->
        <input type="checkbox" class="sr-only" :checked="props.active" />
        <!-- line -->
        <div class="block h-6 w-10 rounded-full bg-gray-dark"></div>
        <!-- dot -->
        <div class="dot absolute left-1 top-1 h-4 w-4 rounded-full bg-white transition"></div>
      </div>
      <!-- label -->
    </label>
  </div>
</template>

<style>
input:checked ~ .dot {
  transform: translateX(100%);
}
input:checked ~ .block {
  @apply bg-indigo-dark;
}
</style>
