<script lang="ts" setup>
import { computed, ref } from 'vue'
import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'
import { useTotp } from '@core/composables/useTotp'

import CircleCountdown from '@core/components/totp/CircleCountdown.vue'

const props = withDefaults(
  defineProps<{
    label?: string
    value?: string | null
  }>(),
  {
    label: '2FA',
    value: null,
  }
)

const emits = defineEmits(['copied'])

const isCopied = ref(false)

const value = computed(() => props.value)
const { code, remainingSeconds } = useTotp(value)

const firstThreeDigits = computed(() => {
  return code.value.substring(0, 3)
})
const lastThreeDigits = computed(() => {
  return code.value.substring(3, 6)
})

const copyToClipboard = (val: string) => {
  copyStringToClipboard(val)
  emits('copied', 'otp')
  isCopied.value = true
  setTimeout(() => (isCopied.value = false), 3000)
}
</script>

<template>
  <div>
    <label class="field-label">Two Factor Authentication</label>
    <Transition name="fade"> <div v-if="isCopied" class="copied">Copied</div> </Transition>
    <div class="field has-addons">
      <div class="totp">
        <span class="first-digits">{{ firstThreeDigits }}</span>
        <span class="last-digits">{{ lastThreeDigits }}</span>
      </div>
      <div class="buttons">
        <CircleCountdown :count="remainingSeconds" :max-count="30" class="circle-countdown" />
        <a class="button" @click="copyToClipboard(code || '')">
          <div class="copy-btn">
            <a class="button" @click="copyToClipboard(code || '')"> Copy </a>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped>
.totp {
  @apply border-none;
}

.circle-countdown {
  @apply mr-3 mt-0.5 h-5 w-5;
}
.field-label {
  @apply mb-1.5 inline-block text-xs text-blue-light;
}

.first-digits:after {
  content: '-';
  padding: 0 0.1em 0 0.1em;
}

.buttons {
  @apply absolute right-0 top-6 flex flex-row align-middle;
}

.copy-btn a {
  @apply cursor-pointer border-solid text-sm text-indigo-dark hover:underline;
}
.copied {
  @apply /* content: ''; position: absolute; bottom: -15px; left: 50px; border-width: 15px 15px 0; border-style: solid; border-color: #f3961c transparent; display: block;

  width: 0; */
  absolute -top-9
  left-0 z-50
  flex flex-row
  rounded-lg bg-indigo px-3 py-2
  align-middle text-sm
  text-white after:absolute after:bottom-[-8px]
  after:left-[12px] after:block
  after:w-0 after:border-transparent after:border-t-indigo;
}

.copied::after {
  border-width: 8px 8px 0;
}
</style>
