<template>
  <div class="field">
    <Transition name="fade"> <div v-if="isCopied" class="copied">Copied</div></Transition>
    <label for="{{ title }}" class="field-label">{{ title }}</label>
    <div>
      <p v-if="inputType == 'password' && !passwordRevealed && value">
        &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;
      </p>
      <p v-else-if="isMultiLine" class="multiline">
        {{ value }}
      </p>
      <p v-else :class="`${inputType} ${canCopy ? 'can-copy' : null}`">
        <a v-if="linkHref" :href="linkHref" target="_blank">
          <span class="truncated-link-wrapper">
            <span class="truncated-link">{{ value }}</span>
            <ExternalLinkIcon class="external-link-icon" />
          </span>
        </a>
        <span v-else-if="value">
          {{ value }}
        </span>
        <span v-else class="placeholder">{{ placeholder ?? '&nbsp;' }}</span>
      </p>
    </div>
    <div class="buttons">
      <div v-if="inputType == 'password' && value">
        <a v-if="passwordRevealed" class="reveal-btn" @click="togglePassword"
          ><EyeOffIcon class="icon"
        /></a>
        <a v-else class="reveal-btn" @click="togglePassword"><EyeIcon class="icon" /></a>
      </div>
      <div v-if="canCopy && value" class="copy-btn">
        <a class="button" @click="copyToClipboard(value)"> Copy </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { EyeIcon, EyeOffIcon } from '@heroicons/vue/outline'
import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'
import { ExternalLinkIcon } from '@heroicons/vue/outline'

export default defineComponent({
  components: {
    EyeIcon,
    EyeOffIcon,
    ExternalLinkIcon,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: false,
      default: '',
    },
    placeholder: {
      type: String,
      required: false,
      default: '',
    },
    inputType: {
      type: String,
      default: 'text',
    },
    canCopy: {
      type: Boolean,
      default: false,
    },
    linkHref: {
      type: String,
      required: false,
      default: '',
    },
    isMultiLine: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['copied', 'revealed'],
  setup() {
    return {
      isCopied: ref(false),
      passwordRevealed: ref(false),
    }
  },
  computed: {
    type(): string {
      if (this.inputType == 'password') {
        return this.passwordRevealed ? 'text' : 'password'
      }
      return this.inputType
    },
  },
  methods: {
    togglePassword() {
      if (!this.passwordRevealed) {
        this.$emit('revealed', this.inputType)
      }
      this.passwordRevealed = !this.passwordRevealed
    },
    copyToClipboard(val: string) {
      copyStringToClipboard(val)
      this.$emit('copied', this.inputType)
      this.isCopied = true
      setTimeout(() => (this.isCopied = false), 3000)
    },
  },
})
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s, margin-top 0.2s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  margin-top: 0.2rem;
}

.field {
  @apply relative;
}

/* .field p {
  @apply overflow-hidden text-ellipsis pr-8;
} */

.field a {
  @apply text-indigo hover:text-indigo-dark;
}

.field p.can-copy {
  @apply overflow-hidden text-ellipsis pr-12;
}

.field p.password {
  @apply overflow-hidden text-ellipsis pr-16;
}

.field-label {
  @apply mb-1.5 inline-block text-xs text-blue-light;
}

* {
  @apply outline-none;
  outline: none;
}

input,
input:hover,
input:focus,
input:active {
  @apply m-0 border-none p-0 outline-none;
}

textarea,
textarea:hover,
textarea:focus,
textarea:active {
  @apply m-0 border-none p-0 outline-none;
}

.copied {
  @apply /* content: ''; position: absolute; bottom: -15px; left: 50px; border-width: 15px 15px 0; border-style: solid; border-color: #f3961c transparent; display: block;

  width: 0; */
  absolute -top-9
  left-0 z-50
  flex flex-row
  rounded-lg bg-indigo px-3 py-2
  align-middle text-sm
  text-white after:absolute after:bottom-[-8px]
  after:left-[12px] after:block
  after:w-0 after:border-transparent after:border-t-indigo;
}

.copied::after {
  border-width: 8px 8px 0;
}

.buttons {
  @apply absolute right-0 top-6 flex flex-row align-middle;
}

.copy-btn a {
  @apply cursor-pointer border-solid text-sm text-indigo;
}
.copy-btn a:hover {
  @apply text-indigo-dark;
}

.reveal-btn .icon {
  @apply mr-3 mt-0.5 h-5 w-5 cursor-pointer text-indigo hover:text-indigo-dark;
}
.multiline {
  @apply w-full whitespace-pre-wrap;
}

.placeholder {
  @apply text-gray-dark;
}

/* Fixme: duplicate with LoginItemDetails. */
.external-link-icon {
  @apply inline-block h-5 w-5 shrink-0 grow-0;
}
.truncated-link-wrapper {
  @apply flex gap-1;
  max-width: 100%;
}
.truncated-link {
  @apply flex-shrink overflow-hidden text-ellipsis whitespace-nowrap;
}
.external-link-icon {
  @apply flex-shrink-0 flex-grow-0;
}
</style>
