<script lang="ts" setup>
import { watch } from 'vue'
import { storeToRefs } from 'pinia'
import { debounce } from 'lodash'

import { useAuthStore } from '@core/stores/auth'
import { AddItemFlow, SelectedWebsite, useAddItemStore } from '@core/stores/addItem'
import { useLoginForm } from '@core/composables/forms'

import { SearchIcon } from '@heroicons/vue/outline'
import FormInput from '@core/components/FormInput.vue'
import BrandSuggestionTile from '@core/components/BrandSuggestionTile.vue'
import BrandSearchResults from '@core/components/BrandSearchResults.vue'
import AddLoginForm from '@core/components/item/login/AddLoginForm.vue'

const authStore = useAuthStore()
const addItemStore = useAddItemStore()

const {
  searchString,
  isSearching,
  currentStep,
  brands,
  searchingForBrands,
  newItem,
  selectedWebsite,
} = storeToRefs(addItemStore)
const { name, website, username, password } = useLoginForm(newItem)

// Update brands and website
const getBrandMatches = debounce(addItemStore.getBrandMatches, 500)
const updateNewItemBrand = debounce(addItemStore.updateNewItemBrand, 500)
watch(searchString, getBrandMatches)
watch(website, updateNewItemBrand)

const showAddItemForm = () => {
  currentStep.value = AddItemFlow.ShowForm
}

const selectWebsite = (newWebsite: SelectedWebsite) => {
  const { domain, name: websiteName } = newWebsite

  name.value = websiteName
  website.value = domain
  username.value = authStore.tiligUser?.email ?? null
  password.value = null
  // Copy properties, otherwise we might overwrite default
  selectedWebsite.value = { ...newWebsite }

  showAddItemForm()
}
</script>

<template>
  <div v-if="currentStep === AddItemFlow.SelectWebsite">
    <section class="search-bar">
      <label class="search-bar-label">Website or app name</label>
      <div class="search-input-container">
        <FormInput
          v-model="searchString"
          placeholder="Type the website or app name"
          class="search-input"
        />
        <SearchIcon class="search-icon" />
      </div>
    </section>

    <section v-show="isSearching" class="website-suggestions search-results">
      <BrandSearchResults
        :brands="brands"
        :search-string="searchString"
        :searching-for-brands="searchingForBrands"
        @website-selected="selectWebsite"
      />
    </section>

    <section v-show="!isSearching" class="website-suggestions">
      <p class="website-suggestions-note">Or pick a suggestion</p>

      <ul class="website-suggestions-list">
        <BrandSuggestionTile
          v-for="(websiteOption, index) in addItemStore.websiteOptions"
          :key="index"
          :website="websiteOption"
          @website-selected="selectWebsite"
        />
      </ul>
    </section>
  </div>

  <AddLoginForm v-else />
</template>

<style scoped>
.search-bar {
  @apply mb-6 mt-6 flex flex-col gap-2;
}
.search-bar-label {
  @apply text-sm font-normal leading-6 text-blue-darkest;
}

.search-input-container {
  @apply relative h-12;
}

.search-input-container .search-input {
  @apply w-full border-0 py-2 pl-9 text-xs leading-[0.5] ring-1 ring-indigo focus:ring-2 md:text-base;
}

.search-icon {
  @apply pointer-events-none absolute left-3 top-4 h-4 w-4 text-gray md:top-[0.95rem];
}

.website-suggestions {
  @apply h-[15rem] overflow-y-auto pb-5 md:h-[19rem] md:overflow-hidden;
}

.search-results {
  @apply -mt-5 mb-5 overflow-y-auto pb-0;
}

.website-suggestions-list {
  @apply mt-3 grid max-w-[calc(100%-0.5rem)]
    grid-cols-[repeat(auto-fill,3rem)] justify-start gap-x-7 gap-y-2 md:max-w-full md:grid-cols-4 md:gap-3;
}

.website-suggestions-note {
  @apply mt-1 text-xs font-book text-blue-light;
}
</style>
