<script setup lang="ts">
import { computed, ref, watchEffect } from 'vue'
import { storeToRefs } from 'pinia'

import { Template } from '@core/clients/tilig'
import { useLoginForm } from '@core/composables/forms'
import { useItemsStore } from '@core/stores/items'
import { useAddItemStore } from '@core/stores/addItem'
import { isEmailAddress } from '@core/utils/isEmailAddress'

import acorn from '@/assets/acorn.svg?url'
import ItemCreateForm from '@core/components/item/ItemCreateForm.vue'
import FormField from '@core/components/FormField.vue'
import PasswordFormField from '@core/components/PasswordFormField.vue'
import NotesFormField from '@core/components/NotesFormField.vue'
import AddExtraInfoButton from '@core/components/item/AddExtraInfoButton.vue'

const addItemStore = useAddItemStore()
const itemsStore = useItemsStore()

const { maxLoginValueLength } = storeToRefs(itemsStore)
const { newItem, isCreating, isCreated, selectedWebsite } = storeToRefs(addItemStore)
const { name, username, website, password, notes } = useLoginForm(newItem)

const itemTemplate = Template.Login

const formIsInvalid = computed(() => {
  return !name.value || !password.value || !username.value || !website.value
})

const usernameLabel = computed(() => (isEmailAddress(username.value) ? 'Email' : 'Username'))

const noteLength = computed(
  () => maxLoginValueLength.value && `(${notes.value?.length ?? 0} / ${maxLoginValueLength.value})`
)

const brandIcon = computed(() => {
  return selectedWebsite.value?.brand?.logo_icon_source ?? acorn
})

const cutOffValue = (value: string | null) => {
  if (!value) return value
  return maxLoginValueLength.value ? value.slice(0, maxLoginValueLength.value) : value
}

const showNotesField = ref(!!notes.value)
const firstInputRef = ref<InstanceType<typeof FormField> | null>(null)

const unsubscribe = watchEffect(() => {
  if (firstInputRef.value) {
    firstInputRef.value.focus()
    unsubscribe()
  }
})

// Copy name to website in case we came from type modal
if (name.value && !website.value) {
  website.value = name.value
}

// Try to fetch the brand of the current website
if (website.value && !selectedWebsite.value?.brand) {
  addItemStore.updateNewItemBrand()
}
</script>

<template>
  <ItemCreateForm
    :disabled="isCreating || isCreated || formIsInvalid"
    :loading="isCreating"
    :template="itemTemplate"
  >
    <FormField
      ref="firstInputRef"
      v-model="name"
      label="Login name"
      placeholder="Enter login name"
      orientation="vertical"
    >
      <template #beforeValue>
        <div class="account-logo-container">
          <img :src="brandIcon" class="account-logo" />
        </div>
      </template>
    </FormField>

    <FormField
      v-model="website"
      label="Website"
      placeholder="Enter website"
      orientation="vertical"
    />

    <FormField
      :label="usernameLabel"
      placeholder="Enter email or username"
      orientation="vertical"
      :maxlength="maxLoginValueLength ?? undefined"
      :model-value="username"
      @update:model-value="username = cutOffValue($event)"
    />

    <PasswordFormField
      :maxlength="maxLoginValueLength ?? undefined"
      :model-value="password"
      orientation="vertical"
      @update:model-value="password = cutOffValue($event)"
    />

    <NotesFormField
      v-if="showNotesField"
      :label="`Notes ${noteLength || ''}`"
      :maxlength="maxLoginValueLength ?? undefined"
      :model-value="notes"
      orientation="vertical"
      @update:model-value="notes = cutOffValue($event)"
    />

    <section class="extra-info">
      <AddExtraInfoButton v-show="!showNotesField" @click="showNotesField = true" />
    </section>
  </ItemCreateForm>
</template>

<style scoped>
.account-name {
  @apply flex w-full flex-1 gap-2;
}

.account-logo-container {
  @apply flex h-12 w-12 items-center justify-center rounded-lg border border-gray-light bg-white;
}

.account-logo {
  @apply h-6 w-6 rounded-sm;
}

.add-account-button {
  @apply py-3;
}
.add-account-button:disabled {
  @apply cursor-not-allowed  hover:bg-indigo;
}

.account-name-input {
  @apply h-10 pl-3;
}
</style>
