<script setup lang="ts">
import { computed, toRefs } from 'vue'

import FormField from '@core/components/FormField.vue'
import NotesFormField from '@core/components/NotesFormField.vue'
import PasswordFormField from '@core/components/PasswordFormField.vue'

import { useLoginForm } from '@core/composables/forms'
import { DecryptedItem } from '@core/clients/tilig'
import { isEmailAddress } from '@core/utils/isEmailAddress'

const props = withDefaults(
  defineProps<{
    item: DecryptedItem
    saving: boolean
    maxLoginValueLength?: number | null
  }>(),
  { maxLoginValueLength: undefined }
)

const { item, maxLoginValueLength } = toRefs(props)
const { name, username, password, website, notes, totp } = useLoginForm(item)

// non-reactive totp so when the value is cleared, the user can still update the field
// since we show/hide the field based on the existence of a value in the totp field
const originalTotp = totp.value

const noteLength = computed(
  () => maxLoginValueLength.value && `(${notes.value?.length ?? 0} / ${maxLoginValueLength.value})`
)

const usernameLabel = computed(() => {
  if (!username.value) return 'Username'

  return isEmailAddress(username.value) ? 'Email' : 'Username'
})

const cutOffValue = (value: string | null) => {
  if (!value) return value
  return maxLoginValueLength.value ? value.slice(0, maxLoginValueLength.value) : value
}
</script>

<template>
  <FormField v-model="name" label="Login name" placeholder="Enter login name" />

  <FormField
    :label="usernameLabel"
    placeholder="Enter email or username"
    :maxlength="maxLoginValueLength ?? undefined"
    :model-value="username"
    @update:model-value="username = cutOffValue($event)"
  />

  <PasswordFormField
    :model-value="password"
    :maxlength="maxLoginValueLength ?? undefined"
    @update:model-value="password = cutOffValue($event)"
  />

  <FormField v-model="website" label="Website" placeholder="Enter website" />

  <FormField v-if="originalTotp" v-model="totp" label="2FA" />

  <NotesFormField
    :label="`Notes ${noteLength || ''}`"
    :maxlength="maxLoginValueLength ?? undefined"
    :model-value="notes"
    @update:model-value="notes = cutOffValue($event)"
  />
</template>

<style scoped>
.notes-label {
  @apply self-start md:my-0;
}
</style>
