<script setup lang="ts">
import { computed, toRefs } from 'vue'
import { ExternalLinkIcon } from '@heroicons/vue/outline'

import { DecryptedItem } from '@core/clients/tilig'
import { useTrackingStore } from '@core/stores/tracking'
import {
  OTP_COPIED,
  PASSWORD_COPIED,
  USERNAME_COPIED,
  WEBSITE_OPENED,
  TrackingEvent,
} from '@core/utils/trackingConstants'
import { isEmailAddress } from '@core/utils/isEmailAddress'

import ItemDetailsWrapper from '@core/components/item/ItemDetailsWrapper.vue'
import ItemField from '@core/components/item/ItemField.vue'
import ExternalLink from '@core/components/ExternalLink.vue'
import TwoFactorField from '@core/components/item/TwoFactorField.vue'
import PasswordField from '@core/components/item/PasswordField.vue'
import NotesField from '@core/components/item/NotesField.vue'

import { useLoginForm } from '@core/composables/forms'

const props = defineProps<{
  item: DecryptedItem
}>()

const { item } = toRefs(props)
const { username, password, website, primaryUrl, notes, totp } = useLoginForm(item)
const usernameLabel = computed(() => {
  if (!username.value) return 'Username'

  return isEmailAddress(username.value) ? 'Email' : 'Username'
})

const { trackEvent } = useTrackingStore()

const trackCopyEvent = (event: TrackingEvent) => {
  trackEvent({ event })
}
const trackWebsiteLinkClick = () => {
  trackEvent({
    event: WEBSITE_OPENED,
  })
}

trackEvent({
  event: TrackingEvent.LOGIN_VIEWED,
})
</script>

<template>
  <ItemDetailsWrapper :item="item">
    <slot name="autofill" />

    <ItemField
      id="username"
      :label="usernameLabel"
      :value="username"
      @copy="trackCopyEvent(USERNAME_COPIED)"
    />

    <PasswordField label="Password" :value="password" @copy="trackCopyEvent(PASSWORD_COPIED)" />

    <ItemField v-if="website" label="Website" :value="website" :copy-button="!primaryUrl">
      <slot v-if="primaryUrl">
        <ExternalLink :url="primaryUrl" class="item-website" @click="trackWebsiteLinkClick">
          <div class="truncated-link-wrapper">
            <span class="truncated-link">{{ website }}</span>
            <ExternalLinkIcon class="external-link-icon" />
          </div>
        </ExternalLink>
      </slot>
    </ItemField>

    <TwoFactorField v-if="totp" :value="totp" @copy="trackCopyEvent(OTP_COPIED)" />

    <NotesField :value="notes" />
  </ItemDetailsWrapper>
</template>

<style scoped>
.item-website {
  @apply min-w-0 flex-1 break-words text-indigo no-underline hover:text-indigo-dark;
}

.external-link-icon {
  @apply inline-block h-5 w-5 shrink-0 grow-0;
}

.truncated-link-wrapper {
  @apply flex max-w-full gap-1;
}
.truncated-link {
  @apply flex-shrink overflow-hidden text-ellipsis whitespace-nowrap;
}

.external-link-icon {
  @apply flex-shrink-0 flex-grow-0;
}

.truncated-link-wrapper {
  @apply flex gap-1;
  max-width: 100%;
}
.truncated-link {
  @apply flex-shrink overflow-hidden text-ellipsis whitespace-nowrap;
}

.external-link-icon {
  @apply flex-shrink-0 flex-grow-0;
}
</style>
