<script setup lang="ts">
import { ref } from 'vue'

import CardHeader from '@core/components/CardHeader.vue'
import FormField from '@core/components/FormField.vue'
import Button from '@core/components/Button.vue'

const teamName = ref<string | null>(null)

const emit = defineEmits<{
  (e: 'create-team', teamName: string): void
}>()

defineProps<{ loading: boolean }>()

const submitForm = () => {
  if (teamName.value) {
    emit('create-team', teamName.value)
  }
}
</script>

<template>
  <CardHeader class="form-header">What's the name of your team/company?</CardHeader>

  <form class="team-name-form" @submit.prevent="submitForm">
    <FormField
      v-model="teamName"
      orientation="vertical"
      label-class="team-name-label"
      label="Name"
      placeholder="E.g. The Three Broomsticks"
      required
    />

    <Button button-style="primary" full-width :loading="loading" class="save-button" type="submit"
      >Save</Button
    >
  </form>
</template>

<style scoped>
.form-header {
  @apply mx-auto;
}

:deep(.team-name-label) {
  @apply mt-6 w-max;
}

.team-name-form {
  @apply w-full;
}

.save-button {
  @apply mt-8 h-10;
}
</style>
