<script setup lang="ts">
import { ref, computed } from 'vue'

import { isEmailAddress } from '@core/utils/isEmailAddress'
import { InvitationError, InvitationErrorType } from '@core/stores/organization'

import Button from '@core/components/Button.vue'
import NotesFormField from '@core/components/NotesFormField.vue'

const props = withDefaults(
  defineProps<{
    loading: boolean
    serverInvitationError: InvitationError[] | null
    label?: string
  }>(),
  {
    label: 'Email address',
  }
)

const emit = defineEmits<{
  (event: 'sendInvitation', emails: string[]): void
}>()

const email = ref<null | string>(null)
const validationErrorMessage = ref<null | string>(null)

const serverErrorMessage = computed(() => {
  if (props.serverInvitationError) {
    return props.serverInvitationError.map(getFriendlyError).join(` `)
  }
  return null
})

const updateEmail = (emailInput: string | null) => {
  email.value = emailInput

  if (!emailInput) {
    validationErrorMessage.value = null
  }
}

const getFriendlyError = (invitationError: InvitationError) => {
  switch (invitationError.error) {
    case InvitationErrorType.AlreadyExists:
      return `${invitationError.email} is already invited.`

    case InvitationErrorType.AlreadyHasAnOrganization:
      return `${invitationError.email} already belongs to an organization.`

    case InvitationErrorType.Unknown:
      return `Something went wrong while inviting ${invitationError.email}.`

    default:
      return `Oops, something went wrong.`
  }
}

const sendOrganizationInvitations = () => {
  if (!email.value?.length) return
  if (!validateEmailAddresses()) return

  const emails = email.value.split(',')
  emit('sendInvitation', emails)
}

/**
 * Validate if the email addresses are in correct format.
 * Returns true if they are valid.
 * Sets `errorMessage` in case an email address isn't valid.
 */
const validateEmailAddresses = () => {
  if (!email.value) return false
  const emails = email.value.split(',').map((email) => email.trim())
  const invalidEmails = emails.filter((e) => !isEmailAddress(e))
  validationErrorMessage.value = invalidEmails.map((e) => `Invalid email address (${e})`).join(' ')
  return !invalidEmails.length
}
</script>

<template>
  <div class="invite-team-members">
    <NotesFormField
      :model-value="email"
      orientation="vertical"
      label-class="email-address-label"
      :label="label"
      placeholder="jane@mail.com, daniel@mail.com, ..."
      required
      @update:model-value="updateEmail"
    />

    <div class="error-message-container">
      <p v-if="validationErrorMessage" class="error-message" v-text="validationErrorMessage" />
      <p v-if="serverErrorMessage" class="error-message" v-text="serverErrorMessage" />
    </div>

    <slot :click="sendOrganizationInvitations" :loading="loading" :disabled="!email">
      <Button
        button-style="primary"
        full-width
        :loading="loading"
        :disabled="!email"
        class="save-button"
        @click="sendOrganizationInvitations"
        >{{ loading ? 'Sending Invite' : 'Send Invite' }}</Button
      >
    </slot>
  </div>
</template>

<style scoped>
.invite-team-members {
  @apply w-full;
}

:deep(.email-address-label) {
  @apply mt-3 w-max;
}

.save-button {
  @apply mt-8 h-10;
}

.error-message {
  @apply mt-3 w-full text-left text-xxs text-red;
}

.error-message-container {
  @apply min-h-[1rem];
}
</style>
