<script setup lang="ts">
import { XIcon } from '@heroicons/vue/outline'

import InviteTeamMembersForm from '@/components/organization/InviteTeamMembersForm.vue'
import Button from '@core/components/Button.vue'

import { InvitationError } from '@core/stores/organization'

const emit = defineEmits<{
  (e: 'close'): void
  (e: 'sendInvitation', emails: string[]): void
}>()

defineProps<{
  loading: boolean
  invitationErrors: InvitationError[] | null
}>()

const sendInvitation = (emails: string[]) => {
  emit('sendInvitation', emails)
}

const closeForm = () => {
  emit('close')
}
</script>

<template>
  <div class="invite-members">
    <header class="invite-members-heading">
      <h3 class="invite-members-title">Invite team members</h3>
      <XIcon class="close-button" :disabled="loading" @click="closeForm" />
    </header>

    <div class="invitation-form">
      <InviteTeamMembersForm
        :server-invitation-error="invitationErrors"
        :loading="loading"
        @send-invitation="sendInvitation"
      >
        <template #default="{ click, disabled }">
          <div class="action-buttons">
            <Button
              class="action-button close-action-button"
              button-style="primary"
              :disabled="loading"
              @click="closeForm"
              >Close</Button
            >
            <Button
              :disabled="disabled"
              :loading="loading"
              class="action-button"
              button-style="primary"
              @click="click"
              >{{ loading ? 'Sending Invites' : 'Send Invites' }}</Button
            >
          </div>
        </template>
      </InviteTeamMembersForm>
    </div>
  </div>
</template>

<style scoped>
.invite-members {
  @apply w-[calc(100vw-2rem)] p-6 md:max-w-[34rem];
}

.invite-members-heading {
  @apply flex w-full justify-between;
}

.close-button {
  @apply h-5 w-5 cursor-pointer text-gray-darkest hover:text-black;
}

.invite-members-title {
  @apply font-spoof text-2xl;
}

.invitation-form {
  @apply mt-6;
}

.action-buttons {
  @apply mt-8 grid grid-cols-2 items-center justify-between gap-7;
}

.action-button {
  @apply h-10;
}

.button.close-action-button {
  @apply border-transparent bg-transparent text-indigo shadow-none hover:bg-transparent hover:ring-2 hover:ring-indigo;
}
</style>
