<script setup lang="ts">
import { computed } from 'vue'
import { TrashIcon } from '@heroicons/vue/outline'

import AvatarAndName from '@core/components/AvatarAndName.vue'

const emit = defineEmits<{
  (e: 'revoke-access'): void
}>()

const props = defineProps<{
  name?: string
  email: string
  picture?: string | null
  lastAccess?: string
  invitationExpired?: boolean
  invitationPending?: boolean
  organization?: string // this should always be available - need to fix this type
}>()

const status = computed(() => {
  if (props.invitationExpired) return 'expired'
  if (props.invitationPending) return 'pending'
  return 'active'
})
</script>

<template>
  <div class="member">
    <AvatarAndName :name="name" :email="email" :picture="picture" />

    <div :class="['status', status]">{{ status }}</div>
    <div v-if="invitationPending || invitationExpired" class="controls">
      <div class="revoke-access-icon-container" @click="emit('revoke-access')">
        <div class="tooltip">Revoke access</div>
        <TrashIcon class="revoke-access-icon" />
      </div>
    </div>
  </div>
</template>

<style scoped>
.member {
  @apply grid h-16 grid-cols-[8fr_6rem_1fr] items-center rounded-lg pl-2;
}

.revoke-access-icon {
  @apply h-5 w-5;
}

.status {
  @apply max-w-max rounded-2xl border  px-4 py-1 text-xs capitalize;
}

.pending {
  @apply border-gray-darkest bg-gray-lightest text-gray-darkest;
}

.expired {
  @apply border-red bg-[rgba(255_242_245_0.7)] text-red;
}

.active {
  @apply border-green-darker bg-green-lightest text-green-darker;
}

.controls {
  @apply w-full;
}

.revoke-access-icon-container {
  @apply relative ml-auto flex h-8 w-8 cursor-pointer items-center justify-center rounded hover:bg-indigo-lighter;
}

.revoke-access-icon-container:hover > .tooltip {
  @apply visible;
}

.tooltip {
  @apply invisible absolute -top-7 right-0 w-max rounded bg-blue-light px-2 py-1 text-xs text-white;
}
</style>
