<script setup lang="ts">
import { XIcon } from '@heroicons/vue/outline'

import Button from '@core/components/Button.vue'

const emit = defineEmits<{
  (e: 'close'): void
  (e: 'revoke'): void
}>()

defineProps<{
  loading: boolean
  email?: string
  organization?: string
}>()

const revoke = () => {
  emit('revoke')
}

const closeForm = () => {
  emit('close')
}
</script>

<template>
  <div class="revoke-access">
    <header class="revoke-access-heading">
      <h3 class="revoke-access-title">Revoke invite</h3>
      <XIcon class="close-button" :disabled="loading" @click="closeForm" />
    </header>

    <div class="revocation">
      <p class="revocation-text">
        Are you sure you want to revoke the invite for {{ email }} to join {{ organization }}?
      </p>

      <div class="action-buttons">
        <Button class="action-button close-action-button" :disabled="loading" @click="closeForm"
          >Cancel</Button
        >
        <Button :loading="loading" class="action-button" button-style="danger" @click="revoke">{{
          loading ? 'Revoking invite' : 'Revoke invite'
        }}</Button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.revoke-access {
  @apply w-[calc(100vw-2rem)] p-6 md:max-w-[34rem];
}

.revoke-access-heading {
  @apply flex w-full justify-between;
}

.close-button {
  @apply h-5 w-5 cursor-pointer text-gray-darkest hover:text-black;
}

.revoke-access-title {
  @apply font-spoof text-2xl;
}

.revocation {
  @apply mt-6 font-book;
}

.revocation-text {
  @apply my-8 mb-12;
}

.action-buttons {
  @apply mt-8 grid grid-cols-2 items-center justify-between gap-7;
}

.action-button {
  @apply h-10;
}

.button.close-action-button {
  @apply border-transparent bg-transparent text-indigo shadow-none hover:bg-transparent hover:ring-2 hover:ring-indigo;
}
</style>
