<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'

import ItemCreateForm from '@core/components/item/ItemCreateForm.vue'
import CreditCardForm from '@core/components/item/creditcard/CreditCardForm.vue'

import { useAddItemStore } from '@core/stores/addItem'
import { Template } from '@core/clients/tilig/item'

const addItemStore = useAddItemStore()
const { newItem, isCreating, isCreated } = storeToRefs(addItemStore)
const itemTemplate = Template.CreditCard

const formIsInvalid = computed(() => !newItem.value.overview.name)
</script>

<template>
  <ItemCreateForm
    :disabled="isCreating || isCreated || formIsInvalid"
    :loading="isCreating"
    :template="itemTemplate"
  >
    <CreditCardForm :item="newItem" />
  </ItemCreateForm>
</template>
