<script setup lang="ts">
import { toRefs } from 'vue'

import CreditCardForm from '@core/components/item/creditcard/CreditCardForm.vue'

import { DecryptedItem } from '@core/clients/tilig/item'

const props = defineProps<{
  item: DecryptedItem
  saving: boolean
}>()
const { item } = toRefs(props)
</script>

<template>
  <CreditCardForm :item="item" orientation="horizontal" />
</template>
