<script setup lang="ts">
import { toRefs, computed, ref } from 'vue'

import FormField from '@core/components/FormField.vue'
import FormInput from '@core/components/FormInput.vue'
import AddExtraInfoButton from '@core/components/item/AddExtraInfoButton.vue'
import NotesFormField from '@core/components/NotesFormField.vue'

import { DecryptedItem } from '@core/clients/tilig'
import { useCreditCardsForm } from '@core/composables/forms'
import { creditCardNumberFormat } from '@core/utils/creditCardNumberFormat'
import { creditCardExpDateFormat } from '@core/utils/creditCardExpDateFormat'

const props = withDefaults(
  defineProps<{
    orientation?: 'vertical' | 'horizontal'
    item: DecryptedItem
  }>(),
  {
    orientation: 'vertical',
  }
)

const { item } = toRefs(props)
const { ccExp, ccHolder, ccNumber, cvv, pin, zipCode, name, notes } = useCreditCardsForm(item)

const showNotesField = ref(!!notes.value)

const stripNonNummeric = (value: string | null) => value?.replaceAll(/[^0-9]+/g, '') || null

// Filter non-nummeric keys but allow meta key commands
const filterNonnumeric = (event: KeyboardEvent) => {
  if (event.metaKey || event.ctrlKey || event.key.length > 1) return
  if (/[^0-9]/i.test(event.key)) event.preventDefault()
}

const formattedCcNumber = computed(() =>
  ccNumber.value ? creditCardNumberFormat(ccNumber.value) : null
)
const formattedCcExp = computed(() => (ccExp.value ? creditCardExpDateFormat(ccExp.value) : null))

// Form is invalid if the name is missing but any other field is filled
const formInvalid = computed(
  () =>
    !name.value &&
    [
      ccExp.value,
      ccHolder.value,
      ccNumber.value,
      cvv.value,
      pin.value,
      zipCode.value,
      notes.value,
    ].some((item) => item)
)
</script>

<template>
  <FormField
    v-slot="inputAttrs"
    v-model="name"
    placeholder="E.g. Work Credit Card"
    :orientation="orientation"
    label="Card Title"
  >
    <FormInput
      class="credit-card-title"
      :class="{ error: formInvalid }"
      :error="formInvalid"
      v-bind="inputAttrs"
    />
  </FormField>

  <FormField
    v-slot="inputAttrs"
    :model-value="formattedCcNumber"
    placeholder="0000 0000 0000 0000"
    label="Card number"
    :orientation="orientation"
    autocomplete="cc-number"
    inputmode="numeric"
    pattern="[0-9 ]+"
    @update:model-value="ccNumber = stripNonNummeric($event)"
  >
    <FormInput v-bind="inputAttrs" @keydown="filterNonnumeric" />
  </FormField>

  <FormField
    v-model="ccHolder"
    placeholder="E.g. Gertjan Jansen"
    label="Cardholder name"
    :orientation="orientation"
    autocomplete="cc-name"
  />

  <FormField
    :model-value="formattedCcExp"
    label="Expiration date"
    placeholder="MM/YY"
    :orientation="orientation"
    autocomplete="cc-exp"
    maxlength="5"
    inputmode="numeric"
    pattern="^(0[1-9]|1[0-2])\/([0-9]{2})$"
    @update:model-value="ccExp = $event"
    @keydown="filterNonnumeric"
  />

  <FormField
    v-model="cvv"
    placeholder="035"
    label="Secure code"
    :orientation="orientation"
    autocomplete="cvv"
    minlength="3"
    maxlength="4"
    inputmode="numeric"
    pattern="^[0-9]{3,4}$"
  />

  <FormField
    v-model="pin"
    placeholder="1242"
    label="Pin code"
    :orientation="orientation"
    autocomplete="pin"
    minlength="3"
    maxlength="4"
    inputmode="numeric"
    pattern="^[0-9]{3,4}$"
  />

  <FormField
    v-model="zipCode"
    label="ZIP"
    placeholder="Enter a ZIP or postal code"
    :orientation="orientation"
  />

  <NotesFormField v-if="showNotesField" v-model="notes" :orientation="orientation" />
  <div v-if="!showNotesField" class="extra-info-button">
    <AddExtraInfoButton @click="showNotesField = true" />
  </div>
</template>

<style scoped>
.credit-card-title.error {
  /* temp for the credit card form now - we should handle this at the input level */
  @apply ring-2 ring-red;
}

.extra-info-button {
  @apply py-2;
}
</style>
