<script setup lang="ts">
import { toRefs, computed } from 'vue'

import { DecryptedItem } from '@core/clients/tilig'
import { useCreditCardsForm } from '@core/composables/forms'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'
import { creditCardNumberFormat } from '@core/utils/creditCardNumberFormat'

import ItemDetailsWrapper from '@core/components/item/ItemDetailsWrapper.vue'
import ItemField from '@core/components/item/ItemField.vue'
import PasswordField from '@core/components/item/PasswordField.vue'
import NotesField from '@core/components/item/NotesField.vue'

const props = defineProps<{
  item: DecryptedItem
}>()

const { item } = toRefs(props)
const { notes, ccExp, ccHolder, ccNumber, cvv, pin, zipCode } = useCreditCardsForm(item)
const { trackEvent } = useTrackingStore()

const formattedCcNumber = computed(() =>
  ccNumber.value ? creditCardNumberFormat(ccNumber.value) : null
)
const maskedCcNumber = computed(() => {
  return ccNumber.value ? `•••• •••• •••• ${ccNumber.value.slice(-4)}` : null
})

trackEvent({
  //TODO check the right events with Sjoerd
  event: TrackingEvent.CREDIT_CARD_VIEWED,
})
</script>

<template>
  <ItemDetailsWrapper :item="item">
    <PasswordField label="Card number" :value="formattedCcNumber" :masked-value="maskedCcNumber" />
    <ItemField label="Cardholder name" :value="ccHolder" />
    <ItemField label="Expiration date" :value="ccExp" />
    <PasswordField label="Secure code" :value="cvv" />
    <PasswordField label="Pin code" :value="pin" />
    <ItemField v-if="zipCode" label="ZIP" :value="zipCode" />
    <NotesField v-if="notes" :value="notes" />
  </ItemDetailsWrapper>
</template>
