<script setup lang="ts">
import { computed, onMounted, reactive, Ref, ref, toRef, watch } from 'vue'

import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'
import { customPassword } from '@core/utils/customPassword'
import { DecryptedDetails, DecryptedItem, DecryptedOverview } from '@core/clients/tilig/item'
import AutoExpandTextarea from '@core/components/AutoExpandTextarea.vue'
import { useLoginForm } from '@core/composables/forms'

import { EyeIcon, EyeOffIcon } from '@heroicons/vue/outline'
import { useItemsStore } from '@core/stores/items'

// TODO: Remove login not limit when legacy encryption is no longer needed
const MAX_LOGIN_NOTE_LENGTH = useItemsStore().maxLoginValueLength

const props = withDefaults(
  defineProps<{
    decryptedItem: DecryptedItem
    saveButtonText?: string
    saveButtonEnabled: boolean
    hideNotes?: boolean
    suggestedEmail?: string
    showPassword?: boolean
  }>(),
  { saveButtonText: 'Save', saveButtonEnabled: false, suggestedEmail: '' }
)

const emit = defineEmits<{
  (e: 'cancel'): void
  (e: 'save', overview: DecryptedOverview, details: DecryptedDetails): void
  (e: 'change', overview: DecryptedOverview, details: DecryptedDetails): void
}>()

// Insure we make a ref copy of DecryptedItem to ensure one-way binding
const formItem = toRef(props, 'decryptedItem')
const { name, website, username, password, notes } = useLoginForm(formItem)

const passwordVisibility = reactive({
  toggledReveal: props.showPassword,
  focused: false,
})

const isCopied = ref(false)

const formError = reactive({
  fields: [] as string[],
})

const loginNameFieldRef: Ref<null | HTMLInputElement> = ref(null)

const suggestedEmailDropdownActive = ref(false)

const noteLength = computed(() => {
  return (
    MAX_LOGIN_NOTE_LENGTH && `(${notes.value ? notes.value.length : 0}/${MAX_LOGIN_NOTE_LENGTH})`
  )
})

const passwordVisible = computed(() => {
  if (passwordVisibility.focused == true) {
    return true
  } else if (passwordVisibility.toggledReveal == true) {
    return true
  }
  return false
})

const passwordType = computed(() => {
  return passwordVisible.value ? 'text' : 'password'
})

const toggleSuggestedEmail = (on: boolean) => {
  if (!props.suggestedEmail) return
  suggestedEmailDropdownActive.value = on
}
const acceptSuggestedEmail = () => {
  username.value = props.suggestedEmail ?? ''
  suggestedEmailDropdownActive.value = false
}

const onFocusEmail = () => {
  if (!username.value) {
    toggleSuggestedEmail(true)
  }
}

const closeSuggestedEmail = () => {
  toggleSuggestedEmail(false)
}

const suggestedPassword = ref('')
const suggestedPasswordDropdownActive = ref(false)
const toggleSuggestedPassword = async (on: boolean) => {
  if (on) {
    // Get a new password each toggle
    suggestedPassword.value = await customPassword()
  }
  suggestedPasswordDropdownActive.value = on
}

const acceptSuggestedPassword = () => {
  password.value = suggestedPassword.value
  suggestedPasswordDropdownActive.value = false
}

const onFocusPassword = () => {
  passwordVisibility.focused = true
  if (!password.value) {
    toggleSuggestedPassword(true)
  }
}

const closeSuggestedPassword = () => {
  passwordVisibility.focused = false
  toggleSuggestedPassword(false)
}

const togglePasswordReveal = () => {
  passwordVisibility.toggledReveal = !passwordVisibility.toggledReveal
}

const onChange = () => {
  emit('change', formItem.value.overview, formItem.value.details)
}

const onSave = () => {
  if (name.value) {
    emit('save', formItem.value.overview, formItem.value.details)
  } else {
    if (formError.fields.indexOf('name') === -1) formError.fields.push('name')
    loginNameFieldRef.value?.focus()
  }
}

const errorState = (fieldName: string) => {
  if (formError.fields.indexOf(fieldName) >= 0) {
    return 'input-error'
  }
  return ''
}

const copyToClipboard = (val: string) => {
  copyStringToClipboard(val)
  isCopied.value = true
  setTimeout(() => (isCopied.value = false), 3000)
}

watch([name, username, password, notes], onChange)

onMounted(() => {
  if (!username.value) {
    loginNameFieldRef.value?.focus()
  }
})
</script>

<template>
  <div>
    <div class="field">
      <div class="label">Login name</div>
      <input
        ref="loginNameFieldRef"
        v-model="name"
        type="text"
        name="username"
        :class="errorState('name')"
      />
    </div>
    <div class="field">
      <div class="label">Email or username</div>
      <input
        v-model="username"
        type="text"
        name="username"
        @focus="onFocusEmail"
        @blur="closeSuggestedEmail"
        @input="closeSuggestedEmail"
      />
      <div
        v-if="suggestedEmailDropdownActive"
        class="suggested-item-dropdown"
        @mousedown.prevent="acceptSuggestedEmail"
      >
        {{ props.suggestedEmail ?? '' }}
      </div>
    </div>
    <div class="field password-field">
      <Transition name="fade"> <div v-if="isCopied" class="copied">Copied</div></Transition>
      <div class="label">Password</div>
      <input
        v-model="password"
        :type="passwordType"
        name="password"
        @focus="onFocusPassword"
        @blur="closeSuggestedPassword"
      />
      <div class="field-buttons">
        <a v-if="passwordVisible" class="reveal-btn" @click="togglePasswordReveal">
          <EyeOffIcon class="icon" />
        </a>
        <a v-else class="reveal-btn" @click="togglePasswordReveal"><EyeIcon class="icon" /></a>
        <div v-if="true" class="copy-btn">
          <a class="copy-button" @click="copyToClipboard(password ?? '')"> Copy </a>
        </div>
      </div>
      <div
        v-if="suggestedPasswordDropdownActive"
        class="suggested-item-dropdown"
        @mousedown="acceptSuggestedPassword"
      >
        <strong>Use suggested: </strong>{{ suggestedPassword }}
      </div>
    </div>
    <div class="field">
      <div class="label">Website</div>
      <input v-model="website" type="text" name="website" />
    </div>
    <div v-if="!hideNotes" class="field">
      <div class="label">Notes {{ noteLength }}</div>
      <AutoExpandTextarea
        v-model="notes"
        placeholder="Enter your text here. Notes are always encrypted."
        :max-length="MAX_LOGIN_NOTE_LENGTH"
      ></AutoExpandTextarea>
    </div>
    <div class="controls">
      <button class="button" @click="$emit('cancel')">Cancel</button>
      <button :disabled="!saveButtonEnabled" class="button is-primary" @click="onSave">
        {{ saveButtonText }}
      </button>
    </div>
  </div>
</template>

<style scoped>
.field {
  @apply relative mt-2 w-full;
}
.field .label {
  @apply mb-[7px] text-xs text-blue-light;
}

input {
  @apply mb-4 w-full rounded-lg border border-gray-light py-2 leading-relaxed text-blue-darkest focus:border-indigo focus:ring-indigo lg:text-base;
}

input.input-error {
  @apply bg-pink-lightest;
}

textarea {
  @apply w-full rounded-lg border-gray-light py-2 leading-relaxed text-blue-darkest focus:border-indigo focus:ring-indigo lg:text-base;
}

.controls {
  @apply mt-2 flex flex-row justify-end;
}

.button {
  @apply cursor-pointer rounded-md border-2 border-transparent px-4 py-2 text-sm text-indigo hover:text-indigo-dark;
}

.button.is-primary {
  @apply rounded-md bg-indigo px-4 py-2 text-sm text-white hover:bg-indigo-dark;
}

.field-buttons {
  @apply absolute right-0 top-8 flex flex-row align-middle;
}
.copy-button {
  @apply cursor-pointer rounded-md border-2 border-transparent py-2 pr-4 text-sm text-indigo hover:text-indigo-dark;
}

.reveal-btn .icon {
  @apply mr-3 mt-0.5 h-5 w-5 cursor-pointer text-indigo hover:text-indigo-dark;
}

.copied {
  @apply /* content: ''; position: absolute; bottom: -15px; left: 50px; border-width: 15px 15px 0; border-style: solid; border-color: #f3961c transparent; display: block;

  width: 0; */
  absolute -top-4
  left-0 z-50
  flex flex-row
  rounded-lg bg-indigo px-3 py-2
  align-middle text-sm
  text-white after:absolute after:bottom-[-8px]
  after:left-[12px] after:block
  after:w-0 after:border-transparent after:border-t-indigo;
}
.copied::after {
  border-width: 8px 8px 0;
}

.password-field {
  @apply relative;
}

.suggested-item-dropdown {
  overflow: hidden;
  @apply absolute top-16 z-50 p-4;
  @apply cursor-pointer rounded-lg border-2 border-solid border-gray text-[1rem];
  @apply overflow-hidden bg-white;
}
</style>
