<script setup lang="ts">
import { reactive, Ref, ref, toRef, watch } from 'vue'

import { DecryptedDetails, DecryptedItem, DecryptedOverview } from '@core/clients/tilig/item'
import AutoExpandTextarea from '@core/components/AutoExpandTextarea.vue'
import { useLoginForm } from '@core/composables/forms'

const props = withDefaults(
  defineProps<{
    decryptedItem: DecryptedItem
    saveButtonText?: string
    saveButtonEnabled: boolean
    hideNotes?: boolean
    suggestedEmail?: string
    showPassword?: boolean
  }>(),
  { saveButtonText: 'Save', saveButtonEnabled: false, suggestedEmail: '' }
)

const emit = defineEmits<{
  (e: 'cancel'): void
  (e: 'save', overview: DecryptedOverview, details: DecryptedDetails): void
  (e: 'change', overview: DecryptedOverview, details: DecryptedDetails): void
}>()

const formItem = toRef(props, 'decryptedItem')
const { name, notes } = useLoginForm(formItem)

const formError = reactive({
  fields: [] as string[],
})

const loginNameFieldRef: Ref<null | HTMLInputElement> = ref(null)

const errorState = (fieldName: string) => {
  if (formError.fields.indexOf(fieldName) >= 0) {
    return 'input-error'
  }
  return ''
}

const onChange = () => {
  emit('change', formItem.value.overview, formItem.value.details)
}
watch([name, notes], onChange)

const onSave = () => {
  if (name.value) {
    emit('save', formItem.value.overview, formItem.value.details)
  } else {
    if (formError.fields.indexOf('name') === -1) formError.fields.push('name')
    loginNameFieldRef.value?.focus()
  }
}
</script>

<template>
  <div>
    <div class="field">
      <div class="label">Name</div>
      <input
        ref="loginNameFieldRef"
        v-model="name"
        type="text"
        name="username"
        :class="errorState('name')"
      />
    </div>
    <div class="field">
      <div class="label">Notes</div>
      <AutoExpandTextarea
        v-model="notes"
        class="notes-textarea"
        placeholder="Enter your text here. Notes are always encrypted."
      ></AutoExpandTextarea>
    </div>
    <div class="controls">
      <button :disabled="!saveButtonEnabled" class="button" @click="$emit('cancel')">Cancel</button>
      <button :disabled="!saveButtonEnabled" class="button is-primary" @click="onSave">
        {{ saveButtonText }}
      </button>
    </div>
  </div>
</template>

<style scoped>
.field {
  @apply relative mt-2 w-full;
}
.field .label {
  @apply mb-[7px] text-xs text-blue-light;
}

input {
  @apply mb-4 w-full rounded-lg border border-gray-light py-2 leading-relaxed text-blue-darkest focus:border-indigo focus:ring-indigo lg:text-base;
}

input.input-error {
  @apply bg-pink-lightest;
}

.notes-textarea {
  @apply w-full rounded-lg border-gray-light py-2 leading-relaxed text-blue-darkest focus:border-indigo focus:ring-indigo lg:text-base;
}

.controls {
  @apply mt-2 flex flex-row justify-end;
}

.button {
  @apply cursor-pointer rounded-md border-2 border-transparent px-4 py-2 text-sm text-indigo hover:text-indigo-dark;
}

.button.is-primary {
  @apply rounded-md bg-indigo px-4 py-2 text-sm text-white hover:bg-indigo-dark;
}
</style>
