<script setup lang="ts">
import { onMounted } from 'vue'
import { useTrackingStore } from '@core/stores/tracking'

import { BROWSER_EXTENSION_INSTALL_SKIP_DIALOG_APPEARED } from '@core/utils/trackingConstants'

import Button from '@core/components/Button.vue'
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'

const { trackEvent } = useTrackingStore()

onMounted(() => {
  trackEvent({ event: BROWSER_EXTENSION_INSTALL_SKIP_DIALOG_APPEARED })
})

const emit = defineEmits<{ (e: 'install'): void; (e: 'skip'): void }>()
</script>

<template>
  <div class="dialog-container" tabindex="0">
    <CardHeader class="header">You're missing out on important features!</CardHeader>

    <CardParagraph class="text"
      >Are you sure you don't want to try Tilig in your browser?</CardParagraph
    >

    <ul class="benefits-list">
      <li>Automatically save logins</li>
      <li>Autofill login and sign-up forms</li>
      <li>Get strong password suggestions</li>
      <li>All data encrypted on your device</li>
      <li>Users love it! 5 stars reviews on average. ⭐️⭐️⭐️⭐️⭐️</li>
    </ul>

    <div class="button-container">
      <!-- We should probably make a "borderless" button style since this look recurring in our new designs -->
      <Button class="skip-installation" full-width @click="emit('skip')"
        >No, I'll do this later
      </Button>

      <Button class="install-button" button-style="primary" @click="emit('install')"
        ><template #label>Install now</template>
      </Button>
    </div>
  </div>
</template>

<style scoped>
.header {
  @apply max-w-none pl-0 text-center;
}

.text {
  @apply max-w-none text-center;
}

.dialog-container {
  @apply p-4;
}

.benefits-list {
  @apply mx-4 my-6 flex list-disc flex-col gap-0 rounded-lg bg-indigo-lighter px-8 py-4 text-sm;
}

.button-container {
  @apply my-3 mt-8 flex gap-4;
}

.skip-installation {
  @apply cursor-pointer border-0 p-0 text-xs text-gray-darkest shadow-none hover:bg-transparent hover:text-gray-dark;
}

.install-button {
  @apply w-full shadow-xs;
}
</style>
