<script setup lang="ts">
import { onMounted, onUnmounted, ref, watchEffect, computed } from 'vue'
import { useRouter } from 'vue-router'

import Button from '@core/components/Button.vue'
import Container from '@core/components/onboarding/OnboardingContainer.vue'
import onboardingInstallIllustration from '@core/assets/onboarding/onboarding-install.svg'
import ChromeIcon from '@core/components/icons/ChromeIcon.vue'
import EdgeIcon from '@core/components/icons/EdgeIcon.vue'
import OperaIcon from '@core/components/icons/OperaIcon.vue'
import Header from '@core/components/CardHeader.vue'
import Text from '@core/components/CardParagraph.vue'
import Notification from '@core/components/onboarding/OnboardingNotification.vue'
import Modal from '@core/components/Modal.vue'
import ExtensionInstallSkipDialog from './InstallExtensionSkipDialog.vue'

import {
  BROWSER_EXTENSION_INSTRUCTIONS_APPEARED,
  BROWSER_EXTENSION_STORE_OPENED,
  BROWSER_EXTENSION_INSTALLED_FROM_WEB,
  BROWSER_EXTENSION_INSTALL_SKIPPED,
} from '@core/utils/trackingConstants'
import { useTrackingStore } from '@core/stores/tracking'
import { useOnboardingStore } from '@core/stores/onboarding'
import { useFlagsStore } from '@core/stores/flags'

let installationNotificationTimeout = 0
const INSTALLATION_NOTIFICATION_DELAY = 5000

const webStoreOpened = ref(false)
const successHandled = ref(false)
const showInstallationNotice = ref(false)
const canSkip = ref(false)
const showSkipDialog = ref(false)

const onboardingStore = useOnboardingStore()
const { trackEvent } = useTrackingStore()
const router = useRouter()

const extensionInstalled = computed(() => onboardingStore.extensionInstalled)
const browserName = computed(() => onboardingStore.browserSpecificWebstore?.browserName)
const browserIsChrome = computed(() => browserName.value === 'Chrome')
const browserIsOpera = computed(() => browserName.value === 'Opera')

const browserIcon = computed(() => {
  if (browserIsChrome.value) return ChromeIcon
  if (browserIsOpera.value) return OperaIcon
  return EdgeIcon
})

const { isEnabled } = useFlagsStore()

onMounted(() => {
  window.addEventListener('message', handleWindowMessage)

  if (!onboardingStore.browserSpecificWebstore) {
    router.push({
      name: 'items',
    })
    return
  }

  trackEvent({
    event: BROWSER_EXTENSION_INSTRUCTIONS_APPEARED,
    properties: {
      trigger: 'Onboarding',
    },
  })

  if (isEnabled('web-onboarding-skip_ext_install', { track: true })) {
    canSkip.value = true
  }
})

onUnmounted(() => {
  window.removeEventListener('message', handleWindowMessage)
  clearTimeout(installationNotificationTimeout)
})

const openWebExtensionStore = () => {
  webStoreOpened.value = true
  showInstallationNotice.value = false
  trackEvent({ event: BROWSER_EXTENSION_STORE_OPENED })
  window.open(onboardingStore.browserSpecificWebstore?.webstoreLink, '_blank')

  installationNotificationTimeout = window.setTimeout(() => {
    showInstallationNotice.value = true
    webStoreOpened.value = false
  }, INSTALLATION_NOTIFICATION_DELAY)
}

const handleSkip = () => {
  trackEvent({ event: BROWSER_EXTENSION_INSTALL_SKIPPED })

  router.push({
    name: 'getting-started',
  })
}

const handleWindowMessage = (event: Event & { data: { extensionInstalled: boolean } }) => {
  if (event.data.extensionInstalled) {
    onSuccess()
  }
}

const onSuccess = (trackInstall = true) => {
  // Prevent success handle from firing multitple times.
  if (successHandled.value) {
    return
  }
  successHandled.value = true
  onboardingStore.extensionInstalled = true
  if (trackInstall) {
    trackEvent({ event: BROWSER_EXTENSION_INSTALLED_FROM_WEB })
  }

  router.push({
    name: 'onboarding-step-install-success',
  })
}

watchEffect(() => {
  if (extensionInstalled.value) {
    onSuccess()
  } else {
    console.log(`extension is not installed`)
  }
})

const setDialogVisibility = (visible: boolean) => {
  showSkipDialog.value = visible
}
</script>

<template>
  <Container :step="2">
    <Header class="onboarding-title">Add Tilig to your browser</Header>
    <Text class="onboarding-sub-title">Get instant access to your passwords in the browser</Text>

    <img :src="onboardingInstallIllustration" class="installation-illustration" />

    <Notification v-if="!extensionInstalled && showInstallationNotice">
      Tilig is not installed in your browser yet. Would you like to try again?
    </Notification>

    <Button
      v-if="!extensionInstalled || showInstallationNotice"
      button-style="primary"
      :loading="webStoreOpened"
      class="install-extension"
      @click="openWebExtensionStore"
    >
      <template v-if="!webStoreOpened">
        <component :is="browserIcon" class="browser-icon" />
        Go to the {{ browserName }} store
      </template>
    </Button>

    <Button
      v-if="showInstallationNotice || canSkip"
      full-width
      class="skip-installation"
      @click="setDialogVisibility(true)"
      ><template #label> Skip this </template>
    </Button>

    <Modal :open="showSkipDialog" @close-modal="setDialogVisibility(false)">
      <ExtensionInstallSkipDialog @skip="handleSkip" @install="openWebExtensionStore" />
    </Modal>
  </Container>
</template>

<style scoped>
.onboarding-title {
  @apply mb-2 mt-4;
}
.onboarding-sub-title {
  @apply my-0 max-w-[313px] leading-form;
}

.installation-illustration {
  @apply my-4;
}

.install-extension {
  @apply mb-2 mt-3 flex w-[240px] items-center justify-center p-3;
}

.browser-icon {
  @apply mr-3 h-6 w-6;
}

.skip-installation {
  @apply mt-4 cursor-pointer border-0 p-0 text-xs text-gray-darkest shadow-none hover:bg-transparent hover:text-gray-dark;
}
</style>
