<script setup lang="ts">
import { useRouter } from 'vue-router'

import Container from '@core/components/onboarding/OnboardingContainer.vue'
import Header from '@core/components/CardHeader.vue'
import Text from '@core/components/CardParagraph.vue'
import onboardingInstallIllustration from '@core/assets/onboarding/onboarding-install.svg'

import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'
import Button from '@core/components/Button.vue'

const router = useRouter()
const { trackEvent } = useTrackingStore()

trackEvent({
  event: TrackingEvent.BROWSER_EXTENSION_INSTALLED_FROM_WEB,
})
</script>

<template>
  <Container :show-steps="false">
    <Header class="title">Installation successful!</Header>
    <img :src="onboardingInstallIllustration" />

    <div class="body">
      <Text>Tilig is now available in your browser.</Text>
      <Button
        button-style="primary"
        @click="
          router.push({
            name: 'getting-started',
          })
        "
        >Continue Setup</Button
      >
    </div>
  </Container>
</template>

<style scoped>
.title {
  @apply my-6 max-w-[250px];
}

.body {
  @apply my-4;
}
</style>
