<script setup lang="ts">
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import Container from '@core/components/onboarding/OnboardingContainer.vue'
import Header from '@core/components/CardHeader.vue'
import Button from '@core/components/Button.vue'
import InviteTeamMembersForm from '@/components/organization/InviteTeamMembersForm.vue'

import { useOrganizationStore } from '@core/stores/organization'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const router = useRouter()
const organizationStore = useOrganizationStore()
const { trackEvent } = useTrackingStore()

const { isSendingOrganizationInvitation, invitationErrors } = storeToRefs(organizationStore)
const sendOrganizationInvitations = async (emails: string[]) => {
  const invitationsSent = await organizationStore.sendOrganizationInvitations(emails)

  if (invitationsSent) router.push({ name: `onboarding-step-install` })
}

const skip = () => {
  trackEvent({
    event: TrackingEvent.INVITE_MEMBERS_SKIPPED,
  })

  router.push({ name: `onboarding-step-install` })
}

trackEvent({
  event: TrackingEvent.INVITE_MEMBERS_APPEARED,
})
</script>

<template>
  <Container :step="1">
    <Header>Invite team members</Header>

    <p>Tilig is meant to be used with your team. Invite a co-worker to try it out with.</p>

    <InviteTeamMembersForm
      :loading="isSendingOrganizationInvitation"
      :server-invitation-error="invitationErrors"
      @send-invitation="sendOrganizationInvitations"
    />
    <Button
      button-style="outline-default"
      class="skip-button"
      label-class="skip-button-label"
      full-width
      @click="skip"
      >Skip for now</Button
    >
  </Container>
</template>

<style scoped>
.invite-team-members {
  @apply w-full pt-4;
}

/* Temp fix to hide the textarea label */
:deep(.email-address-label) {
  @apply hidden;
}

.save-button {
  @apply mt-8 h-10;
}

.error-message {
  @apply mt-3 min-h-[1rem] w-full text-left text-xxs text-red;
}

.skip-button {
  @apply mt-4 cursor-pointer border-0 p-0 text-xs text-gray-darkest shadow-none hover:bg-transparent hover:text-gray-dark;
}

:deep(.skip-button-label) {
  @apply text-xs;
}
</style>
