<script setup lang="ts">
import { useRouter } from 'vue-router'

import Container from '@core/components/onboarding/OnboardingContainer.vue'
import Header from '@core/components/CardHeader.vue'
import Button from '@core/components/Button.vue'

import { useOnboardingStore } from '@core/stores/onboarding'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'
import { AccountType } from '@core/clients/tilig'

const router = useRouter()

const { setAccountType } = useOnboardingStore()
const { trackEvent, trackPerson } = useTrackingStore()

const handleClick = (accountType: AccountType) => {
  setAccountType(accountType)

  trackEvent({
    event: TrackingEvent.ACCOUNT_TYPE_SELECTED,
    properties: {
      accountType,
    },
  })

  trackPerson({ audience: accountType })

  if (accountType === AccountType.Business) {
    router.push({ name: `onboarding-team-name` })
  } else {
    router.push({ name: `onboarding-step-install` })
  }
}

trackEvent({
  event: TrackingEvent.SELECT_ACCOUNT_TYPE_APPEARED,
})
</script>

<template>
  <Container :step="0">
    <Header class="onboarding-title">How do you plan on using Tilig?</Header>
    <div class="buttons-container">
      <Button button-style="primary" @click="handleClick(AccountType.Business)">For work</Button>
      <Button @click="handleClick(AccountType.Personal)">Personally</Button>
    </div>
    <div class="free-explanation">(Don't worry, both are 100% free)</div>
  </Container>
</template>

<style scoped>
.onboarding-title {
  @apply mb-2 mt-4;
}
.buttons-container {
  @apply mt-4 flex gap-2 pt-4;
}

.link-both {
  @apply mt-4 cursor-pointer border-0 p-0 text-xs text-gray-darkest shadow-none hover:bg-transparent hover:text-gray-dark;
}

.free-explanation {
  @apply mt-4 text-xs text-gray-darkest;
}
</style>
