<script setup lang="ts">
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'

import Container from '@core/components/onboarding/OnboardingContainer.vue'
import CreateTeamForm from '@/components/organization/CreateTeamForm.vue'

import { useOrganizationStore } from '@core/stores/organization'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const router = useRouter()
const organizationStore = useOrganizationStore()
const { trackEvent } = useTrackingStore()

const setName = async (teamName: string) => {
  if (!teamName) return

  const nameSet = await organizationStore.setOrganizationName(teamName)

  if (nameSet) {
    router.push({ name: `onboarding-team-invitation` })
  }
}

onMounted(async () => {
  trackEvent({
    event: TrackingEvent.SET_TEAM_NAME_APPEARED,
  })

  if (!organizationStore.ready) {
    await organizationStore.initialize()
  }
})
</script>

<template>
  <Container :step="1">
    <CreateTeamForm :loading="organizationStore.isCreatingOrganization" @create-team="setName" />
  </Container>
</template>
