<script setup lang="ts">
import { useRouter } from 'vue-router'
import BaseButton from './next/BaseButton.vue'

const props = defineProps<{
  website?: string
  title?: string
}>()

const router = useRouter()

const addLogin = () => {
  router.push({
    name: 'new-secret',
    query: {
      name: props.title,
      website: props.website,
      // blank tells "New Secret" to ignore the current page and brand and start with an empty/Untitled Account
      blank: 'true',
      template: 'login/1',
    },
  })
}
</script>

<template>
  <div class="flex items-center justify-between rounded-lg bg-indigo-lighter px-3 py-2">
    <div class="flex flex-col gap-1">
      <p class="text-sm leading-none text-indigo-darkest">{{ website }}</p>
      <p class="text-xs leading-none">Add a new login for this website</p>
    </div>
    <BaseButton text="Add login" variant="primary" size="small" @click="addLogin" />
  </div>
</template>
