<script setup lang="ts">
import Spinner from '@core/components/icons/Spinner.vue'
</script>

<template>
  <div class="loading-indicator">
    <Spinner class="indigo-spinner" />
  </div>
</template>
<style scoped>
.loading-indicator {
  @apply flex h-full items-center justify-center;
}

.indigo-spinner {
  @apply h-12 w-12 text-indigo;
}
</style>
