<script setup lang="ts">
import { computed } from 'vue'

import Card from '@core/components/Card.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import AuthProviderButtons from '@core/components/AuthProviderButtons.vue'

import { AuthProvider } from '@core/stores/auth'
import { authProviderNames } from '@core/utils/authProviders'
import { openExtensionTab } from '@/utils/tabUtils'

const props = defineProps<{ newTab?: boolean }>()

const supportedProviders: AuthProvider[] = ['google', 'apple', 'microsoft']
const providerNameList = computed(() => authProviderNames(supportedProviders))

const signInWith = (provider: AuthProvider) => {
  if (!provider || !supportedProviders.includes(provider)) return

  if (props.newTab) {
    // This one opens a new tab from the popup
    openExtensionTab(`/src/ui/login/index.html?provider=${provider}`)
  } else {
    // We just installed
    window.location.href = chrome.runtime.getURL(
      `/src/ui/login/index.html?provider=${provider}&continue=setup`
    )
  }
}
</script>

<template>
  <Card>
    <CardContentWrapper>
      <TiligLogoImageMark :width="25" :height="27" />
      <CardHeader>Continue to Tilig</CardHeader>

      <div
        class="border-lg m-6 mt-0 rounded-md border-2 border-indigo bg-indigo-lightest px-2 py-1 text-center text-sm"
      >
        <p>
          <strong class="uppercase">Urgent:</strong>
        </p>
        <p>Tilig shuts down <strong>April 30th, 2023</strong>.</p>
        <p>
          <a
            target="_blank"
            class="text-indigo underline"
            href="https://www.tilig.com/post/shutdown"
            >Read more</a
          >
        </p>
      </div>

      <CardParagraph>Get started by signing in with {{ providerNameList }}.</CardParagraph>

      <AuthProviderButtons prepend="Continue with" @sign-in-with="signInWith" />
    </CardContentWrapper>
  </Card>
</template>
