<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'

import CloseIcon from '@core/components/icons/CloseIcon.vue'
import TiligLogoIcon from '@core/components/icons/TiligLogoIcon.vue'
import { ChevronLeftIcon } from '@heroicons/vue/outline'
import { CogIcon } from '@heroicons/vue/solid'

const props = defineProps<{
  siteName?: string | null
  primaryTitle?: string | null
  brandColor?: string | null
  isItemView?: boolean
  hasBackButton?: boolean
}>()

defineEmits<{ (e: 'back'): void }>()
const router = useRouter()

const brandColorHex = computed(() => {
  return props.brandColor || null
})

const menuStyle = computed((): { [key: string]: string } => {
  const style: { [key: string]: string } = {}
  if (brandColorHex.value) {
    style['backgroundColor'] = brandColorHex.value ?? ''
  }
  return style
})

const toSettings = () => {
  router.push({ name: 'settings' })
}
</script>

<template>
  <nav class="menu-bar">
    <div class="menu-bar-brand" :style="menuStyle">
      <svg v-if="isItemView" class="bubble-right" viewBox="0 0 207.8 218">
        <rect x="-949.2" fill="none" width="1157" height="218" />
        <path
          fill="#FFFFFF"
          fill-opacity="0.25"
          d="M207.8,0H0c12.3,17.6,27.9,36,40.3,49.9c26.9,29.9,38.6,38.7,66.6,75.3c21.5,28.1,52.7,72.7,85.3,92.8h15.6  V0z"
        />
      </svg>
      <div v-if="!isItemView" class="blurp-yellow" />
      <div v-if="!isItemView" class="blurp" />
      <div v-if="!isItemView" class="tilig-index">
        <div class="back-icon">
          <a v-if="hasBackButton" class="close-left" @click.prevent="$emit('back')">
            <CloseIcon class="menu-icon h-8 w-8 p-2" />
          </a>
        </div>
        <div class="primary-title">
          <a
            v-if="!(primaryTitle && primaryTitle.length > 0)"
            href="https://app.tilig.com/"
            target="_blank"
            class="logo-container"
          >
            <TiligLogoIcon :height="30" class="m-auto" />
          </a>
          <h1 v-else>{{ primaryTitle }}</h1>
        </div>
        <div class="settings-container">
          <CogIcon
            v-if="!hasBackButton"
            class="text-black-500 menu-icon ml-auto h-8 w-8 p-1"
            @click="toSettings"
          />
        </div>
      </div>
      <div v-if="isItemView" class="tilig-secret">
        <div v-if="hasBackButton" class="back-icon">
          <a class="chevron-left" @click.prevent="$emit('back')">
            <ChevronLeftIcon class="h-7 w-7" />
          </a>
        </div>
        <div v-else class="back-icon"></div>
        <div class="site-icon">
          <div class="item-icon-box">
            <div class="item-icon">
              <slot></slot>
            </div>
          </div>
          <h3 v-if="primaryTitle">{{ primaryTitle }}</h3>
          <h3 v-else>&nbsp;</h3>
        </div>
      </div>
    </div>
  </nav>
</template>

<style scoped>
h3 {
  @apply w-72 overflow-hidden text-ellipsis whitespace-nowrap pt-2 text-center text-lg;
}

.logo {
  @apply border-4 border-white;
}

.bubble-left {
  @apply absolute -left-10 top-0 h-52;
}

.bubble-right {
  @apply absolute -right-20 top-0 h-52;
}

.menu-bar-brand {
  @apply relative h-full overflow-hidden bg-blue-darkest;
}

.tilig-index {
  @apply relative flex h-[48px] flex-row p-3 text-white;
}

.back-icon {
  @apply flex-1 self-center;
}

.primary-title {
  @apply self-center;
}

.settings-container {
  @apply flex-1 cursor-pointer self-center text-blue-darkest;
}

.tilig-secret {
  @apply relative grid justify-center p-4 pb-4 pt-4 text-white;
  grid-template-columns: 1fr auto 1fr;
}

.tilig-secret .site-icon {
  @apply flex flex-[1_1_100%] flex-col items-center pt-4;
}

.tilig-edit {
  @apply relative grid justify-center p-4 pb-4 pt-4 text-white;
  grid-template-columns: 1fr auto 1fr;
}

.tilig-edit .site-icon {
  @apply flex flex-[1_1_100%] flex-col items-center pt-4;
}

.site-icon img {
  @apply h-16 w-16 rounded-2xl bg-white;
}

.chevron-left {
  @apply cursor-pointer self-center hover:text-gray-light;
}

.close-left {
  @apply cursor-pointer self-center text-blue-darkest;
}

.blurp {
  @apply absolute h-96 w-[360px] -translate-x-[18rem] -translate-y-[8rem] transform rounded-full bg-pink;
}
.blurp-yellow {
  @apply absolute h-96 w-[360px] -translate-y-[14rem] translate-x-[21rem] transform rounded-full bg-yellow;
}
.menu-icon {
  @apply rounded-md hover:bg-white hover:bg-opacity-50;
}
.item-icon-box {
  @apply box-border flex h-16 w-16 items-center justify-center rounded-lg border-gray-dark bg-white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.item-icon {
  @apply h-12 w-12 flex-shrink-0 flex-grow-0 rounded-md object-contain;
}
</style>
