<script setup lang="ts">
import { computed } from 'vue'
import { nameForProvider } from '@core/utils/authProviders'

import Spinner from '@core/components/icons/Spinner.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'
import Card from '@core/components/Card.vue'
import CardContainer from '@core/components/CardContainer.vue'
import { AuthProvider } from '@core/stores/auth'

withDefaults(defineProps<{ loginError?: boolean }>(), {
  loginError: false,
})

const loadingText = computed(() => {
  const urlParams = new URLSearchParams(window.location.search)
  if (urlParams.has('provider')) {
    const name = nameForProvider(urlParams.get('provider') as AuthProvider)
    return `Signing in with ${name}…`
  }
  return `Signing in...`
})
</script>

<template>
  <CardContainer>
    <Card class="login-card">
      <CardContentWrapper>
        <TiligLogoImageMark :width="25" :height="27" />
        <CardHeader v-if="!loginError">Signing in</CardHeader>

        <div>
          <div v-if="!loginError" class="loading-indicator">
            <Spinner class="indigo-spinner" />
          </div>

          <CardParagraph v-if="!loginError">{{ loadingText }}</CardParagraph>
          <CardParagraph v-else class="mt-6"
            >Could not log you in. Try again by refreshing this screen.</CardParagraph
          >
        </div>
      </CardContentWrapper>
    </Card>
  </CardContainer>
</template>
<style scoped>
.login-card {
  @apply max-w-[433px];
}
.loading-indicator {
  @apply mb-10 mt-6 flex items-center justify-center;
}

.indigo-spinner {
  @apply h-24 w-24 text-indigo;
}
</style>
