<template>
  <svg
    viewBox="0 0 20 22"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g
      id="UI---Extension-V2---Delivery-July"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="1.3.1-Search-edge-cases"
        transform="translate(-46.000000, -239.000000)"
        fill="#A1A1BA"
        fill-rule="nonzero"
      >
        <path
          id="Shape"
          d="M58,239 L58,241.444444 L63,241.444444 C64.5743865,241.444444 66,242.76962 66,244.217526 L65.9978365,250.74319 C65.9214905,254.150652 63.8296085,257.256001 60.5317299,258.832996 L56,261 L51.4682701,258.832996 C48.1081671,257.226246 46,254.032926 46,250.55 L46,244.217526 C46,242.76962 47.4256136,241.444444 49,241.444444 L54,241.444444 L54,239 L58,239 Z M49.0236973,251.004476 C48.4099265,251.056937 47.9533105,251.556665 48.003817,252.120649 L48.0157629,252.254045 L48.0345023,252.431735 C48.2638754,254.320729 49.4170015,255.818528 51.1911419,256.793391 L51.3053699,256.856157 L51.3854309,256.896171 C51.899241,257.128429 52.5335184,256.960482 52.8375027,256.49777 C53.1574861,256.010704 52.9903225,255.381471 52.4641324,255.092337 L52.3499044,255.029571 L52.2161565,254.953063 C51.0725148,254.272487 50.3511627,253.32298 50.2384236,252.06407 L50.2264777,251.930674 L50.2166044,251.854722 C50.1268608,251.329957 49.6095694,250.954401 49.0236973,251.004476 Z"
        ></path>
      </g>
    </g>
  </svg>
</template>
