<template>
  <svg
    id="Layer_1"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 15 19"
    style="enable-background: new 0 0 15 19"
    xml:space="preserve"
  >
    <path
      id="_xF8FF_"
      d="M7.7,4.4c0.8,0,1.9-0.6,2.5-1.4c0.6-0.7,1-1.7,1-2.7c0-0.1,0-0.3,0-0.4c-0.9,0-2,0.6-2.7,1.4
  C7.9,2.1,7.4,3,7.4,4c0,0.1,0,0.3,0,0.3C7.5,4.4,7.6,4.4,7.7,4.4z M4.8,19c1.1,0,1.6-0.8,3.1-0.8c1.4,0,1.8,0.8,3,0.8
  c1.2,0,2.1-1.2,2.9-2.3c0.9-1.3,1.2-2.6,1.3-2.7c-0.1,0-2.5-1-2.5-3.8c0-2.4,1.9-3.5,2-3.6c-1.2-1.8-3.1-1.9-3.6-1.9
  c-1.4,0-2.5,0.9-3.2,0.9c-0.8,0-1.8-0.8-3-0.8c-2.3,0-4.6,2-4.6,5.7c0,2.3,0.9,4.7,1.9,6.3C2.8,17.9,3.6,19,4.8,19z"
    />
  </svg>
</template>
