<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
    <path
      d="M15.7559223,0.244077682 C16.0596634,0.547818798 16.0799128,1.02769908 15.8166705,1.35492542 L15.7559223,1.42258898 L9.178,8 L15.7559223,14.577411 C16.0813592,14.9028479 16.0813592,15.4304854 15.7559223,15.7559223 C15.4521812,16.0596634 14.9723009,16.0799128 14.6450746,15.8166705 L14.577411,15.7559223 L8,9.178 L1.42258898,15.7559223 C1.09715207,16.0813592 0.569514592,16.0813592 0.244077682,15.7559223 C-0.0596634335,15.4521812 -0.0799128412,14.9723009 0.183329459,14.6450746 L0.244077682,14.577411 L6.822,8 L0.244077682,1.42258898 C-0.0813592274,1.09715207 -0.0813592274,0.569514592 0.244077682,0.244077682 C0.547818798,-0.0596634335 1.02769908,-0.0799128412 1.35492542,0.183329459 L1.42258898,0.244077682 L8,6.822 L14.577411,0.244077682 C14.9028479,-0.0813592274 15.4304854,-0.0813592274 15.7559223,0.244077682 Z"
    />
  </svg>
</template>
