<template>
  <svg
    id="Layer_1"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 18 18"
    style="enable-background: new 0 0 18 18"
    xml:space="preserve"
  >
    <g id="logo_googleg_48dp" transform="translate(15.000000, 15.000000)">
      <path
        id="Shape"
        class="google-icon-st0"
        d="M2.6-5.8c0-0.6-0.1-1.3-0.2-1.8H-6v3.5h4.8C-1.4-3-2-2.1-3-1.4v2.3H0C1.7-0.7,2.6-3.1,2.6-5.8
    L2.6-5.8z"
      />
      <path
        id="Shape_00000173146921187411462870000009770491697800079780_"
        class="google-icon-st1"
        d="M-6,3c2.4,0,4.5-0.8,6-2.2L-3-1.4
    c-0.8,0.5-1.8,0.9-3,0.9c-2.3,0-4.3-1.6-5-3.7h-3V-2C-12.6,1-9.5,3-6,3L-6,3z"
      />
      <path
        id="Shape_00000147220277304845626920000007086609384362610347_"
        class="google-icon-st2"
        d="M-11-4.3c-0.2-0.5-0.3-1.1-0.3-1.7
    s0.1-1.2,0.3-1.7V-10h-3c-0.6,1.2-1,2.6-1,4s0.3,2.8,1,4L-11-4.3L-11-4.3z"
      />
      <path
        id="Shape_00000139275602987315770060000006841606474294815638_"
        class="google-icon-st3"
        d="M-6-11.4c1.3,0,2.5,0.5,3.4,1.3L0-12.7
    C-1.5-14.1-3.6-15-6-15c-3.5,0-6.6,2-8,5l3,2.3C-10.3-9.8-8.3-11.4-6-11.4L-6-11.4z"
      />
      <path
        id="Shape_00000142873604295911290990000010552727695582064575_"
        class="google-icon-st4"
        d="M-15-15H3V3h-18V-15z"
      />
    </g>
  </svg>
</template>
<style type="text/css">
.google-icon-st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4285f4;
}
.google-icon-st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #34a853;
}
.google-icon-st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fbbc05;
}
.google-icon-st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ea4335;
}
.google-icon-st4 {
  fill: none;
}
</style>
