<script setup lang="ts">
import { type Component, computed } from 'vue'

import { EncryptedItem } from '@core/clients/tilig'
import { Brand, safeTemplate, Template } from '@core/clients/tilig/item'

import AcornIcon from './AcornIcon.vue'
import CreditCardIcon from './CreditCardIcon.vue'
import SecureNoteIcon from './SecureNoteIcon.vue'
import WifiIcon from './WifiIcon.vue'
import CustomIcon from './CustomIcon.vue'

const itemIconMap = new Map<Template, Component>([
  [Template.CreditCard, CreditCardIcon],
  [Template.SecureNote, SecureNoteIcon],
  [Template.WiFi, WifiIcon],
  [Template.Custom, CustomIcon],
])

/**
 * ItemIcon accepts a variety of props for determining the best icon
 *
 * If you pass an Item, we make a determination based on it's template type
 * and whether or not it has a brand associated (in the carse of Login type)
 *
 * You can also pass in a brand directly, this may occur when creating a new
 * item, where you seperately query for the brand.
 *
 * Finally, you can just submit the `iconUrl` directly if required
 */
const props = defineProps<{
  item?: EncryptedItem | null
  brand?: Brand | null
  iconUrl?: string | null
}>()

const iconUrlSrc = computed((): string | null => {
  if (props.iconUrl) return props.iconUrl
  if (props.brand && props.brand.logo_icon_source) {
    return props.brand.logo_icon_source
  }
  if (props.item && props.item.template == Template.Login) {
    if (props.item?.brand?.logo_icon_source) {
      return props.item.brand.logo_icon_source
    }
  }
  return null
})

const itemIcon = computed(() => {
  if (!props.item?.template) return AcornIcon
  return itemIconMap.get(props.item.template) || AcornIcon
})

const cleanedTemplate = computed(() => safeTemplate(props.item?.template))
</script>

<template>
  <div class="icon-container" aria-hidden>
    <img v-if="iconUrlSrc" :src="iconUrlSrc" class="icon" :class="cleanedTemplate" />
    <Component :is="itemIcon" v-else class="icon" :class="cleanedTemplate" />
  </div>
</template>

<style scoped>
.icon {
  @apply w-full rounded-md object-fill text-black;
}

.icon.wifi-1 {
  @apply text-cyan;
}

.icon.creditcard-1 {
  @apply text-green-darkest;
}

.icon.securenote-1 {
  @apply text-indigo;
}

.icon.custom-1 {
  @apply text-pink;
}
</style>
