<template>
  <svg
    width="21px"
    height="20px"
    viewBox="0 0 21 20"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>14C0CB5A-6ED0-4B7F-A207-C04974EB2044</title>
    <g id="UI---Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        id="0.-Login-/-sign-up"
        transform="translate(-604.000000, -634.000000)"
        fill-rule="nonzero"
      >
        <g id="box" transform="translate(508.000000, 264.000000)">
          <g id="btn-microsoft" transform="translate(62.000000, 352.000000)">
            <g id="Group" transform="translate(34.500000, 15.000000)">
              <g id="logo-microsoft" transform="translate(0.000000, 3.000000)">
                <polygon id="Path" fill="#F25022" points="0 0 9.5 0 9.5 9.5 0 9.5"></polygon>
                <polygon id="Path" fill="#7FBA00" points="10.5 0 20 0 20 9.5 10.5 9.5"></polygon>
                <polygon id="Path" fill="#00A4EF" points="0 10.5 9.5 10.5 9.5 20 0 20"></polygon>
                <polygon
                  id="Path"
                  fill="#FFB900"
                  points="10.5 10.5 20 10.5 20 20 10.5 20"
                ></polygon>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
