<template>
  <svg
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1000 1000"
    style="enable-background: new 0 0 1000 1000"
    xml:space="preserve"
    width="48px"
    height="48px"
  >
    <g>
      <linearGradient
        id="SVGID_1_"
        gradientUnits="userSpaceOnUse"
        x1="416.6229"
        y1="16.304"
        x2="416.6229"
        y2="985.446"
      >
        <stop offset="0.3" style="stop-color: #ff1b2d" />
        <stop offset="0.4381" style="stop-color: #fa1a2c" />
        <stop offset="0.5939" style="stop-color: #ed1528" />
        <stop offset="0.7581" style="stop-color: #d60e21" />
        <stop offset="0.9272" style="stop-color: #b70519" />
        <stop offset="1" style="stop-color: #a70014" />
      </linearGradient>
      <path
        class="st0"
        d="M335.4,781.8c-55.3-65.3-91.1-161.7-93.5-270c0-0.3,0-23.3,0-23.6c2.4-108.3,38.2-204.7,93.5-270
		C407.2,125.1,513.8,66,632.8,66c73.2,0,141.8,22.4,200.4,61.3C745.2,48.5,629.2,0.5,501.9,0c-0.6,0-1.3,0-1.9,0
		C223.9,0,0,223.9,0,500c0,268.2,211.1,487,476.2,499.4c7.9,0.4,15.8,0.6,23.8,0.6c128,0,244.8-48.1,333.2-127.2
		C774.6,911.6,706.1,934,632.8,934C513.8,934,407.2,874.9,335.4,781.8z"
      />
      <g>
        <linearGradient
          id="SVGID_2_"
          gradientUnits="userSpaceOnUse"
          x1="667.7092"
          y1="73.4257"
          x2="667.7092"
          y2="930.5844"
        >
          <stop offset="0" style="stop-color: #9c0000" />
          <stop offset="0.7" style="stop-color: #ff4b4b" />
        </linearGradient>
        <path
          class="st1"
          d="M335.4,218.2c45.9-54.2,105.1-86.8,169.9-86.8c145.6,0,263.5,165,263.5,368.6s-118,368.6-263.5,368.6
			c-64.7,0-124-32.7-169.9-86.8C407.2,874.9,513.8,934,632.8,934c73.2,0,141.8-22.4,200.4-61.2C935.6,781.2,1000,648.1,1000,500
			c0-148.1-64.4-281.2-166.8-372.7C774.6,88.4,706.1,66,632.8,66C513.8,66,407.2,125.1,335.4,218.2z"
        />
      </g>
    </g>
  </svg>
</template>

<style scoped>
.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  fill: url(#SVGID_2_);
}
</style>
