<template>
  <svg
    width="136px"
    height="100px"
    viewBox="0 0 136 100"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>9505D3B1-9DE7-4DC0-9253-CEEC188C0232</title>
    <g id="UI---Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        id="#.-We're-sad-to-see-you-go-1"
        transform="translate(-652.000000, -96.000000)"
        fill="#05003F"
      >
        <g id="logo" transform="translate(652.000000, 96.000000)">
          <g id="icon" fill-rule="nonzero">
            <g id="Tilig---Logo---Blue">
              <path
                id="Shape"
                d="M104.661211,52.3189039 C104.661211,80.0477741 84.416997,94.5068843 78.9725127,97.3686713 L70.8326923,67.0225137 C68.5826024,59.9739219 67.8877555,52.6912379 68.6112383,45.3414898 C68.9988726,41.8527828 69.1926895,40.1084293 69.1926895,40.1084293 C69.1926895,40.1084293 69.2886615,38.8281312 68.0297871,38.491995 C66.7709128,38.1558588 66.2825578,38.9499428 66.2854336,38.9455269 L62.7967266,44.1691527 C59.1049733,42.1091277 54.8594566,40.987636 51.1677031,40.987636 C47.4759496,40.987636 43.2304332,42.1091277 39.5386797,44.1691527 L36.6314238,38.9540012 C36.2409827,38.365278 35.6202883,38.1853989 34.7693408,38.4143639 C33.4929194,38.7578114 33.724168,40.1084293 33.724168,40.1084293 C33.724168,40.1084293 33.9180407,41.8527828 34.3057863,45.3414898 C35.0296749,52.6953632 33.6828681,59.8490482 31.5122856,66.9257416 L23.6923589,96.1256729 C22.4155265,95.0479543 0,81.7624439 0,52.3306055 C0,11.7566983 58.1451172,34.9991645 51.1677031,0 C78.9725127,0 104.661211,20.65578 104.661211,52.3189039 Z M44.1902891,58.1334156 C45.4747955,58.1334156 46.5160938,56.8317928 46.5160938,55.2261598 C46.5160938,53.6205267 45.4747955,52.3189039 44.1902891,52.3189039 C42.9057826,52.3189039 41.8644844,53.6205267 41.8644844,55.2261598 C41.8644844,56.8317928 42.9057826,58.1334156 44.1902891,58.1334156 Z M58.1451172,58.1334156 C59.4296237,58.1334156 60.4709219,56.8317928 60.4709219,55.2261598 C60.4709219,53.6205267 59.4296237,52.3189039 58.1451172,52.3189039 C56.8606108,52.3189039 55.8193125,53.6205267 55.8193125,55.2261598 C55.8193125,56.8317928 56.8606108,58.1334156 58.1451172,58.1334156 Z M55.2378613,62.7967266 L55.2378613,63.3723272 C55.2378613,64.011349 54.7198317,64.5293784 54.0808098,64.5293784 L52.3306055,64.5293784 L52.3306055,64.5293784 L52.3306055,66.2737319 C52.3306055,66.5948587 52.0702809,66.8551831 51.7491543,66.8551831 L50.586252,66.8551831 C50.2651254,66.8551831 50.0048008,66.5948587 50.0048008,66.2737319 L50.0048008,64.5293784 L50.0048008,64.5293784 L48.2545965,64.5293784 C47.6155746,64.5293784 47.0975449,64.011349 47.0975449,63.3723272 L47.0975449,62.7967266 C47.0975449,62.4755998 47.3578695,62.2152754 47.6789961,62.2152754 L54.6564102,62.2152754 C54.9775368,62.2152754 55.2378613,62.4755998 55.2378613,62.7967266 Z"
              ></path>
              <path
                id="Shape"
                d="M122.395472,70.6463174 L122.395472,73.5535733 L128.209983,73.5535733 C130.040841,73.5535733 131.69869,75.1296467 131.69869,76.8516882 L131.69869,78.7866338 L131.696175,84.6128682 C131.607392,88.6654724 129.174737,92.3587624 125.339626,94.2343332 L120.069667,96.8116202 L114.799708,94.2343332 C110.892236,92.3233741 108.440644,88.525456 108.440644,84.3831013 L108.440644,76.8516882 C108.440644,75.1296467 110.098493,73.5535733 111.929351,73.5535733 L117.743862,73.5535733 L117.743862,70.6463174 L122.395472,70.6463174 Z M112.349598,84.7411939 C111.620041,84.8050221 111.077286,85.4130363 111.137321,86.0992318 L111.15152,86.2615329 L111.173795,86.4777269 C111.446438,88.7760487 112.817097,90.5984079 114.925922,91.7845154 L115.061699,91.8608826 L115.156863,91.909567 C115.767601,92.1921528 116.521533,91.9878134 116.882863,91.4248355 C117.26321,90.8322275 117.064511,90.0666447 116.439057,89.714858 L116.303281,89.6384908 L116.144302,89.5454045 C114.784916,88.7173535 113.927484,87.5620973 113.793477,86.0303915 L113.779278,85.8680904 L113.767542,85.7756804 C113.660869,85.1372028 113.045992,84.6802677 112.349598,84.7411939 Z"
                transform="translate(120.069667, 83.728969) rotate(20.000000) translate(-120.069667, -83.728969) "
              ></path>
            </g>
          </g>
          <path
            id="Path-4"
            d="M57.9997568,59.3080196 C57.1275784,60.7701082 56.6914893,61.862159 56.6914893,62.5841719 C56.6914893,63.6671912 57.9988207,63.6704055 57.9988207,63.6687984 C57.9988207,63.6671912 59.3062151,63.6720063 59.3080196,62.5841719 C59.3091969,61.8589489 58.8731093,60.7668981 57.9997568,59.3080196 Z"
          ></path>
        </g>
      </g>
    </g>
  </svg>
</template>
