<template>
  <svg
    width="97px"
    height="100px"
    viewBox="0 0 97 100"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>621B54C2-B877-449C-BABB-3E17254315BF</title>
    <g id="UI---Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        id="#.-We're-sad-to-see-you-go-3"
        transform="translate(-672.000000, -218.000000)"
        fill="#05003F"
        fill-rule="nonzero"
      >
        <g id="Group" transform="translate(672.000000, 218.000000)">
          <path
            id="Shape"
            d="M96.6666667,48.3595112 C96.6666667,73.9899145 77.9688066,87.3547875 72.9401991,90 L65.4221386,61.9503805 C63.3439218,55.4352123 62.7021508,48.7036677 63.3703704,41.9101342 C63.7283952,38.6854458 63.9074074,37.0731015 63.9074074,37.0731015 C63.9074074,37.0731015 63.9960486,35.8896939 62.8333333,35.5789959 C61.6706181,35.2682978 61.219566,36.0022871 61.2222222,35.9982054 L58,40.8265173 C54.5902412,38.922391 50.6690183,37.8857716 47.2592593,37.8857716 C43.8495003,37.8857716 39.9282775,38.922391 36.5185185,40.8265173 L33.8333333,36.0060383 C33.472716,35.4618685 32.8994334,35.2956023 32.1134854,35.5072397 C30.9345635,35.8246958 31.1481481,37.0731015 31.1481481,37.0731015 C31.1481481,37.0731015 31.3272119,38.6854458 31.6853395,41.9101342 C32.353934,48.7074808 31.110003,55.3197889 29.1052203,61.8609319 L21.8826186,88.8510693 C20.703317,87.8549103 0,75.5748215 0,48.3703272 C0,10.8669743 53.7037037,32.3504959 47.2592593,0 C72.9401991,0 96.6666667,19.0925908 96.6666667,48.3595112 Z M40.8148148,53.733992 C42.0012042,53.733992 42.962963,52.5308735 42.962963,51.0467516 C42.962963,49.5626297 42.0012042,48.3595112 40.8148148,48.3595112 C39.6284253,48.3595112 38.6666667,49.5626297 38.6666667,51.0467516 C38.6666667,52.5308735 39.6284253,53.733992 40.8148148,53.733992 Z M53.7037037,53.733992 C54.8900932,53.733992 55.8518519,52.5308735 55.8518519,51.0467516 C55.8518519,49.5626297 54.8900932,48.3595112 53.7037037,48.3595112 C52.5173143,48.3595112 51.5555556,49.5626297 51.5555556,51.0467516 C51.5555556,52.5308735 52.5173143,53.733992 53.7037037,53.733992 Z M51.0185185,58.0443927 L51.0185185,58.576433 C51.0185185,59.1670949 50.5400586,59.6459208 49.9498483,59.6459208 L48.3333333,59.6459208 L48.3333333,59.6459208 L48.3333333,61.258265 C48.3333333,61.5550895 48.0928936,61.7957131 47.7962963,61.7957131 L46.7222222,61.7957131 C46.4256249,61.7957131 46.1851852,61.5550895 46.1851852,61.258265 L46.1851852,59.6459208 L46.1851852,59.6459208 L44.5686702,59.6459208 C43.9784599,59.6459208 43.5,59.1670949 43.5,58.576433 L43.5,58.0443927 C43.5,57.7475682 43.7404397,57.5069446 44.037037,57.5069446 L50.4814815,57.5069446 C50.7780788,57.5069446 51.0185185,57.7475682 51.0185185,58.0443927 Z"
          ></path>
          <path
            id="Shape"
            d="M50.6666667,76.6666667 L50.6666667,79.2592593 L56.5,79.2592593 C58.3367843,79.2592593 60,80.6647483 60,82.2004067 L60,83.9259259 L56.8136245,83.9259259 C55.2322133,83.9259259 53.9502263,85.2005471 53.9502263,86.5226988 C53.9502263,87.844851 55.2322133,89.1111111 56.8136245,89.1111111 L59.9974759,89.121565 C59.9084056,92.7355405 57.4678766,96.0290919 53.6203516,97.7016625 L48.3333333,100 L43.0463151,97.7016625 C39.126195,95.9975338 36.6666667,92.6106787 36.6666667,88.9166667 L36.6666667,82.2004067 C36.6666667,80.6647483 38.3298825,79.2592593 40.1666667,79.2592593 L46,79.2592593 L46,76.6666667 L50.6666667,76.6666667 Z M40.5882739,89.2360015 C39.8563561,89.2929213 39.3118444,89.8351279 39.372073,90.4470539 L39.3863185,90.5917884 L39.4086651,90.784583 C39.6821911,92.8341487 41.0572868,94.4592672 43.1729381,95.5169978 L43.3091543,95.5850995 L43.4046266,95.6285145 C44.0173419,95.880515 44.7737137,95.6982921 45.1362131,95.1962474 C45.5177914,94.6677796 45.3184498,93.9850587 44.6909713,93.6713472 L44.5547552,93.6032455 L44.3952617,93.5202343 C43.031476,92.7818064 42.1712682,91.7515879 42.0368275,90.3856644 L42.022582,90.2409298 L42.0108082,90.1585216 C41.9037896,89.5891489 41.2869228,89.1816696 40.5882739,89.2360015 Z"
          ></path>
        </g>
      </g>
    </g>
  </svg>
</template>
