<script lang="ts" setup>
withDefaults(
  defineProps<{
    width?: number
    height?: number
  }>(),
  {
    width: 30,
    height: 35,
  }
)
</script>

<template>
  <svg :width="width" :height="height" viewBox="0 0 30 35" xmlns="http://www.w3.org/2000/svg">
    <g fill="currentColor" fill-rule="evenodd">
      <g fill="currentColor" fill-rule="nonzero">
        <path
          d="M29.3807196,14.7513136 C29.3807196,19.8040965 26.8036504,25.2579496 22.8858828,28.6309608 L20.5541624,21.3176969 C19.843556,19.0888049 19.595203,16.7434314 19.8236878,14.4193082 L19.8236878,14.4193082 L19.9894336,12.7333597 C20.0057163,12.5677332 19.9256439,12.4071758 19.782204,12.3178332 C19.571604,12.1866595 19.2922167,12.2473942 19.1581749,12.4534881 L19.1581749,12.4534881 L18.0855976,14.1026133 C16.919696,13.4511962 15.7537945,13.1254876 14.5878929,13.1254876 C13.4219913,13.1254876 12.2560897,13.4511962 11.0901882,14.1026133 L11.0901882,14.1026133 L10.0176108,12.4534881 C9.92631481,12.3131174 9.76224704,12.2347582 9.59299923,12.2506926 C9.34450775,12.2740876 9.16244566,12.490185 9.18635219,12.7333597 L9.18635219,12.7333597 L9.35209796,14.4193082 C9.58071099,16.7447359 9.34574687,19.0914806 8.66024995,21.329259 L8.66024995,21.329259 L6.43830652,28.5820657 C2.55229791,25.2054087 0,19.7797537 0,14.7513136 C0,3.89142263 14.6903598,6.67924665 14.6903598,0.135543451 C22.8516708,-0.0491641771 29.3807196,6.67924665 29.3807196,14.7513136 Z M12.103852,18.9389281 C12.4783102,18.9389281 12.7818686,18.5428437 12.7818686,18.0542487 C12.7818686,17.5656538 12.4783102,17.1695693 12.103852,17.1695693 C11.7293938,17.1695693 11.4258354,17.5656538 11.4258354,18.0542487 C11.4258354,18.5428437 11.7293938,18.9389281 12.103852,18.9389281 Z M17.2768676,18.9389281 C17.6513258,18.9389281 17.9548842,18.5428437 17.9548842,18.0542487 C17.9548842,17.5656538 17.6513258,17.1695693 17.2768676,17.1695693 C16.9024094,17.1695693 16.598851,17.5656538 16.598851,18.0542487 C16.598851,18.5428437 16.9024094,18.9389281 17.2768676,18.9389281 Z M15.5943819,19.3620867 C15.7192013,19.3620867 15.8203875,19.4611078 15.8203875,19.5832565 L15.8203875,19.8101861 C15.8203875,20.0576646 15.6153801,20.2582856 15.3624907,20.2582856 L14.9233715,20.2580644 L14.9235401,21.1135073 L14.4571795,21.1135073 L14.4571221,20.2580644 L14.0182289,20.2582856 C13.7653395,20.2582856 13.5603321,20.0576646 13.5603321,19.8101861 L13.5603321,19.5832565 C13.5603321,19.4611078 13.6615183,19.3620867 13.7863377,19.3620867 L15.5943819,19.3620867 Z"
        />
        <path
          d="M14.6813913,0.131828741 C18.878637,-0.865734124 30.2907641,3.7833563 29.9943323,14.5850781 C29.8440255,20.0621305 27.449625,24.8671044 22.8111313,29 L20.4704748,21.0443964 C22.8158943,18.7793856 23.7956451,15.3725207 23.7956451,10.6855798 C23.7956451,3.65516857 17.5040252,1.29288171 14.6813913,0.131828741 Z"
        />
      </g>
      <g transform="translate(10 26)" fill="currentColor" fill-rule="nonzero">
        <path
          d="M4.8115942,0 L4.8115942,1.06194267 L6.85972851,1.06194267 C7.48948305,1.06194267 8,1.54211728 8,2.13444267 L8,2.13444267 L8,2.878225 L6.90752839,2.878225 C6.36533028,2.878225 5.92579186,3.29163967 5.92579186,3.8016125 C5.92579186,4.31158532 6.36533028,4.72499999 6.90752839,4.72499999 L6.90752839,4.72499999 L8,4.72499999 L7.9991346,4.80403213 C7.96859615,6.1979942 7.13184349,7.46836395 5.81269195,8.11349838 L5.81269195,8.11349838 L4,9 L2.18730804,8.11349838 C0.843266863,7.45619161 0,6.14983314 0,4.72499999 L0,4.72499999 L0,2.13444267 C0,1.54211728 0.510516936,1.06194267 1.14027149,1.06194267 L1.14027149,1.06194267 L3.13043479,1.06194267 L3.13043479,0 L4.8115942,0 Z M1.48235294,4.35765154 C1.23045112,4.35765154 1.02624434,4.54972138 1.02624434,4.78665154 L1.02624434,4.78665154 L1.02624434,4.8426911 L1.02739565,4.91743956 C1.05191842,5.71315153 1.4669538,6.45522565 2.1540018,6.92487481 L2.1540018,6.92487481 L2.19823735,6.95511316 L2.22938667,6.97464804 C2.43018952,7.08978763 2.69465604,7.04237099 2.83534593,6.86029425 C2.98344054,6.66863453 2.93830613,6.4003446 2.7345354,6.26105193 L2.7345354,6.26105193 L2.69029984,6.23081358 L2.63861503,6.1941509 C2.19763456,5.86965989 1.93846154,5.37155983 1.93846154,4.8426911 L1.93846154,4.8426911 L1.93846154,4.78665154 L1.93721049,4.75463475 C1.91979874,4.5326573 1.72280468,4.35765154 1.48235294,4.35765154 Z"
        />
        <path
          d="M6.85972851,1.06194267 L4.8115942,1.06194267 L4.8115942,1.06194267 L4.8115942,0 L3.13043479,0 L3.13043479,1.06194267 L1.14027149,1.06194267 C0.510516936,1.06194267 0,1.54211728 0,2.13444267 L0,2.878225 L0,2.878225 L8,2.878225 L8,2.13444267 C8,1.54211728 7.48948305,1.06194267 6.85972851,1.06194267 Z"
        />
      </g>
    </g>
  </svg>
</template>
