<template>
  <svg
    stroke="none"
    viewBox="0 0 24 24"
    class="wifi-icon"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 0.501099C7.63478 0.501099 3.43189 2.15606 0.238639 5.13235C-0.064367 5.41477 -0.0810567 5.88935 0.201362 6.19235C0.48378 6.49536 0.95836 6.51205 1.26137 6.22963C4.17694 3.51215 8.01437 2.0011 12 2.0011C15.9856 2.0011 19.8231 3.51215 22.7386 6.22963C23.0416 6.51205 23.5162 6.49536 23.7986 6.19235C24.0811 5.88935 24.0644 5.41477 23.7614 5.13235C20.5681 2.15606 16.3652 0.501099 12 0.501099ZM2.98469 8.73464C5.37575 6.34373 8.61864 5.00055 12 5.00055C15.3814 5.00055 18.6242 6.34373 21.0153 8.73464C21.3082 9.02752 21.3082 9.5024 21.0153 9.7953C20.7225 10.0882 20.2476 10.0882 19.9547 9.79533C17.8449 7.68571 14.9836 6.50055 12 6.50055C9.01644 6.50055 6.15507 7.68571 4.04531 9.79533C3.75241 10.0882 3.27754 10.0882 2.98465 9.7953C2.69177 9.5024 2.69178 9.02752 2.98469 8.73464ZM11.997 9.50061C9.80913 9.50061 7.71085 10.3697 6.1637 11.9166C5.87079 12.2095 5.87076 12.6844 6.16364 12.9773C6.45652 13.2702 6.93139 13.2702 7.2243 12.9774C8.49015 11.7117 10.2069 11.0006 11.997 11.0006C13.7871 11.0006 15.5039 11.7117 16.7697 12.9774C17.0626 13.2702 17.5375 13.2702 17.8304 12.9773C18.1232 12.6844 18.1232 12.2095 17.8303 11.9166C16.2831 10.3697 14.1849 9.50061 11.997 9.50061ZM9.75 17.75C9.75 16.5074 10.7574 15.5 12 15.5C13.2426 15.5 14.25 16.5074 14.25 17.75C14.25 18.9926 13.2426 20 12 20C10.7574 20 9.75 18.9926 9.75 17.75ZM12 14C9.92893 14 8.25 15.6789 8.25 17.75C8.25 19.8211 9.92893 21.5 12 21.5C14.0711 21.5 15.75 19.8211 15.75 17.75C15.75 15.6789 14.0711 14 12 14Z"
    />
  </svg>
</template>
