<script setup lang="ts">
import { ref, onUnmounted, onMounted } from 'vue'

import GreenCheckMark from '@/assets/green-check.svg?component'

const emit = defineEmits<{
  (e: 'hide'): void
}>()

defineProps<{
  message?: string
}>()

const show = ref(true)

let timeout = 0

const hide = () => {
  show.value = false
  emit('hide')
}

onMounted(() => {
  timeout = window.setTimeout(() => {
    hide()
  }, 2000)
})

onUnmounted(() => {
  clearTimeout(timeout)
})
</script>

<template>
  <div v-if="show" aria-live="assertive" class="alert">
    <transition
      enter-active-class="transition ease-out duration-100"
      enter-from-class="transform opacity-0 scale-95"
      enter-to-class="transform opacity-100 scale-100"
      leave-active-class="transition ease-in duration-75"
      leave-from-class="transform opacity-100 scale-100"
      leave-to-class="transform opacity-0 scale-95"
    >
      <div class="alert-wrapper">
        <div class="message-container">
          <GreenCheckMark class="check-mark-icon" />

          <p class="message">
            <slot>
              {{ message }}
            </slot>
          </p>
        </div>
      </div>
    </transition>
  </div>
</template>

<style scoped>
.alert {
  @apply pointer-events-none absolute bottom-5 right-5 flex w-full items-center justify-end;
}

.alert-wrapper {
  @apply pointer-events-auto w-full max-w-xs overflow-hidden rounded-lg bg-blue-darkest shadow-lg ring-1 ring-blue-darkest ring-opacity-5;
}

.message-container {
  @apply flex h-14 items-center px-5;
}

.message {
  @apply text-sm text-white;
}

.check-mark-icon {
  @apply mr-4 h-6 w-6;
}
</style>
