<script setup>
import Spinner from '@core/components/icons/Spinner.vue'
</script>

<template>
  <div class="loading-indicator-wrapper">
    <div class="loading-indicator">
      <Spinner class="indigo-spinner" />
    </div>
    <p v-if="$slots.default" class="loading-text"><slot></slot></p>
  </div>
</template>

<style scoped>
.loading-indicator {
  @apply my-4 ml-auto mr-auto flex h-full w-full flex-row items-center justify-center;
}

.indigo-spinner {
  @apply h-full w-full text-indigo;
}

.loading-text {
  @apply mt-4 inline-block w-full text-sm sm:mb-9 sm:text-lg;
}
</style>
