<template>
  <label :for="id" class="label">
    <input
      :id="id"
      v-model="inputVal"
      type="checkbox"
      class="checkbox-input"
      :value="id"
      :checked="checked"
      @change="$emit('change', $event)"
    />
    <slot>
      <span>{{ label }}</span>
    </slot>
  </label>
</template>

<script>
import { useModelWrapper } from '@/utils/modelWrapper'
export default {
  props: {
    id: { type: String, required: true },
    label: { type: String, default: '' },
    checked: { type: Boolean, default: false },
    modelValue: { type: [Array, Boolean], required: false, default: undefined },
  },
  setup(props, { emit }) {
    return {
      inputVal: useModelWrapper(props, emit),
    }
  },
}
</script>

<style scoped>
.label {
  @apply flex cursor-pointer select-none items-center text-sm;
}

.checkbox-input {
  @apply mr-3.5 cursor-pointer rounded-sm;
}
</style>
