<template>
  <div
    :class="['drop-zone', { 'drop-zone-active': dropZoneIsActive }]"
    @drop.prevent="onDrop"
    @dragenter.prevent="setDropZoneInActive"
    @dragover.prevent="setDropZoneActive"
    @dragleave.prevent="dragLeave"
  >
    <slot :drop-zone-active="dropZoneIsActive"></slot>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted, ref } from 'vue'

const dropZoneIsActive = ref(false)
const emit = defineEmits(['file-dropped', 'hide-drop-zone'])
const events = ['dragenter', 'dragover', 'dragleave', 'drop']

const onDrop = (e) => {
  e.target.files = e.dataTransfer.files
  emit('file-dropped', e)
  dragLeave()
}
const preventDefaults = (e) => e.preventDefault()
const setDropZoneActive = () => (dropZoneIsActive.value = true)
const setDropZoneInActive = () => (dropZoneIsActive.value = false)
const dragLeave = () => {
  setDropZoneInActive()
  emit('hide-drop-zone')
}
onMounted(() => {
  events.forEach((eventName) => document.body.addEventListener(eventName, preventDefaults))
})
onUnmounted(() => {
  events.forEach((eventName) => document.body.removeEventListener(eventName, preventDefaults))
})
</script>

<style scoped>
.drop-zone {
  @apply fixed bottom-0 left-0 right-0 top-0 z-50 flex h-full w-full items-center justify-center bg-indigo opacity-90;
}
</style>
