<template>
  <div class="fixed inset-0 z-10 overflow-y-auto bg-blue-darkest bg-opacity-20 p-4">
    <div class="flex min-h-screen items-center">
      <div class="mx-auto w-full max-w-3xl">
        <div
          v-if="step == 1"
          class="rounded-lg border-gray bg-white px-6 py-8 text-blue-darkest shadow-lg sm:px-10 sm:py-16"
        >
          <div class="mx-auto max-w-xl">
            <div>
              <div>
                <h6>Choose service</h6>
                <div class="h-1 w-1 bg-indigo-lighter"></div>
              </div>
            </div>
            <div class="mx-auto mb-7 max-w-lg sm:mb-10 sm:text-center">
              <h2
                class="mb-3 font-spoof text-2xl font-medium text-blue-darkest sm:mb-6 sm:text-3xl"
              >
                Import passwords from another service
              </h2>
              <p class="mx-auto text-sm font-book text-blue-darkest sm:max-w-md sm:text-base">
                If you already use a password manager, then you can add all your passwords at once.
                Please select your current password manager.
              </p>
            </div>
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-x-8">
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-7" src="../assets/logos/chrome-logo.png" />
              </button>
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-7" src="../assets/logos/safari-logo.png" />
              </button>
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-5" src="../assets/logos/1password-logo.png" />
              </button>
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-4" src="../assets/logos/lastpass-logo.png" />
              </button>
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-7" src="../assets/logos/keeper-logo.png" />
              </button>
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-4" src="../assets/logos/bitwarden-logo.png" />
              </button>
              <button
                class="flex h-14 items-center rounded-lg border border-gray p-3 shadow sm:p-4"
              >
                <img class="mx-auto max-h-7" src="../assets/logos/dashlane-logo.png" />
              </button>
              <!-- No flex button for the text -->
              <button class="h-14 rounded-lg border border-gray p-3 shadow sm:p-4">
                Manually import
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      step: 1,
    }
  },
}
</script>
