<script setup>
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useItemsStore } from '@core/stores/items'

import TiligLogoIcon from '@core/components/icons/TiligLogoIcon.vue'

const router = useRouter()
const itemsStore = useItemsStore()

const { query } = storeToRefs(itemsStore)

const toItems = () => {
  query.value = ''

  router.push({ name: 'items' })

  document.querySelector('.item')?.scrollIntoView({ block: 'center', behavior: 'smooth' })
}
</script>

<template>
  <a class="logo-container" alt="Tilig" @click.prevent="toItems">
    <TiligLogoIcon />
  </a>
</template>

<style scoped>
.logo-container {
  @apply cursor-pointer text-blue-darkest;
}

svg {
  @apply z-50;
}
</style>
