<template>
  <label class="label">
    <input
      v-model="inputVal"
      type="radio"
      class="radio-button"
      :value="value"
      :name="name"
      :checked="value === selected"
      :disabled="disabled"
      @change.stop="$emit('change', value)"
    />
    <p class="radio-button-label-text">
      {{ text }}
    </p>
  </label>
</template>

<script>
import { useModelWrapper } from '@/utils/modelWrapper'
export default {
  props: {
    name: { type: String, required: true },
    value: { type: [String, Number, null], required: true },
    text: { type: String, required: true },
    checked: { type: Boolean, default: false },
    selected: { type: [String, Number], required: false, default: '' },
    modelValue: { type: String, required: false, default: undefined },
    disabled: { type: Boolean, default: false },
  },
  setup(props, { emit }) {
    return {
      inputVal: useModelWrapper(props, emit),
    }
  },
}
</script>

<style lang="css" scoped>
.label {
  @apply flex w-full cursor-pointer select-none items-center text-sm;
}

.radio-button-container {
  @apply mb-2 grid cursor-pointer select-none grid-cols-[20px,1fr] items-center gap-2 rounded-lg border border-gray-light bg-gray-lightest px-3.5 py-3 text-sm;
}

.radio-button {
  @apply mr-3.5;
}

.radio-button-label-text {
  @apply w-full break-words leading-[24px];
}
</style>
