<script setup lang="ts">
import { onMounted, watch } from 'vue'
import { storeToRefs } from 'pinia'
import { useRoute } from 'vue-router'

import { ItemType } from '@core/stores/items'
import { usePopupStore } from './store'

import PopupMain from './pages/PopupMain.vue'
import LogIn from './pages/LogIn.vue'

const popupStore = usePopupStore()
const route = useRoute()
const { userLoaded, loggedIn, activeItemType } = storeToRefs(popupStore)

onMounted(popupStore.sync)

watch(
  () => route.params.type || null,
  () => {
    activeItemType.value = (route.params.type || null) as ItemType | null
  }
)
</script>

<template>
  <div v-if="userLoaded" id="popup">
    <PopupMain v-if="loggedIn" class="popup-content" />
    <LogIn v-else class="popup-content" />
  </div>
</template>

<style>
html {
  /* Setting heigth >590px results in an uggly scroll bar */
  @apply h-[600px] w-[456px];
}

body,
#app,
#popup {
  @apply h-full w-full;
}

.popup-content {
  @apply h-full w-full;
}

:deep(*) {
  outline: 1px solid #f00 !important;
}
</style>
