<script setup lang="ts">
import Button from '@core/components/Button.vue'
import Card from '@core/components/Card.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'
import CardCloseButton from '@core/components/CardCloseButton.vue'

const emit = defineEmits(['closeMoreInfo'])
</script>

<template>
  <Card key="more-info">
    <CardCloseButton @click="emit('closeMoreInfo')" />
    <CardContentWrapper>
      <slot />
      <Button button-style="primary" class="mt-3 w-[203px]" @click="emit('closeMoreInfo')"
        >Close</Button
      >
    </CardContentWrapper>
  </Card>
</template>
