<script setup lang="ts">
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import InfoSection from './InfoSection.vue'
</script>

<template>
  <InfoSection>
    <CardHeader> More info about signing in on Tilig </CardHeader>
    <CardParagraph
      >There's a very high chance that you already have an account with Apple or Google (or both).
    </CardParagraph>
    <CardParagraph
      >By signing-in with one of these accounts, you have one less password to memorise. So,
      signing-in is simple and secure. We call that a win-win.</CardParagraph
    >
  </InfoSection>
</template>
