<script setup lang="ts">
import { ExclamationIcon } from '@heroicons/vue/solid'

withDefaults(
  defineProps<{
    severity?: 'info' | 'warn' | 'error'
    errorMessageClass?: string | null
  }>(),
  { severity: 'info', errorMessageClass: undefined }
)
</script>

<template>
  <div :class="['login-error', `login-error-${severity}`]">
    <ExclamationIcon class="exclamation-icon" />
    <p :class="['error-message', errorMessageClass]">
      <slot />
    </p>
  </div>
</template>

<style scoped>
.login-error {
  @apply grid max-w-[300px] grid-cols-[16px,1fr] place-items-center gap-4 rounded-lg border px-4 py-3;
}

.login-error-info {
  @apply border-indigo-dark bg-indigo-lighter text-indigo-dark;
}

.login-error-warn {
  @apply border-yellow-dark bg-yellow-lighter text-yellow-dark;
}

.login-error-error {
  @apply border-pink bg-pink-lightest text-pink;
}

.exclamation-icon {
  @apply h-4 w-4;
}

.error-message {
  @apply text-left text-sm leading-5;
}
</style>
