<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'

import ExternalLink from '@core/components/ExternalLink.vue'
import Button from '@core/components/Button.vue'
import Card from '@core/components/Card.vue'
import CardHeader from '@core/components/CardHeader.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'

import { useTrackingStore } from '@core/stores/tracking'
import {
  MOBILE_APP_INSTALLATION_PROMPT,
  MOBILE_APP_INSTALLATION_PROMPT_ANDROID_CLICKED,
  MOBILE_APP_INSTALLATION_PROMPT_APPLE_CLICKED,
  MOBILE_APP_INSTALLATION_PROMPT_SKIPPED,
} from '@core/utils/trackingConstants'
import { useOnboardingStore } from '@core/stores/onboarding'

const onboardingStore = useOnboardingStore()
const trackingStore = useTrackingStore()
const skipMobileAppInstallationButtonClicked = ref(false)

const emit = defineEmits<{
  (event: 'skipMobileAppInstallation'): void
}>()

const osIsAndroid = computed(() => onboardingStore.os === 'Android')
const isLoading = computed(() => skipMobileAppInstallationButtonClicked.value)

const androidClicked = () => {
  trackingStore.trackEvent({ event: MOBILE_APP_INSTALLATION_PROMPT_ANDROID_CLICKED })
}

const appleClicked = () => {
  trackingStore.trackEvent({ event: MOBILE_APP_INSTALLATION_PROMPT_APPLE_CLICKED })
}

onMounted(() => {
  trackingStore.trackEvent({ event: MOBILE_APP_INSTALLATION_PROMPT })
})

const skipMobileAppInstallation = () => {
  trackingStore.trackEvent({ event: MOBILE_APP_INSTALLATION_PROMPT_SKIPPED })
  emit('skipMobileAppInstallation')
  skipMobileAppInstallationButtonClicked.value = true
}
</script>

<template>
  <Card>
    <CardContentWrapper>
      <TiligLogoImageMark :width="25" :height="27" />
      <CardHeader>Tilig works best in the App</CardHeader>

      <CardParagraph>
        To get the best Tilig experience on your phone, download the app. It just takes a moment!
      </CardParagraph>

      <div class="appstore-links">
        <ExternalLink
          v-if="osIsAndroid"
          url="https://play.google.com/store/apps/details?id=com.tilig.android&hl=en&gl=US"
          class="mobile-app-logo-container"
          @click="androidClicked"
        >
          <img src="@/assets/logos/google-play.svg" class="mobile-app-logo playstore-badge" />
        </ExternalLink>

        <ExternalLink
          v-else
          url="https://apps.apple.com/us/app/tilig-password-manager/id1504118993"
          class="mobile-app-logo-container"
          @click="appleClicked"
        >
          <img src="@/assets/logos/app-store.svg" class="mobile-app-logo applestore-badge" />
        </ExternalLink>
      </div>
      <CardParagraph>
        <Button
          class="link"
          button-style="primary"
          :loading="isLoading"
          @click="skipMobileAppInstallation"
          >{{ isLoading ? 'Ok! Processing' : 'No thanks, take me to Tilig' }}</Button
        >
      </CardParagraph>
    </CardContentWrapper>
  </Card>
</template>

<style scoped>
.mobile-app-prompt-text {
  @apply mb-4 text-sm text-blue-light;
}

.appstore-links {
  @apply mb-3 w-full;
}

.mobile-app-logo {
  @apply h-full w-full cursor-pointer;
}

.mobile-app-logo-container {
  @apply mx-auto flex w-full justify-center;
}

.playstore-badge {
  @apply h-[4.4rem] w-[13rem];
}
.applestore-badge {
  @apply h-[2.9rem] w-[11rem];
}

.link {
  @apply border-0 bg-transparent p-0 text-sm text-indigo no-underline shadow-transparent hover:bg-transparent focus:border-transparent focus:ring-transparent;
}
</style>
