<script setup lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'

import AuthProviderButtons from '@core/components/AuthProviderButtons.vue'

import { useAuthStore, AuthProvider } from '@core/stores/auth'
import { supportsRedirectSignIn } from '@core/utils/browserEnvironment'

defineProps({ prepend: { type: String, default: 'Continue' } })

const authStore = useAuthStore()
const route = useRoute()
const buttonClicked = ref(false)
const provider = ref<AuthProvider | null>(null)

const supportedProviders: AuthProvider[] = ['google', 'apple', 'microsoft']

const signInWith = (method: AuthProvider) => {
  provider.value = method
  buttonClicked.value = true

  authStore.signInWith(method).then((success) => {
    if (!success) {
      buttonClicked.value = false
    }
  })
}

const redirectIfProviderInParams = async () => {
  await authStore.ready
  if (authStore.hasFirebaseUser) return
  // Popup without a click event gets blocked
  if (!supportsRedirectSignIn) return

  const provider = route.query.provider as AuthProvider

  if (supportedProviders.includes(provider)) {
    signInWith(provider)
  }
}

redirectIfProviderInParams()
</script>

<template>
  <AuthProviderButtons :prepend="prepend" @sign-in-with="signInWith" />
</template>

<style scoped>
.login-buttons-wrapper {
  @apply mx-auto mt-4 grid w-full grid-flow-row gap-4 px-2;
}

.login-button {
  @apply rounded-full;
}
</style>
