<script setup lang="ts">
import InvitationCard from '@/pages/organization/InvitationCard.vue'
import confetti from '@core/assets/onboarding/confetti.svg'
import { InvitationWithOrganization } from '@core/clients/tilig'

defineProps<{
  invitation: InvitationWithOrganization
}>()
</script>

<template>
  <section
    class="pending-invitation"
    :style="{
      backgroundImage: 'url(' + confetti + ')',
      backgroundRepeat: 'repeat',
      backgroundSize: '398px 215px',
    }"
  >
    <InvitationCard
      :email="invitation.creator?.email"
      :name="invitation.creator?.display_name"
      :picture="invitation.creator?.picture"
      :team-name="invitation.organization.name"
      header="Is inviting you to join"
    />
  </section>
</template>

<style scoped>
.pending-invitation {
  @apply -mt-8 mb-4 flex w-full flex-col items-center pt-8;
}
</style>
