<script setup lang="ts">
import { computed, ref } from 'vue'
import { storeToRefs } from 'pinia'
import { useRoute } from 'vue-router'
import { InformationCircleIcon } from '@heroicons/vue/outline'

import Spinner from '@core/components/icons/Spinner.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import LoginError from './LoginError.vue'
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import Card from '@core/components/Card.vue'
import LoginButtons from './LoginButtons.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'
import PendingInvitationSection from './PendingInvitationSection.vue'

import { AuthState, useAuthStore, AuthProvider } from '@core/stores/auth'
import { nameForProvider } from '@core/utils/authProviders'
import { useOrganizationStore } from '@core/stores/organization'

defineEmits<{
  (event: 'openMoreInfo'): void
}>()

const {
  query: { invitation_id, view_token, referral },
} = useRoute()

const authStore = useAuthStore()
const { currentInvitation } = storeToRefs(useOrganizationStore())

const buttonClicked = ref(false)
const provider = ref<AuthProvider | null>(null)

const showLoadingIndicator = computed(() => {
  // In incognito mode, there is a popup, don't show indicator
  if (authStore.isIncognito) return false
  if (buttonClicked.value) return true

  return !authStore.initialized || !authStore.isSettled || authStore.isAuthenticated
})

const loadingText = computed(() => {
  if (currentInvitation.value) {
    return 'Joining team...'
  }
  switch (authStore.authState) {
    case AuthState.FIREBASE_SESSION:
      return 'Connecting to Tilig…'
    case AuthState.TILIG_SESSION:
      return 'Creating encryption keys…'
    case AuthState.SIGNED_IN:
      return 'Creating account…'
    default:
      if (provider.value) {
        const name = nameForProvider(provider.value)
        return `Signing up with ${name}…`
      }
      return `Signing up...`
  }
})
</script>

<template>
  <Card>
    <CardContentWrapper>
      <PendingInvitationSection
        v-if="currentInvitation && !showLoadingIndicator"
        :invitation="currentInvitation"
      />
      <template v-else>
        <TiligLogoImageMark :width="25" :height="27" />
        <CardHeader v-if="showLoadingIndicator">Signing up</CardHeader>
        <CardHeader v-else>{{
          referral ? 'A friend is inviting you to join Tilig' : 'Choose how to signup with Tilig'
        }}</CardHeader>
      </template>

      <div v-if="showLoadingIndicator">
        <div class="loading-indicator">
          <Spinner class="indigo-spinner" />
        </div>

        <CardParagraph>{{ loadingText }}</CardParagraph>
      </div>

      <template v-else>
        <div v-if="authStore.isIncognito || authStore.authenticationError">
          <LoginError v-if="authStore.isIncognito">
            It looks like your browser is in private mode. Please, sign in again, and we'll make it
            work.
          </LoginError>

          <LoginError v-else-if="authStore.authenticationError">{{
            authStore.authenticationError.message
          }}</LoginError>
        </div>

        <LoginButtons prepend="Sign up with" />

        <div class="more-info-open-button" @click="$emit('openMoreInfo')">
          <InformationCircleIcon class="question-mark-icon" />More about signup types
        </div>
      </template>
    </CardContentWrapper>
    <router-link
      v-if="!showLoadingIndicator"
      class="login-account"
      :to="{
        name: 'login',
        query: { invitation_id: invitation_id, view_token: view_token, referral },
      }"
      >I already have a Tilig account
    </router-link>
  </Card>
</template>

<style scoped>
.flex-container {
  @apply flex-shrink-0 flex-grow-0 flex-row pt-7 md:flex;
}

.loading-indicator {
  @apply mb-10 mt-6 flex items-center justify-center;
}

.indigo-spinner {
  @apply h-24 w-24 text-indigo;
}

.more-info-open-button {
  @apply mt-4 flex cursor-pointer items-center justify-center gap-1 border-none px-0 py-0 text-sm font-book text-blue-light opacity-75 hover:text-blue-darkest hover:opacity-100;
}

.question-mark-icon {
  @apply -mt-0.5 mr-0.5 h-4 w-4 text-blue-lightest;
}

.login-account {
  @apply mt-3 w-full cursor-pointer rounded-b-[20px] border-t border-gray-light bg-gray-lightest py-4 text-sm text-indigo-dark hover:underline;
}
</style>
