<script setup lang="ts">
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import InfoSection from './InfoSection.vue'
</script>

<template>
  <InfoSection>
    <CardHeader>Why use Google, Microsoft or Apple to set up your account?</CardHeader>
    <CardParagraph>Signing up with Google, Microsoft or Apple is quick and safe </CardParagraph>
    <CardParagraph
      >This way, you don't have to create a master password and worry about forgetting it. Password
      management becomes easier and more secure, which is exactly our promise to you.</CardParagraph
    >
  </InfoSection>
</template>
