<script setup lang="ts">
import { computed, ref } from 'vue'
import { storeToRefs } from 'pinia'

import { Template } from '@core/clients/tilig'
import { useAddItemStore } from '@core/stores/addItem'
import { useWifiForm } from '@core/composables/forms'

import ItemCreateForm from '@core/components/item/ItemCreateForm.vue'
import WifiForm from '@core/components/item/wifi/WifiForm.vue'
import AddExtraInfoButton from '@core/components/item/AddExtraInfoButton.vue'
import NotesFormField from '@core/components/NotesFormField.vue'

const addItemStore = useAddItemStore()
const { newItem, isCreating, isCreated } = storeToRefs(addItemStore)
const itemTemplate = Template.WiFi

const { name, notes } = useWifiForm(newItem)
const showNotesField = ref(!!notes.value)

const formIsInvalid = computed(() => !name.value)
</script>

<template>
  <ItemCreateForm
    :disabled="isCreating || isCreated || formIsInvalid"
    :loading="isCreating"
    :template="itemTemplate"
  >
    <WifiForm :item="newItem">
      <template #notes>
        <NotesFormField v-if="showNotesField" v-model="notes" orientation="vertical" />

        <section class="extra-info">
          <AddExtraInfoButton v-show="!showNotesField" @click="showNotesField = true" />
        </section>
      </template>
    </WifiForm>
  </ItemCreateForm>
</template>
