<script setup lang="ts">
import { toRefs, ref } from 'vue'

import NotesFormField from '@core/components/NotesFormField.vue'
import WifiForm from '@core/components/item/wifi/WifiForm.vue'
import AddExtraInfoButton from '@core/components/item/AddExtraInfoButton.vue'
import SlideTransition from '@core/components/SlideTransition.vue'

import { useWifiForm } from '@core/composables/forms'
import { DecryptedItem } from '@core/clients/tilig'

const props = defineProps<{
  item: DecryptedItem
  saving: boolean
}>()

const { item } = toRefs(props)
const { notes } = useWifiForm(item)
const showNotesField = ref(!!notes.value)
</script>

<template>
  <WifiForm :item="item" :loading="saving" orientation="horizontal">
    <template #notes>
      <div>
        <SlideTransition>
          <NotesFormField v-if="showNotesField" v-model="notes" />
        </SlideTransition>

        <section class="extra-info">
          <AddExtraInfoButton v-show="!showNotesField" @click="showNotesField = true" />
        </section>
      </div>
    </template>
  </WifiForm>
</template>

<style scoped>
.notes-label {
  @apply self-start md:my-0;
}

.extra-info {
  @apply py-2 pt-3;
}
</style>
