<script setup lang="ts">
import { toRefs } from 'vue'

import { DecryptedItem } from '@core/clients/tilig'
import { useWifiForm } from '@core/composables/forms'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

import ItemDetailsWrapper from '@core/components/item/ItemDetailsWrapper.vue'
import ItemField from '@core/components/item/ItemField.vue'
import PasswordField from '@core/components/item/PasswordField.vue'
import NotesField from '@core/components/item/NotesField.vue'

const props = defineProps<{
  item: DecryptedItem
}>()

const { item } = toRefs(props)
const { notes, networkName, password } = useWifiForm(item)
const { trackEvent } = useTrackingStore()

trackEvent({
  event: TrackingEvent.WIFI_ITEM_VIEWED,
})
</script>

<template>
  <ItemDetailsWrapper :item="item">
    <ItemField id="network-name" :value="networkName" label="Network name" />
    <PasswordField label="Network password" :value="password" />
    <NotesField :value="notes" />
  </ItemDetailsWrapper>
</template>
