<script setup lang="ts">
import { toRefs } from 'vue'

import FormField from '@core/components/FormField.vue'
import PasswordFormField from '@core/components/PasswordFormField.vue'

import { useWifiForm } from '@core/composables/forms'
import { DecryptedItem } from '@core/clients/tilig'

const props = withDefaults(
  defineProps<{
    item: DecryptedItem
    orientation?: 'horizontal' | 'vertical'
  }>(),
  {
    orientation: 'vertical',
  }
)

const { item } = toRefs(props)
const { name, networkName, password } = useWifiForm(item)
</script>

<template>
  <FormField
    id="title"
    v-model="name"
    :orientation="orientation"
    label="Title"
    placeholder="E.g. “WiFi at Mom & Dad”"
  />

  <FormField
    v-model="networkName"
    :orientation="orientation"
    label="Network name"
    placeholder="E.g. “Router3868”"
  />

  <PasswordFormField
    v-model="password"
    label="Network password"
    placeholder="Enter the password"
    :orientation="orientation"
    :show-generate-password-button="false"
  />
  <slot name="notes" />
</template>
