<script setup lang="ts">
import { toRef, watch } from 'vue'

import Button from '@core/components/Button.vue'
import RevokeAccess from '@core/assets/revoke-access.svg?component'

const props = defineProps<{
  title: string
  body: string
  isDeleting?: boolean
}>()

const emit = defineEmits<{
  (e: 'deleteShare'): void
  (e: 'close'): void
}>()

const isDeleting = toRef(props, 'isDeleting')

const deleteShare = () => {
  emit('deleteShare')
}

watch(
  isDeleting,
  (isDeleting) => {
    if (!isDeleting) emit('close')
  },
  {
    immediate: false,
  }
)
</script>

<template>
  <div class="delete-share-link">
    <div class="delete-share-icon">
      <RevokeAccess class="delete-share-icon" />
    </div>

    <h3 class="delete-share-title">{{ title }}</h3>

    <p class="delete-share-body">
      {{ body }}
    </p>

    <div class="controls">
      <Button
        :disabled="isDeleting"
        type="button"
        size="large"
        class="cancel-delete"
        @click="emit('close')"
        >Cancel</Button
      >

      <Button
        :disabled="isDeleting"
        :loading="isDeleting"
        size="large"
        data-testid="confirm-delete"
        class="confirm-delete"
        @click="deleteShare"
      >
        <slot name="confirmation-text">Yes, delete</slot>
      </Button>
    </div>
  </div>
</template>

<style scoped>
.delete-share-link {
  @apply flex max-w-[408px] flex-col items-center p-8;
}

.delete-share-icon {
  @apply w-12 text-red;
}

.delete-share-title {
  @apply my-1 text-xl font-medium text-blue-darkest;
}

.delete-share-body {
  @apply mb-4 text-center text-sm font-book tracking-[0] opacity-75;
}

.confirm-delete {
  @apply mb-2 border-0 bg-red text-white  opacity-70 hover:bg-red hover:opacity-100;
}

.confirm-delete,
.cancel-delete {
  @apply flex h-12 w-full items-center justify-center text-sm font-book;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.cancel-delete {
  @apply border-gray font-book;
}

.controls {
  @apply flex w-full justify-between gap-4;
}
</style>
