<script lang="ts" setup>
import RevokeAccess from '@core/assets/revoke-access.svg?component'
import ProfilePicture from '@core/components/ProfilePicture.vue'

const emit = defineEmits<{
  (e: 'revoke-access'): void
}>()

defineProps<{
  name?: string
  email?: string
  picture?: string | null
  pending?: boolean
  hideRevoke?: boolean
}>()
</script>

<template>
  <div class="member">
    <ProfilePicture :name="email || name" :picture="picture" />

    <div class="member-email-container">
      <p class="member-email">
        {{ name || email }}
      </p>
      <span v-if="pending" class="pending">Pending</span>
    </div>

    <div v-if="!hideRevoke" class="revoke-access" @click="emit('revoke-access')">
      <RevokeAccess class="member-revoke-icon" />
      Revoke Access
    </div>
  </div>
</template>

<style scoped>
.member {
  @apply grid h-[40px] w-full grid-cols-[40px_1fr_115px] items-center gap-2 md:gap-4;
}

.member-email-container {
  @apply flex flex-col truncate text-sm md:flex-row;
}

.member-email {
  @apply truncate;
}

.member-revoke-icon {
  @apply w-4 text-red;
}

.revoke-access {
  @apply flex cursor-pointer items-center justify-between gap-1 text-xs text-red opacity-75 hover:opacity-100;
}

.pending {
  @apply max-w-max rounded-xl bg-indigo-lightest px-2 py-1 text-xs text-indigo md:ml-3;
}
</style>
