<script setup lang="ts">
import { FolderIcon, UserGroupIcon } from '@heroicons/vue/outline'

import { computed } from 'vue'
import { Folder } from '@core/clients/tilig'

const props = defineProps<{ folder: Folder; memberCount?: boolean }>()

const folderName = computed(() => props.folder.name)
const folderMemberCount = computed(
  () => props.folder.folder_memberships.length + props.folder.folder_invitations.length
)
</script>

<template>
  <div class="folder-badge">
    <span>
      <FolderIcon class="folder-badge-icon" />
      {{ folderName }}
    </span>
    <span v-if="memberCount && folderMemberCount > 1" class="folder-member-count">
      {{ folderMemberCount }}
      <UserGroupIcon class="folder-badge-icon" />
    </span>
  </div>
</template>

<style scoped>
.folder-badge {
  @apply rounded bg-indigo-lightest px-2 py-1 text-indigo-darkest;
}

.folder-member-count {
  @apply ml-2 border-l border-indigo-light pl-2;
}

.folder-badge-icon {
  @apply inline-block w-5;
}
</style>
