<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'

const props = defineProps<{
  picture: string | null
  name: string
}>()

const failedToLoad = ref(false)
const firstLetter = computed(() => props.name?.charAt(0)?.toUpperCase())

function handleError() {
  failedToLoad.value = true
}

onMounted(() => {
  if (!props.picture) {
    handleError()
  }
})
</script>

<template>
  <p v-if="failedToLoad" class="fallback">{{ firstLetter }}</p>
  <img v-else-if="picture" class="picture" :src="picture" alt="" @error="handleError" />
</template>

<style scoped>
.picture {
  @apply m-0 h-full w-full rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-blue-darkest;
}

.fallback {
  @apply flex h-full w-full items-center justify-center rounded-full text-xl shadow shadow-blue-lightest hover:no-underline focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-blue-darkest;
}
</style>
