<script setup lang="ts">
import { computed } from 'vue'

import AvatarAndName from '@core/components/AvatarAndName.vue'

import { Contact } from '@core/clients/tilig'

const emit = defineEmits<{
  (e: 'contact-selected', email: string): void
}>()

const props = defineProps<{
  email: string | null
  contacts: Contact[]
}>()

const emailOrNameMatches = (contact: Contact) =>
  contact.display_name.toLowerCase().includes(props.email || '') ||
  contact.email.toLowerCase().includes(props.email || '')

const filteredContacts = computed(() => props.contacts.filter(emailOrNameMatches))
</script>

<template>
  <div class="invite-folder-member">
    <section v-if="email" class="new-contact">
      <h3 class="heading">Keep typing to invite</h3>
      <AvatarAndName :email="email" />
    </section>

    <section v-if="filteredContacts.length" class="suggested-contacts">
      <h3 class="heading">suggested contacts</h3>
      <div class="contacts">
        <div
          v-for="contact in filteredContacts"
          :key="contact.id"
          class="contact"
          @click="emit('contact-selected', contact.email)"
        >
          <AvatarAndName :picture="contact.picture" :name="contact.display_name || contact.email" />
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
.invite-folder-member {
  @apply flex max-h-64 min-h-max flex-col gap-3 overflow-x-hidden overflow-y-scroll rounded-lg border border-gray bg-white p-4;
}

.heading {
  @apply mb-4 text-xxs uppercase tracking-wide text-gray-darkest;
}

.contacts {
  @apply flex flex-col gap-0.5;
}

.new-contact {
  @apply mb-3;
}

.contact {
  @apply -mx-4 cursor-pointer px-4 py-2 hover:bg-gray-lightest;
}
</style>
