<script setup lang="ts">
import { computed, ref } from 'vue'
import { throttle } from 'lodash'
import { DocumentDuplicateIcon } from '@heroicons/vue/outline'

import LinkIcon from '@core/assets/share-link.svg?component'
import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'
import { useScreenSize } from '@core/composables/useScreensize'
import { isBrowserExtension } from '@core/utils/isBrowserExtension'
import webappURL from '@core/utils/webappURL'

const props = defineProps<{ shareSecret: string | null }>()

let timeout = 0

const tooltipVisible = ref(false)
const copied = ref(false)
const hovered = ref(false)
const { onDesktop } = useScreenSize()

const shareLinkWithBaseUrl = computed(() => {
  const baseURL = isBrowserExtension() ? webappURL() : window.location.origin

  return new URL(`/s#${props.shareSecret}`, baseURL).toString()
})

const copy = throttle(() => {
  hovered.value = false
  clearTimeout(timeout)

  tooltipVisible.value = true
  copyStringToClipboard(shareLinkWithBaseUrl.value)
  copied.value = true

  timeout = window.setTimeout(() => {
    tooltipVisible.value = false
    copied.value = false
  }, 2000)
}, 1000)

// we meed to ensure these are not fired on mobile
// a click triggers the hover
const onHover = () => {
  if (!onDesktop.value) return
  tooltipVisible.value = true
  hovered.value = true
}

const onMouseLeave = () => {
  if (!onDesktop.value || copied.value) return

  hovered.value = false
  tooltipVisible.value = false
}
</script>

<template>
  <div
    class="share-link"
    :class="{
      copied,
      hovered,
    }"
    @click.stop="copy"
    @mouseenter="onHover"
    @mouseleave="onMouseLeave"
  >
    <LinkIcon class="icon link-icon" />
    <p class="link">
      {{ shareLinkWithBaseUrl }}
    </p>

    <div class="controls">
      <DocumentDuplicateIcon class="icon" />
    </div>

    <div class="gradient"></div>

    <div class="tooltip" :class="{ 'tooltip-visible': tooltipVisible }">
      <span v-if="copied">Share-link is copied</span>
      <span v-else>Click to copy this share-link</span>
      <span class="arrow-down"></span>
    </div>
  </div>
</template>

<style scoped>
.share-link {
  @apply relative grid cursor-pointer grid-cols-[1.25rem,1fr] items-center justify-between gap-1 rounded-lg border border-gray p-2 hover:bg-gray-lightest md:h-12 md:p-3 md:pl-4;
}

.share-link.copied {
  @apply border-indigo;
}

.link-icon {
  @apply h-4 w-4 text-blue-darkest;
}
.icon {
  @apply h-5 w-5 cursor-pointer;
}

.link {
  @apply w-full truncate text-xs text-blue-darkest md:text-sm md:leading-none;
}

.controls {
  @apply absolute right-0 top-2 z-10 flex gap-6 px-4 md:top-3;
}

.gradient {
  @apply absolute h-[38px] w-full md:h-[46px];
  border-radius: 0 7px 7px 0;
  background: linear-gradient(270deg, #f7f7f9 0%, rgba(247, 247, 249, 0) 100%);
}

.tooltip {
  @apply invisible absolute -top-11 left-[30%] z-20 cursor-default  rounded p-1.5 px-2 text-xs text-white opacity-0 transition duration-100 ease-in md:left-[40%];
}
.hovered .tooltip {
  @apply bg-blue-darkest text-white;
}

.copied .tooltip {
  @apply bg-indigo text-white;
}

.tooltip-visible {
  @apply visible opacity-100;
}

.arrow-down {
  @apply invisible absolute -bottom-[6px] left-[40%] h-0 w-0 border-x-[6px] border-t-[6px] bg-gray-lightest outline-none;
}

.hovered .arrow-down {
  @apply visible border-t-blue-darkest;
}

.copied .arrow-down {
  @apply visible border-t-indigo;
}
</style>
