<script lang="ts" setup>
import { computed, ref, toRefs } from 'vue'
import { TrashIcon, LinkIcon, UserGroupIcon } from '@heroicons/vue/solid'

import avatar1 from '@core/assets/item/share-image-1.jpg'
import avatar2 from '@core/assets/item/share-image-2.jpg'
import avatar3 from '@core/assets/item/share-image-3.jpg'

import { Contact, DecryptedItem, Template, UserProfile } from '@core/clients/tilig'
import { getTemplateLabel } from '@core/utils/templateLabel'

import Button from '@core/components/Button.vue'
import Modal from '@core/components/Modal.vue'
import ShareLink from './ItemShareLink.vue'
import DeleteShare from './DeleteShare.vue'
import FolderMembers from './FolderMembers.vue'
import FolderManageModal from '../folders/FolderManageModal.vue'

const props = defineProps<{
  item: DecryptedItem
  currentUser?: UserProfile | null
  contacts?: Contact[]
  isCreating?: boolean
  isDeleting?: boolean
  publicKeyFetchError?: 'own-email' | null
  isAddingMembership?: boolean
  isRevokingMembership?: boolean
}>()

defineEmits<{
  (e: 'createShare'): void
  (e: 'deleteShare'): void
  (e: 'addFolderMembership', email: string): void
  (e: 'resetPublicKeyFetchErrorState'): void
  (e: 'revokeFolderMembership', memberId: string): void
}>()

const { item } = toRefs(props)

const avatars = [avatar1, avatar2, avatar3]

const showDeleteDialog = ref(false)
const folderModalOpen = ref(false)

const shareSecret = computed(() => item.value.share?.masterSecret || null)

const folder = computed(() => item.value.item.folder)
const folderMemberCount = computed(() => {
  if (!folder.value) return 0
  return folder.value.folder_memberships.length + folder.value.folder_invitations.length
})
const hasFolderMembers = computed(() => {
  return folderMemberCount.value > 1
})
const isFolderItem = computed(() => !!folder.value && !folder.value.single_item)
const isSharedAsItem = computed(() => hasFolderMembers.value || !!shareSecret.value)

const sharingType = computed(() => {
  return (item.value.item.template && getTemplateLabel(item.value.item.template)) || 'item'
})
const sharingName = computed(() => {
  return item.value.overview.name
})
const supportsShareLink = computed(() => item.value.item.template === Template.Login)
</script>

<template>
  <div class="item-share">
    <section class="share-container">
      <div v-if="folder && isFolderItem" class="body">
        <h1 class="header">
          {{ hasFolderMembers ? `This ${sharingType} is shared` : `Share this ${sharingType}` }}
        </h1>
        <p class="text">
          This {{ sharingType }} is part of <span class="text-indigo"> {{ folder.name }}</span
          >. {{ folderMemberCount === 1 ? 'Only you' : `${folderMemberCount} people` }} have access
          to it.
        </p>
        <p>
          <Button
            button-style="primary"
            size="small"
            class="share-button-small"
            :loading="isCreating"
            :disabled="isCreating"
            @click="folderModalOpen = true"
          >
            <template #icon>
              <UserGroupIcon class="share-button-icon" />
            </template>
            Manage folder</Button
          >
        </p>
      </div>
      <div v-else class="body">
        <h1 class="header">
          {{ isSharedAsItem ? `This ${sharingType} is shared` : `Share this ${sharingType}` }}
        </h1>
        <p class="text">
          Give a friend or co-worker access to
          {{ sharingName }}
        </p>
      </div>
      <div class="avatars">
        <img v-for="avatar in avatars" :key="avatar" class="avatar" :src="avatar" :alt="avatar" />
      </div>
    </section>

    <FolderMembers
      v-if="!isFolderItem"
      :folder="item.item.folder"
      :current-user="currentUser"
      :contacts="contacts"
      :public-key-fetch-error="publicKeyFetchError"
      :is-revoking-membership="isRevokingMembership"
      :is-adding-membership="isAddingMembership"
      @add-folder-membership="$emit('addFolderMembership', $event)"
      @reset-public-key-fetch-error-state="$emit('resetPublicKeyFetchErrorState')"
      @revoke-folder-membership="$emit('revokeFolderMembership', $event)"
    />

    <section v-if="supportsShareLink">
      <div class="divider" />

      <section v-if="shareSecret" class="share-link-section">
        <p class="share-link-notice">Anyone with this URL can view this login</p>
        <ShareLink :share-secret="shareSecret" />
        <Button class="delete-share-link" size="small" @click="showDeleteDialog = true">
          <template #icon>
            <TrashIcon class="delete-share-icon" />
          </template>
          <template #label>Delete share-link</template>
        </Button>
      </section>

      <section v-else class="generate-magic-link">
        <p>or share with a magic link that can be seen by anyone</p>
        <Button
          button-style="primary"
          size="small"
          class="share-button-small"
          :loading="isCreating"
          :disabled="isCreating"
          @click="$emit('createShare')"
        >
          <template #icon>
            <LinkIcon class="share-button-icon" />
          </template>
          Create a share-link</Button
        >
      </section>
    </section>
  </div>

  <Modal :open="showDeleteDialog" @close-modal="showDeleteDialog = false">
    <DeleteShare
      :is-deleting="isDeleting"
      title="Delete the share-link?"
      body="This will make the information inaccessible to anyone who has this link."
      @delete-share="$emit('deleteShare')"
      @close="showDeleteDialog = false"
    />
  </Modal>

  <FolderManageModal
    v-if="folder && isFolderItem"
    :open="folderModalOpen"
    :folder="folder"
    :current-user="currentUser"
    :contacts="contacts"
    :public-key-fetch-error="publicKeyFetchError"
    :is-revoking-membership="isRevokingMembership"
    :is-adding-membership="isAddingMembership"
    @add-folder-membership="$emit('addFolderMembership', $event)"
    @reset-public-key-fetch-error-state="$emit('resetPublicKeyFetchErrorState')"
    @revoke-folder-membership="$emit('revokeFolderMembership', $event)"
    @close="folderModalOpen = false"
  />
</template>

<style scoped>
.item-share {
  @apply relative my-5 min-h-[158px] w-full rounded-lg bg-white p-4 pt-6 lg:p-7 lg:pt-6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.share-container {
  /* Don't use grid on mobile + extension, make it full width instead */
  @apply block grid-cols-[1fr,109px] gap-4 sm:grid md:gap-10;
}

.header {
  @apply mb-2 font-spoof text-xl font-medium tracking-normal md:text-2xl;
}

.body {
  @apply flex min-w-0 flex-shrink flex-grow flex-col gap-1 lg:gap-0;
}

.text {
  @apply mb-3 break-words text-sm leading-form opacity-75;
}

.share-button-small {
  @apply h-7 w-max min-w-max border border-indigo bg-white text-sm leading-form text-indigo hover:text-white md:self-end;
}

.avatars {
  /* Hidden on mobile + extension as a temporary solution */
  @apply hidden max-w-[109px] items-center self-start sm:flex;
}

.avatar {
  @apply h-12 w-12 rounded-full border-4 border-white;
}

.avatar:nth-of-type(1) {
  @apply h-11 w-11;
}
.avatar:nth-of-type(2) {
  @apply z-10 -ml-3 h-14 w-14;
}
.avatar:nth-of-type(3) {
  @apply z-20 -ml-3 h-11 w-11;
}

.button.delete-share-link {
  @apply m-0 mt-2 w-max border-none bg-transparent py-0 pl-0 text-xs text-red shadow-transparent hover:bg-transparent lg:mt-1;
}
.delete-share-icon {
  @apply mr-2 h-3 w-3;
}

.share-button-icon {
  @apply w-4;
}

.share-link-notice {
  @apply text-xs;
}

.generate-magic-link {
  @apply flex flex-col gap-3 text-xs md:flex-row md:items-center;
}

.divider {
  @apply my-4 border-t border-gray;
}
</style>
