<script setup lang="ts">
import leftHeaderBackground from '@/assets/item/header-background-left.svg?url'
import rightHeaderBackground from '@/assets/item/header-background-right.svg?url'
import acorn from '@/assets/acorn.svg?component'
import type { Brand } from '@core/clients/tilig/item'
import { computed } from 'vue'

const props = defineProps<{ brand?: Brand | null; secretName: string }>()
// it's not the same default color in the account view, but this to mix the brand banner with the background
const brandColor = computed(() => props.brand?.main_color_hex || '#000030')
const logo = computed(() => props.brand?.logo_icon_source)
</script>

<template>
  <header class="brand">
    <img class="left-account-bubble" :src="leftHeaderBackground" />
    <img class="right-account-bubble" :src="rightHeaderBackground" />

    <div class="logo-container">
      <img v-if="logo" :src="logo" class="logo" />
      <acorn v-else />
    </div>
    <p class="name">{{ props.secretName || '' }}</p>
  </header>
</template>

<style scoped>
.brand {
  @apply relative flex h-28 flex-col items-center justify-center rounded-t;
  background-color: v-bind(brandColor);
}

.name {
  @apply mt-2 w-full overflow-hidden text-ellipsis whitespace-nowrap pl-4 pr-4 text-center text-xl text-white md:text-2xl;
}

.logo-container {
  @apply flex h-12 w-12 items-center justify-center rounded-lg bg-white;
}

.logo {
  @apply block h-8 w-8;
}

.left-account-bubble,
.right-account-bubble {
  @apply absolute top-0 h-full animate-[pulse_8s_ease-in-out_infinite] border-0 outline-none motion-reduce:animate-none;
}

.left-account-bubble {
  @apply left-0 top-0;
}

.right-account-bubble {
  @apply right-0;
}
</style>
