<script setup lang="ts">
import { ref } from 'vue'
import { useScreenSize } from '@core/composables/useScreensize'

const showTooltip = ref(false)
withDefaults(defineProps<{ tooltip?: string; size?: 'small' | 'large'; forceShow?: boolean }>(), {
  tooltip: '',
  size: 'small',
  forceShow: false,
})
const { onDesktop } = useScreenSize()

const onMouseOver = () => {
  if (!onDesktop.value) return
  showTooltip.value = true
}

const onMouseOut = () => {
  if (!onDesktop.value) return
  showTooltip.value = false
}
</script>

<template>
  <div class="tooltip-wrapper">
    <div :class="['tooltip', size, { 'tooltip--visible': showTooltip || forceShow }]">
      <div class="tooltip-content">
        <slot name="tooltip-content">{{ tooltip }}</slot>
      </div>
      <div class="arrow-down"></div>
    </div>
    <div class="content" @mouseover="onMouseOver" @mouseout="onMouseOut">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>
.tooltip-wrapper {
  @apply relative cursor-pointer select-none overflow-visible;
}

.tooltip {
  @apply invisible absolute bottom-[calc(100%+6px)] left-[calc(50%-3rem)] w-24 text-center text-lg text-white opacity-0 transition duration-300 ease-in;
}

.tooltip.large {
  @apply left-[calc(50%-4.5rem)] w-36;
}

.tooltip--visible {
  @apply visible opacity-100;
}

.arrow-down {
  @apply absolute -bottom-[6px] right-[calc(50%-6px)] h-0 w-0 border-x-[6px] border-t-[6px] border-solid border-x-transparent border-t-blue-darkest text-[0];
  content: '';
}

.tooltip-content {
  @apply rounded bg-blue-darkest p-2 text-xs text-white;
}

.content {
  @apply w-fit overflow-visible;
}
</style>
