<script setup lang="ts">
import { withDefaults, ref, computed } from 'vue'
import { EyeIcon, EyeOffIcon } from '@heroicons/vue/solid'
import { useClipboard } from '@vueuse/core'
import DocumentDuplicateIcon from '@/assets/share/icon-copy.svg?component'
import Tooltip from './ButtonTooltip.vue'

const props = withDefaults(
  defineProps<{
    name: string
    withCopy?: boolean
    withHidableValue?: boolean
    withInitiallyHiddenValue?: boolean
    value?: string | null
    class?: string
  }>(),
  {
    withCopy: true,
    withHidableValue: false,
    withInitiallyHiddenValue: true,
    value: null,
    class: undefined,
  }
)

const emit = defineEmits<{
  (e: 'copied'): void
}>()
const valueHidden = ref(props.withHidableValue && props.withInitiallyHiddenValue)
const fieldCopied = ref(false)
const copyClass = computed(() => (fieldCopied.value ? 'copied' : 'no-copied'))
const copiedTimeout = ref(0)
const { copy } = useClipboard()

const handleCopy = async () => {
  fieldCopied.value = true
  await copy(props.value || '')
  emit('copied')

  if (copiedTimeout.value) {
    clearTimeout(copiedTimeout.value)
  }
  copiedTimeout.value = setTimeout(() => {
    fieldCopied.value = false
    copiedTimeout.value = 0
  }, 3000) as unknown as number
}

const toggleValueVisibility = () => {
  valueHidden.value = !valueHidden.value
}
</script>

<template>
  <div :class="['field-container', props.class]" @click="handleCopy">
    <div class="row label">
      <label>{{ props.name }}</label>
    </div>
    <div class="row">
      <slot name="content" :hidden="valueHidden">
        <p v-if="valueHidden">•••••••••</p>
        <p v-else>{{ props.value }}</p>
      </slot>
      <div class="action-buttons">
        <slot name="action-buttons"></slot>
        <div class="password-tooltip">
          <Tooltip v-if="withHidableValue">
            <template #tooltip-content>
              <span>View password</span>
            </template>
            <template #default>
              <EyeIcon
                v-if="withHidableValue && valueHidden"
                class="icon"
                @click.prevent.stop="toggleValueVisibility"
              />
              <EyeOffIcon
                v-else-if="withHidableValue"
                class="icon"
                @click.prevent.stop="toggleValueVisibility"
              />
            </template>
          </Tooltip>
        </div>
        <div :class="[copyClass, 'button']">
          <div class="action-button">
            <Tooltip :color="fieldCopied ? '#695CFF' : '#05003F'" :force-show="fieldCopied">
              <template #tooltip-content>
                <span v-if="fieldCopied">Copied</span>
                <span v-else>Copy</span>
              </template>
              <template #default>
                <DocumentDuplicateIcon v-if="props.withCopy" class="icon" @click="handleCopy" />
              </template>
            </Tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.field-container:last-of-type {
  border-bottom: none;
}

.field-container:hover {
  background-color: #f5f5ff;
}

.content {
  @apply flex flex-col;
}

.row {
  position: relative;
  overflow-y: visible;
}

.label {
  @apply text-sm text-blue-darkest opacity-75;
}

.row .value {
  @apply w-full flex-col;
}

.field-container {
  @apply p-8 pb-4 pt-6;
  border-bottom: 1px solid #ccc;
}

.field-container:last-of-type row {
  overflow-y: hidden;
}

.field-container .row {
  @apply flex;
  flex: 10;
}

.field-container label {
  @apply block;
  width: 100%;
}

.field-container p,
.field-container a {
  @apply m-0 block w-[80%];
}

.field-container .action-buttons {
  @apply flex w-[20%] cursor-pointer items-start justify-end overflow-x-visible;
}

.icon {
  @apply h-4 w-4;
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
}

.copied:deep(.tooltip-content) {
  @apply border-indigo bg-indigo;
}

.copied:deep(.arrow-down) {
  @apply border-x-transparent border-t-indigo;
}

.action-button {
  @apply ml-4;
}
</style>
