<script lang="ts" setup>
import { computed, watch } from 'vue'
import { useAsyncState } from '@vueuse/core'
import ExternalLinkIcon from '@/assets/share/icon-newtab.svg?component'
import FieldContainer from './FieldContainer.vue'
import { DecryptedShare, decryptShare } from '@core/clients/tilig/privateLink'
import { fetchShare } from '@core/clients/tilig/privateLinks'
import { useTotp } from '@core/composables/useTotp'
import AppLoadingIndicator from '@/shared-components/AppLoadingIndicator.vue'
import { useTrackingStore } from '@core/stores/tracking'
import {
  SHARED_ITEM_2FA_CODE_COPIED,
  SHARED_ITEM_NOTES_COPIED,
  SHARED_ITEM_PASSWORD_COPIED,
  SHARED_ITEM_USERNAME_COPIED,
  SHARED_ITEM_VIEWED,
  SHARED_ITEM_WEBSITE_COPIED,
  SHARED_ITEM_WEBSITE_OPENED,
} from '@core/utils/trackingConstants'
import BrandBanner from '@/pages/PrivateLink/BrandBanner.vue'
import Tooltip from '@/pages/PrivateLink/ButtonTooltip.vue'
import BrokenLinkIcon from '@/assets/share/broken-link.svg?component'
import { addSchema } from '@core/utils/domainUtils'
import { useLoginForm } from '@core/composables/forms'

import CircleCountdown from '@core/components/totp/CircleCountdown.vue'
import Totp from '@core/components/totp/Totp.vue'

const props = defineProps<{ masterSecret: string }>()

const trackingStore = useTrackingStore()

const share = useAsyncState<DecryptedShare | null>(
  async () => {
    const result = await fetchShare(props.masterSecret)
    return await decryptShare(result.data, props.masterSecret)
  },
  null,
  { immediate: true }
)

const { notes, totp, name, username, website, password, primaryUrl } = useLoginForm(share.state)
const brand = computed(() => share.state.value?.share.brand)
const websiteUrl = computed(() => `//${website?.value}`)
const isOk = computed(() => share.isReady)
const isLoading = computed(() => share.isLoading)

const { code, remainingSeconds } = useTotp(totp)

const trackWebsiteOpened = () => {
  trackingStore.trackEvent({ event: SHARED_ITEM_WEBSITE_OPENED })
}

const errorMessages = computed(() => {
  if (!share.error.value) return null
  const errorName = (share.error.value as { name?: string }).name
  if (errorName && ['PrivateLinkError', 'ShareDataError'].includes(errorName)) {
    return {
      title: 'Broken link',
      message: 'There is something wrong with this link.',
    }
  }

  return {
    title: 'Link does not exist anymore',
    message: 'It looks like the share-link is expired.',
  }
})

const handleCopy = (field: string) => {
  switch (field) {
    case 'username':
      trackingStore.trackEvent({ event: SHARED_ITEM_USERNAME_COPIED })
      break
    case 'password':
      trackingStore.trackEvent({ event: SHARED_ITEM_PASSWORD_COPIED })
      break
    case 'website':
      trackingStore.trackEvent({ event: SHARED_ITEM_WEBSITE_COPIED })
      break
    case '2fa':
      trackingStore.trackEvent({ event: SHARED_ITEM_2FA_CODE_COPIED })
      break
    case 'notes':
      trackingStore.trackEvent({ event: SHARED_ITEM_NOTES_COPIED })
      break
  }
}

watch(isOk, () => {
  if (isOk.value) {
    trackingStore.trackEvent({ event: SHARED_ITEM_VIEWED })
  }
})
</script>

<template>
  <div v-if="isOk.value" class="card">
    <BrandBanner :brand="brand" :secret-name="name || ''" />
    <div class="card-container">
      <FieldContainer
        name="Email or username"
        :value="username || ''"
        @copied="handleCopy('username')"
      />
      <FieldContainer
        name="Password"
        :value="password || ''"
        with-hidable-value
        with-initially-hidden-value
        class="password-field"
        @copied="handleCopy('password')"
      />

      <FieldContainer name="Website" :value="website || ''" @copied="handleCopy('website')">
        <template #content>
          <a class="website-link" :href="addSchema(primaryUrl || '')" target="_blank">{{
            website || ''
          }}</a>
        </template>
        <template #action-buttons>
          <div class="external-link">
            <Tooltip>
              <template #tooltip-content>Visit</template>
              <template #default>
                <a :href="websiteUrl" target="_blank" @click="trackWebsiteOpened">
                  <ExternalLinkIcon class="icon open-website" />
                </a>
              </template>
            </Tooltip>
          </div>
        </template>
      </FieldContainer>

      <FieldContainer
        v-if="code"
        :value="code"
        name="2FA Authentication"
        @copied="handleCopy('2fa')"
      >
        <template #content>
          <Totp :code="code" />
        </template>
        <template #action-buttons>
          <CircleCountdown :count="remainingSeconds" :max-count="30" />
        </template>
      </FieldContainer>

      <FieldContainer v-if="notes" name="Notes" :value="notes" @copied="handleCopy('notes')">
        <template #content>
          <p class="notes" v-text="notes"></p>
        </template>
      </FieldContainer>
    </div>
  </div>
  <div v-else-if="isLoading.value" class="card card--loading">
    <AppLoadingIndicator class="h-10" />
  </div>
  <div v-else class="card card--failed">
    <div class="broken-link-wrapper">
      <BrokenLinkIcon />
    </div>
    <h1>{{ errorMessages?.title }}</h1>
    <p>
      {{ errorMessages?.message }}
      Please request a new share-link so you can access the credentials.
    </p>
  </div>
</template>

<style scoped>
label {
  @apply text-sm;
}

.card {
  @apply mt-8 w-full overflow-hidden rounded-lg bg-white font-stolzl text-blue-darkest;
}

.card--failed,
.card--loading {
  @apply flex min-h-[440px] flex-col items-center justify-center;
}

.card--failed h1 {
  @apply mb-2 text-center text-xl font-medium;
}

.card--failed p {
  @apply mb-7 pl-8 pr-8 text-center;
}

a {
  @apply block;
}

.mfa-code {
  @apply w-full font-mono font-bold;
}

.icon {
  @apply ml-4 h-4 w-4;
}

.icon:first-of-type {
  @apply ml-0;
}

.website-link {
  @apply w-[80%];
  color: #695cff;
}

textarea {
  @apply w-full resize-none border-none;
}

.notes p {
  @apply w-full whitespace-pre-wrap font-book;
}

.notes-input {
  @apply p-0;
}

.row .notes {
  @apply w-full;
}

.open-website {
  @apply h-6 w-6 p-1;
}

.broken-link-wrapper {
  @apply mb-4 mt-8 h-16 w-16 rounded-[3rem] p-4;
  background-color: #feebef;
}

.card :deep(.code) {
  @apply w-full;
}

.card :deep(.countdown) {
  @apply cursor-default;
}

.password-field :deep(p) {
  @apply font-roboto-mono;
}
</style>
