<script setup lang="ts">
import Button from '@core/components/Button.vue'
import tiligAppMock from '@/assets/share/img-banner.png'

import { useTrackingStore } from '@core/stores/tracking'
import { SHARED_ITEM_GETTING_STARTED_SELECTED } from '@core/utils/trackingConstants'

const trackingStore = useTrackingStore()

const trackGettingStartedSelected = () => {
  trackingStore.trackEvent({ event: SHARED_ITEM_GETTING_STARTED_SELECTED })
}

const handleGettingStartedClicked = () => {
  trackGettingStartedSelected()
  open('/')
}
</script>
<template>
  <div class="tilig-ad">
    <img class="banner-image" :src="tiligAppMock" />
    <div class="content">
      <p class="sub-heading">Use Tilig to keep your passwords secure and to stay safe online.</p>
      <Button :size="'small'" class="get-started" @click="handleGettingStartedClicked"
        >Get started</Button
      >
    </div>
  </div>
</template>

<style scoped>
.tilig-ad {
  @apply mt-4 flex h-fit w-full flex-row rounded-lg bg-indigo font-stolzl;
}

.banner-image {
  @apply ml-1.5 mt-4 h-[90%] w-4/12 self-end;
}

.content {
  @apply flex grow-[6] flex-col p-5 md:p-6;
}

.sub-heading {
  @apply m-auto text-sm;
}

.button.get-started {
  @apply m-auto h-8 rounded-md border-gray-light bg-white px-2 py-1 pb-1 pl-2 pr-2 pt-1 text-xs text-indigo md:text-sm;
}
</style>
