<script setup lang="ts">
import { onUnmounted, ref } from 'vue'
import { getAuthState } from '@/background/messageApis/auth'

import Login from '@/ui/components/Login.vue'
import CardContainer from '@core/components/CardContainer.vue'

const ready = ref(false)
const loggedIn = ref(false)

const checkCurrentUser = async () => {
  const authState = await getAuthState()
  ready.value = authState.initialized && authState.firebaseInitialized && authState.isSettled
  loggedIn.value = authState.isAuthenticated
}

// Check user now and every half a second
checkCurrentUser()
const userCheckInterval = setInterval(checkCurrentUser, 500)

onUnmounted(() => clearInterval(userCheckInterval))
</script>

<template>
  <div v-if="ready && !loggedIn" class="login-wrapper">
    <div class="login">
      <CardContainer>
        <Login :new-tab="false" />
      </CardContainer>
    </div>
  </div>
  <div v-else-if="ready && loggedIn">
    <router-view></router-view>
  </div>
</template>

<style>
.login-wrapper {
  @apply h-screen;
}

.login {
  @apply flex h-full items-center justify-center;
}
</style>
