<script setup lang="ts">
import { AuthProvider } from '@core/stores/auth'

import GoogleIcon from '@core/components/icons/GoogleIcon.vue'
import AppleIcon from '@core/components/icons/AppleIcon.vue'
import MicrosoftIcon from '@core/components/icons/MicrosoftIcon.vue'
import Button from './Button.vue'

withDefaults(defineProps<{ prepend?: string }>(), {
  prepend: 'Continue',
})

const emit = defineEmits<{
  (event: 'sign-in-with', provider: AuthProvider): void
}>()
</script>

<template>
  <div class="auth-provider-buttons">
    <Button
      full-width
      class="auth-button"
      size="large"
      button-style="outline-default"
      @click="emit('sign-in-with', 'google')"
    >
      <template #icon><GoogleIcon /></template>
      {{ prepend }} Google
    </Button>
    <Button
      full-width
      class="auth-button"
      size="large"
      button-style="outline-default"
      @click="emit('sign-in-with', 'apple')"
    >
      <template #icon><AppleIcon /></template>
      {{ prepend }} Apple
    </Button>
    <Button
      full-width
      class="auth-button"
      size="large"
      button-style="outline-default"
      @click="emit('sign-in-with', 'microsoft')"
    >
      <template #icon><MicrosoftIcon /></template>
      {{ prepend }} Microsoft
    </Button>
  </div>
</template>

<style scoped>
.auth-provider-buttons {
  @apply mx-auto mt-4 grid w-full grid-flow-row gap-4 px-2;
}

.auth-button {
  @apply rounded-full border-blue-darkest;
}
</style>
