<script setup lang="ts">
import { onMounted, ref, Ref } from 'vue'

const textareaElement: Ref<HTMLInputElement | null> = ref(null)
defineExpose({ maxLength: textareaElement.value?.maxLength })

withDefaults(
  defineProps<{
    modelValue?: string | null
    placeholder?: string
    textboxType?: 'collapsed' | 'expanded'
  }>(),
  {
    modelValue: null,
    placeholder: 'Enter notes',
    textboxType: 'expanded',
  }
)

const emits = defineEmits<{
  (e: 'update:modelValue', value: string | null): void
}>()

onMounted(() => {
  resize()
})

const resize = () => {
  const element = textareaElement.value
  if (!element) return

  // Textarea needs to shrink when we see that scrollHeight is less that current height
  const currentStyleHeight = parseInt(element.style.height.replace(/px$/, ''), 10)
  if (currentStyleHeight > element.scrollHeight) {
    // Reset height and then scrollHeight will immediately fix it.
    element.style.height = '1px'
  }

  element.style.height = element.scrollHeight + 'px'
}

const onInput = (e: Event) => {
  emits('update:modelValue', (e.target as HTMLInputElement).value || null)
  resize()
}
</script>

<template>
  <textarea
    ref="textareaElement"
    :value="modelValue || ''"
    :class="textboxType"
    :placeholder="placeholder"
    @input="onInput"
  ></textarea>
</template>

<style scoped>
textarea {
  @apply resize-none overflow-hidden;
}

textarea.expanded {
  @apply min-h-[10rem];
}
</style>
