<script setup lang="ts">
import ProfilePicture from '@core/components/ProfilePicture.vue'

defineProps<{
  email?: string
  name?: string
  picture?: string | null
}>()
</script>

<template>
  <div class="details">
    <div class="avatar">
      <ProfilePicture :name="name || email" :picture="picture" class="fallback" />
    </div>
    <div class="name-and-email">
      <p v-if="name" class="name">{{ name }}</p>
      <p v-if="email" class="email">{{ email }}</p>
    </div>
  </div>
</template>

<style scoped>
.avatar {
  @apply h-10 w-10 self-center rounded-full bg-indigo-lighter;
}

.details {
  @apply flex gap-4;
}

.name-and-email {
  @apply flex flex-col justify-center gap-1;
}

.name {
  @apply text-blue-darkest;
}

.email,
.last-access {
  @apply text-xs text-gray-darkest;
}

:deep(.fallback) {
  @apply text-gray-darkest;
}
</style>
