<script setup lang="ts">
import { PlusCircleIcon } from '@heroicons/vue/solid'
import { ChevronRightIcon } from '@heroicons/vue/outline'

import { SelectedWebsite } from '@core/stores/addItem'
import { Brand } from '@core/clients/tilig/brands'

import Spinner from '@core/components/icons/Spinner.vue'
import acorn from '@/assets/acorn.svg?url'

const props = defineProps<{
  searchString: string | null
  searchingForBrands: boolean
  brands: Brand[]
}>()

const emit = defineEmits<{
  (event: 'websiteSelected', website: SelectedWebsite): void
}>()

const emitEvent = (selectedWebsite: SelectedWebsite) => {
  emit('websiteSelected', selectedWebsite)
}

const handleSearchStringClick = () => {
  emitEvent({
    name: props.searchString,
    domain: props.searchString,
    brand: null,
  })
}

const selectBrand = (brand: Brand) => {
  emitEvent({
    name: brand.name,
    domain: brand.domain,
    brand,
  })
}
</script>

<template>
  <div class="search-result">
    <div class="add-search" @click="handleSearchStringClick">
      <PlusCircleIcon class="add-icon" />
      <p>{{ searchString }}</p>
      <ChevronRightIcon class="arrow" />
    </div>

    <!-- loading state -->
    <Spinner v-if="searchingForBrands" class="loading-icon" />
    <!-- search results -->
    <div v-else class="results">
      <div v-for="(brand, index) in brands" :key="index" class="brand" @click="selectBrand(brand)">
        <img :src="brand.logo_icon_source || acorn" alt="" class="brand-icon" />
        <div class="brand-details">
          <p class="brand-name">{{ brand.name }}</p>
          <p class="brand-url">{{ brand.domain }}</p>
        </div>
        <ChevronRightIcon class="arrow" />
      </div>
    </div>
  </div>
</template>

<style scoped>
.search-result {
  @apply mt-2 w-full;
}

.add-search {
  @apply flex cursor-pointer items-center gap-3 py-3 text-sm leading-4 text-indigo  hover:text-indigo-dark;
}

.add-icon {
  @apply flex h-6 w-6 rounded bg-indigo p-1 text-white;
}

.arrow {
  @apply ml-auto h-4 w-4 text-gray-dark;
}

.add-search:hover .arrow,
.brand:hover .arrow,
.brand:hover .brand-name {
  @apply text-blue-dark;
}

.brand {
  @apply flex cursor-pointer items-center gap-3 py-3;
}

.brand-icon {
  @apply h-6 w-6;
}

.brand-details {
  @apply flex flex-col gap-1;
}

.brand-name {
  @apply text-sm leading-none text-blue-light;
}
.brand-url {
  @apply text-xs font-book leading-none text-blue-lightest;
}

.results {
  @apply my-1 flex flex-col gap-1;
}

.search-result .loading-icon {
  @apply mx-auto my-4 h-6 w-6;
}
</style>
