<script setup lang="ts">
import { computed } from 'vue'
import { SelectedWebsite } from '@core/stores/addItem'

import acorn from '@/assets/acorn.svg?url'

const props = defineProps<{
  website: SelectedWebsite
}>()

defineEmits<{
  (event: 'websiteSelected', website: SelectedWebsite): void
}>()

const logoUrl = computed(() => props.website.brand?.logo_icon_source || acorn)
</script>

<template>
  <li class="suggestion" @click="$emit('websiteSelected', website)">
    <img :src="logoUrl" alt="" class="suggestion-logo" />
    <p>{{ website.name }}</p>
  </li>
</template>

<style scoped>
.suggestion {
  @apply flex w-[4rem] cursor-pointer flex-col items-center justify-center gap-2 rounded-lg border border-gray-light p-2 text-xxs text-blue-darkest hover:border-gray-darkest md:h-20 md:w-24 md:text-xs;
  /* custom because we don't have this box shadown in our config */
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.suggestion-logo {
  @apply h-5 w-5 rounded-sm hover:bg-transparent md:h-8 md:w-8;
}
</style>
