<script setup lang="ts">
import type { Component } from 'vue'
import Spinner from './icons/Spinner.vue'

withDefaults(
  defineProps<{
    buttonStyle?:
      | 'primary'
      | 'danger'
      | 'default'
      | 'green'
      | 'outline-primary'
      | 'outline-danger'
      | 'outline-default'
      | 'outline-green'
      | 'ghost'
    size?: 'default' | 'small' | 'large'
    type?: 'button' | 'submit' | 'reset'
    icon?: Component | null
    fullWidth?: boolean
    disabled?: boolean
    loading?: boolean
    labelClass?: string | null
  }>(),
  {
    buttonStyle: 'default',
    size: 'default',
    type: 'button',
    labelClass: undefined,
    icon: null,
  }
)
</script>

<template>
  <button
    :class="[
      'button',
      buttonStyle,
      `size-${size}`,
      {
        'full-width': fullWidth,
        disabled: disabled || loading,
      },
    ]"
    :disabled="disabled || loading"
    :type="type"
  >
    <Spinner v-if="loading" class="spinner" />
    <div
      v-if="!loading && ($slots.icon || icon)"
      :class="`${size === 'large' ? `button-icon-slot-large` : `button-icon-slot `}`"
      aria-hidden
    >
      <slot name="icon"><component :is="icon" class="icon" /></slot>
    </div>
    <slot name="label">
      <span :class="`label label-size-${size} ${labelClass}`"><slot></slot></span>
    </slot>
  </button>
</template>

<style scoped>
/* 
  Note: it could be that I (Gertjan) am going a bit against my own guidelines here.
  I did that because I think it's more readable that way in this case.
 */

/* Base style */

.button {
  @apply inline-flex items-center justify-center space-x-1.5 rounded-lg border text-blue-darkest shadow transition-all;
}

.label {
  @apply inline-flex items-center;
}

/* Default button */
.default {
  @apply border-gray bg-white hover:bg-gray-lightest;
}

/* Size small */
.size-small {
  @apply px-2 py-1;
}
.label-size-small {
  @apply mt-[2px] text-xs leading-none sm:text-sm;
}

/* Size default */
.size-default {
  @apply px-4 py-3;
}
.label-size-default {
  @apply text-sm leading-form;
}

/* Size large */
.size-large {
  @apply px-5 py-4;
}
.label-size-large {
  @apply my-px h-5 pt-[2px];
}

/* Property: full-width */
.full-width {
  /* Also centers content */
  @apply inline-flex w-full;
}

/* Primary button */
.primary {
  @apply border-transparent bg-indigo text-sm font-normal text-white hover:bg-indigo-dark focus:outline-none focus:ring-2 focus:ring-indigo focus:ring-offset-2;
}

/* Warning button */
.danger {
  @apply border-transparent bg-pink text-white hover:bg-pink-dark disabled:hover:bg-pink-light;
}

/* Green button */
.green {
  @apply border-transparent bg-green-darker text-sm text-white hover:bg-green-darkest disabled:hover:bg-green-light;
}

.ghost {
  @apply border-none bg-transparent text-[inherit] shadow-none;
}

/* Property: disabled */
.disabled {
  @apply cursor-not-allowed opacity-50 hover:bg-indigo hover:opacity-75;
}

.spinner {
  @apply h-4 w-4;
}

/* Outline buttons */

.outline-primary {
  @apply border border-indigo bg-transparent text-indigo hover:bg-indigo hover:text-white;
}

.outline-danger {
  @apply border border-pink bg-transparent text-pink-dark hover:bg-pink-dark hover:text-white disabled:hover:bg-pink-light;
}
.outline-green {
  @apply border-green-darker bg-transparent text-sm text-green-darkest hover:bg-green-darkest hover:text-white disabled:hover:bg-green-light;
}

.outline-default {
  @apply border border-gray-lightest hover:bg-gray-lightest disabled:hover:bg-gray-lightest;
}

.icon {
  @apply w-5;
}
</style>

<style>
/* slot contents cannot be scoped locally */
.button-icon-slot svg {
  @apply -mt-[2px] h-5;
}

.button-icon-slot-large svg {
  @apply mr-2 h-5;
}
</style>
