<script setup lang="ts">
withDefaults(
  defineProps<{
    size?: 'small' | 'large'
  }>(),
  {
    size: 'small',
  }
)
</script>

<template>
  <section class="card-content-wrapper" :class="{ large: size === 'large' }"><slot /></section>
</template>

<style scoped>
.card-content-wrapper {
  @apply my-8 grid w-full max-w-[332px] place-items-center;
}

.large {
  @apply max-w-[433px];
}
</style>
