<script setup lang="ts">
import { CheckIcon } from '@heroicons/vue/outline'

const props = withDefaults(defineProps<{ active?: boolean; text?: string; done?: boolean }>(), {
  active: false,
  text: '',
  done: false,
})
</script>

<template>
  <li class="step" :class="{ 'step-active': props.active, 'step-done': props.done }">
    <div class="flex items-center">
      <div class="step-bullet">
        <CheckIcon v-if="done" class="ml-px mt-px h-[13px] w-[13px] text-white" aria-hidden />
      </div>
      <div class="step-line"></div>
    </div>
    <div class="step-content">
      <h3 class="step-caption">
        <slot>
          {{ text }}
        </slot>
      </h3>
    </div>
  </li>
</template>

<style scoped>
li.step {
  @apply mb-0;
}

li.step:last-child {
  @apply w-0;
}

li.step:last-child .step-line {
  @apply hidden;
}

.step-bullet {
  @apply flex h-[18px] w-[18px] shrink-0 -translate-x-2/4 rounded-full border-2 border-gray-dark bg-gray-lightest ring-4 ring-gray-lightest;
}

.step-line {
  @apply -ml-3 flex h-[2px] w-full bg-gray-dark;
}

.step-content {
  @apply mt-[6px] w-[70px] -translate-x-2/4 text-center;
}

.step-caption {
  @apply block text-xxs text-gray-darkest;
}

.step-active .step-caption {
  @apply block text-indigo;
}

.step-done .step-caption {
  @apply text-green-darker;
}

.step-active .step-bullet {
  @apply border-indigo;
}

.step-done .step-bullet {
  @apply border-green-darker bg-green-darker;
}

li.step-last {
  @apply w-0;
}
</style>
