<script setup lang="ts">
import { XIcon } from '@heroicons/vue/outline'
</script>

<template>
  <div class="close-button">
    <XIcon class="close-icon" />
  </div>
</template>

<style scoped>
.close-icon {
  @apply text-blue-darkest;
}

.close-button {
  @apply absolute right-4 top-4 h-8 w-8 cursor-pointer rounded-full  bg-gray-light p-1.5 opacity-50;
}
</style>
