<script setup lang="ts">
import confetti from '@core/assets/onboarding/confetti.svg'
const props = withDefaults(defineProps<{ background?: 'yellow' | 'gray' | 'confetti' }>(), {
  background: 'yellow',
})

const styleObject =
  props.background === 'confetti'
    ? {
        backgroundImage: 'url(' + confetti + ')',
        backgroundRepeat: 'repeat',
        backgroundSize: '1376px 765px',
      }
    : {}
</script>

<template>
  <div
    class="card-wrapper"
    :style="styleObject"
    :class="{ 'gray-background': props.background === 'gray' }"
  >
    <div class="card-container"><slot /></div>
  </div>
</template>

<style scoped>
.card-wrapper {
  @apply absolute bottom-0 left-0 right-0 top-0 flex flex-col justify-center  bg-yellow-lighter bg-cover py-1 transition duration-300;
}

.card-container {
  @apply grid place-items-center;
}

.gray-background {
  @apply bg-gray-darkest;
}
</style>
