<template>
  <div class="card"><slot /></div>
</template>

<style scoped>
.card {
  @apply relative flex w-full max-w-[433px] flex-col items-center rounded-[20px] border-gray bg-white text-center text-blue-darkest shadow-xl;
}
</style>
