<template>
  <h2 class="heading"><slot /></h2>
</template>

<style scoped>
.heading {
  /* Made the max width slightly bigger to fit in the autofill permissions header */
  @apply mb-4 mt-4 max-w-[352px] px-2 font-spoof text-2xl font-bold  leading-7;
}
</style>
