<script setup lang="ts">
import { computed } from 'vue'
import { createLogger } from '@core/utils/logger'

import FormField from './FormField.vue'

const logger = createLogger('ui:DateFormField')

const props = withDefaults(
  defineProps<{
    label?: string
    modelValue?: string | null
  }>(),
  {
    label: 'Date',
    modelValue: null,
  }
)

const emit = defineEmits<{ (event: 'update:modelValue', value: string | null): void }>()

const parsedValue = computed(() => {
  if (!props.modelValue) return null
  try {
    return new Date(props.modelValue).toISOString().slice(0, 10)
  } catch (e) {
    return props.modelValue
  }
})

const updateModelValue = (value: string | null) => {
  if (value) {
    try {
      value = new Date(`${value}T12:01:00Z`).toISOString()
    } catch (e) {
      logger.error('Error converting date value %O', e)
    }
  }

  emit('update:modelValue', value)
}
</script>

<template>
  <FormField
    :label="label"
    :model-value="parsedValue"
    type="date"
    @update:model-value="updateModelValue"
  >
    <template v-for="(_, name) in $slots" #[name]="slotProps">
      <slot v-if="slotProps" :name="name" v-bind="slotProps" />
      <slot v-else :name="name" />
    </template>
  </FormField>
</template>
