<template>
  <a v-if="url" :href="url" target="_blank" rel="noopener" @click="$emit('click')">
    <slot v-bind="{ url, text }">
      {{ text }}
    </slot>
  </a>
</template>

<script>
import { addSchema } from '@core/utils/domainUtils'

export default {
  props: {
    url: {
      type: String,
      required: false,
      default: null,
    },
    text: {
      type: [String, Number],
      default: '',
    },
  },
  emits: ['click'],
  computed: {
    urlWithProtocol() {
      return this.url ? addSchema(this.url) : undefined
    },
  },
}
</script>
