<script setup lang="ts">
import { ref } from 'vue'

withDefaults(
  defineProps<{
    modelValue?: string | null
    type?: string
  }>(),
  { modelValue: null, type: 'text' }
)

const emit = defineEmits<{ (event: 'update:modelValue', value: string | null): void }>()

const emitAsModelValue = (event: Event) => {
  emit('update:modelValue', (event.target as HTMLInputElement).value || null)
}

const input = ref<HTMLInputElement | null>(null)

defineExpose({
  focus: () => input.value?.focus(),
})
</script>

<template>
  <input
    ref="input"
    class="form-input"
    :value="modelValue || ''"
    :type="type"
    @input="emitAsModelValue"
  />
</template>

<style scoped>
.form-input {
  @apply min-w-fit flex-grow rounded-lg border-gray-light px-4 py-2.5 text-sm font-book leading-6 text-blue-darkest placeholder:text-gray-darkest focus:border-indigo focus:ring-indigo lg:text-base;
}
</style>
