<script setup lang="ts">
import FormInput from '@core/components/FormInput.vue'
import { randomId } from '@core/utils/randomId'

const props = withDefaults(
  defineProps<{
    id?: string
    label?: string
    labelClass?: string | null
    modelValue?: string | null
    orientation?: 'horizontal' | 'vertical'
  }>(),
  {
    id: undefined,
    modelValue: null,
    label: '',
    labelClass: null,
    orientation: 'horizontal',
  }
)

const emit = defineEmits<{
  (event: 'update:modelValue', value: string | null): void
}>()

const computedId = computed(() => props.id ?? randomId())
const onUpdateModelValue = (value: string | null) => emit('update:modelValue', value)
const formInput = ref<InstanceType<typeof FormInput> | null>(null)

defineExpose({
  focus: () => formInput.value?.focus(),
})
</script>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue'

export default defineComponent({
  inheritAttrs: false,
})
</script>

<template>
  <div :class="['container', orientation === 'vertical' && 'container-vertical']">
    <slot name="label" v-bind="{ id: computedId, label, labelClass }">
      <label :class="['label', labelClass]" :for="computedId">
        {{ label }}
      </label>
    </slot>

    <div class="input-row">
      <slot name="beforeValue"></slot>

      <slot
        v-bind="{
          id: computedId,
          modelValue,
          'onUpdate:modelValue': onUpdateModelValue,
          ...$attrs,
        }"
      >
        <FormInput
          v-bind="$attrs"
          :id="computedId"
          ref="formInput"
          :model-value="modelValue"
          @update:model-value="onUpdateModelValue"
        />
      </slot>

      <slot name="afterValue"></slot>
    </div>
  </div>
</template>

<style scoped>
.container {
  /* The min height here helps the div not to jump on hover */
  @apply grid min-h-[4.7rem] items-center gap-1 py-3 md:grid-cols-[10rem,1fr] md:gap-3 md:py-4 lg:grid-cols-[10.5rem,1fr];
}

.container-vertical {
  @apply grid-cols-1 gap-1 py-0;
}

.label {
  @apply text-[0.9rem] font-medium text-blue-darkest md:font-normal lg:text-base;
}

.input-row {
  @apply relative flex flex-grow items-center gap-2 text-blue-darkest;
}
</style>
