<script setup lang="ts">
import { TransitionChild, TransitionRoot, Dialog, DialogPanel, DialogTitle } from '@headlessui/vue'
import { XIcon } from '@heroicons/vue/solid'
import Button from './Button.vue'

withDefaults(
  defineProps<{
    show?: boolean
    open?: boolean
    closeButton?: boolean
    title?: string
  }>(),
  { title: undefined }
)

const emit = defineEmits<{
  (event: 'close'): void
  (event: 'closeModal'): void // Old event
}>()

const close = () => {
  emit('close')
  emit('closeModal')
}
</script>

<template>
  <TransitionRoot as="template" :show="show || open" appear>
    <Dialog as="div" class="relative z-50" @close="close">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 h-full bg-blue-lightest bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-center justify-center">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              v-bind="$attrs"
              class="h-full transform rounded-lg bg-white shadow-xl transition-all"
            >
              <slot v-bind="{ title, close }" name="title">
                <div v-if="title" class="flex items-center gap-3 border-b border-gray-light p-4">
                  <slot name="title-icon" />
                  <DialogTitle class="text-xl font-bold text-indigo">
                    {{ title }}
                  </DialogTitle>
                  <Button
                    v-if="closeButton"
                    class="ml-auto"
                    button-style="ghost"
                    size="small"
                    @click="close"
                  >
                    <XIcon class="h-5 w-5 text-gray-darkest hover:text-black" />
                    <span class="sr-only">Close modal</span>
                  </Button>
                </div>
              </slot>

              <div class="p-4">
                <slot v-bind="{ close }" />
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  inheritAttrs: false,
})
</script>

<style scoped></style>
