<script setup lang="ts">
import FormField from '@core/components/FormField.vue'
import AutoExpandTextarea from '@core/components/AutoExpandTextarea.vue'

withDefaults(
  defineProps<{
    label?: string
    placeholder?: string
    textBoxType?: 'expanded' | 'collapsed'
  }>(),
  {
    label: 'Notes',
    placeholder: 'Anything else you’d like to add',
    textBoxType: 'expanded',
  }
)
</script>

<template>
  <FormField
    v-slot="inputAttrs"
    :label="label"
    :placeholder="placeholder"
    label-class="notes-label"
  >
    <AutoExpandTextarea class="notes-textarea" :textbox-type="textBoxType" v-bind="inputAttrs" />
  </FormField>
</template>

<style scoped>
:deep(.notes-label) {
  @apply self-start;
}

:deep(.notes-textarea) {
  @apply w-full cursor-text rounded-lg border border-gray-light  border-transparent bg-transparent py-2.5 font-book text-blue-darkest placeholder:text-gray-darkest focus:border-indigo focus:ring-indigo;
}
</style>
