<script setup lang="ts">
import { computed, ref } from 'vue'

import { customPassword } from '@core/utils/customPassword'
import { useTrackingStore } from '@core/stores/tracking'
import { PASSWORD_GENERATED } from '@core/utils/trackingConstants'

import FormField from '@core/components/FormField.vue'
import Button from '@core/components/Button.vue'

const props = withDefaults(
  defineProps<{
    label?: string
    modelValue?: string | null
    placeholder?: string
    showGeneratePasswordButton?: boolean
    type?: string
  }>(),
  {
    label: 'Password',
    modelValue: null,
    placeholder: 'Enter password',
    showGeneratePasswordButton: true,
    type: 'text',
  }
)

const emit = defineEmits<{ (event: 'update:modelValue', value: string | null): void }>()

const trackingStore = useTrackingStore()

const hasFocus = ref(false)
const inputRef = ref<HTMLInputElement | null>(null)
const inputType = computed(() => {
  // With focus, we always want to show the password.
  if (hasFocus.value) {
    return props.type
  }
  // On Firefox we have to use type=`password` because -webkit-text-security won't work.
  return 'password'
})

const generateNewPassword = async () => {
  //FIXME: see if we can get the slot animation implemented on the mobile to work here
  trackingStore.trackEvent({ event: PASSWORD_GENERATED })
  emit('update:modelValue', await customPassword())
  inputRef.value?.focus()
  setTimeout(() => {
    if (!inputRef.value) return
    inputRef.value.selectionStart = inputRef.value.selectionEnd = 9999
  })
}

const emitAsModelValue = (event: Event) => {
  const value = (event.target as HTMLInputElement).value || null
  emit('update:modelValue', value)
}
</script>

<template>
  <FormField :label="label" :model-value="modelValue" :type="inputType" :placeholder="placeholder">
    <template #default="inputAttrs">
      <div class="password-input-container">
        <input
          ref="inputRef"
          v-bind="inputAttrs"
          class="password-input"
          autocomplete="chrome-off"
          :value="modelValue || ''"
          @input="emitAsModelValue"
          @blur="hasFocus = false"
          @focus="hasFocus = true"
        />

        <Button
          v-if="showGeneratePasswordButton"
          class="generate-password"
          size="small"
          @click.prevent.stop="generateNewPassword"
          >Generate</Button
        >
      </div>
    </template>

    <template v-for="(_, name) in $slots" #[name]="slotProps">
      <slot v-if="slotProps" :name="name" v-bind="slotProps" />
      <slot v-else :name="name" />
    </template>
  </FormField>
</template>

<style scoped>
/* TODO: duplicate with FormInput */
.password-input {
  @apply block h-full w-full flex-1 border-transparent p-0 px-2 py-2.5 font-roboto-mono text-sm font-book leading-form placeholder:font-stolzl placeholder:text-gray-darkest focus:ring-0 lg:text-base;
}

/* 
  Makes a text input look like a password input. 
  Note: doesn't work well in Firefox.
*/
.password-hidden {
  -webkit-text-security: disc;
}

.password-input-container {
  @apply flex w-full items-center justify-between gap-3 rounded-lg border border-gray-light border-transparent p-1 py-0 focus-within:border-indigo focus-within:ring-1 focus-within:ring-indigo hover:cursor-default hover:bg-transparent;
}

.button.generate-password {
  @apply m-0 w-max rounded-md border-gray-light bg-white  px-2 text-sm font-normal leading-none text-indigo shadow   hover:bg-gray-lightest;
}
</style>
