<script setup lang="ts">
import { computed } from 'vue'

interface Props {
  direction?: 'left' | 'right' | 'top' | 'bottom'
}

const props = withDefaults(defineProps<Props>(), {
  direction: 'bottom',
})

const directionClass = computed<{ from: string; to: string }>(() => {
  switch (props.direction) {
    case 'top':
      return {
        from: '-translate-y-5',
        to: 'translate-y-0',
      }

    case 'left':
      return {
        from: 'translate-x-5',
        to: 'translate-x-0',
      }

    case 'right':
      return {
        from: '-translate-x-5',
        to: 'translate-x-0',
      }

    default:
      return {
        from: 'translate-y-5',
        to: 'translate-y-0',
      }
  }
})
</script>

<template>
  <transition
    enter-active-class="transition ease-out duration-700"
    :enter-from-class="`transform ${directionClass.from}`"
    :enter-to-class="`transform ${directionClass.to}`"
    leave-active-class="transition ease-out duration-700"
    :leave-from-class="`transform ${directionClass.from}`"
    :leave-to-class="`transform ${directionClass.from}`"
    appear
  >
    <slot></slot>
  </transition>
</template>
