<script setup lang="ts">
import Button from './Button.vue'
import greenCheckMark from '../assets/onboarding/green-checkmark.svg'

defineProps<{
  label: string
  modelValue: boolean
}>()

const emit = defineEmits<{
  (event: 'update:model-value', enabled: boolean): void
}>()
</script>

<template>
  <div class="switch-container">
    <label>{{ label }}</label>
    <Button
      :class="{ active: modelValue }"
      class="switch-control"
      @click="emit('update:model-value', !modelValue)"
    >
      <span :class="{ on: modelValue }" class="switch">
        <img v-if="modelValue" :src="greenCheckMark" class="checkmark" />
      </span>
    </Button>
  </div>
</template>

<style scoped>
.switch-container {
  @apply grid grid-cols-[1fr,42px] place-items-center gap-4 text-sm text-[#474775];
}

.switch-background {
  @apply inline-block h-4 w-4 transform rounded-full bg-white transition-transform;
}

.switch-control {
  @apply m-0 flex h-[25px] w-[42px] min-w-0 cursor-pointer items-center rounded-full border border-0 border-[#B9B9CB] border-transparent bg-[#DEE2E7] p-0 shadow-none transition-colors duration-200 ease-in-out hover:bg-[#DEE2E7] hover:shadow-none focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75;
}

.active {
  @apply m-0 border-transparent bg-green-darkest p-0 hover:border-transparent hover:bg-green-darkest hover:shadow-none;
}

.switch {
  @apply pointer-events-none relative inline-block h-[24px] w-[25px] -translate-x-2 transform self-center rounded-full border border-[#B9B9CB] bg-white p-0 shadow-lg ring-0 transition duration-200 ease-in-out;
}

.switch.on {
  @apply translate-x-3;
}

.checkmark {
  @apply absolute bottom-[0.4rem] left-[0.35rem];
}
</style>
