<script setup>
import AccountMenu from '@/shared-components/AccountMenu.vue'
import Logo from '@/shared-components/Logo.vue'
</script>

<template>
  <div class="layout-grid-container">
    <nav class="layout-navbar-row">
      <Logo />

      <div
        class="border-lg border-indredigo hidden rounded-md border-2 bg-red px-2 py-1 text-sm md:block"
      >
        <p>
          <strong class="uppercase">Urgent:</strong>
          Tilig has shut down. <strong class="uppercase">export your passwords!</strong>
          <a target="_blank" class="underline" href="https://www.tilig.com/post/shutdown"
            >Read more</a
          >
        </p>
      </div>

      <AccountMenu />
    </nav>
    <div class="layout-content-row">
      <slot><router-view /></slot>
    </div>
  </div>
</template>

<style scoped>
:global(html),
:global(body),
:global(#app) {
  @apply h-full;
}

.layout-grid-container {
  @apply grid h-full grid-rows-[4rem,minmax(0,1fr)] items-stretch overflow-hidden;
}

.layout-navbar-row {
  /* This fills up the space that the fixed navbar occupies */
  @apply flex h-full w-full items-center justify-between border-b border-gray-light bg-white px-8;
}

.layout-content-row {
  @apply flex overflow-y-auto;
}
</style>
