<script setup>
import BaseLayout from './BaseLayout.vue'
</script>

<template>
  <BaseLayout>
    <a class="cancel-import-link" @click.prevent="back"><XIcon class="icon" /></a>
    <div class="import-container">
      <router-view></router-view>
    </div>
  </BaseLayout>
</template>

<script>
import { XIcon } from '@heroicons/vue/outline'
export default {
  components: { XIcon },
  methods: {
    back() {
      this.$router.back()
    },
  },
}
</script>

<style scoped>
/* NOTE: THIS FILE IS NOT BEING USED AT THE MOMENT */
.import-container {
  @apply mx-auto mb-24 mt-20 max-w-screen-lg px-6;
}

.cancel-import-link {
  @apply absolute right-8 mr-8 mt-8 h-6 w-6 cursor-pointer;
}
.icon {
  @apply w-full;
}
</style>
