<script setup lang="ts">
import { ref, computed, watchEffect } from 'vue'
import { useRoute } from 'vue-router'

import SidebarItemsColumn from '@/components/sidebar/SidebarItemsColumn.vue'
import FadeTransition from '@/components/FadeTransition.vue'
import { useScreenSize } from '@core/composables/useScreensize'

const { onDesktop } = useScreenSize()
const route = useRoute()

const rightColumnOpen = ref(true)

const contentClass = computed(() => {
  if (rightColumnOpen.value && !onDesktop.value) {
    // on mobile, we hide the content column and use the sidebar to render the dynamic content
    return 'hidden'
  }

  return 'content-column-full'
})

watchEffect(() => {
  // - When the user resizes a window from large to small, we want the menu to hide,
  //   except when we're on the items page
  // - When the user resizes a window from small to large, we want the menu to open
  // - On mobile or iPad, there won't we any resizing (we assume).
  rightColumnOpen.value = route.meta.sidebarOpen || onDesktop.value
})
</script>

<template>
  <div class="items-layout">
    <div v-show="rightColumnOpen" class="sidebar-items sidebar-column">
      <SidebarItemsColumn class="h-full" />
    </div>

    <!-- When the sidebar is open on mobile, it fills the whole screen, 
      so the content column should be hidden. -->
    <div class="sidebar-content sidebar-column" :class="contentClass">
      <router-view v-slot="{ Component }">
        <FadeTransition>
          <component :is="Component" class="sidebar-content-main" />
        </FadeTransition>
      </router-view>
    </div>
  </div>
</template>

<style scoped>
.items-layout {
  @apply grid h-full w-full grid-cols-1 overflow-hidden 2md:grid-cols-[18rem_1fr];
}
.sidebar-items {
  @apply border-r border-gray-light;
}

.sidebar-column {
  @apply h-full overflow-hidden;
}

.sidebar-content {
  @apply overflow-y-auto;
}

.sidebar-content-main {
  @apply min-h-full;
}

.content-column-full {
  @apply w-full;
}
</style>
