<script setup lang="ts">
import { watch, watchEffect } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import { ItemType, useItemsStore } from '@core/stores/items'
import { useOrganizationStore } from '@core/stores/organization'
import { useFoldersStore } from '@core/stores/folders'
import { useReferralStore } from '@core/stores/referral'

import BaseLayout from '@/layouts/BaseLayout.vue'
import SidebarMenuColumn from '@/components/sidebar/SidebarMenuColumn.vue'
import FadeTransition from '@/components/FadeTransition.vue'
import { createLogger } from '@core/utils/logger'

const logger = createLogger('ui:SidebarLayout')

const router = useRouter()
const route = useRoute()
const itemsStore = useItemsStore()
const organizationStore = useOrganizationStore()
const foldersStore = useFoldersStore()

watch(
  [() => route.params.type || null, () => route.params.folderId || null],
  () => {
    // Set the activItemType in the items store, so the items are properly filtered.
    // This is done here, because every component that uses filteredItems is rendered
    // within the SidebarLayout.
    // NOTE: route.params.type can be an empty string
    logger.debug('Setting active item and folder', route.params.type, route.params.folderId)
    itemsStore.activeItemType = (route.params.type || null) as ItemType | null
    itemsStore.activeFolderId = (route.params.folderId as string) ?? null
  },
  { immediate: true }
)

watchEffect(() => {
  if (organizationStore.hasPendingInvitations) {
    router.push({ name: 'pending-invitations' })
  }
})

const fetchItems = async () => {
  if (!itemsStore.isLoaded) {
    await itemsStore.fetchItems()
  }
}

const fetchOrganization = () => {
  if (!organizationStore.organization) {
    organizationStore.fetchOrganization()
  }
}

const fetchFolders = async () => {
  if (!foldersStore.isLoaded) {
    await foldersStore.fetchFolders()
  }
}

const { fetchReferralLeaderboard } = useReferralStore()

fetchItems()
fetchOrganization()
fetchFolders()
fetchReferralLeaderboard()
</script>

<template>
  <BaseLayout>
    <div class="sidebar-layout">
      <div class="sidebar-column sidebar-menu">
        <SidebarMenuColumn class="h-full" />
      </div>

      <div class="sidebar-content">
        <router-view v-slot="{ Component }">
          <FadeTransition>
            <component :is="Component" class="w-full" />
          </FadeTransition>
        </router-view>
      </div>
    </div>
  </BaseLayout>
</template>

<style scoped>
.sidebar-layout {
  @apply grid h-full w-full grid-cols-1 overflow-hidden 2md:grid-cols-[13rem_1fr];
}

.sidebar-menu {
  /* On mobile this hidden, visible on larged viewsize */
  @apply hidden h-full flex-col border-r border-gray-light 2md:flex;
}

.sidebar-column {
  @apply h-full overflow-auto;
}

.sidebar-content {
  @apply mx-auto flex w-full flex-col items-center overflow-y-auto;
}
</style>
