<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'
import { DecryptedOverview, EncryptedItem } from '@core/clients/tilig'
import { useAutocaptureModalStore } from '../store'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import { XIcon } from '@heroicons/vue/solid'
import logo from '@/assets/logo-black.svg'

defineEmits(['undo', 'dismiss'])

const store = useAutocaptureModalStore()

const { item } = storeToRefs(store)

const account = computed((): EncryptedItem | null => {
  return item.value?.item || null
})

const overview = computed((): DecryptedOverview | null => {
  return item.value?.overview || null
})

const isNew = computed((): boolean => {
  return !(!!item.value?.details.history && item.value.details.history.length > 0)
})
</script>

<template>
  <div class="modal">
    <img class="icon mr-4 inline h-6 w-6" :src="logo" />
    <p v-if="isNew">New login saved</p>
    <p v-else>Login updated</p>
    <button class="undo" @click="$emit('undo')">Undo</button>
    <button class="dismiss" @click="$emit('dismiss')"><XIcon class="h-5 w-5" /></button>

    <div class="item-card">
      <a class="item">
        <ItemIcon :item="item?.item" class="item-icon" />
        <div class="text-wrapper" :title="account?.name || 'Untitled'">
          <span class="account-name">{{ account?.name }}</span>
          <span class="item-name">{{ overview?.info || 'No username' }}</span>
        </div>
      </a>
    </div>
  </div>
</template>

<style scoped>
.modal {
  @apply bg-gray-lightest p-4;
}

.modal p {
  @apply inline font-bold;
}
button.undo {
  @apply inline cursor-pointer pl-4 text-sm text-gray-darkest;
}

button.dismiss {
  @apply absolute right-3 top-3 cursor-pointer text-gray-darkest;
}

.item-card {
  @apply my-4 rounded-lg border-solid border-gray bg-white;
}
.item {
  @apply mx-0.5 flex items-center py-1.5 pl-1.5 pr-4 text-sm;
}

.item-icon {
  @apply ml-2 mr-3.5 h-6 w-6 rounded-sm;
}
.text-wrapper {
  @apply flex max-w-[400px] flex-col;
}
.item-name {
  @apply truncate text-ellipsis text-xs font-book text-blue-lightest;
}

.account-name {
  @apply truncate text-ellipsis;
}
</style>
