<script setup lang="ts">
import { storeToRefs } from 'pinia'

import { useDropdownStore } from './store'
import SignedOutDropdown from './components/SignedOutDropdown.vue'
import { createLogger } from '@core/utils/logger'

const logger = createLogger('Dropdown')
const store = useDropdownStore()
store.sync()

const { loggedIn, synced } = storeToRefs(store)
logger.debug('All', { loggedIn: loggedIn.value, synced: synced.value })
</script>

<template>
  <div v-show="synced" class="dropdown">
    <SignedOutDropdown v-show="!loggedIn" />
    <router-view v-show="loggedIn" />
  </div>
</template>

<style scoped>
.dropdown {
  @apply flex overflow-hidden;
}
</style>
