<script setup lang="ts">
import Save from '~icons/ri/save-line?width=1.4em&height=1.4em&dummy'
import ToggleButton from '@/ui/popup/components/ToggleButton.vue'

import Tool from './Tool.vue'

defineEmits<{
  (e: 'toggle-auto-capture'): void
}>()

defineProps<{
  active?: boolean
}>()
</script>

<template>
  <Tool @click="$emit('toggle-auto-capture')">
    <template #icon>
      <Save />
    </template>
    <template #right-side>
      <ToggleButton class="toggle-button" :active="active || false" />
    </template>

    Tilig Autosave <span class="info">boost tilig!</span>

    <template #body>
      Anytime you login to a website, Tilig will save your logins and store them across your devices
    </template>
  </Tool>
</template>

<style scoped>
.info {
  @apply ml-1 rounded-[32px] bg-pink px-2 py-1 text-[8px] font-medium uppercase leading-snug text-white;
}

.toggle-button {
  @apply w-max;
}
</style>
