<script setup lang="ts">
import Controller from '~icons/ri/gamepad-line?width=1.4em&height=1.4em&dummy'
import ToggleButton from '@/ui/popup/components/ToggleButton.vue'

import Tool from './Tool.vue'

defineEmits<{
  (e: 'toggle-gifs'): void
}>()

defineProps<{
  active?: boolean
}>()
</script>

<template>
  <Tool @click="$emit('toggle-gifs')">
    <template #icon>
      <Controller />
    </template>

    <template #right-side>
      <ToggleButton class="toggle-button" :active="active || false" />
    </template>

    I love the 90s
    <template #body> What happens when this is on? </template>
  </Tool>
</template>

<style scoped>
.toggle-button {
  @apply w-max;
}
</style>
