<script setup lang="ts">
import Shield from '~icons/ri/shield-check-line?width=1.4em&height=1.4em&dummy'

import Tool from './Tool.vue'
</script>

<template>
  <Tool coming-soon>
    <template #icon>
      <Shield />
    </template>

    Tilig Phish
    <template #body>
      Take advantage of Tilig’s free training tool to increase your online safety
    </template>
  </Tool>
</template>
