<script setup lang="ts">
import type { Component } from 'vue'

defineProps<{
  icon?: Component | null
  comingSoon?: boolean
}>()
</script>

<template>
  <div class="tool" :class="{ 'cursor-pointer': !comingSoon }">
    <header class="tool-header">
      <div class="tool-icon">
        <slot v-bind="{ icon }" name="icon"><component :is="icon" /></slot>
      </div>
      <slot name="right-side" />
    </header>

    <p class="tool-title">
      <slot />
      <span v-show="comingSoon" class="coming-soon">coming soon</span>
    </p>

    <p class="tool-body"><slot name="body" /></p>
  </div>
</template>

<style scoped>
.tool {
  @apply flex flex-col rounded-lg bg-indigo-lightest p-4;
}

.tool-header {
  @apply mb-2 flex justify-between gap-3;
}

.tool-icon {
  @apply h-6 w-6;
}

.tool-title {
  @apply mb-1 flex items-center text-sm font-normal;
}

.tool-body {
  @apply text-xs leading-4 text-gray2;
}

.coming-soon {
  @apply ml-1 rounded-[32px] bg-indigo-lighter px-2 py-1 text-[8px] font-medium uppercase leading-snug text-indigo;
}
</style>
