<script setup lang="ts">
import CellTower from '~icons/ri/base-station-line?width=1.4em&height=1.4em&dummy'

import Tool from './Tool.vue'
</script>

<template>
  <Tool coming-soon>
    <template #icon>
      <CellTower />
    </template>
    Watchtower
    <template #body> Increase your online security with a strong password </template>
  </Tool>
</template>
