<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useOrganizationStore } from '@core/stores/organization'

import ShareIcon from '@core/assets/shared.svg?component'
import SidebarMenuSection from './SidebarMenuSection.vue'
import SidebarMenuItem from './SidebarMenuItem.vue'

const { organization } = storeToRefs(useOrganizationStore())
</script>

<template>
  <SidebarMenuSection title="Team">
    <SidebarMenuItem
      :to="{ name: 'organization' }"
      :icon="ShareIcon"
      :content="organization?.name || 'Create a team'"
    />
  </SidebarMenuSection>
</template>
