<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useFoldersStore } from '@core/stores/folders'
import { useItemsStore } from '@core/stores/items'

import { FolderIcon, UserGroupIcon, PlusCircleIcon } from '@heroicons/vue/outline'
import FolderEditNameModal from '@core/components/folders/FolderEditNameModal.vue'
import SidebarMenuSection from './SidebarMenuSection.vue'
import SidebarMenuItem from './SidebarMenuItem.vue'
import { Folder } from '@core/clients/tilig'

const router = useRouter()
const foldersStore = useFoldersStore()
const { folders } = storeToRefs(foldersStore)
const { activeFolder } = storeToRefs(useItemsStore())

const showFolderModal = ref(false)

const addFolder = async (name: string) => {
  try {
    const folder = await foldersStore.createFolder({ name })
    // TODO: Error handling
    if (!folder) return
    router.push({ name: 'folder-items', params: { folderId: folder.id } })
  } finally {
    showFolderModal.value = false
  }
}

const isSharedFolder = (folder: Folder) => {
  return folder.folder_memberships.length + folder.folder_invitations.length > 1
}
</script>

<template>
  <SidebarMenuSection>
    <template #title>
      <span class="folders-add-container">
        <span>Folders</span>
        <button class="folders-add-button" @click="showFolderModal = true">
          <span class="sr-only">Add a folder</span>
          <PlusCircleIcon class="folders-add" />
        </button>
      </span>
    </template>

    <SidebarMenuItem
      v-for="folder in folders"
      :key="folder.id"
      :icon="FolderIcon"
      :suffix-icon="isSharedFolder(folder) ? UserGroupIcon : null"
      suffix-icon-class="text-gray-darkest"
      :content="folder.name"
      :active="activeFolder?.id === folder.id"
      :to="{ name: 'folder-items', params: { folderId: folder.id } }"
    />

    <p v-if="!folders.length" class="folders-no-folders-message">Start adding folders!</p>

    <FolderEditNameModal
      :open="showFolderModal"
      @commit="addFolder"
      @close="showFolderModal = false"
    />
  </SidebarMenuSection>
</template>

<style scoped>
.folders-no-folders-message {
  @apply px-4 text-sm text-blue-lightest;
}

.folders-add-container {
  @apply flex w-full items-center justify-between;
}
.folders-add {
  @apply w-5 text-indigo;
}

.folders-add-modal-header {
  @apply -mx-6 border-b border-gray-light p-6;
}

.folders-add-modal-header h1 {
  @apply font-spoof text-xl font-book leading-8 text-indigo lg:text-2xl;
}

.folders-add-modal-close {
  @apply absolute right-3 top-2.5 h-6 w-6 cursor-pointer text-blue-lightest hover:text-blue-darkest;
}

.folders-add-modal-content {
  @apply py-6;
}

.folders-add-commit {
  @apply mt-6 w-full;
}
</style>
