<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'
import { ItemType, useItemsStore } from '@core/stores/items'

import {
  ClipboardListIcon,
  GlobeIcon,
  KeyIcon,
  WifiIcon,
  CreditCardIcon,
  DotsCircleHorizontalIcon,
} from '@heroicons/vue/outline'

import SidebarMenuSection from './SidebarMenuSection.vue'
import SidebarMenuItem from './SidebarMenuItem.vue'

const { query, activeItemType, activeFolderId, activeFolder, hasCustomItems } = storeToRefs(
  useItemsStore()
)

const items = computed(() => {
  const items = [
    {
      linkTemplate: ItemType.Logins,
      icon: KeyIcon,
      content: 'Logins',
    },
    {
      linkTemplate: ItemType.SecureNotes,
      icon: ClipboardListIcon,
      content: 'Notes',
    },
    {
      linkTemplate: ItemType.WiFi,
      icon: WifiIcon,
      content: 'WiFi',
    },
    {
      linkTemplate: ItemType.CreditCards,
      icon: CreditCardIcon,
      content: 'Cards',
    },
  ]
  if (hasCustomItems.value) {
    items.push({
      linkTemplate: ItemType.Custom,
      icon: DotsCircleHorizontalIcon,
      content: 'Other',
    })
  }
  return items
})

const resetItemFilter = () => {
  activeFolderId.value = null
  query.value = ''
}
</script>

<template>
  <SidebarMenuSection title="Categories">
    <SidebarMenuItem
      :active="!activeItemType && !activeFolder"
      :to="{ name: 'root' }"
      :icon="GlobeIcon"
      content="All Items"
      @click="resetItemFilter"
    />

    <SidebarMenuItem
      v-for="{ icon, content, linkTemplate } in items"
      :key="content"
      :active="activeItemType === linkTemplate"
      :to="{
        name: 'items',
        params: {
          type: linkTemplate,
        },
      }"
      :icon="icon"
      :content="content"
      @click="resetItemFilter"
    />
  </SidebarMenuSection>
</template>
