<script setup lang="ts">
defineProps<{
  title?: string | null
}>()
</script>

<template>
  <section>
    <h2 class="section-title">
      <slot name="title">
        {{ title }}
      </slot>
    </h2>
    <slot></slot>
  </section>
</template>

<style scoped>
section {
  @apply flex flex-col gap-1;
}

.section-title {
  @apply mb-2 px-4 text-xs uppercase text-blue-lightest;
}
</style>
