<script setup lang="ts">
import { computed, ref, onBeforeUnmount } from 'vue'
import { storeToRefs } from 'pinia'
import { XIcon } from '@heroicons/vue/outline'

import ArrowUp from '@/assets/arrow-up.svg?component'
import CopyIcon from '@/assets/copy-icon.svg?component'
import ExternalLink from '@core/components/ExternalLink.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import Modal from '@core/components/Modal.vue'
import Button from '@core/components/Button.vue'
import ReferralLeaderboard from '@/components/referral/LeaderBoard.vue'
import DismissReferral from '@/components/referral/DismissReferral.vue'

import { useAuthStore } from '@core/stores/auth'
import { useReferralStore } from '@core/stores/referral'
import { useTrackingStore } from '@core/stores/tracking'
import { useUserSettingsStore } from '@core/stores/userSettings'

import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'
import { TrackingEvent } from '@core/utils/trackingConstants'

const faqUrl = 'https://www.tilig.com/win-plushie-users'

let copyTimeout = 0
const authStore = useAuthStore()
const referralStore = useReferralStore()
const trackingStore = useTrackingStore()
const userSettingsStore = useUserSettingsStore()

const leaderboardIsVisible = ref(false)
const dismissModalIsVisible = ref(false)
const copied = ref(false)

const referralLink = computed(() =>
  new URL(
    `/signup?referral=${authStore.tiligUser?.applicationSettings.referral_link}`,
    window.location.origin
  ).toString()
)
const { leaderboardWithMe, leaderboard, isFetchingLeaderBoard } = storeToRefs(referralStore)

const copy = () => {
  copied.value = true
  copyStringToClipboard(referralLink.value)

  trackingStore.trackEvent({
    event: TrackingEvent.REFERRAL_LINK_COPIED,
  })

  copyTimeout = window.setTimeout(() => {
    copied.value = false
  }, 1500)
}

const setLeaderboardVisibility = (visible: boolean) => {
  leaderboardIsVisible.value = visible
}

const setDismissModalVisibility = (visible: boolean) => {
  dismissModalIsVisible.value = visible
}

const hideReferralSection = async () => {
  userSettingsStore.updateSettings({
    web: {
      squirrelCampaignDismissed: true,
    },
  })

  setDismissModalVisibility(false)
}

onBeforeUnmount(() => window.clearTimeout(copyTimeout))
</script>

<template>
  <div class="referral">
    <div class="top-section">
      <div class="close-icon-container" @click="setDismissModalVisibility(true)">
        <XIcon class="close-icon" />
      </div>
      <div class="logo">
        <TiligLogoImageMark />
        <span class="win">win</span>
      </div>
      <p class="info">Win our giant mascot by inviting as many friends with your personal link!</p>

      <ExternalLink :url="faqUrl" text="Learn more" class="faq" />

      <Button
        class="referral-link"
        button-style="outline-primary"
        label-class="referral-link-text"
        @click="copy"
      >
        <span v-if="copied">Copied</span>
        <template v-else>
          <CopyIcon class="copy-icon" />
          Copy link
        </template>
      </Button>

      <p class="explanation">1 friend signs up = 10 points</p>
    </div>

    <div class="bottom-section">
      <Button
        :loading="isFetchingLeaderBoard"
        class="position-container"
        @click="setLeaderboardVisibility(true)"
      >
        <p class="position">Leaderboard</p>
        <ArrowUp class="arrow-up" />
      </Button>

      <p class="points">{{ leaderboard?.me.points }}&nbsp;pts</p>
    </div>

    <Modal :open="leaderboardIsVisible" @close-modal="setLeaderboardVisibility(false)">
      <ReferralLeaderboard
        v-if="leaderboard?.top_list"
        :faq-url="faqUrl"
        :leader-board="leaderboardWithMe"
        @close="setLeaderboardVisibility(false)"
      />
    </Modal>

    <Modal :open="dismissModalIsVisible" @close-modal="hideReferralSection">
      <DismissReferral @close="hideReferralSection" />
    </Modal>
  </div>
</template>

<style scoped>
.referral {
  @apply rounded-lg border border-white text-xs;
}
.top-section {
  @apply flex flex-col items-center rounded-t-lg bg-indigo-lighter px-2 pt-2;
}

.info {
  @apply my-1 text-center text-xs font-normal;
}

.faq {
  @apply mb-4 text-xxs text-indigo;
}

.referral-link {
  @apply flex h-7 w-[94px] items-center justify-center border-indigo bg-indigo-lightest p-0 text-sm text-indigo hover:bg-indigo-lighter;
}

:deep(.referral-link-text) {
  @apply flex items-center gap-1 text-xs;
}

.explanation {
  @apply my-2 text-xxs text-blue-lightest;
}

.points {
  @apply ml-auto;
}

.bottom-section {
  @apply flex items-center justify-between rounded-b-lg bg-blue-darkest p-2 text-white;
}

.position-container {
  @apply flex cursor-pointer items-center justify-between rounded-md border-none bg-blue-light p-2 text-white hover:bg-blue-dark;
}

.position {
  @apply mr-1 text-xs leading-[0];
}

.logo {
  @apply relative flex h-14 w-14 items-center justify-center rounded-full border-2 border-green-darker;
}

.win {
  @apply absolute -right-5 rounded-xl bg-green-darker px-2.5 py-0.5 text-xxs uppercase text-white;
}

.close-icon-container {
  @apply mb-3 h-6 w-6 cursor-pointer self-end rounded-full border border-white bg-gray-lightest p-1 text-gray-dark;
}

.close-icon {
  @apply h-full w-full;
}
</style>
