<script setup lang="ts">
import { computed, type Component } from 'vue'
import { RouterLink } from 'vue-router'

const props = defineProps<{
  to?: unknown
  icon?: Component
  suffixIcon?: Component | null
  suffixIconClass?: any
  content?: string | null
  active?: boolean
}>()

const el = computed(() => (props.to ? RouterLink : 'div'))
</script>

<template>
  <component :is="el" :to="to" class="menu-item" :class="{ active: active }">
    <slot>
      <slot name="icon">
        <component :is="icon" class="menu-icon" />
      </slot>
      <span class="menu-content">{{ content }}</span>
      <slot name="suffixIcon">
        <component :is="suffixIcon" class="menu-icon menu-suffix-icon" :class="suffixIconClass" />
      </slot>
    </slot>
  </component>
</template>

<style scoped>
.menu-item {
  @apply flex h-10 cursor-pointer items-center gap-3 px-4 py-1 text-sm hover:bg-indigo-light;
}

.menu-item.active {
  @apply bg-indigo-lighter hover:bg-indigo-light;
}

.menu-icon {
  @apply h-6 w-6;
}

.menu-content {
  @apply text-sm font-normal leading-form;
}

.menu-suffix-icon {
  @apply ml-auto;
}
</style>
