<script setup lang="ts">
import { ref } from 'vue'
import { sendEmailVerification, getAdditionalUserInfo, UserCredential } from '@firebase/auth'
import {
  SignInMethod,
  getFirebaseClient,
  signInWithApple,
  signInWithGoogle,
  signInWithMicrosoft,
  ProviderSignIn,
} from '@core/clients/firebase'
import { createLogger } from '@core/utils/logger'
import { handoffAuth } from '@/background/messageApis/auth'

import SigningIn from '@/ui/components/SigningIn.vue'

const logger = createLogger('ui:login')

const loginError = ref<string | null>(null)

const signInMethodFromParams = (): ProviderSignIn | null => {
  const provider = new URL(window.document.location.toString()).searchParams.get('provider')
  logger.debug('Got provider %s', provider)

  switch (provider) {
    case 'apple':
      return signInWithApple
    case 'google':
      return signInWithGoogle
    case 'microsoft':
      return signInWithMicrosoft
    default:
      return null
  }
}

const signInFlow = async () => {
  const { auth } = getFirebaseClient()

  const signInMethod = signInMethodFromParams()

  if (!signInMethod) {
    logger.error('No provider specified')
    loginError.value = "Can't log in with this provider"
    return
  }

  let result: UserCredential
  try {
    result = await signInMethod(SignInMethod.PopUp)
  } catch (e) {
    logger.error('Error during login %O', e)
    loginError.value = 'Could not log you in at this time'
    return
  }

  if (!result.user.emailVerified) {
    sendEmailVerification(result.user)
      .then(() => logger.debug('Email verification sent'))
      .catch((e) => logger.error('Coud not sent email verificaiton %O', e))
    loginError.value = 'Please verify your email address to continue using Tilig'
    logger.error(`Signing out after failed email verification`)
    auth.signOut()
    return
  }

  const additionalUserInfo = getAdditionalUserInfo(result)
  if (!additionalUserInfo) {
    // Does this happen?
    loginError.value = 'Could not get your profile data'
    logger.error(`Signing out after failing to get additionalUserInfo`)
    auth.signOut()
    return
  }

  const success = await handoffAuth({
    userJson: JSON.stringify(result.user.toJSON()),
    additionalUserInfo,
  })

  if (success) {
    const continueTo = new URL(window.document.location.toString()).searchParams.get('continue')
    if (continueTo === 'setup') {
      // Until we can check if the user has pinned the extension, we will have different way to detect if we need to reirect to setup
      // If we have a continue to setup param because the plugin was newly installed, redirect to setup
      window.location.href = chrome.runtime.getURL('/src/ui/welcome/index.html#/')
    } else {
      // If we just logged in from the popup, redirect to welcome/done
      window.location.href = chrome.runtime.getURL('/src/ui/welcome/index.html#/welcome/done')
    }
  } else {
    logger.error('Handoff unsuccessful')
    loginError.value = 'Could not log you in at this time'
    logger.error(`Handoff unsuccessful`)
    auth.signOut()
  }
}

signInFlow()
</script>

<template>
  <SigningIn :login-error="!!loginError" />
</template>

<style scoped>
html,
body {
  @apply overflow-hidden;
}
</style>
