<script setup lang="ts">
import { computed } from 'vue'

import { ItemState } from '@core/stores/items'

import { attemptAutofillLogin } from '@/background/messageApis/autofillLogin'

import ItemIcon from '@core/components/icons/ItemIcon.vue'

const props = defineProps<{
  account: ItemState
}>()

const name = computed(() => props.account.overview?.name || 'No Username')
const info = computed(() => props.account.overview?.info)

const publishFillInMessage = (event: MouseEvent): void => {
  // Ignore right clicks
  if (event.button == 2) return
  attemptAutofillLogin({
    id: props.account.item.id,
    focusedForm: true,
    userInitiated: true,
    trigger: 'Dropdown',
  })
}
</script>

<template>
  <div class="item" @mousedown.prevent="publishFillInMessage">
    <ItemIcon :item="props.account?.item" class="item-icon" />
    <div class="item-details">
      <p class="item-name">
        {{ name }}
      </p>
      <p class="item-info">
        {{ info }}
      </p>
    </div>
  </div>
</template>

<style scoped>
.item {
  @apply flex cursor-pointer items-center gap-2 rounded-lg p-2 hover:bg-indigo-lighter;
}

.item-details {
  @apply flex flex-1 flex-col gap-[1px];
}

.item-name {
  @apply max-w-full overflow-ellipsis whitespace-nowrap text-sm leading-5 text-blue-darkest;
}

.item-info {
  @apply max-w-full overflow-ellipsis whitespace-nowrap text-xs font-book leading-3 text-blue-darkest opacity-50;
}
.item-icon {
  @apply h-6 w-6;
}
</style>
