<template>
  <div class="dropdown-container">
    <slot />
  </div>
</template>

<style scoped>
.dropdown-container {
  @apply min-w-[300px] overflow-hidden rounded-lg border border-gray-light bg-white shadow shadow-gray-light;
}
</style>
