<script setup lang="ts">
defineEmits<{
  (e: 'accept-email', suggestion: string): void
}>()

defineProps<{
  suggestion?: string
}>()
</script>

<template>
  <div @mousedown.prevent="$emit('accept-email', suggestion || '')">
    {{ suggestion }}
  </div>
</template>
