<script setup lang="ts">
import key from '@core/assets/key.svg?component'

defineEmits<{
  (e: 'accept-password', suggestion: string): void
}>()

defineProps<{
  suggestion?: string
}>()
</script>

<template>
  <div class="password-suggestion" @mousedown.prevent="$emit('accept-password', suggestion || '')">
    <component :is="key" class="key-icon" />
    <p class="password">
      {{ suggestion }}
    </p>
  </div>
</template>

<style scoped>
.password-suggestion {
  @apply flex items-center justify-between gap-2;
}
.key-icon {
  @apply h-4 w-4 flex-shrink-0;
}

.password {
  @apply flex-grow font-roboto-mono leading-6;
}
</style>
