<script setup lang="ts">
import { computed } from 'vue'

import { browser, os } from '@core/utils/browserEnvironment'

import DropdownContainer from '@/ui/dropdown/components/DropdownContainer.vue'
import TiligLogo from '@/assets/tilig-dropdown-logo.svg?component'

const browserIsChrome = computed(() => browser.name?.toString().toLowerCase().includes('chrome'))
const ctrlOrCmd = computed(() => (os.name === 'macOS' ? 'Cmd' : 'Ctrl'))
</script>

<template>
  <DropdownContainer>
    <div class="signed-out">
      <component :is="TiligLogo" class="tilig-logo" />
      <div class="content">
        <h3 class="header">Tilig is locked</h3>
        <p class="text">Click the Tilig icon on your browser’s toolbar to access your logins.</p>
        <div v-if="browserIsChrome" class="trigger">
          Press<span class="key">{{ ctrlOrCmd }}</span
          >+<span class="key">Shift</span>+<span class="key">X</span>to unlock.
        </div>
      </div>
    </div>
  </DropdownContainer>
</template>

<style scoped>
.signed-out {
  @apply flex gap-2 p-2.5 pb-3 text-xs;
}

.tilig-logo {
  @apply mt-[1px] opacity-50;
}

.text {
  @apply text-blue-lightest;
}

.content {
  @apply flex max-w-[244px] flex-col gap-1;
}

.header {
  @apply font-medium;
}

.trigger {
  @apply mt-1 font-normal text-blue-lightest;
}

.key {
  @apply mx-0.5 rounded bg-blue-lightest px-1 leading-none text-white opacity-100;
}
</style>
