<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useRoute } from 'vue-router'

import { parseDomain } from '@core/utils/domainUtils'

import { sendSuggestion } from '@/background/messageApis/acceptSuggestion'
import { launchCredentialModal } from '@/content-scripts/messageApis/onUpdateCredentialMessage'

import EmailSuggestion from './EmailSuggestion.vue'
import PasswordSuggestion from './PasswordSuggestion.vue'
import TiligLogo from '@/assets/tilig-dropdown-logo.svg?component'

const props = defineProps<{
  emailSuggestion: string
  passwordSuggestion: string
}>()

const acceptedPassword = ref<string | null>(null)
const acceptedEmail = ref<string | null>(null)

const route = useRoute()

const inputType = computed(() => route.query.inputType as string)

const suggestion = computed(() => {
  switch (inputType.value) {
    case 'email':
      // For now, only show one email address.
      // We can add support for more email addresses later.
      // See utils/getEmailSuggestions.js on how that could be done.
      return { component: EmailSuggestion, suggestion: props.emailSuggestion }
    case 'password':
      return { component: PasswordSuggestion, suggestion: props.passwordSuggestion }
    case 'username':
      // For now, we don't suggest anything for username inputs.
      // We can add that later.
      return null
    default:
      return null
  }
})

const headerText = computed(() => {
  switch (inputType.value) {
    case 'email':
      return 'Suggested email address'
    case 'password':
      return 'Suggested password'
    default:
      return ''
  }
})

const acceptEmailSuggestion = (suggestion: string) => {
  acceptedEmail.value = suggestion
  sendSuggestion({
    inputType: inputType.value,
    suggestion: suggestion,
    domain: parseDomain(window.location.href) || '',
  })
}

const acceptPasswordSuggestion = (suggestion: string) => {
  acceptedPassword.value = suggestion
  sendSuggestion({
    inputType: inputType.value,
    suggestion: suggestion,
    domain: parseDomain(window.location.href) || '',
  })
  // TODO: Save the signup and launch the autocapture modal
  // sendSaveDraft({ saveType: 'signup' })
  launchCredentialModal()
}
</script>

<template>
  <header class="header-text">
    <component :is="TiligLogo" class="tilig-logo" />
    {{ headerText }}
  </header>

  <div v-if="suggestion && !acceptedPassword">
    <component
      :is="suggestion.component"
      class="suggestion list-item"
      :suggestion="suggestion.suggestion"
      @accept-email="acceptEmailSuggestion"
      @accept-password="acceptPasswordSuggestion"
    />
  </div>
</template>

<style scoped>
.list-item {
  @apply cursor-default overflow-hidden text-ellipsis whitespace-nowrap p-2 text-left;
}

.header-text {
  @apply m-1 mb-2 flex items-center gap-1.5 pl-1 text-xs opacity-50;
}

.tilig-logo {
  @apply mt-[1px] flex items-center self-start;
}

.list-item:last-child {
  @apply border-b-0;
}

.suggestion {
  @apply cursor-pointer rounded text-sm hover:bg-indigo-lightest;
}
</style>
