<script lang="ts" setup>
import { computed, onMounted, onUnmounted, ref } from 'vue'

const props = defineProps<{ count: number; maxCount: number }>()
const countdown = computed(
  () => Math.round(((props.maxCount - props.count) / props.maxCount) * 63) + 'px'
)
const colorClass = computed(() => (props.count <= 10 ? 'warning' : 'normal'))
const circle = ref<SVGCircleElement | null>(null)
let timer: number

onMounted(() => {
  timer = setInterval(() => {
    if (circle.value) {
      if (props.count % props.maxCount === 0) {
        circle.value.style.transition = 'none'
      } else {
        circle.value.style.transition = '20ms stroke-dashoffset linear'
      }
      circle.value.style.strokeDashoffset = countdown.value
    }
  }, 200) as unknown as number
})

onUnmounted(() => {
  timer && clearInterval(timer)
})
</script>

<template>
  <div class="countdown" :class="colorClass">
    <div class="countdown-number">{{ count }}</div>
    <svg class="countdown-circle-container">
      <circle ref="circle" r="10" cx="12" cy="12" class="countdown-circle" />
    </svg>
  </div>
</template>

<style scoped>
.countdown {
  @apply flex h-full w-6 items-center justify-center;
}

.countdown-number {
  @apply relative w-full items-center justify-center text-center font-mono text-[0.68rem] text-green-darker;
}

.warning .countdown-number {
  @apply text-red;
}

.countdown-circle-container {
  @apply absolute z-0 h-6 w-6;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown-circle {
  stroke-dasharray: 63px;
  stroke-dashoffset: v-bind(countdown);
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: rgb(82 163 130);
  fill: none;
}

.warning .countdown-circle {
  stroke: rgb(249 16 63);
}
</style>
