<script setup lang="ts">
defineProps<{
  code: string
}>()
</script>

<template>
  <p class="code">{{ code.toString().substring(0, 3) }} - {{ code.toString().substring(3) }}</p>
</template>

<style scoped>
.code {
  @apply font-roboto-mono font-medium;
}
</style>
