<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { isDebugging } from '@core/utils/debug'
import { Template } from '@core/clients/tilig/item'
import { useContactsStore } from '@core/stores/contacts'
import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'

import { useCurrentItemStore } from '@core/stores/currentItem'
import { useAuthStore } from '@core/stores/auth'
import { useFoldersStore } from '@core/stores/folders'
import { useItemRoutes } from '@/composables/useItemRoutes'

import ItemShare from '@core/components/share/ItemShare.vue'
import ItemFooter from '@core/components/item/ItemFooter.vue'

import LoginItemDetails from '@core/components/item/login/LoginItemDetails.vue'
import SecureNoteDetails from '@core/components/item/securenote/SecureNoteDetails.vue'
import WifiDetails from '@core/components/item/wifi/WifiDetails.vue'
import CreditCardDetails from '@core/components/item/creditcard/CreditCardDetails.vue'
import CustomItemDetails from '@core/components/item/custom/CustomItemDetails.vue'

const componentMap = new Map([
  [Template.Login, LoginItemDetails],
  [Template.SecureNote, SecureNoteDetails],
  [Template.CreditCard, CreditCardDetails],
  [Template.WiFi, WifiDetails],
  [Template.Custom, CustomItemDetails],
])

const router = useRouter()
const itemRoutes = useItemRoutes()
const authStore = useAuthStore()
const currentItemStore = useCurrentItemStore()
const contactsStore = useContactsStore()

const { currentItem, isDeleting, isCreatingShare, isDeletingShare } = storeToRefs(currentItemStore)
const { isAddingFolderMembership, isRevokingFolderMembership, publicKeyFetchError } = storeToRefs(
  useFoldersStore()
)

const {
  createShare,
  deleteShare,
  addFolderMembership,
  revokeFolderMembership,
  confirmAllPendingFolderInvitations,
} = currentItemStore

const supportsShare = computed(() => !!currentItem.value?.item.template)
const contacts = computed(() => contactsStore.contacts)

const editItem = () => {
  if (!currentItem.value) return
  router.push(itemRoutes.toItemEdit(currentItem.value.item))
}

const showCopyButton = isDebugging()
const copyJson = () => {
  copyStringToClipboard(JSON.stringify(currentItem.value, null, 2))
}

const resetPublicKeyFetchErrorState = () => {
  publicKeyFetchError.value = null
}

contactsStore.fetchContacts()
confirmAllPendingFolderInvitations()
</script>

<template>
  <div v-if="currentItem">
    <Component
      :is="componentMap.get(currentItem.item.template)"
      v-if="currentItem.item.template"
      :item="currentItem"
    />
    <ItemShare
      v-if="supportsShare"
      :item="currentItem"
      :current-user="authStore.tiligUser"
      :contacts="contacts"
      :is-creating="isCreatingShare"
      :is-deleting="isDeletingShare"
      :is-adding-membership="isAddingFolderMembership"
      :is-revoking-membership="isRevokingFolderMembership"
      :public-key-fetch-error="publicKeyFetchError"
      @create-share="createShare"
      @delete-share="deleteShare"
      @add-folder-membership="addFolderMembership"
      @reset-public-key-fetch-error-state="resetPublicKeyFetchErrorState"
      @revoke-folder-membership="revokeFolderMembership"
    />
    <ItemFooter
      :item-name="currentItem.overview.name"
      :deleting="isDeleting"
      :template="currentItem.item?.template"
      :copy-button="showCopyButton"
      @edit="editItem"
      @copy-json="copyJson"
    />
  </div>
</template>
