<script setup lang="ts">
import { computed } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { createLogger } from '@core/utils/logger'
import { useCurrentItemStore } from '@core/stores/currentItem'
import { useItemRoutes } from '@/composables/useItemRoutes'

import ItemEditFormFooter from '@core/components/item/ItemEditFormFooter.vue'
import ItemForm from '@core/components/item/ItemEditForm.vue'
import { useItemsStore } from '@core/stores/items'
import { useFoldersStore } from '@core/stores/folders'

const router = useRouter()
const itemRoutes = useItemRoutes()
const currentItemStore = useCurrentItemStore()

const logger = createLogger('ui:AccountEdit')

const { currentItem, isDirty, isUpdating, isDeleting, isDeletedExternally } =
  storeToRefs(currentItemStore)
const { maxLoginValueLength } = storeToRefs(useItemsStore())
const { folders } = storeToRefs(useFoldersStore())

const formIsInvalid = computed(() => {
  if (!isDirty.value) {
    return true
  }

  return !currentItem.value?.overview.name
})

const cancel = async () => {
  logger.debug('Cancelled edit')
  await currentItemStore.refreshCurrentItem()

  if (!currentItem.value) {
    router.replace(itemRoutes.toItems())
  } else {
    router.replace(itemRoutes.toItem(currentItem.value.item))
  }
}

const save = async () => {
  if (!isDirty.value || !currentItem.value) return

  logger.debug('Saving changes')

  await currentItemStore.updateCurrentItem()
  await currentItemStore.refreshCurrentItem()

  if (!currentItem.value) {
    router.push(itemRoutes.toItems())
  } else {
    router.push(itemRoutes.toItem(currentItem.value.item))
  }
}

const deleteItem = async () => {
  logger.debug('Deleting item')
  // Store current nextItemId, which might change after deletion
  const nextItemId = currentItemStore.nextItemId
  await currentItemStore.deleteCurrentItem()

  if (nextItemId) {
    router.push(itemRoutes.toItem({ id: nextItemId }))
  } else {
    router.push(itemRoutes.toItems())
  }
}

onBeforeRouteLeave(async () => {
  logger.debug('In onBeforeRouteUpdate dirty: %s', isDirty.value)

  if (!isDirty.value) return

  const confirmed = window.confirm(
    'You are about to leave this page, but there are unsaved changes. Are you sure you want to continue?'
  )

  if (confirmed && !isDeletedExternally.value) {
    // Reset currentItem to the persisted state from the itemsStore
    logger.debug('Restoring currentItem from persisted state')
    await currentItemStore.refreshCurrentItem()
  }

  return confirmed
})
</script>

<template>
  <ItemForm
    v-if="currentItem"
    :item="currentItem"
    :saving="isUpdating"
    :dirty="isDirty"
    :invalid="formIsInvalid"
    :max-login-value-length="maxLoginValueLength"
    :folders="folders"
  />
  <ItemEditFormFooter
    :item-name="currentItem?.overview.name"
    :template="currentItem?.item.template"
    :deleting="isDeleting"
    :dirty="isDirty"
    :invalid="formIsInvalid"
    :saving="isUpdating"
    @save="save"
    @delete="deleteItem"
    @cancel="cancel"
  />
</template>
