<script setup lang="ts">
import OnboardingLargeHalo from '@core/components/onboarding/OnboardingLargeHalo.vue'
import Header from '@core/components/CardHeader.vue'
import Text from '@core/components/CardParagraph.vue'
import Card from '@core/components/Card.vue'
import OnboardingArrow from '@core/components/onboarding/OnboardingArrow.vue'
import CardContainer from '@core/components/CardContainer.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'
import Button from '@core/components/Button.vue'
import onboardingDone from '@core/assets/onboarding/onboarding-done.svg'
import SlideTransition from '@core/components/SlideTransition.vue'
import webappURL from '@core/utils/webappURL'

import { BROWSER_EXTENSION_OPEN_INSTRUCTION_APPEARED } from '@core/utils/trackingConstants'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'
import { onMounted, ref } from 'vue'

dispatchTrackEvent(BROWSER_EXTENSION_OPEN_INSTRUCTION_APPEARED)

const showContinueButton = ref(false)

const toNextStep = async () => {
  window.location.href = new URL(`/getting-started`, webappURL()).toString()
}

onMounted(() => {
  setTimeout(() => {
    showContinueButton.value = true
  }, 3000)
})
</script>

<template>
  <CardContainer background="confetti">
    <Card>
      <CardContentWrapper>
        <OnboardingLargeHalo />
        <div class="onboarding-complete">
          <OnboardingArrow class="onboarding-arrow" />
          <img :src="onboardingDone" class="onboarding-image" />

          <Header>Great! Let’s open Tilig over here</Header>
          <Text
            >Look at this beautiful Tilig icon in your browser! It’ll contain all your passwords in
            the near future.</Text
          >

          <SlideTransition
            ><Button
              v-if="showContinueButton"
              class="continue-button"
              button-style="primary"
              @click="toNextStep"
              >Explore Tilig</Button
            ></SlideTransition
          >
        </div>
      </CardContentWrapper>
    </Card>
  </CardContainer>
</template>

<style scoped>
.onboarding-image {
  @apply mb-6;
}

.onboarding-complete {
  @apply flex flex-col items-center py-3;
}

.onboarding-arrow {
  @apply -top-[4rem];
}

.onboarding-continue-button {
}
</style>
