<script setup lang="ts">
import { onMounted, computed } from 'vue'
import { useRouter } from 'vue-router'

import OnboardingContainer from '@core/components/onboarding/OnboardingContainer.vue'
import OnboardingLargeHalo from '@core/components/onboarding/OnboardingLargeHalo.vue'
import OnboardingArrow from '@core/components/onboarding/OnboardingArrow.vue'
import Button from '@core/components/Button.vue'
import Header from '@core/components/CardHeader.vue'
import Text from '@core/components/CardParagraph.vue'

import chromeExtensionPinIcon from '@core/assets/onboarding/extension-pin-chrome.svg'
import edgeExtensionPinIcon from '@core/assets/onboarding/extension-pin-edge.svg'
import operaExtensionPinIcon from '@core/assets/onboarding/extension-pin-opera.svg'
import smallHalo from '@core/assets/onboarding/small-halo.svg'
import largeHalo from '@core/assets/onboarding/large-halo.svg'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'

import {
  AUTOSAVE_DISABLED,
  AUTOSAVE_ENABLED,
  PIN_INSTRUCTIONS_APPEARED,
} from '@core/utils/trackingConstants'
import { browser } from '@core/utils/browserEnvironment'
import { requestWebRequestPermissions } from '@/utils/requestPermissions'
import { setAutosaveLogin } from '@/background/messageApis/settings'
import { getBrowserExtensionIcon } from '@core/utils/browserExtensionStoreIcon'

const extensionPinIconMapping = new Map([
  ['Chrome', chromeExtensionPinIcon],
  ['Chrome OS', chromeExtensionPinIcon],
  ['chromium', chromeExtensionPinIcon],
  ['Brave', chromeExtensionPinIcon],
  ['Opera', operaExtensionPinIcon],
  ['Microsoft Edge', edgeExtensionPinIcon],
])

const router = useRouter()
const extensionIcon = computed(() => browser.name && getBrowserExtensionIcon(browser.name))
const extensionPinIcon = computed(() => browser.name && extensionPinIconMapping.get(browser.name))

const toNextStep = async () => {
  // Optional permissions have to be requested on a user click/interaction
  // In the next step they can undo it is desired
  const webRequestPermissionsGranted = await requestWebRequestPermissions()
  const settings = await setAutosaveLogin(webRequestPermissionsGranted)

  const eventName = settings?.autosaveLogin ? AUTOSAVE_ENABLED : AUTOSAVE_DISABLED
  dispatchTrackEvent(eventName, {
    trigger: 'Settings',
  })

  router.push({ name: 'onboarding-step-permission' })
}

onMounted(() => {
  dispatchTrackEvent(PIN_INSTRUCTIONS_APPEARED)
})
</script>

<template>
  <OnboardingContainer :step="3">
    <Header>Now let’s pin it!</Header>
    <Text>Make the Tilig icon always visible in your browser for one-click access</Text>

    <OnboardingLargeHalo />

    <div class="pin-extension">
      <OnboardingArrow />
      <section class="instructions">
        <div class="instruction">
          <div class="instruction-count">1</div>
          <div class="extension-icon-container">
            <img :src="extensionIcon" class="extension-icon" />
          </div>
          <p class="extension-icon-text">Click on the puzzle icon</p>
        </div>

        <div class="instruction">
          <div class="instruction-count">2</div>
          <div class="extension-pin">
            <img :src="smallHalo" class="extension-pin-small-halo" />
            <img :src="largeHalo" class="extension-pin-large-halo" />
            <img :src="extensionPinIcon" class="extension-pin-icon" />
          </div>
          <p class="extension-pin-icon-text">Click on the pin next to the Tilig icon</p>
        </div>
      </section>
    </div>
    <Button class="pin-extension-button" button-style="primary" @click="toNextStep"
      >Continue</Button
    >
  </OnboardingContainer>
</template>

<style scoped>
.pin-extension {
  @apply relative -mt-2 mb-8 h-full w-full;
}

.instructions {
  @apply my-10 grid w-full grid-cols-2 gap-3 px-6;
}

.instruction {
  @apply relative grid h-[120px] max-w-[180px]  grid-rows-[40px,1fr] place-items-center gap-2 rounded-lg bg-indigo-lighter py-2 pt-5 text-xs font-normal text-blue-dark;
}

.extension-icon {
  @apply w-full;
}

.extension-icon-text {
  @apply px-10;
}

.extension-pin-icon-text {
  @apply px-5;
}

.instruction-count {
  @apply absolute -top-[1.2rem] flex h-8 w-8 items-center justify-center rounded-full border-2 border-white bg-indigo-light;
}

.extension-pin {
  @apply relative;
}

.extension-pin-large-halo {
  @apply absolute -right-3 -top-[0.95rem];
}

.extension-pin-small-halo {
  @apply absolute -right-[0.05rem] -top-[2.9px];
}

.pin-extension-button {
  @apply w-56;
}

.extension-icon-container {
  @apply w-10 rounded-md border border-gray-darkest bg-white p-2;
}
</style>
