<script setup lang="ts">
import { onMounted, Ref, ref } from 'vue'
import { useRouter } from 'vue-router'

import Container from '@core/components/onboarding/OnboardingContainer.vue'
import Header from '@core/components/CardHeader.vue'
import Text from '@core/components/CardParagraph.vue'
import Notification from '@core/components/onboarding/OnboardingNotification.vue'
import Button from '@core/components/Button.vue'
import SwitchInput from '@core/components/SwitchInput.vue'

import { SettingsState } from '@/background/stores/settings'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'
import { getSettings, setAutosaveLogin } from '@/background/messageApis/settings'

import {
  AUTOSAVE_INSTRUCTIONS_APPEARED,
  AUTOSAVE_DISABLED,
  AUTOSAVE_ENABLED,
} from '@core/utils/trackingConstants'

const router = useRouter()
const settings: Ref<SettingsState | null> = ref(null)

const toggleAutosaveLogin = async (autosaveOn: boolean) => {
  settings.value = await setAutosaveLogin(autosaveOn)

  const eventName = settings.value?.autosaveLogin ? AUTOSAVE_ENABLED : AUTOSAVE_DISABLED
  dispatchTrackEvent(eventName, {
    trigger: 'Settings',
  })
}

const toNextStep = () => {
  router.push({ name: 'onboarding-step-done' })
}

onMounted(async () => {
  settings.value = await getSettings()
  dispatchTrackEvent(AUTOSAVE_INSTRUCTIONS_APPEARED)
})
</script>

<template>
  <Container :step="4">
    <Header>Let Tilig save your passwords automagically</Header>
    <Text>Choose which passwords Tilig can save for you while you log in on websites.</Text>

    <section class="autosave-control">
      <SwitchInput
        :model-value="settings?.autosaveLogin || false"
        label="Automatically save passwords"
        @update:model-value="toggleAutosaveLogin"
      />
    </section>

    <div class="autosave-notification">
      <Notification v-show="!settings?.autosaveLogin">
        Are you sure? For 3 out of 4 Tilig users this is their favourite feature.
      </Notification>
    </div>

    <Button class="extension-permission-button" button-style="primary" @click="toNextStep">
      Continue
    </Button>
  </Container>
</template>

<style scoped>
.autosave-control {
  @apply mb-4 w-full rounded-lg bg-indigo-lightest px-8 py-4;
}

.autosave-notification {
  @apply mb-6 mt-1 h-[72px];
}

.extension-permission-button {
  @apply mb-6 w-56;
}
</style>
