<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import InvitationContainer from './InvitationContainer.vue'
import InvitationExpired from './InvitationExpired.vue'
import InvalidInvitation from './InvalidInvitation.vue'

import { useOrganizationStore } from '@core/stores/organization'
import Spinner from '@core/components/icons/Spinner.vue'
import { createLogger } from '@core/utils/logger'
import { useAuthStore } from '@core/stores/auth'

const organizationStore = useOrganizationStore()
const authStore = useAuthStore()

const logger = createLogger('ui:accept-invite')

const route = useRoute()
const router = useRouter()

enum InvitationState {
  EXPIRED = 'EXPIRED',
  INVALID_LINK = 'INVALID_LINK',
}

const invitationState = ref<InvitationState | null>(null)

const componentMap = new Map([
  [InvitationState.EXPIRED, InvitationExpired],
  [InvitationState.INVALID_LINK, InvalidInvitation],
])

onMounted(async () => {
  await authStore.initialize()

  const {
    params: { id },
    query: { view_token },
  } = route
  const invitation = await organizationStore.fetchInvitation(id as string, view_token as string)

  if (!invitation) {
    logger.debug(`No invitation found`)
    invitationState.value = InvitationState.INVALID_LINK
  } else {
    logger.debug(`Fetched invitation`, invitation)
    if (authStore.isAuthenticated) {
      logger.debug(`User is authenticated`)
      // Try to accept the invite
      // If the server returns an error message "wrong email", then render error message to the user
      const success = await organizationStore.acceptInvitation(invitation.id)

      if (success) {
        router.push({ name: 'invitation-accepted' })
      } else {
        // Note: INVALID_LINK is not exactly the correct error, but better than not showing an error at all.
        // and it's a bit of an edge case so fine for now.
        invitationState.value = InvitationState.INVALID_LINK
      }
    } else {
      logger.debug(`User is not authenticated, showing login screen`)
      organizationStore.currentInvitation = invitation
      router.push({
        name: 'signup',
        query: {
          invitation_id: id,
          view_token,
        },
      })
    }
  }
})
</script>

<template>
  <InvitationContainer>
    <component :is="componentMap.get(invitationState)" v-if="invitationState" />
    <Spinner v-else class="loader" />
  </InvitationContainer>
</template>

<style scoped>
.buttons {
  @apply fixed top-20 flex gap-2;
}

.button {
  @apply h-10 w-36 text-xs;
}

.loader {
  @apply my-12 h-16 w-16 text-indigo;
}
</style>
