<script setup lang="ts">
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import Spinner from '@core/components/icons/Spinner.vue'
</script>

<template>
  <TiligLogoImageMark :width="40" :height="30" />
  <Spinner class="joining-organization" />
  <CardParagraph class="text">Joining your team at Tilig</CardParagraph>
</template>

<style scoped>
.text {
  @apply mb-0 mt-2 text-xxs;
}

.joining-organization {
  @apply my-12 h-28 w-28 text-indigo;
}
</style>
