<script setup lang="ts">
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import CardHeader from '@core/components/CardHeader.vue'
</script>

<template>
  <TiligLogoImageMark :width="40" :height="30" />
  <CardParagraph class="text">Invite not valid</CardParagraph>
  <CardHeader class="header"
    >This invite is no longer valid. Please ask your admin to send you a new invite.</CardHeader
  >
</template>

<style scoped>
.header {
  @apply mb-8 mt-4;
}

.text {
  @apply mb-0 mt-2;
}
</style>
