<script setup lang="ts">
import { computed, onMounted } from 'vue'
import { useRouter } from 'vue-router'

import Button from '@core/components/Button.vue'
import InvitationCard from './InvitationCard.vue'
import InvitationContainer from './InvitationContainer.vue'

import confetti from '@core/assets/onboarding/confetti.svg'

import { AccountType } from '@core/clients/tilig'
import { useOrganizationStore } from '@core/stores/organization'
import { useOnboardingStore } from '@core/stores/onboarding'
import { useAuthStore } from '@core/stores/auth'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const organizationStore = useOrganizationStore()
const authStore = useAuthStore()
const onboardingStore = useOnboardingStore()
const router = useRouter()
const trackingStore = useTrackingStore()

const userPicture = computed(() => authStore.tiligUser?.photoURL ?? null)
const userName = computed(
  () => (authStore.tiligUser?.givenName || authStore.tiligUser?.displayName) ?? null
)
const userEmail = computed(() => authStore.tiligUser?.email ?? null)

onMounted(() => {
  onboardingStore.initialize()

  trackingStore.trackEvent({
    event: TrackingEvent.INVITATION_ACCEPTED_APPEARED,
  })

  // In case there is no pending invitation in the organization store, then we can't fetch the invitiation anymore.
  // Therefore, simply redirect to the next page. A user can end up in this state by navigates to this page
  // by using the browser back button, or hitting refresh.
  // An alternative approach would be to fetch the user's current organization and use that to render this component.
  if (!organizationStore.currentInvitation) {
    continueToNextPage()
  }
})

const continueToNextPage = () => {
  onboardingStore.setAccountType(AccountType.Business)
  organizationStore.clearCurrentInvitation()
  const nextRoute = onboardingStore.completed ? 'items' : 'onboarding-step-install'

  trackingStore.trackEvent({
    event: TrackingEvent.CONTINUE_TO_NEXT_PAGE,
    properties: {
      route: {
        current: router.currentRoute.value.name,
        next: nextRoute,
      },
    },
  })

  router.push({
    name: nextRoute,
  })
}
</script>

<template>
  <InvitationContainer>
    <div
      v-if="organizationStore.currentInvitation"
      class="invitation-accepted"
      :style="{
        backgroundImage: 'url(' + confetti + ')',
        backgroundRepeat: 'repeat',
        backgroundSize: '700px 420px',
      }"
    >
      <InvitationCard
        :team-name="organizationStore.currentInvitation.organization.name"
        :name="userName"
        :picture="userPicture"
        header="You're part of the team now!"
        :email="userEmail"
      />

      <Button class="continue" button-style="primary" @click="continueToNextPage"
        >Let's get started</Button
      >
    </div>
  </InvitationContainer>
</template>

<style scoped>
.continue {
  @apply mt-14 h-10 w-48;
}

.invitation-accepted {
  @apply -mt-8 flex w-full flex-col items-center pt-8;
}
</style>
