<script setup lang="ts">
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import CardHeader from '@core/components/CardHeader.vue'
</script>

<template>
  <TiligLogoImageMark :width="40" :height="30" />
  <CardParagraph class="text">You’re late to the party</CardParagraph>
  <CardHeader class="header">This invitation has expired</CardHeader>

  <p class="team-name">The Squirrels</p>
</template>

<style scoped>
.team-name {
  @apply mb-20 rounded-lg border border-gray-dark bg-gray-light px-5 py-2 text-blue-light;
}

.header {
  @apply mb-8 mt-4;
}

.text {
  @apply mb-0 mt-2;
}
</style>
