<script setup lang="ts">
import Card from '@core/components/Card.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'
import CardContainer from '@core/components/CardContainer.vue'
</script>

<template>
  <CardContainer>
    <Card>
      <CardContentWrapper size="large">
        <slot></slot>
      </CardContentWrapper>
    </Card>
  </CardContainer>
</template>
