<script setup lang="ts">
import CardParagraph from '@core/components/CardParagraph.vue'
import CardHeader from '@core/components/CardHeader.vue'
import ProfilePicture from '@core/components/ProfilePicture.vue'

defineProps<{
  picture?: string | null
  email?: string | null
  header: string | null
  teamName?: string | null
  name?: string | null
}>()
</script>

<template>
  <div class="member-picture-container">
    <ProfilePicture :picture="picture" :name="name" class="member-picture" />
  </div>
  <CardParagraph class="email">{{ email }}</CardParagraph>
  <CardHeader class="header">{{ header }}</CardHeader>

  <p class="team-name">{{ teamName }}</p>
</template>

<style scoped>
.team-name {
  @apply rounded-lg bg-indigo-lighter px-5 py-2 text-blue-light;
}

.member-picture-container {
  @apply flex h-14 w-14 items-center justify-center rounded-full border-2 border-white bg-indigo-lighter shadow-xs;
}

.fallback.member-picture {
  @apply h-auto w-max self-center rounded-none bg-none text-2xl leading-9 text-blue-lightest shadow-none;
}

.header {
  @apply mb-8 mt-4;
}

.email {
  @apply mb-0 mt-2 text-blue-light;
}
</style>
