<script setup lang="ts">
import Title from '@/shared-components/Title.vue'
import Button from '@core/components/Button.vue'

const emit = defineEmits<{
  (e: 'show-create-form'): void
}>()
</script>

<template>
  <div class="page-container">
    <Title>No team yet</Title>

    <p class="description">
      Tilig is great when used with other! Create a team to start using it with a group of people.
    </p>

    <Button button-style="primary" @click="emit('show-create-form')"
      >Create a new team/family</Button
    >
  </div>
</template>

<style scoped>
.description {
  @apply my-4;
}
</style>
