<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'

import Container from '@core/components/onboarding/OnboardingContainer.vue'
import Header from '@core/components/CardHeader.vue'
import Button from '@core/components/Button.vue'

import { useOrganizationStore } from '@core/stores/organization'
import useLoginRedirectToNextPage from '@/utils/useLoginRedirectToNextPage'
import PendingInvitationSection from '@/components/login/PendingInvitationSection.vue'

import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const organizationStore = useOrganizationStore()
const trackingStore = useTrackingStore()
const route = useRoute()

const pendingInvitation = computed(() => {
  if (organizationStore.pendingInvitations?.length) {
    return organizationStore.pendingInvitations[0]
  }
  return null
})

const showAcceptedMessage = ref(false)
const acceptedTeamName = ref<string | null>(null)

// It's most likely the user is in the onboarding flow after completing this step
const redirectToNextPage = useLoginRedirectToNextPage()

const accept = async () => {
  if (!pendingInvitation.value) {
    return
  }
  // TODO: error handling
  await organizationStore.acceptInvitation(pendingInvitation.value.id)
  // Show confirmation message
  acceptedTeamName.value = pendingInvitation.value.organization.name
  showAcceptedMessage.value = true
  // Refresh the pending invitations
  await organizationStore.fetchPendingInvitations()
}

const decline = async () => {
  if (!pendingInvitation.value) {
    return
  }
  // TODO: error handling
  await organizationStore.declineInvitation(pendingInvitation.value.id)
  // Refresh the pending invitations
  await organizationStore.fetchPendingInvitations()
  // It's most likely the user is in the onboarding flow
  redirectToNextPage()
}

const trackContinueToItemsPage = () => {
  trackingStore.trackEvent({
    event: TrackingEvent.CONTINUE_TO_NEXT_PAGE,
    properties: {
      route: {
        current: route.name,
        next: 'root',
      },
    },
  })
}

// trackingStore.trackEvent({ event: has no pending invitation, continuing to items page })

onMounted(() => {
  // Just to be sure, should've already happened
  organizationStore.initialize()

  trackingStore.trackEvent({ event: TrackingEvent.PENDING_INVITES_APPEARED })
})
</script>

<template>
  <Container :show-steps="false">
    <div v-if="showAcceptedMessage">
      <Header>You've joined {{ acceptedTeamName }} on Tilig! 🎉</Header>
      <Button class="button-accept" button-style="primary" @click="redirectToNextPage"
        ><template #label>Continue</template>
      </Button>
    </div>
    <div v-else-if="pendingInvitation">
      <PendingInvitationSection :invitation="pendingInvitation" />

      <div class="button-container">
        <Button class="button-decline" full-width @click="decline">Decline</Button>
        <Button class="button-accept" button-style="primary" @click="accept"
          ><template #label>Accept</template>
        </Button>
      </div>
    </div>
    <div v-else>
      <Header>You have no pending invitations</Header>

      <router-link :to="{ name: 'root' }" @click="trackContinueToItemsPage">Continue </router-link>
    </div>
  </Container>
</template>

<style scoped>
.button-container {
  @apply my-3 mt-8 flex gap-4;
}

.button-decline {
  @apply cursor-pointer border-0 p-0 text-xs text-gray-darkest shadow-none hover:bg-transparent hover:text-gray-dark;
}

.button-accept {
  @apply w-full shadow-xs;
}
</style>
