<template>
  <div ref="container" class="container">
    <div class="container-content">
      <!-- syncing tab state should be nearly instantaneous
      so no need for a loader here -->
      <ModalPage v-if="loaded" @undo="onUndo" @dismiss="onDismiss" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted } from 'vue'
import { storeToRefs } from 'pinia'
import { dismissAutocaptureItem, undoAutocaptureItem } from '@/background/messageApis/autocapture'
import { useAutocaptureModalStore } from './store'
import ModalPage from './pages/ModalPage.vue'

// TODO: Figure out what times make sense
// const MODAL_TIMEOUT = 15000
const MODAL_TIMEOUT = 15000

const store = useAutocaptureModalStore()

const { loaded, autocaptureItem } = storeToRefs(store)
store.load()

const onUndo = () => {
  // Delete the item
  if (autocaptureItem?.value?.id) {
    undoAutocaptureItem(autocaptureItem.value.id)
  }
}
const onDismiss = () => {
  // Dismiss the item
  dismissAutocaptureItem()
}

onMounted(() => {
  setTimeout(() => {
    dismissAutocaptureItem()
  }, MODAL_TIMEOUT)
})
</script>

<style scoped>
.container {
  @apply overflow-hidden p-1;
}

.container-content {
  @apply overflow-hidden rounded-md bg-white drop-shadow;
}
</style>
