<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'

import { Template } from '@core/clients/tilig'
import { useAddItemStore } from '@core/stores/addItem'
import { useSecureNotesForm } from '@core/composables/forms'

import ItemCreateForm from '@core/components/item/ItemCreateForm.vue'
import FormField from '@core/components/FormField.vue'
import NotesFormField from '@core/components/NotesFormField.vue'

const addItemStore = useAddItemStore()
const { newItem, isCreating, isCreated } = storeToRefs(addItemStore)
const itemTemplate = Template.SecureNote

const { name, notes } = useSecureNotesForm(newItem)

const formIsInvalid = computed(() => !name.value)
</script>

<template>
  <ItemCreateForm
    :disabled="isCreating || isCreated || formIsInvalid"
    :loading="isCreating"
    :template="itemTemplate"
  >
    <FormField v-model="name" label="Name" placeholder="Enter a name" orientation="vertical" />

    <NotesFormField
      v-model="notes"
      label="Note"
      placeholder="Enter your text here. Notes are always encrypted."
      orientation="vertical"
    />
  </ItemCreateForm>
</template>
