<script setup lang="ts">
import { toRefs } from 'vue'

import { DecryptedItem } from '@core/clients/tilig'
import { useSecureNotesForm } from '@core/composables/forms'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

import ItemDetailsWrapper from '@core/components/item/ItemDetailsWrapper.vue'
import NotesField from '@core/components/item/NotesField.vue'

const props = defineProps<{
  item: DecryptedItem
}>()

const { item } = toRefs(props)
const { notes } = useSecureNotesForm(item)
const { trackEvent } = useTrackingStore()

const trackDescriptionCopy = () => {
  trackEvent({
    event: TrackingEvent.NOTES_DESCRIPTION_COPIED,
  })
}

trackEvent({
  event: TrackingEvent.NOTE_VIEWED,
})
</script>

<template>
  <ItemDetailsWrapper :item="item">
    <NotesField :value="notes" orientation="vertical" hide-label @copy="trackDescriptionCopy" />
  </ItemDetailsWrapper>
</template>

<style scoped>
.button.copy-button {
  @apply mb-0 self-start border-transparent p-0 text-center text-sm font-normal text-indigo shadow-transparent hover:bg-transparent hover:font-normal hover:text-indigo-dark;
}

.notes-input {
  @apply -mt-2 border-none p-0;
}

.empty-note {
  @apply text-gray-darkest;
}
</style>
