<script setup lang="ts">
import { toRefs } from 'vue'

import FormField from '@core/components/FormField.vue'
import NotesFormField from '@core/components/NotesFormField.vue'

import { useSecureNotesForm } from '@core/composables/forms'
import { DecryptedItem } from '@core/clients/tilig'

const props = defineProps<{
  item: DecryptedItem
  saving: boolean
}>()

const { item } = toRefs(props)
const { name, notes } = useSecureNotesForm(item)
</script>

<template>
  <FormField v-model="name" label="Name" placeholder="Enter a name" />

  <NotesFormField
    v-model="notes"
    label="Note"
    placeholder="Enter your text here. Notes are always encrypted."
  />
</template>

<style scoped>
.notes-label {
  @apply self-start md:my-0;
}
</style>
