<script setup lang="ts">
import { computed, toRefs } from 'vue'
import { Contact, Folder, UserProfile } from '@core/clients/tilig'

import Modal from '../Modal.vue'
import FolderMembers from '../share/FolderMembers.vue'
import FolderBadge from '../share/FolderBadge.vue'

const props = defineProps<{
  folder: Folder
  currentUser?: UserProfile | null
  contacts?: Contact[]
  publicKeyFetchError?: 'own-email' | null
  isAddingMembership?: boolean
  isRevokingMembership?: boolean
}>()

defineEmits<{
  (e: 'addFolderMembership', email: string): void
  (e: 'resetPublicKeyFetchErrorState'): void
  (e: 'revokeFolderMembership', memberId: string): void
}>()

const { folder } = toRefs(props)

const folderMemberCount = computed(
  () => folder.value.folder_memberships.length + folder.value.folder_invitations.length
)
</script>

<template>
  <Modal title="Manage folder access" close-button>
    <p class="font-book">
      {{ folderMemberCount === 1 ? 'Only you' : `${folderMemberCount} people` }}
      have access to <FolderBadge class="inline-block" :folder="folder" />
    </p>
    <h2 class="heading">Invite people to this folder</h2>
    <FolderMembers
      :folder="folder"
      :current-user="currentUser"
      :contacts="contacts"
      :public-key-fetch-error="publicKeyFetchError"
      :is-adding-membership="isAddingMembership"
      :is-revoking-membership="isRevokingMembership"
      @add-folder-membership="$emit('addFolderMembership', $event)"
      @reset-public-key-fetch-error-state="$emit('resetPublicKeyFetchErrorState')"
      @revoke-folder-membership="$emit('revokeFolderMembership', $event)"
    />
  </Modal>
</template>

<style scoped>
.heading {
  @apply mb-1 mt-3 text-xxs uppercase text-gray-darkest md:text-xs;
}
</style>
