<script setup lang="ts">
import { ref } from 'vue'

import Modal from '@core/components/Modal.vue'
import Button from '@core/components/Button.vue'
import FormField from '@core/components/FormField.vue'

const props = defineProps<{ value?: string | null; open?: boolean }>()
const emit = defineEmits<{ (event: 'commit', value: string): void; (event: 'close'): void }>()

const folderName = ref(props.value || '')
const close = () => {
  folderName.value = ''
  emit('close')
}

const commit = () => {
  emit('commit', folderName.value)
  close()
}
</script>

<template>
  <Modal
    class="w-[calc(100vw-2rem)] md:max-w-[30rem]"
    title="Add a folder"
    close-button
    :open="open"
    @close="close"
  >
    <FormField
      v-model="folderName"
      label="Name"
      placeholder="E.g. Important Documents"
      orientation="vertical"
    />

    <Button class="mt-6 w-full" button-style="primary" :disabled="!folderName" @click="commit"
      >Save</Button
    >
  </Modal>
</template>

<style scoped></style>
