<script setup lang="ts">
import { computed } from 'vue'

import { ItemType } from '@core/stores/items'

const props = defineProps<{
  activeItemType: ItemType | null
}>()

const itemTypeHeadingMap = new Map([
  [ItemType.Logins, 'login'],
  [ItemType.WiFi, 'WiFi network'],
  [ItemType.SecureNotes, 'secure note'],
  [ItemType.CreditCards, 'credit card'],
])

const itemTypeSubheadingMap = new Map([
  [ItemType.Logins, 'Your logins will appear here once added'],
  [ItemType.SecureNotes, 'Your secure notes will appear here once added'],
  [ItemType.WiFi, 'Your wifi networks will appear here once added'],
  [ItemType.CreditCards, 'Your cards will appear here once added'],
])

const itemTypeHeading = computed(() =>
  props.activeItemType ? itemTypeHeadingMap.get(props.activeItemType) : 'item'
)

const itemTypeSubheading = computed(() =>
  props.activeItemType
    ? itemTypeSubheadingMap.get(props.activeItemType)
    : 'Your items will appear here once added'
)
</script>

<template>
  <h1 class="hero-text">Add your first {{ itemTypeHeading }}</h1>
  <p class="hero-text-paragraph">
    {{ itemTypeSubheading }}
  </p>
</template>

<style scoped>
.hero-text {
  @apply mt-2 text-center font-spoof text-xl font-medium md:text-xl lg:text-3xl;
}

.hero-text-paragraph {
  @apply mb-4 mt-4 text-center font-stolzl text-sm font-book leading-5 md:text-sm lg:text-lg;
}
</style>
