<script setup lang="ts">
import { XIcon } from '@heroicons/vue/solid'

import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'

const emit = defineEmits<{
  (e: 'close'): void
}>()
</script>

<template>
  <div class="dismiss-referral">
    <XIcon class="dismiss" @click="emit('close')" />

    <section class="content">
      <TiligLogoImageMark />
      <CardHeader class="header">Continue participating to win every week!</CardHeader>
      <CardParagraph class="paragraph">
        You can always open the account menu to see your position on the leaderboard
      </CardParagraph>
    </section>
  </div>
</template>

<style scoped>
.dismiss-referral {
  @apply max-w-[529px] bg-white p-4 px-6;
}

.dismiss {
  @apply ml-auto h-5 w-5 cursor-pointer text-gray-darkest hover:text-black;
}

.header {
  @apply text-2xl leading-9;
}

.content {
  @apply my-3 flex flex-col items-center p-2 text-center;
}

.paragraph {
  @apply p-0 text-center leading-6 text-blue-darkest;
}
</style>
