<script setup lang="ts">
import { XIcon } from '@heroicons/vue/outline'

import ExternalLink from '@core/components/ExternalLink.vue'

import { Rank } from '@core/clients/tilig/referral'

const emit = defineEmits<{
  (e: 'close'): void
}>()

defineProps<{ faqUrl: string; leaderBoard: Rank[] }>()
</script>

<template>
  <div class="referral-leaderboard">
    <header class="heading">
      <h3 class="title">Leaderboard</h3>
      <XIcon class="close-button" @click="emit('close')" />
    </header>

    <div class="info">
      <p>Weekly prizes every Friday, for 1st and 2nd place!</p>
      <p>For every person who signs up, 10 points are attributed to your account!</p>
    </div>

    <ExternalLink :url="faqUrl" text="Learn more" class="faq" />

    <div class="leaderboard-table">
      <section class="table-header">
        <div class="header-cell">Rank</div>
        <div class="header-cell">Nickname</div>
        <div class="header-cell">Points</div>
      </section>
      <section class="table-body">
        <div v-for="rank of leaderBoard" :key="rank.rank" class="body-cell">
          <div class="row-side" />
          <div class="row">
            <p class="ra">{{ rank.rank }}</p>
            <p class="email">
              {{ rank.is_me ? rank.email_short : `${rank.email_short}***@****.com ` }}
              <span v-if="rank.is_me" class="you">You!</span>
            </p>
            <p>{{ rank.points }}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<style scoped>
.referral-leaderboard {
  @apply flex flex-col p-6 xl:w-[50rem];
}

.heading {
  @apply mb-4 flex justify-between;
}

.info {
  @apply text-sm font-book;
}

.title {
  @apply text-lg;
}

.close-button {
  @apply h-6 w-6 cursor-pointer opacity-50 hover:opacity-100;
}

.leaderboard-table {
  @apply my-6 flex flex-col gap-2 rounded-3xl bg-indigo-lightest p-8;
}

.table-header {
  @apply grid grid-cols-[4rem_7fr_1fr] gap-2 pl-8 pr-2;
}

.table-body {
  @apply flex flex-col gap-2;
}

.body-cell {
  @apply flex;
}

.row {
  @apply grid flex-grow grid-cols-[4rem_7fr_1fr] rounded-r-xl bg-white py-3 pl-8 pr-2;
}

.row-side {
  @apply w-2 rounded-l-xl bg-gray-dark;
}

.body-cell:nth-of-type(1) .row-side,
.body-cell:nth-of-type(2) .row-side {
  @apply bg-indigo;
}

.header-cell {
  @apply rounded-xl text-left text-sm font-book text-gray-dark;
}

.email {
  @apply flex items-center;
}

.you {
  @apply ml-3 rounded-xl bg-indigo-lighter px-2 text-sm text-indigo;
}

.faq {
  @apply my-2 text-sm text-indigo;
}
</style>
