<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { initializeItem, Template } from '@core/clients/tilig'
import { createLogger } from '@core/utils/logger'
import { usePopupStore } from '../store'
import { normalizeQuery } from '@/utils/routerUtils'
import { useLoginForm } from '@core/composables/forms'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import Button from '@core/components/Button.vue'
import ItemEditForm from '@core/components/item/ItemEditForm.vue'
import MenuBar from '@/ui/components/MenuBar.vue'

const logger = createLogger('ext:PopupPage:Create')
const router = useRouter()
const popupStore = usePopupStore()

const { user } = storeToRefs(popupStore)

const maxLoginValueLength = computed(() => {
  if (user.value?.applicationSettings.legacy_encryption_disabled) {
    return null
  }
  return 190
})

const newItem = ref(initializeItem())
const isSaving = ref(false)

const { query: rawQuery } = useRoute()
const query = normalizeQuery(rawQuery)

/** isBlank allows us to ignore the Brand suggested name and label the item "Untitled"
 *  This happens in the case of an "Add New Login" where we want to ignore the current
 *  tab details
 */
const isBlank = computed(() => !!query.blank)
const template = computed(() => (query.template || Template.Login) as Template)
newItem.value.item.template = template.value as Template

if (template.value === Template.Login) {
  newItem.value.item.template = Template.Login
  const { name, website, username } = useLoginForm(newItem)
  name.value = query.name || (isBlank.value ? null : popupStore.brand?.name) || null
  website.value = query.website || null
  username.value = user.value?.email || null
}

const brandColor = computed(() => {
  if (template.value === Template.CreditCard) {
    return '#499274'
  }
  if (template.value === Template.Custom) {
    return '#fb607f'
  }
  if (template.value === Template.SecureNote) {
    return '#695cff'
  }
  if (template.value === Template.WiFi) {
    return '#10c2e4'
  }
  if (query.brandColor) {
    return query.brandColor
  }
  if (isBlank.value) return ''
  return popupStore.brand?.main_color_hex || ''
})

// const saveButtonEnabled = computed(() => {
//   if (isSaving.value) {
//     return false
//   }
//   return true
// })

// const saveButtonText = computed(() => {
//   if (isSaving.value) {
//     return 'Saving...'
//   }
//   return 'Save'
// })

const onCancel = () => {
  router.push({
    name: 'secrets',
    params: { type: popupStore.activeItemType },
  })
}

const onSave = async () => {
  isSaving.value = true
  // Save record
  try {
    const id = await popupStore.createItem(
      template.value,
      newItem.value.overview,
      newItem.value.details
    )
    router.push({ name: 'secret', params: { id } })
  } catch (error) {
    // Revert to save button on failure
    isSaving.value = false
    logger.error(error)
  }
}
</script>

<template>
  <div class="edit-secret">
    <MenuBar
      class="menu-bar"
      :is-item-view="true"
      :brand-color="brandColor"
      :primary-title="newItem.overview?.name ?? ''"
      :has-back-button="true"
      @back="onCancel"
    >
      <ItemIcon :item="newItem.item" class="item-icon" />
    </MenuBar>
    <div class="content-container">
      <ItemEditForm
        :item="newItem"
        :saving="false"
        :dirty="true"
        :invalid="false"
        :max-login-value-length="maxLoginValueLength"
      />
      <div class="mt-4 flex w-full justify-end gap-2">
        <Button button-style="default" @click="onCancel">Cancel</Button>
        <Button button-style="primary" @click="onSave">Save</Button>
      </div>
      <!-- <ItemEditFormFooter
        :item-name="new.overview?.name"
        :template="new.item.template"
        :deleting="isDeleting"
        :dirty="true"
        :invalid="formIsInvalid"
        :saving="isUpdating"
        @save="save"
        @delete="deleteItem"
        @cancel="onCancel"
      /> -->
    </div>
  </div>
</template>

<style scoped>
.menu-bar {
  @apply h-36;
}
.edit-secret {
  @apply min-h-[590px] flex-col items-center bg-gray-lightest pb-4;
}

.content-container {
  @apply mt-4 w-full px-4;
}
</style>
