<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { DecryptedItem, Template } from '@core/clients/tilig'
import { createLogger } from '@core/utils/logger'
import { usePopupStore } from '../store'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import ItemEditForm from '@core/components/item/ItemEditForm.vue'
import ItemEditFormFooter from '@core/components/item/ItemEditFormFooter.vue'
import MenuBar from '@/ui/components/MenuBar.vue'

const logger = createLogger('ext:PopupPage:Edit')
const router = useRouter()
const route = useRoute()
const popupStore = usePopupStore()

const { isUpdating, isDeleting, user } = storeToRefs(popupStore)

const props = defineProps<{
  id: string
}>()

const itemState = popupStore.getItemState(props.id)
const itemBrand = itemState?.item.brand
const decryptedItem = ref<DecryptedItem | null>(null)
const maxLoginValueLength = computed(() => {
  if (user.value?.applicationSettings.legacy_encryption_disabled) {
    return null
  }
  return 190
})

popupStore.readItem(route.params.id as string).then((decryptedAccount) => {
  decryptedItem.value = decryptedAccount
})
const template = computed(() => itemState?.item.template)
const brandIcon = computed(() => {
  return itemBrand?.logo_icon_source || null
})

const brandColor = computed((): string => {
  if (template.value === Template.CreditCard) {
    return '#499274'
  }
  if (template.value === Template.Custom) {
    return '#fb607f'
  }
  if (template.value === Template.SecureNote) {
    return '#695cff'
  }
  if (template.value === Template.WiFi) {
    return '#10c2e4'
  }

  if (itemBrand) {
    return itemBrand.main_color_hex || ''
  }
  return ''
})

const id = computed(() => {
  return route.params.id as string
})

const formIsInvalid = computed(() => {
  return !decryptedItem.value?.overview.name
})

const onCancel = () => {
  router.push({
    name: 'secret',
    params: {
      id: id.value,
    },
  })
}

const save = async () => {
  if (!decryptedItem.value) return

  logger.debug('Saving changes')
  await popupStore.updateItem(props.id, decryptedItem.value.overview, decryptedItem.value.details)
  router.push({ name: 'secret', params: { id: props.id } })
}

const deleteItem = async () => {
  await popupStore.deleteItem(props.id)
  router.push({ name: 'secrets' })
}
</script>

<template>
  <div v-if="itemState" class="edit-secret">
    <MenuBar
      class="menu-bar"
      :is-item-view="true"
      :brand-color="brandColor"
      :primary-title="itemState.overview?.name ?? ''"
      :has-back-button="true"
      @back="onCancel"
    >
      <ItemIcon :icon-url="brandIcon" :item="decryptedItem?.item" class="item-icon" />
    </MenuBar>
    <div v-if="decryptedItem" class="content-container">
      <ItemEditForm
        v-if="decryptedItem"
        :item="decryptedItem"
        :saving="isUpdating"
        :dirty="true"
        :invalid="formIsInvalid"
        :max-login-value-length="maxLoginValueLength"
      />
      <ItemEditFormFooter
        :item-name="itemState.overview?.name"
        :template="itemState.item.template"
        :deleting="isDeleting"
        :dirty="true"
        :invalid="formIsInvalid"
        :saving="isUpdating"
        @save="save"
        @delete="deleteItem"
        @cancel="onCancel"
      />
    </div>
  </div>
</template>

<style scoped>
.menu-bar {
  @apply h-36;
}
.edit-secret {
  @apply min-h-[590px] flex-col items-center bg-gray-lightest pb-4;
}

.content-container {
  @apply mt-4 w-full px-4;
}
</style>
