<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import { storeToRefs } from 'pinia'
import { useInfiniteScroll, useScroll } from '@vueuse/core'
import { onBeforeRouteLeave } from 'vue-router'

import { computedDebounced } from '@core/utils/reactivity'
import { parseDomain } from '@core/utils/domainUtils'
import { Template } from '@core/clients/tilig/item'
import { ItemType } from '@core/stores/items'
import { ACCOUNT_LIST_VIEWED } from '@core/utils/trackingConstants'
import { SUPPORTED_TEMPLATES } from '@/background/messageApis/accounts'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'
import { titleToName } from '@/utils/titleToName'
import { usePopupStore } from '../store'

// import OnboardingStatus from '@/ui/popup/components/OnboardingStatus.vue'
import Settings5Line from '~icons/ri/settings-5-line?width=1.75em&height=1.75em&dummy'
import Loading from '@/ui/components/Loading.vue'
import AddLoginBanner from '@/ui/components/AddLoginBanner.vue'
import ItemCell from '../components/ItemCell.vue'
import NoItemsMessage from '../components/NoItemsMessage.vue'
import NoSearchMatchesMessage from '../components/NoSearchMatchesMessage.vue'

import SearchInput from '@/ui/components/next/SearchInput.vue'
import BottomNavLayout from '@/ui/layouts/BottomNavLayout.vue'
import ItemTypeTabs from '@/ui/popup/components/ItemTypeTabs.vue'
import ItemNavigation from '@/ui/popup/components/ItemNavigation.vue'
import OpenWebAppButton from '@/ui/popup/components/OpenWebAppButton.vue'

const store = usePopupStore()
const { loadMore } = store
const {
  activeTab,
  itemStatesLoaded,
  itemStates,
  tabItemStates,
  searchString,
  totalItemStates,
  searchLoading,
  hasCustomItems,
  activeItemType,
  filteredItems,
  itemsPageScrollPosition,
  filteredSearchItems,
} = storeToRefs(store)

// Accounts are decrypted (not loading) and we have current user and active tab data
const isReady = computed(() => {
  return itemStatesLoaded.value
})

const allItems = computed(() => {
  return itemStates.value.filter((itemState) =>
    SUPPORTED_TEMPLATES.includes(itemState.item.template || Template.Login)
  )
})

const domain = computed(() => (activeTab.value?.url && parseDomain(activeTab.value.url)) || '')
const title = computed(
  () =>
    (activeTab.value && titleToName(activeTab.value.url ?? null, activeTab.value.title ?? null)) ||
    ''
)

const onValidDomain = computed(() => {
  return domain.value && !isOnTilig.value
})

const canLoadMore = computed(() => {
  return allItems.value.length < totalItemStates.value
})

const isOnTilig = computed(() => {
  return domain.value?.match(/tilig\.com/)
})

const isSearchMode = computed(() => !!searchString.value)

const searchStringModel = computed({
  get() {
    return searchString.value
  },
  set(value) {
    store.setSearchString(value || '')
  },
})

const hasSearchResults = computed(() => filteredSearchItems.value.length > 0)
const hasNoSearchResultsDebounced = computedDebounced(
  () => isSearchMode.value && !searchLoading.value && !hasSearchResults.value,
  { debounce: 50 }
)

const hasAnyItem = computed(() => allItems.value.length > 0)
const showSuggestedItems = computed(
  () => !activeItemType.value || activeItemType.value === ItemType.Logins
)

const layoutRef = ref<InstanceType<typeof BottomNavLayout> | null>(null)

onBeforeRouteLeave(() => {
  itemTypeNavOffset.value = 0
})

onMounted(() => {
  layoutRef.value?.setScrollY(itemsPageScrollPosition.value)
})

const scrollContainer = computed(() => layoutRef.value?.scrollContainer ?? null)
useInfiniteScroll(
  scrollContainer,
  () => {
    canLoadMore.value && loadMore()
  },
  { distance: 150 } // Roughly 3 items
)

const searchInputRef = ref<InstanceType<typeof SearchInput> | null>(null)
onMounted(() => {
  const properties = !hasAnyItem.value
    ? {
        state: 'add-first-item',
      }
    : undefined

  dispatchTrackEvent(ACCOUNT_LIST_VIEWED, {
    properties,
  })

  // If we have search text, focus the search field
  searchInputRef.value?.focus()
})

// const keys = useMagicKeys()
// const ctrlF = keys['Control+F']
// const cmdF = keys['Meta+F']
// const searchHotKey = computed(() => ctrlF.value || cmdF.value)
// whenever(searchHotKey, () => searchInputRef.value?.focus())

const itemTypesRef = ref<HTMLElement | null>(null)
const { x: itemTypeNavOffset, arrivedState: itemTypeNavArrived } = useScroll(itemTypesRef, {
  behavior: 'smooth',
})

const scrollNavTab = (direction?: 'left' | 'right') => {
  if (!itemTypesRef.value) {
    console.log('No item type nav ref!')
    return
  }
  console.log('Have an item type nav ref!', itemTypeNavOffset.value, itemTypesRef.value)

  // We force scroll to the end of the container at once
  itemTypeNavOffset.value = direction === 'left' ? 0 : itemTypesRef.value.scrollWidth
}
</script>

<template>
  <BottomNavLayout
    ref="layoutRef"
    class="popup-items-page"
    menu-right-to="/settings"
    :menu-right-icon="Settings5Line"
    @scroll-stopped="itemsPageScrollPosition = $event"
  >
    <template #menu-right>
      <OpenWebAppButton />
    </template>

    <template #default="{ topArrived }">
      <div class="m-1 mb-0 rounded-md border-2 bg-indigo p-1 text-center text-sm text-white">
        <p>
          <strong class="uppercase">Urgent:</strong>

          Tilig shuts down <strong>April 30th, 2023</strong>.

          <a target="_blank" class="underline" href="https://www.tilig.com/post/shutdown"
            >Read more</a
          >
        </p>
      </div>

      <template v-if="!isReady">
        <Loading class="loading" />
      </template>
      <template v-else-if="!hasAnyItem">
        <NoItemsMessage />
      </template>

      <template v-else>
        <header class="popup-header" :class="{ isScrolling: !topArrived }">
          <AddLoginBanner
            v-if="onValidDomain && !tabItemStates.length"
            :website="domain"
            :title="title"
          />

          <SearchInput
            ref="searchInputRef"
            v-model="searchStringModel"
            placeholder="Search for an item"
          />

          <div class="item-types-header">
            <ItemNavigation
              v-show="itemTypeNavOffset > 0"
              direction="left"
              class="scroll-trigger left-trigger"
              @click="scrollNavTab('left')"
            />

            <div ref="itemTypesRef" class="item-types">
              <ItemTypeTabs :has-custom-items="hasCustomItems" />
            </div>

            <ItemNavigation
              v-show="!itemTypeNavArrived.right"
              direction="right"
              class="scroll-trigger right-trigger"
              @click="scrollNavTab('right')"
            />
          </div>
        </header>

        <div class="popup-items">
          <div class="content-container">
            <template v-if="isSearchMode">
              <NoSearchMatchesMessage
                v-if="hasNoSearchResultsDebounced"
                :query="searchString"
                :active-item-type="activeItemType"
              />

              <ItemCell v-for="item in filteredSearchItems" :key="item.item.id" :item="item" />
            </template>
            <template v-else>
              <ItemCell
                v-for="item in tabItemStates"
                v-show="showSuggestedItems"
                :key="item.item.id"
                :item="item"
                suggested
              />

              <ItemCell v-for="item in filteredItems" :key="item.item.id" :item="item" />

              <button v-if="canLoadMore" class="load-more" @click="loadMore">Load More</button>
            </template>
          </div>
        </div>
      </template>
    </template>
  </BottomNavLayout>
</template>

<style scoped>
.popup-items {
  @apply flex flex-grow flex-col;
}

.loading {
  @apply flex flex-row justify-center;
}

.content-container {
  @apply flex flex-1 flex-col px-2;
}

.item-types-header {
  @apply relative flex items-center;
}

.item-types {
  @apply hide-scrollbar overflow-x-auto;
}

/* Search box */

.no-search-matches {
  @apply flex w-full flex-col content-center items-center px-24 py-4 text-center;
}
.no-search-matches img {
  @apply mb-4 mt-12 w-32 opacity-60;
}

.no-search-matches h2 {
  @apply text-lg;
}

.no-search-matches p {
  @apply pt-2 text-xs leading-snug text-gray-darkest;
}

button.load-more {
  @apply w-full py-4 text-center text-blue-darkest;
}

.items-list {
  @apply mb-14 pb-4;
}

.items-list.matches {
  @apply my-0;
}

.popup-header {
  @apply sticky top-0 flex flex-col gap-4 bg-white p-4 transition-shadow;
}

.popup-header.isScrolling {
  @apply border-b border-gray-lightest shadow shadow-gray-light;
}

.scroll-trigger {
  @apply absolute flex h-8 w-20;
}

.left-trigger {
  @apply items-center;
}

.right-trigger {
  @apply right-0 items-center justify-end;
}
</style>
