<script setup langs="ts">
import Login from '@/ui/components/Login.vue'
</script>

<template>
  <div class="container">
    <Login :new-tab="true" class="login-card" />
  </div>
</template>

<style scoped>
.container {
  @apply grid place-content-center;
}

.login-card {
  @apply shadow-none;
}
</style>
