<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import { DecryptedDetails, DecryptedOverview } from '@core/clients/tilig'
import { initializeItem, Template } from '@core/clients/tilig/item'
import { useLoginForm } from '@core/composables/forms'
import { normalizeQuery } from '@/utils/routerUtils'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import { createLogger } from '@core/utils/logger'
import MenuBar from '@/ui/components/MenuBar.vue'
import SecureNoteForm from '@/ui/components/Items/SecureNoteForm.vue'
import LoginForm from '@/ui/components/Items/LoginForm.vue'

import { usePopupStore } from '../store'

const logger = createLogger('ext:PopupPage:New')
const router = useRouter()
const popupStore = usePopupStore()

const componentMap = new Map([
  [Template.Login, LoginForm],
  [Template.SecureNote, SecureNoteForm],
])

const newItem = ref(initializeItem())

const suggestedEmail = popupStore.user ? popupStore.user.email : ''

const isSaving = ref(false)

const { query: rawQuery } = useRoute()
const query = normalizeQuery(rawQuery)

/** isBlank allows us to ignore the Brand suggested name and label the item "Untitled"
 *  This happens in the case of an "Add New Login" where we want to ignore the current
 *  tab details
 */
const isBlank = computed(() => !!query.blank)
const template = computed(() => query.template ?? 'login/1')

// For now, we only allow creation of Login items in the extension
if (template.value === 'login/1') {
  newItem.value.item.template = Template.Login
  const { name, website } = useLoginForm(newItem)
  name.value = query.name || (isBlank.value ? null : popupStore.brand?.name) || null
  website.value = query.website || null
}

const brandColor = computed((): string => {
  if (isBlank.value) return ''
  if (popupStore.brand) {
    return popupStore.brand.main_color_hex || ''
  }
  return query.brandColor ?? ''
})

const saveButtonEnabled = computed(() => {
  if (isSaving.value) {
    return false
  }
  return true
})

const saveButtonText = computed(() => {
  if (isSaving.value) {
    return 'Saving...'
  }
  return 'Save'
})

const onCancel = () => {
  router.push({
    name: 'secrets',
    params: { type: popupStore.activeItemType },
  })
}

const onChange = async (overview: DecryptedOverview, _details: DecryptedDetails) => {
  const { name } = useLoginForm(newItem)
  name.value = overview.name
}

const onSave = async (overview: DecryptedOverview, details: DecryptedDetails) => {
  isSaving.value = true
  // Save record
  try {
    const id = await popupStore.createItem(Template.Login, overview, details)
    router.push({ name: 'secret', params: { id } })
  } catch (error) {
    // Revert to save button on failure
    isSaving.value = false
    logger.error(error)
  }
}
</script>

<template>
  <div v-if="newItem" class="edit-secret">
    <MenuBar
      class="menu-bar"
      :is-item-view="true"
      :brand-color="brandColor"
      :primary-title="newItem.overview.name"
      :has-back-button="true"
      @back="onCancel"
    >
      <!-- Used when we need to create an item and ignore the current tab -->
      <ItemIcon v-if="isBlank" class="item-icon" />
      <ItemIcon
        v-else
        :icon-url="query.brandIcon"
        :brand="popupStore.brand"
        :item="newItem?.item"
        class="item-icon"
      />
    </MenuBar>
    <div class="content-container">
      <Component
        :is="componentMap.get(newItem?.item.template || Template.Login)"
        :suggested-email="suggestedEmail"
        :decrypted-item="newItem"
        :is-new="true"
        :is-saving="isSaving"
        :save-button-text="saveButtonText"
        :save-button-enabled="saveButtonEnabled"
        @change="onChange"
        @save="onSave"
        @cancel="onCancel"
      />
    </div>
  </div>
</template>

<style scoped>
.menu-bar {
  @apply h-36;
}
.edit-secret {
  @apply min-h-[590px] flex-col items-center bg-gray-lightest pb-4;
}

.content-container {
  @apply mt-4 w-full px-4;
}
</style>
