<script setup lang="ts">
import Settings5Line from '~icons/ri/settings-5-line?width=1.75em&height=1.75em&dummy'
import GeneratorIcon from '@core/assets/generator.svg?component'

import BottomNavLayout from '@/ui/layouts/BottomNavLayout.vue'
import ComingSoon from '@/ui/popup/components/ComingSoon.vue'
import OpenWebAppButton from '@/ui/popup/components/OpenWebAppButton.vue'
</script>

<template>
  <BottomNavLayout ref="layoutRef" menu-right-to="/settings" :menu-right-icon="Settings5Line">
    <template #menu-right>
      <OpenWebAppButton />
    </template>

    <ComingSoon class="page-content" :icon="GeneratorIcon">
      Generate strong passwords
      <template #body>
        Hang tight! Soon you’ll be able to generate strong passwords to increase your online
        security!
      </template>
    </ComingSoon>
  </BottomNavLayout>
</template>

<style scoped>
.page-content {
  @apply flex flex-grow px-16;
}
</style>
