<script setup lang="ts">
import { onMounted } from 'vue'

import { BROWSER_EXTENSION_OPEN_POPUP } from '@core/utils/trackingConstants'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'

onMounted(() => dispatchTrackEvent(BROWSER_EXTENSION_OPEN_POPUP))
</script>

<template>
  <div class="popup-main-container">
    <router-view v-slot="{ Component }">
      <component :is="Component" class="popup-main-content" />
    </router-view>
  </div>
</template>

<style scoped>
.popup-main-container,
.popup-main-content {
  @apply h-full w-full overflow-auto;
}
</style>
