<script setup lang="ts">
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { TrackingEvent } from '@core/utils/trackingConstants'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'
import { usePopupStore } from '../store'
import { getAppVersion } from '@/utils/version'
import { createLogger } from '@core/utils/logger'

import MenuBarLayout from '@/ui/layouts/MenuBarLayout.vue'
import ToggleButton from '../components/ToggleButton.vue'

import ProfilePicture from '@core/components/ProfilePicture.vue'
import Accordion from '../components/Accordion.vue'

import LogoutBoxRLine from '~icons/ri/logout-box-r-line?width=1.7em&height=1.7em&dummy'
import Briefcase2Line from '~icons/ri/briefcase-2-line?width=1.7em&height=1.7em&dummy'
import MailSendLine from '~icons/ri/mail-send-line?width=1.7em&height=1.7em&dummy'
import QuestionLine from '~icons/ri/question-line?width=1.7em&height=1.7em&dummy'
import ArrowRightUpLine from '~icons/ri/arrow-right-up-line'
import InformationLine from '~icons/ri/information-line'
import GlobalLine from '~icons/ri/global-line?width=1.7em&height=1.7em&dummy'
import FileUploadLine from '~icons/ri/file-upload-line?width=1.7em&height=1.7em&dummy'
import FileDownloadLine from '~icons/ri/file-download-line?width=1.7em&height=1.7em&dummy'
import SmartphoneLine from '~icons/ri/smartphone-line?width=1.7em&height=1.7em&dummy'

import ArrowLeftSLine from '~icons/ri/arrow-left-s-line?width=1.75em&height=1.75em&dummy'

import TiligQR from '../components/TiligQR.vue'
import AppStoreButton from '../components/AppStoreButton.vue'
import PlayStoreButton from '../components/PlayStoreButton.vue'

const logger = createLogger('ui:popup:settings')

const router = useRouter()
const popupStore = usePopupStore()

const { settings, user } = storeToRefs(popupStore)

const version = getAppVersion()

const toggleAutocapture = () => {
  logger.debug(`toggleAutocapture`)
  popupStore.toggleAutosaveLogin().then(() => {
    const eventName = settings.value?.autosaveLogin
      ? TrackingEvent.AUTOSAVE_ENABLED
      : TrackingEvent.AUTOSAVE_DISABLED

    dispatchTrackEvent(eventName, {
      trigger: 'Settings',
    })
  })
}

const toggleGifs = () => {
  logger.debug(`toggleGifs`)
  popupStore.toggleGifs().then(() => {
    const eventName = settings.value?.autosaveLogin
      ? TrackingEvent.GIFS_ENABLED
      : TrackingEvent.GIFS_DISABLED

    dispatchTrackEvent(eventName, {
      trigger: 'Settings',
    })
  })
}

const logout = async () => {
  await dispatchTrackEvent(TrackingEvent.SIGNOUT, {
    trigger: 'Settings',
  })

  popupStore.logout()
  router.push({
    name: 'secrets',
  })
}
</script>

<template>
  <MenuBarLayout
    menu-title="Account Settings"
    :menu-left-icon="ArrowLeftSLine"
    :menu-left-to="{ name: 'secrets' }"
  >
    <div class="content-container">
      <div class="flex flex-col items-center gap-2 py-6">
        <div class="h-16 w-16">
          <ProfilePicture :name="user?.email" :picture="user?.photoURL" />
        </div>

        <p class="text-sm text-gray2">{{ user?.email }}</p>
      </div>

      <section>
        <a href="https://app.tilig.com" target="_blank" class="item link-item">
          <span>
            <GlobalLine class="inline-block" />
            Open the web app
          </span>

          <ArrowRightUpLine class="ml-auto" />
        </a>

        <Accordion class="item">
          <template #title> <SmartphoneLine class="inline-block" /> Get the apps </template>

          <h3 class="mb-1 mt-4 text-xs">Access your passwords on the go</h3>

          <p class="text-xs text-gray2">
            Scan the QR code or go to your app store and download the Tilig app to access your
            passwords on the go!
          </p>

          <p class="my-4 rounded-lg bg-indigo-lighter px-3 py-1.5 text-gray2">
            <InformationLine class="inline-block" /> Sign in with {{ user?.email }}
          </p>

          <div class="flex items-center justify-center gap-6">
            <TiligQR class="qr-code" />

            <div class="flex flex-col gap-2">
              <a
                href="https://apps.apple.com/us/app/tilig-password-manager/id1504118993"
                target="_blank"
              >
                <AppStoreButton />
                <span class="sr-only">Open in App Store</span>
              </a>

              <a
                href="https://play.google.com/store/apps/details?id=com.tilig.android&amp;hl=en&amp;gl=US"
                target="_blank"
              >
                <PlayStoreButton />
                <span class="sr-only">Open in Play Store</span>
              </a>
            </div>
          </div>
        </Accordion>
      </section>

      <section>
        <h2>Settings</h2>

        <ToggleButton
          class="item text-sm"
          label-text="Autocapture Logins"
          :active="settings?.autosaveLogin || false"
          @toggle="toggleAutocapture"
        ></ToggleButton>

        <ToggleButton
          class="item text-sm"
          label-text="I love the 90s"
          :active="settings?.gifsEnabled || false"
          @toggle="toggleGifs"
        ></ToggleButton>
      </section>

      <section>
        <h2>Data</h2>

        <a href="https://app.tilig.com/import" target="_blank" class="item link-item">
          <span>
            <FileUploadLine class="inline-block" />
            Import files
          </span>
        </a>

        <a href="https://app.tilig.com/export" target="_blank" class="item link-item">
          <span>
            <FileDownloadLine class="inline-block" />
            Export files
          </span>
        </a>
      </section>

      <section>
        <h2>Help & Feedback</h2>

        <a href="https://www.tilig.com/faq" target="_blank" class="item link-item">
          <span>
            <QuestionLine class="inline-block" />
            Read our FAQ
          </span>
        </a>

        <a href="mailto:support@tilig.com" target="_blank" class="item link-item">
          <span>
            <MailSendLine class="inline-block" />
            Send us an Email
          </span>
        </a>

        <a href="https://www.tilig.com/legal/privacy-policy" target="_blank" class="item link-item">
          <span>
            <Briefcase2Line class="inline-block" />
            Privacy Policy
          </span>
        </a>
      </section>

      <section>
        <button class="item link-item sign-out" @click="logout">
          <span>
            <LogoutBoxRLine class="inline-block" />
            Sign out
          </span>
        </button>
      </section>

      <section>
        <div class="version">
          <small>Version {{ version }}</small>
        </div>
      </section>
    </div>
  </MenuBarLayout>
</template>

<style scoped>
.content-container {
  @apply flex flex-col gap-6 overflow-auto p-4;
}

section {
  @apply flex flex-col gap-2;
}

.content-container section h2 {
  @apply mb-2 text-xs uppercase text-gray2;
}

.item {
  @apply rounded-lg bg-indigo-lightest p-4;
}

.item.sign-out {
  @apply bg-transparent text-red;
}

.link-item {
  @apply flex items-center text-sm;
}

.version {
  @apply w-full text-center  text-gray-darkest;
}

.version small {
  @apply text-xs;
}

.qr-code {
  @apply h-24 w-24;
}
</style>
