<script setup lang="ts">
import { storeToRefs } from 'pinia'
import Settings5Line from '~icons/ri/settings-5-line?width=1.75em&height=1.75em&dummy'

import { createLogger } from '@core/utils/logger'
import { usePopupStore } from '../store'
import { TrackingEvent } from '@core/utils/trackingConstants'
import { dispatchTrackEvent } from '@/background/messageApis/trackEvent'

import BottomNavLayout from '@/ui/layouts/BottomNavLayout.vue'
import AutoSave from '@/ui/popup/components/tools/AutoSave.vue'
import LoveThe90s from '@/ui/popup/components/tools/LoveThe90s.vue'
import WatchTower from '@/ui/popup/components/tools/WatchTower.vue'
import Phishing from '@/ui/popup/components/tools/Phishing.vue'

const logger = createLogger('ui:popup:tools')

const popupStore = usePopupStore()

const { settings } = storeToRefs(popupStore)

const toggleAutocapture = () => {
  logger.debug(`toggleAutocapture`)
  popupStore.toggleAutosaveLogin().then(() => {
    const eventName = settings.value?.autosaveLogin
      ? TrackingEvent.AUTOSAVE_ENABLED
      : TrackingEvent.AUTOSAVE_DISABLED

    dispatchTrackEvent(eventName, {
      trigger: 'Settings',
    })
  })
}

const toggleGifs = () => {
  logger.debug(`toggleGifs`)
  popupStore.toggleGifs().then(() => {
    const eventName = settings.value?.autosaveLogin
      ? TrackingEvent.GIFS_ENABLED
      : TrackingEvent.GIFS_DISABLED

    dispatchTrackEvent(eventName, {
      trigger: 'Settings',
    })
  })
}
</script>

<template>
  <BottomNavLayout menu-right-to="/settings" :menu-right-icon="Settings5Line">
    <main class="tools">
      <AutoSave
        :active="settings?.autosaveLogin"
        class="row"
        @toggle-auto-capture="toggleAutocapture"
      />
      <LoveThe90s :active="settings?.gifsEnabled" class="row" @toggle-gifs="toggleGifs" />
      <WatchTower class="row" />
      <Phishing class="row" />
    </main>
  </BottomNavLayout>
</template>

<style scoped>
.tools {
  @apply flex flex-1 flex-col justify-between gap-4 p-4;
}

.row {
  @apply flex-1;
}
</style>
