<script setup lang="ts">
import { computed, watch } from 'vue'
import { storeToRefs } from 'pinia'
import { useRoute, useRouter } from 'vue-router'
import { ChevronLeftIcon } from '@heroicons/vue/outline'

import Title from '@/shared-components/Title.vue'
import Spinner from '@core/components/icons/Spinner.vue'
import leftHeaderBackground from '@/assets/item/header-background-left.svg?url'
import rightHeaderBackground from '@/assets/item/header-background-right.svg?url'
import FadeTransition from '@/components/FadeTransition.vue'
import ItemIcon from '@core/components/icons/ItemIcon.vue'
import FolderBadge from '@core/components/folders/FolderBadge.vue'

import { useCurrentItemStore } from '@core/stores/currentItem'
import { safeTemplate } from '@core/clients/tilig/item'
import { useItemRoutes } from '@/composables/useItemRoutes'

const route = useRoute()
const router = useRouter()
const itemRoutes = useItemRoutes()

const currentItemStore = useCurrentItemStore()
const { currentItem, hasLoadError, isLoading, isDeletedExternally } = storeToRefs(currentItemStore)

const cleanedTemplate = computed(() => safeTemplate(currentItem.value?.item.template))
const brandColor = computed(() => currentItem.value?.item.brand?.main_color_hex ?? undefined)

const folder = computed(() => {
  const folder = currentItem.value?.item.folder
  if (!folder || folder.single_item) return null
  return folder
})

const goBack = () => {
  if (!currentItem.value) {
    router.push({ name: 'items' })
    return
  }

  if (route.name === 'item-edit' || route.name === 'folder-item-edit') {
    router.push(itemRoutes.toItem(currentItem.value.item))
  } else {
    // Always return to items in mobile, even if we are in a folder
    router.push({ name: 'items' })
  }
}

watch(
  () => route.params.id,
  (id) => {
    id && currentItemStore.setCurrentItem(id as string)
  },
  { immediate: true }
)

watch(isDeletedExternally, (val) => {
  if (!val) return

  alert('This item was deleted. You will automatically be redirected.')

  if (currentItemStore.nextItemId) {
    router.push(itemRoutes.toItem({ id: currentItemStore.nextItemId }))
  } else {
    router.push(itemRoutes.toItems())
  }
})
</script>

<template>
  <div v-if="!isLoading && currentItem" class="item-container">
    <router-view v-slot="{ Component }">
      <FadeTransition>
        <div :key="currentItem.item.id">
          <div
            class="item-banner"
            :class="cleanedTemplate"
            :style="{ backgroundColor: brandColor }"
          >
            <img class="left-blob" :src="leftHeaderBackground" />
            <img class="right-blob" :src="rightHeaderBackground" />
          </div>

          <section class="item-content">
            <header class="item-header">
              <div class="item-header-fixed">
                <ChevronLeftIcon class="back-button" @click="goBack" />
              </div>

              <div class="item-content-max-width">
                <div class="item-header-info">
                  <ItemIcon :item="currentItem.item" class="item-icon" />
                  <h1
                    class="item-header-title"
                    :title="currentItem.overview.name ?? undefined"
                    v-text="currentItem.overview.name"
                  />
                </div>
                <div v-if="folder" class="item-header-folder">
                  <FolderBadge class="items-header-folder-badge" :folder="folder" member-count />
                </div>
              </div>

              <div class="item-header-fixed"></div>
            </header>

            <main class="item-details item-content-max-width">
              <component :is="Component" />
            </main>
          </section>
        </div>
      </FadeTransition>
    </router-view>
  </div>

  <div v-else-if="hasLoadError" class="item-load-error">
    <Title>Oops 🤯</Title>
    <p class="mt-2">Something went wrong loading this account.</p>
  </div>

  <div v-else class="item-loader">
    <Spinner />
  </div>
</template>

<style scoped>
.item-container {
  @apply relative overflow-auto bg-gray-lightest;
}

.item-banner {
  @apply absolute top-0 h-48 w-full md:h-52;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.item-banner.login-1 {
  @apply bg-blue-darkest;
}

.item-banner.securenote-1 {
  @apply bg-indigo;
}

.item-banner.wifi-1 {
  @apply bg-cyan;
}

.item-banner.creditcard-1 {
  @apply bg-green-darkest;
}

.item-banner.custom-1 {
  @apply bg-pink;
}

.left-blob,
.right-blob {
  @apply absolute top-0 h-full animate-[pulse_8s_ease-in-out_infinite] motion-reduce:animate-none;
}

.left-blob {
  @apply left-0;
}

.right-blob {
  @apply right-0;
}

.item-content {
  @apply relative px-4 py-8;
}

.item-content-max-width {
  @apply mx-auto max-w-[45rem];
}

.item-header {
  @apply mb-8 flex min-h-[6rem] items-center gap-2;
}

.item-header-fixed {
  @apply w-7 shrink-0 grow-0 2md:hidden;
}

.back-button {
  @apply h-7  text-white;
}

.item-header-info {
  /* Same as container in FormItem, except nowrap */
  @apply grid h-full items-center gap-3 md:grid-cols-[64px,1fr];
}

.item-icon {
  @apply mx-auto flex h-16 w-16 items-center justify-center rounded-lg border-gray-dark bg-white p-2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.item-header-title {
  @apply max-h-full overflow-hidden text-ellipsis break-words text-center text-sm text-white md:text-left md:text-2xl xl:text-4xl;
}

.item-loader {
  @apply m-5 h-4 w-4;
}

.item-load-error {
  @apply m-5;
}

.item-header-folder {
  @apply flex items-center;
}

.item-header-folder .items-header-folder-badge {
  @apply m-auto mt-3;
}
</style>
