<script setup>
import { computed, watch } from 'vue'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'
import { until } from '@vueuse/core'

import { useItemsStore } from '@core/stores/items'
import { useScreenSize } from '@core/composables/useScreensize'
import { createLogger } from '@core/utils/logger'
import { useItemRoutes } from '@/composables/useItemRoutes'

import AccountsEmptyIllustration from '@/components/accounts/AccountsEmptyIllustration.vue'
import AccountsEmpty from '@/components/accounts/AccountsEmpty.vue'
import FolderEmpty from '@/components/folders/FolderEmpty.vue'

const logger = createLogger('ui:Accounts')
const router = useRouter()
const itemsStore = useItemsStore()
const itemRoutes = useItemRoutes()
const { onDesktop } = useScreenSize()

const {
  isLoaded,
  activeItemType,
  activeFolder,
  query,
  numberOfItemsForActiveItemType,
  numberOfItemsForActiveFolder,
  filteredItems,
} = storeToRefs(itemsStore)

const showNoAccountMessage = computed(() => {
  if (!isLoaded) return false
  if (activeFolder.value) return !numberOfItemsForActiveFolder.value
  return !numberOfItemsForActiveItemType.value
})

const maybeRedirect = async () => {
  logger.debug('Checking if we need to redirect')
  await router.isReady()
  await until(isLoaded).toBe(true)
  logger.debug('Router is ready', router.currentRoute.value)

  const firstItem = filteredItems.value[0]

  // On mobile, this page is being used to show the sidebar. So don't redirect in that case.
  if (isLoaded.value && onDesktop.value && firstItem) {
    logger.debug('Redirecting to item %s', firstItem.item.id)
    router.push(itemRoutes.toItem(firstItem.item))
  } else {
    logger.debug('Not redirecting')
  }
}

// Clear the search query everytime this route is visited
query.value = ''

watch([router.currentRoute, onDesktop], maybeRedirect, {
  immediate: true,
  flush: 'post',
})
</script>

<template>
  <div v-show="showNoAccountMessage" class="accounts-column">
    <div v-if="activeFolder" class="accounts-wrapper accounts-empty-folder">
      <AccountsEmptyIllustration class="illustration grayscale" />
      <FolderEmpty />
    </div>

    <div v-else class="accounts-wrapper">
      <AccountsEmptyIllustration class="illustration" />
      <AccountsEmpty :active-item-type="activeItemType" />
    </div>
  </div>
</template>

<style scoped>
.accounts-wrapper {
  @apply flex h-full flex-col justify-center;
}

.accounts-column {
  @apply flex h-full max-w-5xl flex-grow px-5 pb-10 text-blue-darkest md:block md:px-10 lg:mr-10 lg:px-20;
}

.illustration {
  @apply mx-auto h-80 w-72;
}
</style>
