<script setup lang="ts">
import { ref, watch } from 'vue'
import { useRouter } from 'vue-router'

import Button from '@core/components/Button.vue'
import InstallExtension from '@/components/getting-started/GettingStartedInstallExtension.vue'
import ImportPasswords from '@/components/getting-started/GettingStartedImportPasswords.vue'
import InstallApp from '@/components/getting-started/GettingStartedInstallApp.vue'
import Autofill from '@/components/getting-started/GettingStartedAutofill.vue'
import Autosave from '@/components/getting-started/GettingStartedAutosave.vue'
import Modal from '@core/components/Modal.vue'
import DismissGettingStarted from '@/components/getting-started/GettingStartedDismiss.vue'
import GettingStartedCompleted from '@/components/getting-started/GettingStartedCompleted.vue'

import { ONBOARDING_STEPS, useOnboardingStore } from '@core/stores/onboarding'
import { OnboardingStep } from '@core/clients/tilig'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'
import { isDebugging } from '@core/utils/debug'

// Hide permanently when everything completed and logged out
// Also hide permanently when dismissed permanently is clicked
// See figma file for other notes (purple note block)
// Open tilig to getting started when not completed
// Generate QR code page
// Should we poll if the app is installed
// Add import screen, screen should be simple link through instructions

const router = useRouter()
const onboardingStore = useOnboardingStore()
const trackingStore = useTrackingStore()

const currentStep = ref<OnboardingStep | null>(null)
const showDismissModal = ref(false)

const toggle = (step: OnboardingStep) => {
  if (currentStep.value === step) {
    currentStep.value = null
  } else {
    currentStep.value = step
  }
}

// After: open the first uncompleted step after this step
const openUncompletedStep = (after?: OnboardingStep) => {
  let found = false
  let minIndex = ONBOARDING_STEPS.length

  ONBOARDING_STEPS.forEach((step, index) => {
    if (step === after) minIndex = index
    if (after && index <= minIndex) return
    if (!found && !onboardingStore.onboardingStepsCompleted.has(step)) {
      currentStep.value = step
      found = true
    }
  })
}

const closeDismissModal = () => {
  showDismissModal.value = false
}

watch(
  () => onboardingStore.ready,
  () => {
    openUncompletedStep()
  }
)

watch(
  () => onboardingStore.hasCompletedAllSteps,
  () => {
    if (onboardingStore.hasCompletedAllSteps) {
      onboardingStore.markCompleted()
    }
  },
  {
    immediate: true,
  }
)

const dismissForever = () => {
  closeDismissModal()
  onboardingStore.dismissOnboarding()
  trackingStore.trackEvent({
    event: TrackingEvent.GETTING_STARTED_DISMISSED,
  })
  router.push({ name: 'root' })
}

const completeStep = (step: OnboardingStep) => {
  onboardingStore.onboardingStepCompleted(step)
}

const resetGettingStarted = () => {
  onboardingStore.resetGettingStarted()
}

openUncompletedStep()

trackingStore.trackEvent({
  event: TrackingEvent.GETTING_STARTED_APPEARED,
})
</script>

<template>
  <div v-if="onboardingStore.ready">
    <GettingStartedCompleted
      v-if="onboardingStore.completed"
      @dismiss-onboarding="dismissForever"
    />

    <div v-else class="getting-started-container">
      <h1 class="heading">Let's get started</h1>
      <ul class="getting-started-steps">
        <InstallExtension
          :done="onboardingStore.onboardingStepsCompleted.has('installExtension')"
          :open="currentStep === 'installExtension'"
          @toggle="toggle('installExtension')"
        />

        <ImportPasswords
          :open="currentStep === 'importPasswords'"
          :done="onboardingStore.onboardingStepsCompleted.has('importPasswords')"
          @toggle="toggle('importPasswords')"
        />

        <InstallApp
          :done="onboardingStore.onboardingStepsCompleted.has('installApp')"
          :open="currentStep === 'installApp'"
          @toggle="toggle('installApp')"
        />

        <Autofill
          :done="onboardingStore.onboardingStepsCompleted.has('autoFill')"
          :open="currentStep === 'autoFill'"
          :extension-installed="onboardingStore.extensionInstalled"
          @toggle="toggle('autoFill')"
          @show-extension-step="currentStep = 'installExtension'"
          @next="
            () => {
              completeStep('autoFill')
              openUncompletedStep('autoSave')
            }
          "
        />

        <Autosave
          :done="onboardingStore.onboardingStepsCompleted.has('autoSave')"
          :open="currentStep === 'autoSave'"
          :extension-installed="onboardingStore.extensionInstalled"
          @toggle="toggle('autoSave')"
          @show-extension-step="currentStep = 'installExtension'"
          @next="completeStep('autoSave')"
        />
      </ul>

      <div class="button-container">
        <Button class="button" @click="showDismissModal = true">Dismiss forever</Button>
      </div>

      <Modal :open="showDismissModal" @close-modal="closeDismissModal">
        <DismissGettingStarted @close="closeDismissModal" @dismiss-forever="dismissForever" />
      </Modal>
    </div>

    <div v-if="isDebugging()" class="reset">
      <Button class="button" @click="resetGettingStarted">Reset (Dev)</Button>
    </div>
  </div>
</template>

<style scoped>
.getting-started-container {
  @apply mx-auto mt-10 max-w-4xl px-3 md:px-6;
}

.getting-started-steps {
  @apply flex flex-col gap-2 rounded-lg bg-indigo-light p-2;
}

.button-container {
  @apply my-6 flex w-full justify-center;
}

.button {
  @apply border-none text-indigo shadow-none;
}

.heading {
  @apply mb-6 font-spoof text-3xl font-bold;
}

.reset {
  @apply mt-4 flex items-center justify-center;
}
</style>
