<template>
  <div class="page-container">
    <div v-if="feedbackCompleted" class="gratitude-section">
      <TiligHappyIcon class="goodbye-icon" />

      <p class="gratitude">
        Thanks for your feedback, which will be used to improve our product. We hope you check us
        out again in the future. 👋
      </p>

      <p class="info">
        You can now close this tab. (Didn’t mean to uninstall? Visit
        <ExternalLink url="https://tilig.com" class="homepage-link">our homepage</ExternalLink> to
        re-install the web extension.)
      </p>
    </div>

    <div v-else class="goodbye-section">
      <TiligSadIcon class="goodbye-icon" />

      <p class="title">We'll miss you!</p>

      <p class="body">
        We’re sorry the Tilig web extension didn’t work out. Your feedback is important to us, and
        will help us make a better product.
      </p>

      <div v-show="selectedAnswer.value === ''" class="survey">
        <label
          v-for="(surveyAnswer, index) in surveyAnswers"
          :id="surveyAnswer.text"
          :key="index"
          class="radio-button-container"
        >
          <RadioButton
            name="survey"
            :value="surveyAnswer.value"
            :text="surveyAnswer.text"
            :selected="selectedAnswer.value"
            @change="handleAnswerSelection"
          />
        </label>
      </div>

      <div v-show="selectedAnswer.value !== ''" class="feedback-container">
        <label class="radio-button-container">
          <RadioButton
            name="feedback"
            :text="selectedAnswer.text"
            :value="selectedAnswer.value"
            :selected="selectedAnswer.value"
            @click="deselectAnswer"
          />
        </label>

        <FormInput
          id="feedback"
          type="textarea"
          name="email"
          class="detailed-feedback"
          placeholder="Go for it. We’re ready for everything and anything. Please tell us about your experience using Tilig."
          :value="detailedFeedback"
          @input="handleDetailedFeedbackInput"
        />

        <Button button-style="primary" size="small" @click="submitFeedback"
          >Send my feedback</Button
        >

        <div class="mt-3">
          <Checkbox
            id="additional-questions"
            :checked="contactMeForAdditionalQuestions"
            @change="handleAdditionalQuestionsInput"
          >
            <span class="additional-questions">
              Sure, Tilig can contact me for additional questions!
            </span>
          </Checkbox>
        </div>
      </div>

      <p class="body">Thanks for using Tilig. We hope to see you again in the future.</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { mapActions } from 'pinia'

import TiligSadIcon from '@core/components/icons/TiligSadIcon.vue'
import TiligHappyIcon from '@core/components/icons/TiligHappyIcon.vue'
import RadioButton from '@/shared-components/RadioButton.vue'
import FormInput from '@core/components/FormInput.vue'
import Button from '@core/components/Button.vue'
import Checkbox from '@/shared-components/Checkbox.vue'
import ExternalLink from '@core/components/ExternalLink.vue'
import {
  BROWSER_EXTENSION_UNINSTALLED,
  UNINSTALL_SURVERY_ANSWERED,
  UNINSTALL_SURVERY_ANSWERED_FULL,
} from '@core/utils/trackingConstants'
import { useTrackingStore } from '@core/stores/tracking'

interface SurveyAnswer {
  value: string
  text: string
}

interface GoodbyeSurvey {
  selectedAnswer: SurveyAnswer
  detailedFeedback: string
  contactMeForAdditionalQuestions: boolean
  feedbackCompleted: boolean
  surveyAnswers: Array<SurveyAnswer>
}

export default defineComponent({
  components: {
    TiligSadIcon,
    RadioButton,
    FormInput,
    Button,
    Checkbox,
    TiligHappyIcon,
    ExternalLink,
  },
  data: () =>
    ({
      selectedAnswer: {
        text: '',
        value: '',
      },
      feedbackCompleted: false,
      surveyAnswers: [
        {
          value: 'convenience',
          text: 'It wasn’t convenient to use',
        },
        {
          value: 'features',
          text: 'It didn’t have the features I wanted',
        },
        {
          value: 'another-manager',
          text: 'I decided to use a different password manager',
        },
        {
          value: 'something-else',
          text: 'Something else',
        },
      ],
      detailedFeedback: '',
      contactMeForAdditionalQuestions: true,
    } as GoodbyeSurvey),
  mounted() {
    this.trackUninstalledEvent()
  },
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
    handleAnswerSelection(selected: string) {
      const selectedAnswer: SurveyAnswer | undefined = this.surveyAnswers.find(
        (answer) => answer.value === selected
      )

      if (selectedAnswer?.value === this.selectedAnswer.value) {
        this.selectedAnswer = {
          text: '',
          value: '',
        }
        return
      }

      this.selectedAnswer = selectedAnswer as SurveyAnswer
      this.submitSelectedAnswer()
    },
    handleDetailedFeedbackInput(event: Event) {
      this.detailedFeedback = (event.target as HTMLInputElement).value
    },
    handleAdditionalQuestionsInput(event: Event) {
      this.contactMeForAdditionalQuestions = (event.target as HTMLInputElement).checked
    },
    deselectAnswer() {
      this.selectedAnswer = {
        text: '',
        value: '',
      }
    },
    // Submits only the selected answer (users might drop off after that)
    submitSelectedAnswer() {
      const response = {
        selectedAnswer: this.selectedAnswer.text,
        otherAnswers: this.surveyAnswers
          .filter((answer) => answer.value !== this.selectedAnswer.value)
          .map((answer) => answer.text),
      }

      this.trackEvent({
        event: UNINSTALL_SURVERY_ANSWERED,
        properties: response,
      })
    },
    // Submits the full answer including the feedback and contact preference
    submitFeedback() {
      const response = {
        selectedAnswer: this.selectedAnswer.text,
        otherAnswers: this.surveyAnswers
          .filter((answer) => answer.value !== this.selectedAnswer.value)
          .map((answer) => answer.text),
        note: this.detailedFeedback,
        contactMeForAdditionalQuestions: this.contactMeForAdditionalQuestions,
      }

      this.trackEvent({
        event: UNINSTALL_SURVERY_ANSWERED_FULL,
        properties: response,
      })

      this.feedbackCompleted = true
    },
    trackUninstalledEvent() {
      this.trackEvent({
        event: BROWSER_EXTENSION_UNINSTALLED,
      })
    },
  },
})
</script>

<style scoped>
.radio-button-container {
  @apply mb-2 block cursor-pointer rounded-lg border border-gray-light bg-gray-lightest px-3.5 py-4;
}

.goodbye-section {
  @apply mx-auto mt-8 w-full max-w-sm text-blue-darkest;
}

.goodbye-icon {
  @apply mx-auto;
}

.page-container {
  @apply flex h-full min-h-screen w-full flex-col items-stretch overflow-hidden;
}

.title {
  @apply mb-4 mt-7 text-3xl font-bold;
}

.body {
  @apply mt-6;
}

.survey {
  @apply my-6 w-full;
}

.detailed-feedback {
  @apply mb-4 text-sm;
  min-height: 144px;
}

.additional-questions {
  @apply -ml-1 text-xs font-book text-blue-light;
}

.feedback-container {
  @apply mb-2 mt-4;
}

.gratitude-section {
  @apply mx-auto mt-32 flex w-full max-w-[600px] flex-col items-center text-blue-darkest;
}

.gratitude {
  @apply mb-6 mt-8 text-center text-3xl font-medium leading-8;
}

.info {
  @apply w-full text-center text-base font-book leading-6;
  max-width: 500px;
}

.homepage-link {
  @apply text-indigo underline;
}
</style>
