<template>
  <div class="mx-auto max-w-md p-6">
    <h1 class="text-xl font-bold">Tilig is shutting down on April 30th</h1>

    <p class="my-6">
      Importing files has been disabled. Please
      <RouterLink to="/export" class="text-indigo underline">export your data</RouterLink> and move
      to a different password manager instead.
    </p>

    <p class="text-center">
      <a class="text-indigo underline" href="#" @click.prevent="goBack">Go back</a>
      or
      <a target="_blank" class="text-indigo underline" href="https://www.tilig.com/post/shutdown"
        >Read more</a
      >
    </p>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      this.$router.back()
    },
  },
}
</script>

<style scoped>
.import-container {
  @apply flex w-full flex-col items-center px-4;
}

.import-header {
  /* for fixed header: fixed top-[4rem] p-4 */
  @apply z-10 grid w-full max-w-4xl grid-cols-[1fr,30px] place-items-center gap-3 bg-white pb-2 pt-4;
}

.back-link {
  @apply h-6 w-6 cursor-pointer md:w-full;
}
.icon {
  @apply w-full;
}

.import-wrapper {
  @apply grid h-full w-full max-w-[1050px] grid-cols-1 gap-14 md:grid-cols-2 lg:grid-cols-[460px,1fr];
}

.hero {
  @apply flex flex-col justify-center;
}

.title {
  @apply text-center font-spoof text-[1.3rem] font-bold leading-[1.5rem] text-blue-darkest md:text-4xl;
}

.text {
  @apply mb-4 mr-10 font-stolzl font-normal leading-6;
}

.direct-import-link {
  @apply cursor-pointer text-indigo underline;
}
</style>
