<script setup lang="ts">
import { computed, ref, watchEffect } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import { useAuthStore } from '@core/stores/auth'
import { useOnboardingStore } from '@core/stores/onboarding'
import { createLogger } from '@core/utils/logger'
import { useOrganizationStore } from '@core/stores/organization'
import { useTrackingStore } from '@core/stores/tracking'

import LoginCard from '@/components/login/LoginCard.vue'
import InfoSection from '@/components/login/LoginInfoSection.vue'
import CardContainer from '@core/components/CardContainer.vue'
import MobileAppInstallationPrompt from '@/components/login/LoginMobileAppInstallationPrompt.vue'

import useStoreUTMParams from '@/utils/useStoreUTMParams'
import useLoginRedirectToNextPage from '@/utils/useLoginRedirectToNextPage'
import { TrackingEvent } from '@core/utils/trackingConstants'

const logger = createLogger('ui:login')

const authStore = useAuthStore()
const route = useRoute()
const redirectToNextPage = useLoginRedirectToNextPage()
const storeUTMParams = useStoreUTMParams()
const onboardingStore = useOnboardingStore()
const router = useRouter()
const organizationStore = useOrganizationStore()
const trackingStore = useTrackingStore()

const visibleScreen = ref<'loginCard' | 'mobileAppPrompt' | 'moreInfoCard'>('loginCard')
const isMobile = computed(() => onboardingStore.os === 'Android' || onboardingStore.os === 'iOS')

const skipMobileAppInstallation = () => {
  onboardingStore.skippedMobileAppInstallationPrompt = true
  router.push({ name: 'items' })
}

/// Fetch invitation by invitation ID (when the user clicked on an invitation link)
const fetchInvitation = async () => {
  const { invitation_id, view_token } = route.query
  if (!invitation_id && !view_token) return

  const invitationId = invitation_id as string
  const viewToken = view_token as string

  await organizationStore.fetchInvitation(invitationId, viewToken)
}

if (import.meta.env.MODE !== 'production') {
  if (route.query['delete-after-sign-in']) authStore.deleteAfterSignIn = true
}

const checkIfUserUsedReferralLink = () => {
  const referralCode = route.query.referral as string

  if (referralCode) {
    authStore.referralCode = referralCode

    trackingStore.trackAnonymousEvent({
      event: TrackingEvent.REFERRAL_LINK_CLICKED,
    })
  }
}

watchEffect(async () => {
  logger.info('Authentication status', authStore.isAuthenticated)

  if (!authStore.isAuthenticated) {
    checkIfUserUsedReferralLink()
    await fetchInvitation()
    return
  }

  await fetchInvitation()
  await storeUTMParams(route.query)
  await organizationStore.acceptCurrentInvitation()

  if (isMobile.value) {
    if (!onboardingStore.skippedMobileAppInstallationPrompt) {
      visibleScreen.value = 'mobileAppPrompt'
      return
    }

    logger.debug('has previously skipped mobile app installation')
    router.push({
      name: 'items',
    })
    return
  }

  redirectToNextPage()
})
</script>

<template>
  <CardContainer :background="visibleScreen === 'moreInfoCard' ? 'gray' : undefined">
    <div class="mb-6 rounded-2xl border-4 border-red bg-red p-4 shadow-xl">
      <h1>
        <strong class="uppercase">Urgent:</strong> Tilig stopped all operations on
        <strong>April 30th, 2023.</strong>
      </h1>
      <p>This is your last chance to export your passwords!</p>
      <p>
        <a target="_blank" href="https://www.tilig.com/post/shutdown" class="underline">
          Read more
        </a>
      </p>
    </div>

    <MobileAppInstallationPrompt
      v-if="visibleScreen === 'mobileAppPrompt'"
      key="mobile-app-installation-prompt"
      @skip-mobile-app-installation="skipMobileAppInstallation"
    />

    <InfoSection
      v-else-if="visibleScreen === 'moreInfoCard'"
      key="more-info"
      @close-more-info="visibleScreen = 'loginCard'"
    />

    <LoginCard v-else key="login-card" @open-more-info="visibleScreen = 'moreInfoCard'" />
  </CardContainer>
</template>
