<template>
  <div class="container">
    <div class="inner">
      <div class="modal">
        <h1 class="title">Page Not Found!</h1>
        <p>
          We're sorry, but the page you were looking for has not been found. Please
          <a href="mailto:support@tilig.com">contact us</a> if you think something is broken, or
          <a @click="goBack">go to the previous page</a>.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log(this.$route)
    console.log(`BASE_URL: `, import.meta.env.BASE_URL)
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
  },
}
</script>

<style scoped>
.container {
  @apply flex min-h-screen max-w-full flex-col justify-center bg-indigo px-4 py-1;
}

.inner {
  @apply sm:mx-auto sm:w-full sm:max-w-md;
}

.modal {
  @apply flex flex-col items-center rounded-lg border-gray bg-white px-6 py-8 text-center text-blue-darkest shadow-lg sm:px-10 sm:py-16;
}

.title {
  @apply mb-4 font-spoof text-2xl font-bold sm:mb-9 sm:text-3xl;
}
</style>
