<script setup lang="ts">
import { useRoute } from 'vue-router'

import TiligAdvertisement from '@/pages/PrivateLink/TiligAdvertisment.vue'
import SecretDetails from '@/pages/PrivateLink/SecretDetails.vue'

import TiligLogo from '@/assets/logo.svg?component'
import TiligLogoWhite from '@/assets/share/tilig-circle.svg?component'

const route = useRoute()
const masterSecret = route.hash.slice(1)
</script>

<template>
  <main class="private-link-wrapper">
    <a href="https://www.tilig.com" target="_blank"><TiligLogoWhite class="tilig-logo-white" /></a>
    <div class="container">
      <div class="header">
        <h1 class="heading">Someone is sharing this item with you, securely through Tilig</h1>
        <p class="help">
          Tilig is a password manager that helps you safely store and share information such as
          logins, credit cards and notes.
        </p>
      </div>
      <SecretDetails v-if="masterSecret" :master-secret="masterSecret" />
      <TiligAdvertisement />
      <p class="disclaimer">
        This information is visible to anyone with this link. Please treat it confidential and only
        share it with the consent of the sender.
      </p>

      <a href="https://www.tilig.com" target="_blank"><TiligLogo class="tilig-logo" /></a>
    </div>
  </main>
</template>

<style scoped>
.private-link-wrapper {
  @apply min-h-screen items-center justify-center bg-blue-darkest p-8 font-spoof font-normal text-white;
}

.container {
  @apply m-auto mt-4 flex w-full max-w-[440px] flex-col items-center justify-center;
}

.header {
  @apply flex flex-col;
}

.heading {
  @apply m-auto mb-2 text-center text-3xl leading-none md:text-4xl md:leading-none;
}

.help {
  @apply text-center text-sm leading-normal md:text-base;
}

.disclaimer {
  @apply pt-9 text-center text-xs opacity-75;
}

.tilig-logo {
  @apply mt-10 opacity-75;
}

.tilig-logo-white {
  @apply mx-auto h-16 w-16;
}
</style>
