<script setup lang="ts">
import { computed, ref, watchEffect } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import { useAuthStore } from '@core/stores/auth'
import { useOnboardingStore } from '@core/stores/onboarding'
import { useOrganizationStore } from '@core/stores/organization'

import MobileAppInstallationPrompt from '@/components/login/LoginMobileAppInstallationPrompt.vue'
import InfoSection from '@/components/login/SignupInfoSection.vue'
import CardContainer from '@core/components/CardContainer.vue'
import SignupCard from '@/components/login/SignupCard.vue'

import useStoreUTMParams from '@/utils/useStoreUTMParams'
import useLoginRedirectToNextPage from '@/utils/useLoginRedirectToNextPage'
import { createLogger } from '@core/utils/logger'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const logger = createLogger('ui:signup')

const authStore = useAuthStore()
const onboardingStore = useOnboardingStore()
const redirectToNextPage = useLoginRedirectToNextPage()
const storeUTMParams = useStoreUTMParams()
const route = useRoute()
const router = useRouter()
const organizationStore = useOrganizationStore()
const trackingStore = useTrackingStore()

const visibleScreen = ref<'signupCard' | 'mobileAppPrompt' | 'moreInfoCard'>('signupCard')

const isMobile = computed(() => onboardingStore.os === 'Android' || onboardingStore.os === 'iOS')

const skipMobileAppInstallation = () => {
  onboardingStore.skippedMobileAppInstallationPrompt = true
  router.push({ name: 'items' })
}

const fetchInvitation = async () => {
  const { invitation_id, view_token } = route.query
  if (!invitation_id && !view_token) return

  const invitationId = invitation_id as string
  const viewToken = view_token as string

  await organizationStore.fetchInvitation(invitationId, viewToken)
}

const checkIfUserUsedReferralLink = () => {
  const referralCode = route.query.referral as string

  if (referralCode) {
    authStore.referralCode = referralCode

    trackingStore.trackAnonymousEvent({
      event: TrackingEvent.REFERRAL_LINK_CLICKED,
    })
  }
}

watchEffect(async () => {
  logger.info('Authentication status', authStore.isAuthenticated)

  if (!authStore.isAuthenticated) {
    checkIfUserUsedReferralLink()
    await fetchInvitation()
    return
  }

  await fetchInvitation()
  await storeUTMParams(route.query)
  await organizationStore.acceptCurrentInvitation()

  if (isMobile.value) {
    if (!onboardingStore.skippedMobileAppInstallationPrompt) {
      visibleScreen.value = 'mobileAppPrompt'
      return
    }

    router.push({
      name: 'items',
    })
    return
  }

  redirectToNextPage()
})
</script>

<template>
  <CardContainer :background="visibleScreen === 'moreInfoCard' ? 'gray' : undefined">
    <MobileAppInstallationPrompt
      v-if="visibleScreen === 'mobileAppPrompt'"
      key="mobile-app-installation-prompt"
      @skip-mobile-app-installation="skipMobileAppInstallation"
    />

    <InfoSection
      v-else-if="visibleScreen === 'moreInfoCard'"
      key="more-info"
      @close-more-info="visibleScreen = 'signupCard'"
    />

    <SignupCard v-else key="login-card" @open-more-info="visibleScreen = 'moreInfoCard'" />
  </CardContainer>
</template>
