<script setup lang="ts">
import { ref } from 'vue'

import Modal from '@core/components/Modal.vue'

defineProps<{
  video: string
}>()

const fullSize = ref(false)

const closeModal = () => (fullSize.value = false)
</script>

<template>
  <div class="picture-container" @click="fullSize = true">
    <video loop autoplay class="h-full w-full">
      <source :src="video" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <span class="click-to-zoom">🔍&nbsp;&nbsp;Click to expand</span>
  </div>

  <Modal :open="fullSize" @close-modal="closeModal">
    <video loop autoplay class="full-size" @click="closeModal">
      <source :src="video" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </Modal>
</template>

<style scoped>
.picture-container {
  @apply relative cursor-pointer;
}

.full-size {
  @apply h-full w-full max-w-5xl cursor-pointer bg-contain pt-2 transition duration-300 ease-out;
}

.click-to-zoom {
  @apply absolute bottom-0 w-full cursor-pointer rounded-b-md bg-blue-darkest py-1.5 text-center text-white;
}
</style>
