<script setup lang="ts">
import { CheckIcon } from '@heroicons/vue/solid'

import Button from '@core/components/Button.vue'

import { TrackingEvent } from '@core/utils/trackingConstants'
import { useTrackingStore } from '@core/stores/tracking'

const emit = defineEmits<{
  (e: 'toggle'): void
  (e: 'next'): void
}>()

const props = withDefaults(
  defineProps<{
    done?: boolean
    open?: boolean
    last?: boolean
    showNext?: boolean
    event: TrackingEvent
  }>(),
  {
    open: false,
    done: false,
    last: false,
    showNext: false,
  }
)

const trackingStore = useTrackingStore()

const toggleStep = () => {
  trackingStore.trackEvent({
    event: props.event,
    properties: {
      trigger: 'Getting Started',
    },
  })

  emit('toggle')
}
</script>

<template>
  <li class="item" :class="{ 'item-done': done }">
    <div class="item-header" @click="toggleStep">
      <div class="item-icon">
        <slot name="icon" />
      </div>
      <h2>
        <slot name="header" />
        <div class="header-right"><slot name="header-right" /></div>
      </h2>
      <div class="checkbox" :class="{ 'checkbox-checked': done }"><CheckIcon v-if="done" /></div>
    </div>

    <div v-if="open" class="content">
      <slot />
      <div v-if="showNext" class="next">
        <Button size="small" @click="emit('next')">{{ last ? 'Done' : 'Next' }}</Button>
      </div>
    </div>
  </li>
</template>

<style scoped>
.item {
  @apply w-full rounded-lg bg-indigo-lighter text-sm;
}

.item-done {
  @apply bg-green-light text-green-darkest;
}

.item-icon {
  @apply ml-2 h-6 w-6;
}

.checkbox {
  @apply inline-block h-6 w-6 rounded-full border-2 border-indigo-light bg-white p-[3px] align-middle;
}

.checkbox-checked {
  @apply border-green-lightest bg-green-darker;
}

.checkbox svg {
  @apply h-full w-full text-white;
}

.header-right {
  @apply float-right mr-2 hidden sm:block;
}

.item-header {
  @apply flex cursor-pointer items-center gap-3 p-3 py-4;
}

.item-header h2 {
  @apply ml-1 inline-block flex-grow align-middle;
}

.content {
  @apply m-3 mt-0 h-auto overflow-auto rounded-lg bg-white p-8 font-normal text-[#827FA4];
}

.next {
  @apply float-right mt-3 block py-4;
}
</style>
