<script setup lang="ts">
import { computed } from 'vue'
import { XIcon } from '@heroicons/vue/solid'

import Button from '@core/components/Button.vue'
import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'

import { ONBOARDING_STEPS, useOnboardingStore } from '@core/stores/onboarding'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const emit = defineEmits<{
  (e: 'close'): void
  (e: 'dismiss-forever'): void
}>()

const onboardingStore = useOnboardingStore()
const trackingStore = useTrackingStore()

const completedSteps = computed(() => Array.from(onboardingStore.onboardingStepsCompleted.values()))

const pendingSteps = computed(() => ONBOARDING_STEPS.length - completedSteps.value.length)

const headerTitle = computed(() => {
  switch (pendingSteps.value) {
    case 1:
      return `You’re nearly there!`
    case 2:
      return `Only 2 to go!`
    case 3:
      return `You’re doing great!`

    default:
      return 'Are you sure?'
  }
})

trackingStore.trackEvent({
  event: TrackingEvent.DISMISS_GETTING_STARTED_APPEARED,
})
</script>

<template>
  <div class="dismiss-getting-started">
    <XIcon class="dismiss" @click="$emit('close')" />

    <section class="content">
      <TiligLogoImageMark />
      <CardHeader>{{ headerTitle }}</CardHeader>
      <CardParagraph class="paragraph">
        Completing these steps will help get the most out of Tilig!</CardParagraph
      >
    </section>

    <div class="button-container">
      <Button class="action cancel-button" label-class="cancel" @click="emit('close')"
        >Take me back</Button
      >
      <Button class="action" button-style="danger" @click="emit('dismiss-forever')"
        >Dismiss forever</Button
      >
    </div>
  </div>
</template>

<style scoped>
.dismiss-getting-started {
  @apply max-w-[529px] bg-white p-6;
}

.dismiss {
  @apply ml-auto h-5 w-5 cursor-pointer text-gray-darkest hover:text-black;
}

.content {
  @apply mt-5 flex flex-col items-center p-6;
}

.paragraph {
  @apply text-center text-blue-darkest;
}

.button-container {
  @apply mt-5 flex justify-between gap-4;
}

.action {
  @apply h-10 w-1/2;
}

.cancel-button {
  @apply border-none shadow-none hover:bg-none hover:shadow-none;
}

:deep(.cancel) {
  @apply text-indigo;
}
</style>
