<script setup lang="ts">
import { InformationCircleIcon } from '@heroicons/vue/outline'

defineProps<{
  text: string
}>()
</script>

<template>
  <div class="info">
    <InformationCircleIcon class="info-icon" />
    <p>{{ text }}&nbsp;<slot /></p>
  </div>
</template>

<style scoped>
.info {
  @apply mt-5 grid max-w-max grid-cols-[20px_1fr] items-center gap-2 rounded-md bg-gray-lightest px-3 py-2 leading-snug text-[#827FA4];
}

.info-icon {
  @apply h-5 w-5;
}
</style>
