<script setup lang="ts">
import { useRouter } from 'vue-router'

import GettingStartedStep from './GettingStartedStep.vue'
import Button from '@core/components/Button.vue'

import extensionInstallIllustration from '@core/assets/onboarding/extension-install.svg'
import importIcon from '@core/assets/onboarding/import-icon.svg'
import { TrackingEvent } from '@core/utils/trackingConstants'

const emit = defineEmits<{
  (e: 'toggle'): void
}>()

defineProps<{
  done: boolean
  open: boolean
}>()

const router = useRouter()
</script>

<template>
  <GettingStartedStep
    :event="TrackingEvent.IMPORT_EXPLANATION_APPEARED"
    :done="done"
    :open="open"
    @toggle="emit('toggle')"
  >
    <template #icon>
      <img :src="importIcon" />
    </template>

    <template #header>Import your passwords</template>
    <div class="container">
      <div class="content">
        Import passwords and other information from your browser or current password manager
        <Button
          button-style="primary"
          class="import-button"
          @click="() => router.push({ name: 'import' })"
          >Import your passwords</Button
        >
      </div>
      <div class="illustration-container">
        <img class="illustration" :src="extensionInstallIllustration" />
      </div>
    </div>
  </GettingStartedStep>
</template>

<style scoped>
.container {
  @apply flex flex-row;
}

.content {
  @apply flex flex-col text-base leading-snug;
}

.illustration-container {
  @apply w-full sm:w-2/3;
}

.illustration {
  @apply mx-auto w-56;
}

.import-button {
  @apply mt-7 h-10 w-56;
}
</style>
