<script setup lang="ts">
import { computed } from 'vue'

import GettingStartedStep from './GettingStartedStep.vue'
import Button from '@core/components/Button.vue'
import ChromeIcon from '@core/components/icons/ChromeIcon.vue'
import EdgeIcon from '@core/components/icons/EdgeIcon.vue'
import OperaIcon from '@core/components/icons/OperaIcon.vue'
import onboardingInstallIllustration from '@core/assets/onboarding/extension-popup-illustration.svg'

import { useOnboardingStore } from '@core/stores/onboarding'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'
import { browser } from '@core/utils/browserEnvironment'
import { getBrowserExtensionIcon } from '@core/utils/browserExtensionStoreIcon'

const emit = defineEmits<{
  (e: 'toggle'): void
}>()

defineProps<{
  done: boolean
  open: boolean
}>()

const onboardingStore = useOnboardingStore()
const trackingStore = useTrackingStore()

const browserName = computed(() => onboardingStore.browserSpecificWebstore?.browserName)
const browserIsChrome = computed(() => browserName.value === 'Chrome')
const browserIsOpera = computed(() => browserName.value === 'Opera')

const browserIcon = computed(() => {
  if (browserIsChrome.value) return ChromeIcon
  if (browserIsOpera.value) return OperaIcon
  return EdgeIcon
})

const browserStoreIcon = computed(() => browser.name && getBrowserExtensionIcon(browser.name))

const openWebExtensionStore = () => {
  trackingStore.trackEvent({ event: TrackingEvent.BROWSER_EXTENSION_STORE_OPENED })
  window.open(onboardingStore.browserSpecificWebstore?.webstoreLink, '_blank')
}
</script>

<template>
  <GettingStartedStep
    :done="done"
    :open="open"
    :event="TrackingEvent.BROWSER_EXTENSION_INSTRUCTIONS_APPEARED"
    @toggle="emit('toggle')"
  >
    <template #icon>
      <img :src="browserStoreIcon" />
    </template>
    <template #header>Install the extension</template>
    <div class="install-extension">
      <div class="content-body">
        <h2 class="content-header">Your passwords, one click-away</h2>
        <p class="text">
          Install the browser extension and have all your passwords synced across devices, one-click
          away!
        </p>

        <Button
          button-style="primary"
          class="install-extension-button"
          @click="openWebExtensionStore"
        >
          <component :is="browserIcon" class="browser-icon" />
          Go to the {{ browserName }} store
        </Button>
      </div>

      <div class="illustration-container">
        <img class="illustration" :src="onboardingInstallIllustration" />
      </div>
    </div>
  </GettingStartedStep>
</template>

<style scoped>
.install-extension {
  @apply flex items-center;
}

.illustration-container {
  @apply flex-grow;
}

.illustration {
  @apply mx-auto w-56;
}

.text {
  @apply max-w-md text-base;
}

.install-extension-button {
  @apply mt-7 flex h-10 w-[240px] items-center justify-center p-3;
}

.browser-icon {
  @apply mr-3 h-6 w-6;
}

.content-body {
  @apply w-full max-w-md;
}

.content-header {
  @apply mb-4 text-2xl font-medium text-blue-darkest;
}
</style>
