<script setup lang="ts">
import { onUnmounted, watchEffect, ref, computed } from 'vue'

import GettingStartedStep from './GettingStartedStep.vue'
import ExternalLink from '@core/components/ExternalLink.vue'
import Spinner from '@core/components/icons/Spinner.vue'
import GettingStartedStepInfo from './GettingStartedStepInfo.vue'

import qrCode from '@core/assets/onboarding/qr-code.png'
import mobileAppIcon from '@core/assets/onboarding/mobile-app-icon.svg'

import { useOnboardingStore } from '@core/stores/onboarding'
import { useAuthStore } from '@core/stores/auth'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

const onboardingStore = useOnboardingStore()
const authStore = useAuthStore()
const trackingStore = useTrackingStore()

const emit = defineEmits<{
  (e: 'toggle'): void
}>()

const props = defineProps<{
  done: boolean
  open: boolean
}>()

let poller = 0
const pollingStarted = ref(false)
const showPollingNotice = ref(false)
const hasInstalledApp = computed(() => onboardingStore.onboardingStepsCompleted.has('installApp'))

// Poll user settings every 2 seconds
const startPolling = () => {
  // Only start polling if we are not already polling
  if (!poller) {
    pollingStarted.value = true
    poller = window.setInterval(() => {
      onboardingStore.fetchAppInstalledState()
    }, 2000)
  }
}

const stopPolling = () => {
  showPollingNotice.value = false
  clearInterval(poller)
}

watchEffect(() => {
  if (hasInstalledApp.value) {
    stopPolling()
    return
  }

  if (props.open) {
    showPollingNotice.value = true
  }
})

const trackStoreLinkClick = (store: 'Playstore' | 'Appstore') => {
  const event =
    store === 'Playstore'
      ? TrackingEvent.MOBILE_APP_INSTALLATION_PROMPT_ANDROID_CLICKED
      : TrackingEvent.MOBILE_APP_INSTALLATION_PROMPT_APPLE_CLICKED

  trackingStore.trackEvent({
    event,
    properties: {
      trigger: 'Getting Started',
    },
  })
}

startPolling()

onUnmounted(stopPolling)
</script>

<template>
  <GettingStartedStep
    :event="TrackingEvent.MOBILE_APP_INSTALLATION_PROMPT"
    :done="done"
    :open="open"
    @toggle="emit('toggle')"
    @next="startPolling"
  >
    <template #icon>
      <img :src="mobileAppIcon" />
    </template>
    <template #header>Get the mobile app</template>

    <template
      v-if="showPollingNotice && !onboardingStore.onboardingStepsCompleted.has('installApp')"
      #header-right
      ><span class="waiting-for-install"
        ><Spinner class="spinner" /> Waiting for you to install</span
      ></template
    >
    <div class="container">
      <div class="app-install-text">
        <h2 class="content-header">Access your passwords on-the-go</h2>
        <p class="content-subtext">
          Scan the QR code or go to your app store and download the Tilig app
        </p>

        <GettingStartedStepInfo text="Login with">
          <span class="email">
            {{ authStore.tiligUser?.email }}
          </span>
        </GettingStartedStepInfo>
      </div>

      <div class="app-install">
        <img :src="qrCode" class="qr-code" />
        <div class="appstore-links">
          <ExternalLink
            url="https://apps.apple.com/us/app/tilig-password-manager/id1504118993"
            class="mobile-app-logo-container"
            @click="trackStoreLinkClick('Appstore')"
          >
            <img src="@/assets/logos/app-store.svg" class="mobile-app-logo applestore-badge" />
          </ExternalLink>
          <ExternalLink
            url="https://play.google.com/store/apps/details?id=com.tilig.android&hl=en&gl=US"
            class="mobile-app-logo-container"
            @click="trackStoreLinkClick('Playstore')"
          >
            <img src="@/assets/logos/google-play.svg" class="mobile-app-logo playstore-badge" />
          </ExternalLink>
        </div>
      </div>
    </div>
  </GettingStartedStep>
</template>

<style scoped>
.appstore-links {
  @apply flex h-full w-full flex-col gap-4;
}

.mobile-app-logo-container {
  @apply flex max-h-[37.97px] w-full justify-center;
}

.waiting-for-install {
  @apply text-indigo;
}

.spinner {
  @apply mr-1 inline w-5;
}

.email {
  @apply font-medium;
}

.container {
  @apply flex flex-col items-center gap-10 sm:flex-row;
}

.app-install {
  @apply flex h-[95px] items-center gap-4;
}

.app-install-text {
  @apply max-w-md flex-grow;
}

.qr-code {
  @apply h-full w-[95p];
}

.content-header {
  @apply mb-4 text-2xl font-medium text-blue-darkest;
}

.content-subtext {
  @apply text-base;
}
</style>
