<script setup lang="ts">
import Button from '@core/components/Button.vue'
import GettingStartedStep from './GettingStartedStep.vue'
import GettingStartedStepInfo from './GettingStartedStepInfo.vue'
import GettingStartedIllustration from './GettingStartedIllustration.vue'

import autofillIllustration from '@core/assets/onboarding/autofill.mp4'
import autofillIcon from '@core/assets/onboarding/magic-line.svg'

import { TrackingEvent } from '@core/utils/trackingConstants'

const emit = defineEmits<{
  (e: 'toggle'): void
  (e: 'next'): void
  (e: 'showExtensionStep'): void
}>()

defineProps<{
  done: boolean
  open: boolean
  extensionInstalled: boolean
}>()

const markAsComplete = () => {
  emit('toggle')
  emit('next')
}
</script>

<template>
  <GettingStartedStep
    :event="TrackingEvent.AUTOFILL_EXPLANATION_APPEARED"
    :done="done"
    :open="open"
    @toggle="emit('toggle')"
    @next="emit('next')"
  >
    <template #icon>
      <img :src="autofillIcon" />
    </template>

    <template #header>Learn about Autofill</template>

    <div class="autofill-container">
      <div class="section autofill">
        <h2 class="content-header">Browse the web seamlessly</h2>

        <p class="content-subtext">
          Already have a created login in Tilig? Open that website and Tilig will fill in the
          credentials for you!
        </p>

        <div>
          <GettingStartedStepInfo
            v-if="!extensionInstalled"
            text="To use Autofill, add Tilig to your browser"
          />
          <div class="show-me-how" @click="emit('showExtensionStep')">
            How to install the extension
          </div>
        </div>

        <Button button-style="primary" class="mark-as-completed" @click="markAsComplete"
          >Got it!</Button
        >
      </div>

      <div class="illustration">
        <GettingStartedIllustration :video="autofillIllustration" />
      </div>
    </div>
  </GettingStartedStep>
</template>

<style scoped>
.autofill-container {
  @apply flex items-center justify-between gap-3;
}

.section {
  @apply h-full leading-snug;
}

.illustration {
  @apply flex h-[214px] w-[338px] items-center justify-center rounded-lg;
}

.mark-as-completed {
  @apply mt-4 h-10 text-sm;
}

.show-me-how {
  @apply mt-2 max-w-max cursor-pointer font-normal text-indigo;
}

.content-header {
  @apply mb-5 text-2xl font-medium text-blue-darkest;
}

.content-subtext {
  @apply mb-8 mt-6 text-base;
}

.autofill {
  @apply max-w-md flex-grow;
}
</style>
