<script setup lang="ts">
import { toRef } from 'vue'

import SwitchInput from '@core/components/SwitchInput.vue'
import Button from '@core/components/Button.vue'
import GettingStartedStep from './GettingStartedStep.vue'
import GettingStartedStepInfo from './GettingStartedStepInfo.vue'
import GettingStartedIllustration from './GettingStartedIllustration.vue'

import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

import autosaveIllustration from '@core/assets/onboarding/autosave.mp4'
import saveIcon from '@core/assets/onboarding/save-icon.svg'
import { useAuthStore } from '@core/stores/auth'
import { useOnboardingStore } from '@core/stores/onboarding'

const trackingStore = useTrackingStore()
const { tiligUser } = useAuthStore()
const { updateAutoSaveSettings } = useOnboardingStore()

type ExtensionSettings = {
  autoSave?: boolean
}

const emit = defineEmits<{
  (e: 'toggle'): void
  (e: 'next'): void
  (e: 'showExtensionStep'): void
}>()

defineProps<{
  done: boolean
  open: boolean
  extensionInstalled: boolean
}>()

const extensionSettingsInitialState: ExtensionSettings = {
  autoSave: false,
}
const autoSaveState = toRef<ExtensionSettings, 'autoSave'>(
  tiligUser?.userSettings['extension'] || extensionSettingsInitialState,
  'autoSave'
)

const toggleAutosaveLogin = async (autosave: boolean) => {
  const eventName = autoSaveState.value
    ? TrackingEvent.AUTOSAVE_ENABLED
    : TrackingEvent.AUTOSAVE_DISABLED

  autoSaveState.value = autosave

  updateAutoSaveSettings(autosave)

  //TODO confirm if this is necessary
  trackingStore.trackEvent({
    event: eventName,
    properties: {
      trigger: 'Getting Started',
    },
  })
}

const markAsComplete = () => {
  emit('toggle')
  emit('next')
}
</script>

<template>
  <GettingStartedStep
    :event="TrackingEvent.AUTOSAVE_EXPLANATION_APPEARED"
    :done="done"
    :open="open"
    @toggle="emit('toggle')"
    @next="emit('next')"
  >
    <template #icon>
      <img :src="saveIcon" />
    </template>

    <template #header>Save logins automatically</template>

    <div class="autosave-container">
      <div class="text-body">
        <h2 class="content-header">Save logins automatically</h2>
        <p class="text">
          Anytime you login to a website, Tilig will save your logins and store them across your
          devices
        </p>

        <template v-if="false">
          <div class="switch">
            <SwitchInput
              label="Automatically save passwords"
              :model-value="autoSaveState || false"
              @update:model-value="toggleAutosaveLogin"
            />
          </div>
        </template>

        <div>
          <GettingStartedStepInfo
            v-if="!extensionInstalled"
            text="To Autosave, install Tilig to your browser."
          />

          <div class="show-me-how" @click="emit('showExtensionStep')">
            How to install the extension
          </div>
        </div>
        <Button button-style="primary" class="mark-as-completed" @click="markAsComplete"
          >Got it!</Button
        >
      </div>

      <div class="illustration">
        <GettingStartedIllustration :video="autosaveIllustration" />
      </div>
    </div>
  </GettingStartedStep>
</template>

<style scoped>
.text {
  @apply mb-8 mt-6 text-base;
}
.autosave-container {
  @apply flex justify-between gap-5;
}

.switch {
  @apply my-3 w-max;
}

.illustration {
  @apply flex h-[214px] w-[338px] items-center justify-center rounded-lg;
}

.mark-as-completed {
  @apply mt-6 h-10 text-sm;
}

.show-me-how {
  @apply mt-2 max-w-max cursor-pointer font-normal text-indigo;
}

.content-header {
  @apply mb-5 text-2xl font-medium text-blue-darkest;
}

.text-body {
  @apply max-w-md flex-grow;
}
</style>
