<script setup lang="ts">
import { GlobeAltIcon } from '@heroicons/vue/outline'

import CardHeader from '@core/components/CardHeader.vue'
import CardParagraph from '@core/components/CardParagraph.vue'
import confetti from '@core/assets/onboarding/confetti.svg'
import Button from '@core/components/Button.vue'

const emit = defineEmits<{
  (e: 'dismiss-onboarding'): void
}>()
</script>

<template>
  <div class="page-container">
    <div
      class="confetti"
      :style="{
        backgroundImage: 'url(' + confetti + ')',
        backgroundRepeat: 'repeat',
        backgroundSize: '1300px 650px',
      }"
    />

    <div class="content">
      <CardHeader class="content-header">Hurray!</CardHeader>
      <div class="box">
        <CardHeader>You’ve done it!</CardHeader>
        <CardParagraph class="box-paragraph"
          >It took some time, but we promise it will be worth it!</CardParagraph
        >
        <Button button-style="primary" @click="emit('dismiss-onboarding')">
          <template #icon>
            <GlobeAltIcon />
          </template>
          Explore Tilig</Button
        >
      </div>
    </div>
  </div>
</template>

<style scoped>
.page-container {
  @apply relative flex flex-col items-center bg-white;
}

.confetti {
  @apply absolute inset-0 bg-cover transition duration-300;
}

.content {
  @apply z-20 w-full pt-20 xl:px-40;
}

.content-header {
  @apply text-3xl;
}

.box {
  @apply mt-5 flex h-96 w-full flex-col items-center justify-center border-2 border-indigo-lightest bg-indigo-lighter shadow-[0px_12px_20px_rgba(138_138_138_0.41)] backdrop-blur-[2px];
}

.box-paragraph {
  @apply mb-10 mt-1 max-w-full text-center;
}
</style>
