<script setup lang="ts">
import { computed } from 'vue'

import { useOnboardingStore, ONBOARDING_STEPS } from '@core/stores/onboarding'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

import GettingStartedBanner from '@core/components/onboarding/GettingStartedBanner.vue'

const onboardingStore = useOnboardingStore()
const trackingStore = useTrackingStore()

const completedCount = computed(() => {
  if (!onboardingStore.ready) return 0
  return onboardingStore.onboardingStepsCompleted.size
})

const trackClickEvent = () => {
  trackingStore.trackEvent({
    event: TrackingEvent.GETTING_STARTED_PROMPT_CLICKED,
  })
}

trackingStore.trackEvent({
  event: TrackingEvent.GETTING_STARTED_PROMPT_APPEARED,
  properties: {
    stepsCompleted: onboardingStore.onboardingStepCompleted,
  },
})
</script>

<template>
  <RouterLink
    v-if="onboardingStore.ready"
    :to="{ name: 'getting-started' }"
    @click="trackClickEvent"
  >
    <GettingStartedBanner
      class="menu-item-getting-started"
      :completed-steps="completedCount"
      :total-steps="ONBOARDING_STEPS.length"
    />
  </RouterLink>
</template>

<style scoped>
.menu-item-getting-started {
  @apply w-full text-xs;
}

/* before:absolute before:right-0 before:-top-5 before:h-10 before:w-5 before:bg-indigo-light before:content-[''] after:absolute after:right-0 after:-bottom-5 after:h-10 after:w-5 after:bg-indigo-light after:content-['']; */
</style>
