<script setup lang="ts">
import { onMounted } from 'vue'
import { useOnboardingStore } from '@core/stores/onboarding'
import { storeToRefs } from 'pinia'

const onboardingStore = useOnboardingStore()
const { ready } = storeToRefs(onboardingStore)

onMounted(() => {
  // Initialize onboarding if not intialized by login procedure
  if (ready.value) onboardingStore.initialize()
})
</script>

<template>
  <router-view></router-view>
</template>
