<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import { storeToRefs } from 'pinia'

import { customPassword } from '@core/utils/customPassword'
import { useDropdownStore } from '@/ui/dropdown/store'

import AccountSuggestion from '@/ui/dropdown/components/AccountSuggestion.vue'
import Suggestions from '@/ui/dropdown/components/Suggestions.vue'
import DropdownContainer from '@/ui/dropdown/components/DropdownContainer.vue'
import TiligLogo from '@/assets/tilig-dropdown-logo.svg?component'

const route = useRoute()
const store = useDropdownStore()
const { currentUser: user, accounts } = storeToRefs(store)

const password = ref('')
const isSignup = computed(() => route.query.isSignup === 'true')

customPassword().then((generatedPassword) => (password.value = generatedPassword))
</script>

<template>
  <DropdownContainer v-if="!isSignup && accounts && accounts.length > 0" class="content">
    <div class="accounts-list">
      <header class="header">
        <component :is="TiligLogo" class="tilig-logo" />
        Use Tilig to login with
      </header>

      <div class="accounts">
        <AccountSuggestion v-for="account in accounts" :key="account.item.id" :account="account" />
      </div>
    </div>
  </DropdownContainer>

  <DropdownContainer v-else-if="isSignup && user && user.email" class="content">
    <Suggestions :email-suggestion="user.email" :password-suggestion="password" />
  </DropdownContainer>

  <DropdownContainer v-else class="no-items">
    <div class="header">
      <component :is="TiligLogo" class="tilig-logo" />
      <p class="header-text">No items to show</p>
    </div>
  </DropdownContainer>
</template>

<style scoped>
.content {
  @apply p-1;
}

.accounts-list {
  @apply flex flex-col gap-1;
}

.accounts {
  @apply flex flex-col;
}

.header {
  @apply flex items-center gap-1 pl-1 text-xs opacity-50;
}

.tilig-logo {
  @apply mt-[1px] flex items-center self-start opacity-50;
}

.no-items {
  @apply p-2.5;
}
</style>
