<script setup lang="ts">
import { computed, type Component } from 'vue'
import { RouteLocationRaw, RouterLink } from 'vue-router'

const props = defineProps<{
  href?: string | null
  to?: RouteLocationRaw
  prefixIcon?: Component | null
  suffixIcon?: Component | null
  text?: string | null
  icon?: Component | null
  variant?: 'primary' | 'blue-dark' | 'primary-outline'
  size?: 'normal' | 'large' | 'small'
}>()

const tag = computed(() => {
  if (props.to) return RouterLink
  if (props.href) return 'a'
  return 'button'
})
</script>

<template>
  <component
    :is="tag"
    v-bind="{ href, to }"
    class="base-button"
    :class="[variant, size, icon ? 'icon' : 'text']"
  >
    <slot v-bind="{ prefixIcon }" name="prefix-icon"><component :is="prefixIcon" /></slot>
    <slot v-bind="{ icon, text }">
      <component :is="icon" v-if="icon" class="icon" />
      <span v-else>{{ text }}</span>
    </slot>
    <slot v-bind="{ suffixIcon }" name="suffix-icon"><component :is="suffixIcon" /></slot>
  </component>
</template>

<style scoped>
.base-button {
  @apply flex cursor-pointer items-center justify-center gap-[10px] rounded-lg p-[10px];
}

.base-button.large {
  @apply gap-3 p-3 text-lg leading-none;
}

.base-button.small {
  @apply text-sm leading-none;
}

.base-button.primary {
  @apply bg-indigo text-white hover:bg-indigo-dark active:bg-indigo-darkest;
}

.base-button.primary-outline {
  @apply border border-indigo bg-transparent text-indigo hover:bg-indigo-lighter active:bg-indigo-light;
}

.text {
  @apply leading-none;
}
</style>
