<script setup lang="ts">
const props = withDefaults(
  defineProps<{
    modelValue?: string | null
    type?: string
    prefixIcon?: Component | null
    suffixIcon?: Component | null
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    class?: any
    style?: StyleValue
  }>(),
  {
    modelValue: null,
    type: 'text',
    prefixIcon: null,
    suffixIcon: null,
    class: undefined,
    style: undefined,
  }
)

const emit = defineEmits<{
  (event: 'update:modelValue', value: string | null): void
  (event: 'prefixIconClick'): void
  (event: 'suffixIconClick'): void
}>()

const emitAsModelValue = (event: Event) => {
  emit('update:modelValue', (event.target as HTMLInputElement).value || null)
}

const inputRef = ref<HTMLInputElement | null>(null)

defineExpose({
  focus: () => inputRef.value?.focus(),
})
</script>

<script lang="ts">
import { defineComponent, type StyleValue, type Component, ref } from 'vue'

export default defineComponent({
  inheritAttrs: false,
})
</script>

<template>
  <div class="base-input" :class="props.class" :style="style">
    <slot name="prefix"></slot>
    <slot name="prefix-icon"
      ><component :is="prefixIcon" class="icon" @click="$emit('prefixIconClick')"
    /></slot>
    <input
      ref="inputRef"
      v-bind="$attrs"
      class="input"
      :value="modelValue ?? null"
      @input="emitAsModelValue"
    />
    <slot name="suffix-icon"
      ><component :is="suffixIcon" class="icon" @click="$emit('suffixIconClick')"
    /></slot>
    <slot name="suffix"></slot>
  </div>
</template>

<style scoped>
.base-input {
  @apply flex items-center gap-2 p-2;
}

.input {
  @apply flex-1 bg-transparent focus:outline-none;
}
</style>
