<script setup lang="ts">
defineProps<{
  title?: string | null
}>()
</script>

<template>
  <div class="base-card">
    <header v-if="title">
      <h1>{{ title }}</h1>
    </header>
    <div class="base-card-content">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>
.base-card {
  @apply rounded-2xl bg-white;
}

.base-card header {
  @apply border-b border-gray-light p-3 text-center text-gray2;
}
</style>
