<script setup lang="ts">
import type { Component } from 'vue'
import TiligLogoIcon from '@core/components/icons/TiligLogoIcon.vue'
import { RouteLocationRaw } from 'vue-router'

defineProps<{
  title?: string | null
  leftIcon?: Component | null
  leftTo?: RouteLocationRaw
  rightIcon?: Component | null
  rightTo?: RouteLocationRaw
}>()
</script>

<template>
  <nav class="menu-bar">
    <slot name="left-icon">
      <RouterLink v-if="leftTo" :to="leftTo" class="menu-link">
        <component :is="leftIcon" />
      </RouterLink>
    </slot>

    <slot name="left"></slot>

    <div class="title">
      <slot v-bind="{ title }" name="title">
        <h1
          v-if="title"
          :class="{ 'pad-left': !leftIcon && rightIcon, 'pad-right': leftIcon && !rightIcon }"
        >
          {{ title }}
        </h1>
        <a v-else href="https://app.tilig.com/" target="_blank" class="logo-container">
          <TiligLogoIcon :height="30" class="m-auto" />
        </a>
      </slot>
    </div>

    <slot name="right"></slot>

    <slot name="right-icon">
      <RouterLink v-if="rightTo" :to="rightTo" class="menu-link">
        <component :is="rightIcon" />
      </RouterLink>
    </slot>
  </nav>
</template>

<style scoped>
.menu-bar {
  @apply flex items-center gap-3 bg-blue-darkest px-4;
}

.menu-link {
  @apply rounded-full p-0.5 text-white hover:bg-white hover:bg-opacity-30;
}

.title {
  @apply flex h-full flex-1 items-center text-white;
}

.title h1 {
  @apply w-full text-center;
}

.title h1.pad-left {
  @apply ml-8 pl-3;
}

.title h1.pad-right {
  @apply mr-8 pr-3;
}
</style>
