<script setup lang="ts">
import { computed } from 'vue'
import { TransitionChild, TransitionRoot, Dialog, DialogPanel } from '@headlessui/vue'

const props = defineProps<{
  show?: boolean
  open?: boolean
  appearDirection?: 'top' | 'bottom' | 'left' | 'right'
  appearYDirection?: 'top' | 'bottom'
  appearXDirection?: 'left' | 'right'
}>()
defineEmits<{ (event: 'close'): void }>()

const appearTranslateOffset = computed(() => {
  const appearOffsets: string[] = []

  if (props.appearDirection === 'top' || props.appearYDirection === 'top') {
    appearOffsets.push('-translate-y-4')
  }
  if (props.appearDirection === 'bottom' || props.appearYDirection === 'bottom') {
    appearOffsets.push('translate-y-4')
  }
  if (props.appearDirection === 'left' || props.appearXDirection === 'left') {
    appearOffsets.push('translate-x-4')
  }
  if (props.appearDirection === 'right' || props.appearXDirection === 'right') {
    appearOffsets.push('-translate-x-4')
  }

  return appearOffsets.join(' ')
})
</script>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  inheritAttrs: false,
})
</script>

<template>
  <TransitionRoot :show="show || open" appear>
    <Dialog as="div" class="relative z-50" @close="$emit('close')">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-blue bg-opacity-25 backdrop-blur-sm" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          :enter-from="`opacity-0 sm:scale-95 ${appearTranslateOffset}`"
          enter-to="opacity-100 translate-y-0 translate-x-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 translate-x-0 sm:scale-100"
          :leave-to="`opacity-0 sm:scale-95 ${appearTranslateOffset}`"
        >
          <DialogPanel v-bind="$attrs">
            <slot v-bind="{ close: () => $emit('close') }"></slot>
          </DialogPanel>
        </TransitionChild>

        <TransitionChild
          v-if="$slots['additional-content']"
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 sm:scale-95"
          enter-to="opacity-100 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 sm:scale-100"
          leave-to="opacity-0 sm:scale-95"
        >
          <slot v-bind="{ close: () => $emit('close') }" name="additional-content" />
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
