<script setup lang="ts">
import { type Component } from 'vue'
import { RouteLocationRaw } from 'vue-router'

defineProps<{
  title: string
  to: RouteLocationRaw
  icon: Component
  iconActive: Component
  dot?: boolean
}>()
</script>

<template>
  <RouterLink v-slot="linkProps" class="bottom-link" :to="to">
    <slot v-bind="{ title, icon, iconActive, ...linkProps }">
      <slot v-bind="{ icon, iconActive, ...linkProps }" name="icon">
        <component :is="linkProps.isActive ? iconActive : icon" class="icon" />
      </slot>
      <span class="title">{{ title }}</span>
    </slot>
  </RouterLink>
</template>

<style scoped>
.bottom-link {
  @apply flex flex-col items-center justify-center gap-2 text-gray2;
}

.bottom-link.router-link-active {
  @apply text-blue-darkest;
}

.title {
  @apply text-xs;
}
</style>
