<script setup lang="ts">
import { ref } from 'vue'

import {
  PlusIcon,
  XIcon,
  ClipboardListIcon,
  KeyIcon,
  WifiIcon,
  CreditCardIcon,
} from '@heroicons/vue/outline'

import BaseModal from './BaseModal.vue'
import BaseButton from './BaseButton.vue'
import BaseCard from './BaseCard.vue'

const typeSelectionModalOpen = ref(false)

const itemTypeLinks = [
  {
    itemType: 'Login',
    icon: KeyIcon,
    to: '/secrets/new?template=login/1',
  },
  {
    itemType: 'Card',
    icon: CreditCardIcon,
    to: '/secrets/new?template=creditcard/1',
  },
  {
    itemType: 'Note',
    icon: ClipboardListIcon,
    to: '/secrets/new?template=securenote/1',
  },
  {
    itemType: 'WiFi',
    icon: WifiIcon,
    to: '/secrets/new?template=wifi/1',
  },
]
</script>

<template>
  <BaseButton variant="primary" @click="typeSelectionModalOpen = true">
    <PlusIcon class="h-5 w-5" />
  </BaseButton>

  <BaseModal
    :show="typeSelectionModalOpen"
    appear-direction="left"
    class="fixed bottom-[3.75rem] right-4 w-64"
    @close="typeSelectionModalOpen = false"
  >
    <BaseCard class="shadow-md">
      <div class="add-item-modal-content">
        <div v-for="link in itemTypeLinks" :key="link.itemType" class="add-item">
          <RouterLink class="add-item-link" :to="link.to" @click="typeSelectionModalOpen = false">
            <div class="circle">
              <component :is="link.icon" class="h-4 w-4" />
            </div>
            {{ link.itemType }}
          </RouterLink>
        </div>
      </div>
    </BaseCard>

    <template #additional-content>
      <BaseButton class="fixed bottom-3 right-4 bg-blue-darkest text-white">
        <XIcon class="h-5 w-5" />
      </BaseButton>
    </template>
  </BaseModal>
</template>

<style scoped>
.add-item-modal-content {
  @apply py-2;
}

.add-item {
  @apply px-2;
}

.add-item-link {
  @apply flex items-center gap-2 rounded-xl px-2 py-3 hover:bg-indigo-lightest;
}

.circle {
  @apply inline-block rounded-full bg-indigo-lightest p-2;
}
</style>
