<script setup lang="ts">
import BottomLink from './BottomLink.vue'
import BottomAddButton from './BottomAddButton.vue'

import Home5Line from '~icons/ri/home-5-line?width=1.4em&height=1.4em&dummy'
import Home5Fill from '~icons/ri/home-5-fill?width=1.4em&height=1.4em&dummy'
import FoldersLine from '~icons/ri/folders-line?width=1.4em&height=1.4em&dummy'
import FoldersFill from '~icons/ri/folders-fill?width=1.4em&height=1.4em&dummy'
import RotateLockLine from '~icons/ri/rotate-lock-line?width=1.4em&height=1.4em&dummy'
import RotateLockFill from '~icons/ri/rotate-lock-fill?width=1.4em&height=1.4em&dummy'
import ShieldKeyHoleLine from '~icons/ri/shield-keyhole-line?width=1.4em&height=1.4em&dummy'
import ShieldKeyHoleFill from '~icons/ri/shield-keyhole-fill?width=1.4em&height=1.4em&dummy'

const links = [
  {
    title: 'Home',
    icon: Home5Line,
    iconActive: Home5Fill,
    to: {
      name: 'secrets',
    },
  },
  {
    title: 'Folders',
    icon: FoldersLine,
    iconActive: FoldersFill,
    to: '/folders',
  },
  {
    title: 'Generator',
    icon: RotateLockLine,
    iconActive: RotateLockFill,
    to: '/generator',
  },
  {
    title: 'Tools',
    icon: ShieldKeyHoleLine,
    iconActive: ShieldKeyHoleFill,
    to: '/tools',
  },
]

// const addOpen = ref(false)
</script>

<template>
  <nav class="bottom-nav">
    <BottomLink v-for="link in links" :key="link.title" v-bind="link" class="bottom-nav-link" />
    <div class="bottom-add-button">
      <BottomAddButton />
    </div>
  </nav>
</template>

<style scoped>
.bottom-nav {
  @apply flex w-full bg-gray-lightest bg-opacity-80 backdrop-blur-sm;
}

.bottom-nav-link {
  @apply flex-1;
}

.bottom-add-button {
  @apply mx-4 flex flex-grow-0 flex-col items-center justify-center;
}
</style>
