<script setup lang="ts">
import { ref } from 'vue'
import BaseInput from './BaseInput.vue'
import SearchLine from '~icons/ri/search-line'
import CloseCircleFill from '~icons/ri/close-circle-fill'

const componentRef = ref<InstanceType<typeof BaseInput> | null>(null)

defineProps<{ modelValue?: string | null }>()

defineEmits<{ (event: 'update:modelValue', value: string | null): void }>()

defineExpose({
  focus: () => componentRef.value?.focus(),
})
</script>

<template>
  <BaseInput
    ref="componentRef"
    class="search-input"
    type="search"
    :prefix-icon="SearchLine"
    :suffix-icon="modelValue ? CloseCircleFill : null"
    :model-value="modelValue"
    @update:model-value="$emit('update:modelValue', $event)"
    @suffix-icon-click="$emit('update:modelValue', null)"
  >
    <template v-for="(_, slot) of $slots" #[slot]="scope"
      ><slot :name="slot" v-bind="scope"
    /></template>
  </BaseInput>
</template>

<style scoped>
.search-input {
  @apply rounded-full bg-gray-lightest text-gray2 focus-within:bg-white focus-within:text-blue-darkest focus-within:outline focus-within:outline-1  focus-within:outline-gray2;
}

.search-input :deep(input) {
  @apply placeholder:text-gray2 focus:placeholder:text-gray-light;
}
</style>
