<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'
import { useRoute } from 'vue-router'

import { useItemsStore, ItemType } from '@core/stores/items'

import { SearchIcon } from '@heroicons/vue/outline'
import ClearSearch from '@/assets/item/clear-search.svg?component'

const itemsStore = useItemsStore()
const route = useRoute()
const { query, activeFolder } = storeToRefs(itemsStore)

const placeholderTextMap = new Map([
  [ItemType.Logins, 'a login'],
  [ItemType.SecureNotes, 'a secure note'],
  [ItemType.WiFi, 'a WiFi network'],
  [ItemType.CreditCards, 'a credit card'],
  [ItemType.Custom, 'an item'],
])

const placeholderText = computed(() => {
  if (activeFolder.value) return 'Search this folder'

  if (route.params.type) {
    return `Search for ${placeholderTextMap.get(route.params.type as ItemType)}`
  }

  return `Search for an item`
})

const updateQuery = (event: Event) => {
  const value = (event.target as HTMLInputElement).value
  query.value = itemsStore.maxLoginValueLength
    ? value.slice(0, itemsStore.maxLoginValueLength)
    : value
}
</script>

<template>
  <div class="sidebar-search">
    <label class="search-group">
      <span class="sr-only">Search</span>
      <SearchIcon class="search-icon" aria-hidden />
      <input
        :value="query"
        class="search-input"
        :placeholder="placeholderText"
        @input="updateQuery($event)"
      />
      <ClearSearch v-if="query" class="clear-icon" aria-hidden @click="query = ''" />
    </label>
  </div>
</template>

<style scoped>
.search-group {
  @apply flex items-center gap-2 rounded-lg
    border border-gray-light 
    bg-gray-lightest p-3
    text-sm
    text-blue-lightest
    focus-within:bg-white
    focus-within:text-blue-darkest focus-within:outline-none focus-within:ring-1 focus-within:ring-indigo-light;
}

.search-icon {
  @apply w-4 shrink-0 grow-0;
}

.search-input {
  @apply min-w-0 shrink grow bg-transparent focus:outline-none;
}

.clear-icon {
  @apply w-6 shrink-0 grow-0 cursor-pointer text-blue-lightest opacity-100 transition-opacity;
}
</style>
