<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'
import { useOnboardingStore } from '@core/stores/onboarding'
import { useUserSettingsStore } from '@core/stores/userSettings'

import GettingStartedMenuItem from '@/components/getting-started/GettingStartedMenuItem.vue'

import SidebarMenuReferral from './menu/SidebarMenuReferral.vue'
import SidebarMenuItemTypes from './menu/SidebarMenuItemTypes.vue'
import SidebarMenuFolders from './menu/SidebarMenuFolders.vue'
import SidebarMenuOrganization from './menu/SidebarMenuOrganization.vue'
import { createLogger } from '@core/utils/logger'

const logger = createLogger('ui:sidebarmenucolumn')

const { completed, browserSpecificWebstore, dismissed } = storeToRefs(useOnboardingStore())
const { settings } = storeToRefs(useUserSettingsStore())

const referralSectionVisible = computed(() => {
  const { squirrelCampaignEnabled, squirrelCampaignDismissed } = settings.value.web ?? {}
  return !!squirrelCampaignEnabled && !squirrelCampaignDismissed
})

// We want to hide the getting started if:
// - the user is an existing user - onboarding { completed:  true} is set as default on the backend
// - the user has dismissed the getting started
// - the user doesn't have an extension store

logger.debug('onboarding specs', {
  completed: completed.value,
  dismissed: dismissed.value,
  browserSpecificWebstore: browserSpecificWebstore.value,
})
const gettingStartedIsVisible = computed(
  () => !completed.value && !dismissed.value && browserSpecificWebstore.value
)
</script>

<template>
  <div class="sidebar-menu-items">
    <GettingStartedMenuItem v-if="gettingStartedIsVisible" class="mx-2" />

    <SidebarMenuItemTypes />

    <SidebarMenuFolders />

    <footer>
      <SidebarMenuReferral v-if="referralSectionVisible" class="mx-2" />
      <SidebarMenuOrganization />
    </footer>
  </div>
</template>

<style scoped>
.sidebar-menu-items {
  @apply flex max-h-full flex-col gap-6 overflow-auto bg-gray-lightest py-6;
}

footer {
  @apply mt-auto flex flex-col gap-6;
}

.getting-started-menu {
  @apply mb-4;
}
</style>
