<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'
import { PlusCircleIcon } from '@heroicons/vue/solid'

import { ItemType, useItemsStore } from '@core/stores/items'
import { AddItemFlow, useAddItemStore } from '@core/stores/addItem'
import { useAuthStore } from '@core/stores/auth'
import { useLoginForm } from '@core/composables/forms'
import { createLogger } from '@core/utils/logger'

const logger = createLogger('ui:SideBarQuickAdd')

const itemsStore = useItemsStore()
const addItemStore = useAddItemStore()
const authStore = useAuthStore()

const { newItem } = storeToRefs(addItemStore)
const { query, activeItemType } = storeToRefs(itemsStore)
const { name, username, password, website } = useLoginForm(newItem)

const itemTypeLabel = new Map([
  [ItemType.Logins, 'login'],
  [ItemType.SecureNotes, 'secure note'],
  [ItemType.WiFi, 'wifi item'],
  [ItemType.CreditCards, 'credit card'],
])

const itemType = computed(() =>
  activeItemType.value ? itemTypeLabel.get(activeItemType.value) : 'item'
)

const startAddingItem = () => {
  logger.debug('Add item', query.value, activeItemType.value)
  name.value = query.value

  switch (activeItemType.value) {
    case ItemType.Logins:
      username.value = authStore.tiligUser?.email ?? null
      website.value = query.value
      password.value = null

      addItemStore.$patch({
        searchString: query.value,
        selectedWebsite: null,
        currentStep: AddItemFlow.ShowForm,
      })
      break

    default:
      addItemStore.$patch({
        searchString: query.value,
        currentStep: AddItemFlow.ShowForm,
      })
      break
  }

  logger.debug('Triggering modal open')
  addItemStore.openAddModal()
}
</script>

<template>
  <a v-if="query" class="sidebar-quick-add-button" @click.prevent="startAddingItem">
    <div class="sidebar-quick-add-icon">
      <PlusCircleIcon class="text-white" />
    </div>
    <div class="item-add-body">
      <span class="button-label">Add new {{ itemType }} for:</span>
      <span class="query" v-text="query" />
    </div>
  </a>
</template>

<style scoped>
.sidebar-quick-add-button {
  @apply flex cursor-pointer items-center gap-2 rounded-lg p-3 text-sm  text-blue-light hover:bg-gray-lightest focus:outline-none focus:ring-0 focus-visible:ring-2 focus-visible:ring-indigo;
}

.sidebar-quick-add-icon {
  @apply h-6 w-6 rounded bg-indigo p-1;
}

.item-add-body {
  @apply flex flex-col truncate;
}

.button-label {
  @apply text-xxs uppercase leading-tight tracking-wider opacity-60;
}

.query {
  @apply leading-tight text-indigo;
}
</style>
