<script setup lang="ts">
import { computed } from 'vue'
import { storeToRefs } from 'pinia'

import { useItemsStore } from '@core/stores/items'

import { LockClosedIcon, UserGroupIcon } from '@heroicons/vue/solid'

const { activeFolder } = storeToRefs(useItemsStore())
const folderMemberCount = computed(() => {
  if (!activeFolder.value) return 0
  return activeFolder.value.folder_memberships.length + activeFolder.value.folder_invitations.length
})
const isShared = computed(() => folderMemberCount.value > 1)
</script>

<template>
  <div>
    <div class="rounded-lg bg-indigo-lighter px-3 py-1.5 text-sm">
      <h1 class="mb-1 flex items-center gap-1 leading-none">
        <UserGroupIcon v-if="isShared" class="w-5" />
        <LockClosedIcon v-else class="w-5" />
        <span>{{ isShared ? 'Shared folder' : 'Private folder' }}</span>
      </h1>
      <p v-if="isShared" class="font-book leading-snug">
        Sharing items in this folder with {{ folderMemberCount }} people.
      </p>
    </div>
  </div>
</template>
