<script setup lang="ts">
import { computed, onMounted } from 'vue'
import { storeToRefs } from 'pinia'

import { useItemsStore } from '@core/stores/items'
import { useTrackingStore } from '@core/stores/tracking'
import { ACCOUNT_LIST_VIEWED } from '@core/utils/trackingConstants'

import SidebarItem from './items/SidebarItem.vue'
import SidebarItemPlaceholder from './items/SidebarItemPlaceholder.vue'
import SidebarItemsNoItems from './SidebarItemsNoItems.vue'

const itemsStore = useItemsStore()

const {
  filteredItems,
  numberOfItemsForActiveItemType,
  numberOfItemsForActiveFolder,
  isLoaded,
  query,
  isLoading,
  activeItemType,
  activeFolder,
} = storeToRefs(itemsStore)
const trackingStore = useTrackingStore()

const items = computed(() => filteredItems.value)
const hasNoItems = computed(() => {
  if (activeFolder.value) return !numberOfItemsForActiveFolder.value
  return !numberOfItemsForActiveItemType.value
})
const isProcessing = computed(() => !isLoaded.value || isLoading.value)
const showNoItemsPlaceholder = computed(() => hasNoItems.value && !query.value)

onMounted(() => {
  const properties = hasNoItems.value
    ? {
        state: 'add-first-item',
      }
    : undefined

  trackingStore.trackEvent({
    event: ACCOUNT_LIST_VIEWED,
    properties,
  })
})
</script>

<template>
  <nav class="sidebar-item-list">
    <div v-if="isProcessing">
      <SidebarItemPlaceholder v-for="n in 8" :key="n" />
    </div>

    <SidebarItemsNoItems v-else-if="showNoItemsPlaceholder" :active-item-type="activeItemType" />

    <div v-else class="sidebar-items-list-items">
      <SidebarItem
        v-for="itemState in items"
        :key="itemState.item.id"
        :item-state="itemState"
        class="sidebar-item"
      />
    </div>
  </nav>
</template>

<style scoped>
.sidebar-items-list-items {
  @apply flex flex-col gap-1.5;
}

.sidebar-item {
  @apply w-full;
}
</style>
