<script setup lang="ts">
import { storeToRefs } from 'pinia'

import { useItemsStore } from '@core/stores/items'
import { useItemTypeTabs } from '@core/composables/useItemTypeTabs'

const { activeItemType, hasCustomItems } = storeToRefs(useItemsStore())

const { tabs } = useItemTypeTabs(hasCustomItems)
</script>

<template>
  <div class="tab-list">
    <div
      class="tab-item"
      :class="{
        active: !activeItemType,
      }"
    >
      <RouterLink
        :to="{
          name: 'root',
        }"
        class="tab-link"
        >All&nbsp;Items</RouterLink
      >
      <span class="active-indicator" />
    </div>

    <div
      v-for="{ itemType, name } in tabs"
      :key="name"
      class="tab-item"
      :class="{
        active: activeItemType === itemType,
      }"
    >
      <RouterLink
        :to="{
          name: 'items',
          params: {
            type: itemType,
          },
        }"
        class="tab-link"
      >
        {{ name }}
      </RouterLink>
      <span class="active-indicator" />
    </div>
  </div>
</template>

<style>
.tab-list {
  @apply grid grid-flow-col-dense overflow-x-auto bg-white;
}

.tab-item {
  @apply flex flex-col items-center text-center;
}

.tab-link {
  @apply block h-full w-full p-2 py-2.5 text-center text-sm outline-none;
}

.active-indicator {
  @apply h-[0.2rem] w-0 rounded-sm;
}

.tab-item.active .active-indicator {
  @apply w-full bg-indigo text-blue-darkest transition-all duration-500;
}

.tab-item:focus-visible {
  @apply outline-none;
}
</style>
