<script setup>
import { storeToRefs } from 'pinia'
import SidebarItemsList from './SidebarItemsList.vue'
import SidebarItemsFooter from './SidebarItemsFooter.vue'
import SidebarItemsQuickAdd from './SidebarItemsQuickAdd.vue'
import SidebarItemsSearch from './SidebarItemsSearch.vue'
import SidebarItemsTypeTabs from './SidebarItemsTypeTabs.vue'
import SidebarItemsFolderInfo from './SidebarItemsFolderInfo.vue'

import { useItemsStore } from '@core/stores/items'
const { activeFolder } = storeToRefs(useItemsStore())
</script>

<template>
  <div class="sidebar-items-column">
    <div class="sidebar-fixed-top">
      <SidebarItemsSearch class="sidebar-opaque px-6 pt-6" />
      <SidebarItemsTypeTabs class="sidebar-tabs sidebar-opaque px-6" />
      <SidebarItemsFolderInfo v-if="activeFolder" class="sidebar-opaque px-6 pt-3" />
      <div class="sidebar-gradient-top"></div>
    </div>

    <div class="sidebar-items-content px-6">
      <SidebarItemsList />
      <SidebarItemsQuickAdd />
    </div>

    <div class="sidebar-fixed-bottom">
      <div class="sidebar-gradient-bottom"></div>
      <SidebarItemsFooter class="sidebar-opaque px-6 pb-6" />
      <div
        class="border-lg m-6 mt-0 rounded-md border-2 border-indigo bg-indigo-lightest px-2 py-1 text-sm md:hidden"
      >
        <p>
          <strong class="uppercase">Urgent:</strong>
          Tilig shuts down <strong>April 30th, 2023</strong>.
          <a
            target="_blank"
            class="text-indigo underline"
            href="https://www.tilig.com/post/shutdown"
            >Read more</a
          >
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.sidebar-items-column {
  @apply flex flex-col overflow-y-auto;
  /* Fix sticky elements appearing in front of scrollbar on mobile Safari */
  -webkit-transform: translateZ(0);
}

.sidebar-opaque {
  @apply bg-white;
}

.sidebar-tabs {
  @apply 2md:hidden;
}

.sidebar-fixed-top {
  @apply sticky top-0;
}

.sidebar-items-content {
  @apply flex-shrink flex-grow;
}

.sidebar-fixed-bottom {
  @apply sticky bottom-0;
}

.sidebar-gradient-top,
.sidebar-gradient-bottom {
  @apply h-3 w-full from-white;
}

.sidebar-gradient-top {
  @apply bg-gradient-to-b;
}

.sidebar-gradient-bottom {
  @apply bg-gradient-to-t;
}
</style>
