<script setup lang="ts">
import AccountsEmpty from '@/components/accounts/AccountsEmpty.vue'
import AccountsEmptyIllustration from '@/components/accounts/AccountsEmptyIllustration.vue'
import SidebarItemPlaceholder from './items/SidebarItemPlaceholder.vue'

import AirbnbIcon from '@/assets/logos/airbnb.svg?component'
import DisneyIcon from '@/assets/logos/disney.svg?component'
import DropboxIcon from '@/assets/logos/dropbox.svg?component'
import { ItemType } from '@core/stores/items'

const dummyAccountIcons = [AirbnbIcon, DisneyIcon, DropboxIcon]

defineProps<{
  activeItemType: ItemType | null
}>()
</script>

<template>
  <div class="mobile-no-items">
    <AccountsEmptyIllustration class="mobile-illustration" />
    <AccountsEmpty :active-item-type="activeItemType" />
  </div>

  <div class="desktop-no-items">
    <SidebarItemPlaceholder
      v-for="(icon, idx) in dummyAccountIcons"
      :key="idx"
      :is-animated="false"
    >
      <div class="wrapper">
        <component :is="icon" class="icon" />
      </div>
      <template #name>
        <span class="name" />
      </template>
      <template #info>
        <span :class="['info', idx === dummyAccountIcons.length - 1 && 'last-item']" />
      </template>
    </SidebarItemPlaceholder>
  </div>
</template>

<style scoped>
.mobile-illustration {
  @apply h-64;
}

.mobile-no-items {
  /* we need to account for the fixed height of the sidebar search and the navigation tabs */
  @apply flex h-full flex-col items-center pt-7 2md:hidden;
}

.desktop-no-items {
  /* we need to account for the fixed height of the sidebar search */
  @apply hidden 2md:block;
}

.wrapper {
  @apply flex h-8 w-8 items-center justify-center rounded bg-gray-lightest opacity-80;
}

.name {
  @apply mb-[8px] mt-[4px] h-[12px] w-20 rounded-sm bg-gray-lightest opacity-60;
}

.info {
  @apply mb-[4px] h-[12px] w-28 rounded-sm bg-gray-lightest text-xs font-book opacity-60;
}

.last-item {
  @apply w-36 opacity-30;
}
</style>
