<script setup lang="ts">
import { computed } from 'vue'
import { RouterLink } from 'vue-router'
import { storeToRefs } from 'pinia'
import { DownloadIcon } from '@heroicons/vue/outline'

import AddItem from '@core/components/item/AddItem.vue'
import { ItemType, useItemsStore } from '@core/stores/items'

const { isLoading, numberOfItemsForActiveItemType, activeItemType } = storeToRefs(useItemsStore())
const showImportButton = computed(
  () =>
    (!activeItemType.value || activeItemType.value === ItemType.Logins) &&
    numberOfItemsForActiveItemType.value < 6
)
</script>

<template>
  <div class="sidebar-footer">
    <template v-if="!isLoading">
      <AddItem />
      <template v-if="showImportButton">
        <div class="divider">
          <hr class="line" />
          or
          <hr class="line" />
        </div>
        <RouterLink to="/import" class="import-link">
          <DownloadIcon class="import-icon" /> Import logins
        </RouterLink>
      </template>
    </template>
  </div>
</template>

<style scoped>
.sidebar-footer {
  @apply flex flex-col gap-2;
}

.import-icon {
  @apply h-5 w-5;
}

.import-link {
  @apply flex h-12 items-center justify-center gap-2 rounded-lg border-gray bg-white text-sm leading-form shadow hover:bg-gray-lightest;
}

.divider {
  @apply flex items-center justify-center gap-2 text-xs uppercase text-blue-darkest opacity-50;
}

.line {
  @apply w-full border-gray md:w-16;
}
</style>
