<script setup lang="ts">
import { onUnmounted } from 'vue'
import { useRouter } from 'vue-router'

import { useAuthStore } from '@core/stores/auth'
import { useFlagsStore } from '@core/stores/flags'
import { useImportsStore } from './stores/imports'
import { useOnboardingStore } from '@core/stores/onboarding'
import { useOrganizationStore } from '@core/stores/organization'

const router = useRouter()
const authStore = useAuthStore()
const flagsStore = useFlagsStore()
const onboardingStore = useOnboardingStore()
const organizationStore = useOrganizationStore()

authStore.initialize()
flagsStore.start()
onboardingStore.initialize()
organizationStore.initialize()

const subscription = authStore.onSignOut(async () => {
  // These are Option stores and can't subscribe to signOut
  useImportsStore().$reset()
  useOnboardingStore().$reset()

  await router.push({ name: 'login' })
})

onUnmounted(subscription.off)
</script>

<template>
  <router-view></router-view>
</template>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global text selection bg color */
::-moz-selection {
  background: #ecebff;
}
::selection {
  background: #ecebff;
}
</style>
