/**
 This stylesheet is used by both the webapp and browser extension. 
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spoof2';
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/Spoof/Spoof-Medium.woff2') format('woff2'),
    url('./assets/fonts/Spoof/Spoof-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Spoof2';
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/Spoof/Spoof-Bold.woff2') format('woff2'),
    url('./assets/fonts/Spoof/Spoof-Bold.woff') format('woff');
}

/* 
  There is no `book` weight in css, therefore decided to use `Stolzl-Book` 
  as `normal` weight, and `Stolzl-Regular` as ...
*/

@font-face {
  font-family: 'Stolzl2';
  font-weight: 300; /* font-book with Tailwind */
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/Stolzl/Stolzl-Book.otf') format('opentype'),
    url('./assets/fonts/Stolzl/Stolzl-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Stolzl2';
  font-weight: 400; /* font-normal with Tailwind */
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/Stolzl/Stolzl-Regular.otf') format('opentype'),
    url('./assets/fonts/Stolzl/Stolzl-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Stolzl2';
  font-weight: 500; /* font-medium with Tailwind */
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/Stolzl/Stolzl-Medium.otf') format('opentype'),
    url('./assets/fonts/Stolzl/Stolzl-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono';
  font-weight: 400; /* font-mono with Tailwind */
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/SpaceMono/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url('./assets/fonts/RobotoMono/RobotoMono-Medium.ttf') format('truetype');
}

html {
  @apply text-blue-darkest;
}
