<script setup lang="ts">
import Button from '@core/components/Button.vue'

import { PlusCircleIcon } from '@heroicons/vue/solid'
</script>

<template>
  <Button size="small" class="add-extra-info">
    <template #icon>
      <PlusCircleIcon class="h-4 w-4" />
    </template>
    Add a note
  </Button>
</template>

<style scoped>
.button.add-extra-info {
  @apply mb-0 w-max border-0 p-2 py-1 text-indigo shadow-transparent hover:bg-indigo-lightest;
}
</style>
