<script setup lang="ts">
import { computed } from 'vue'

import ItemField from './ItemField.vue'

const props = withDefaults(
  defineProps<{
    value?: string | null
    label?: string
  }>(),
  {
    value: null,
    label: 'Date',
  }
)

const parsedValue = computed(() => {
  if (!props.value) return null

  try {
    return new Date(props.value).toLocaleDateString()
  } catch {
    return props.value
  }
})
</script>

<template>
  <ItemField :label="label" :value="parsedValue" />
</template>
