<script setup lang="ts">
import { Folder } from '@core/clients/tilig'

import FormField from '../FormField.vue'
import FormSelectInput from '../FormSelectInput.vue'

const props = withDefaults(
  defineProps<{ label?: string; modelValue?: Folder | null; folders: Folder[] }>(),
  { label: 'Folder', modelValue: null }
)

const emit = defineEmits<{ (e: 'update:modelValue', value: Folder | null): void }>()

const emitAsModelValue = (id: string | null) => {
  const found = props.folders.find((folder) => folder.id === id)
  emit('update:modelValue', found || null)
}
</script>

<template>
  <FormField
    v-slot="fieldAttrs"
    :label="label"
    :model-value="modelValue?.id || ''"
    @update:model-value="emitAsModelValue($event)"
  >
    <FormSelectInput v-bind="fieldAttrs">
      <option value="">No folder</option>
      <option v-for="folder in folders" :key="folder.id" :value="folder.id">
        {{ folder.name }}
      </option>
    </FormSelectInput>
  </FormField>
</template>
