<script setup lang="ts">
import { computed, ref } from 'vue'

import Button from '@core/components/Button.vue'
import { copyStringToClipboard } from '@core/utils/copyStringToClipboard'
import { randomId } from '@core/utils/randomId'

const props = withDefaults(
  defineProps<{
    id?: string
    label?: string
    labelClass?: string | null
    hideLabel?: boolean
    value: string | null
    valueClass?: string | null
    copyButton?: boolean
    copyButtonClass?: string | null
    orientation?: 'horizontal' | 'vertical'
    copyValue?: string | null
  }>(),
  {
    id: undefined,
    label: '',
    labelClass: null,
    value: null,
    valueClass: null,
    copyButton: true,
    copyButtonClass: null,
    orientation: 'horizontal',
    copyValue: undefined,
  }
)

const emit = defineEmits<{
  (event: 'copy'): void
}>()

const tooltipVisible = ref(false)
const showCopyButton = computed(() => props.value && props.copyButton)

const copy = () => {
  tooltipVisible.value = true
  copyStringToClipboard(props.copyValue ?? props.value ?? '')
  emit('copy')

  setTimeout(() => {
    tooltipVisible.value = false
  }, 1000)
}

const computedId = computed(() => props.id ?? randomId())
const hasValue = computed(() => !!props.value)
</script>

<template>
  <div :class="['container', orientation === 'vertical' && 'container-vertical']">
    <slot v-if="!hideLabel" name="label" v-bind="{ id: computedId, label, labelClass }">
      <label :for="computedId" :class="['label', labelClass]">
        {{ label }}
      </label>
    </slot>

    <div :id="computedId" class="value-row">
      <slot name="beforeValue" />

      <div v-if="showCopyButton" class="tooltip" :class="{ 'tooltip-visible': tooltipVisible }">
        Copied
        <span class="arrow-down" />
      </div>

      <slot v-bind="{ copy, hasValue, value, valueClass }">
        <p v-if="hasValue" :class="['value', valueClass]">{{ value }}</p>
        <p v-else class="empty">&#8212;</p>
      </slot>

      <slot name="afterValue" />

      <slot name="copyButton" :v-bind="{ copy, copyButtonClass, showCopyButton }">
        <Button
          v-if="showCopyButton"
          :class="['copy-button', copyButtonClass]"
          type="button"
          @click.prevent="copy"
          >Copy</Button
        >
      </slot>
    </div>
  </div>
</template>

<style scoped>
.container {
  /* The min height here helps the div not to jump on hover */
  @apply relative grid min-h-[4.7rem] grid-cols-1 items-center gap-4 py-3 md:grid-cols-[10.5rem,minmax(0,1fr)] md:gap-6 md:py-4 lg:gap-12;
}

.container-vertical {
  @apply grid-cols-1 gap-2;
}

.label {
  @apply text-base font-normal leading-form text-blue-darkest opacity-80;
}

.value-row {
  @apply flex w-full items-center justify-between gap-5 text-base font-normal text-blue-darkest;
}

.value {
  @apply flex-1 overflow-hidden overflow-ellipsis;
}

.empty {
  @apply flex-grow text-gray-darkest;
}

.button.copy-button {
  @apply mb-0 select-none border-transparent p-0 text-center text-sm font-normal text-indigo shadow-transparent hover:bg-transparent hover:font-normal hover:text-indigo-dark;
}

.tooltip {
  @apply absolute -top-5 cursor-default rounded-lg bg-indigo p-1.5 px-4 text-sm text-white opacity-0 transition duration-300 ease-out;
}

.tooltip-visible {
  @apply visible opacity-100 transition duration-300 ease-in;
}

.arrow-down {
  @apply absolute -bottom-[7px] left-4 h-0 w-0 border-x-[7px] border-t-[7px] border-t-indigo outline-none;
}
</style>
