<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { Template } from '@core/clients/tilig'
import { useFoldersStore } from '@core/stores/folders'
import { useAddItemStore } from '@core/stores/addItem'

import Button from '@core/components/Button.vue'
import FolderSelectField from './FolderSelectField.vue'
import { useItemsStore } from '@core/stores/items'

const props = defineProps<{
  disabled: boolean
  loading: boolean
  template: Template
}>()

const emit = defineEmits<{
  (event: 'create-item', template: Template): void
}>()

const { folders } = storeToRefs(useFoldersStore())
const { newItem } = storeToRefs(useAddItemStore())
const { activeFolder } = storeToRefs(useItemsStore())

// Default the item's folder to the currently active folder
newItem.value.item.folder = activeFolder.value

const submitForm = () => {
  emit('create-item', props.template)
}
</script>

<template>
  <form class="add-item" @submit.prevent="submitForm">
    <slot></slot>

    <template v-if="folders.length">
      <FolderSelectField v-model="newItem.item.folder" :folders="folders" orientation="vertical" />
    </template>

    <Button
      :loading="loading"
      class="submit-button"
      button-style="primary"
      type="submit"
      :disabled="disabled"
      >Save</Button
    >
  </form>
</template>

<style scoped>
.add-item {
  @apply flex flex-col gap-3 pt-3;
}

.submit-button {
  @apply mt-2 justify-center;
}
</style>
