<script setup lang="ts">
import { computed } from 'vue'
import { DecryptedItem } from '@core/clients/tilig'
import { ExclamationCircleIcon } from '@heroicons/vue/outline'

import DateField from '@core/components/item/DateField.vue'
import ItemField from '@core/components/item/ItemField.vue'
import PasswordField from '@core/components/item/PasswordField.vue'
import TwoFactorField from '@core/components/item/TwoFactorField.vue'

const props = defineProps<{
  item: DecryptedItem
}>()

const componentForKind = (kind: string) => {
  switch (kind) {
    case 'date':
      return DateField
    case 'password':
    case 'secret':
      return PasswordField
    case 'totp':
      return TwoFactorField
    default:
      return ItemField
  }
}

const filledFields = computed(() => props.item.details.custom_fields.filter(({ value }) => !!value))
</script>

<template>
  <component
    :is="componentForKind(field.kind)"
    v-for="(field, index) in filledFields"
    :key="index"
    :label="field.name"
    :label-class="field.name === 'Original filename' ? 'file-warning-label' : undefined"
    :value="field.value"
  >
    <template v-if="field.name === 'Original filename'" #default>
      <div class="file-warning-container">
        <p class="file-warning-name">{{ field.value }}</p>
        <p class="file-warning">
          <ExclamationCircleIcon class="file-warning-icon" />
          Files not supported. Check your export file for this item.
        </p>
      </div>
    </template>
  </component>
</template>

<style scoped>
:deep(.file-warning-label) {
  @apply self-start;
}

.file-warning-container {
  @apply min-w-0 flex-1;
}

.file-warning-name {
  @apply break-words;
}

.file-warning {
  @apply rounded bg-gray-lightest p-1 text-xs text-gray-darkest;
}

.file-warning-icon {
  @apply inline-block w-4;
}
</style>
