<script setup lang="ts">
import { computed, ref } from 'vue'
import { TrashIcon } from '@heroicons/vue/outline'

import Button from '@core/components/Button.vue'
import Modal from '@core/components/Modal.vue'

import { Template } from '@core/clients/tilig/item'
import { getTemplateLabel } from '@core/utils/templateLabel'

const emit = defineEmits<{
  (event: 'cancel'): void
  (event: 'delete'): void
  (event: 'save'): void
}>()

const props = defineProps<{
  itemName?: string | null
  deleting: boolean
  template?: Template | null
  saving: boolean
  dirty: boolean
  invalid: boolean
}>()

const showDeleteDialog = ref(false)

const accountType = computed(() => props.template && getTemplateLabel(props.template))
const shouldDisableSaveButton = computed(() => props.saving || !props.dirty || props.invalid)

const deleteItem = () => {
  emit('delete')
}

const save = () => {
  emit('save')
}

const cancel = () => {
  emit('cancel')
}
</script>

<template>
  <section class="form-controls">
    <Button class="plain delete" @click="showDeleteDialog = true">Delete</Button>

    <div class="edit-controls">
      <Button
        :disabled="saving"
        class="plain"
        type="button"
        data-testid="cancel-edit"
        @click="cancel"
        >Cancel</Button
      >
      <Button
        :disabled="shouldDisableSaveButton"
        class="normal"
        :loading="saving"
        button-style="primary"
        type="button"
        @click.prevent="save"
        >Save</Button
      >
    </div>

    <Teleport to="body">
      <Modal :open="showDeleteDialog" @close-modal="showDeleteDialog = false">
        <div class="delete-item">
          <TrashIcon class="delete-item-icon" />

          <h3 class="delete-title">Remove this {{ accountType }} forever?</h3>

          <p class="delete-body">
            Are you sure you want to remove "{{ itemName }}" from Tilig? This cannot be undone
          </p>

          <Button
            :loading="deleting"
            size="large"
            data-testid="confirm-delete"
            class="confirm-delete"
            @click="deleteItem"
          >
            Yes, remove forever!
          </Button>
          <Button
            type="button"
            :disabled="deleting"
            size="large"
            class="cancel-delete"
            data-testid="cancel-delete"
            @click="showDeleteDialog = false"
            >Cancel</Button
          >
        </div>
      </Modal>
    </Teleport>
  </section>
</template>

<style scoped>
.button.normal {
  @apply rounded-lg border border-gray-light p-2 px-5 text-white shadow-transparent;
}
.button.plain {
  @apply h-10 border border-blue-darkest bg-transparent capitalize text-blue-darkest shadow-transparent  hover:cursor-pointer hover:border-blue-darkest hover:bg-gray-lightest hover:shadow;
}
.form-controls {
  @apply relative mb-2 mt-6 flex justify-between;
}

.delete-item {
  @apply flex w-[calc(100vw-2rem)] flex-col items-center justify-center p-9 md:max-w-[30rem];
}
.edit-controls {
  @apply flex items-center gap-2;
}

.button.delete {
  @apply border-pink bg-white text-pink hover:border-pink-dark hover:text-pink-dark;
}

.delete-item-icon {
  @apply mb-4 h-10 w-10 text-pink;
}

.delete-title {
  @apply mb-2 text-center text-lg font-medium md:text-xl;
}

.delete-body {
  @apply mb-6 text-center text-sm font-book text-blue-lightest md:text-base;
}

.button.confirm-delete {
  @apply mb-2 flex w-full justify-center rounded-lg border-0 bg-pink py-3.5 text-sm text-white hover:bg-pink-dark md:text-sm;
}

.button.cancel-delete {
  @apply flex w-full justify-center rounded-lg bg-white py-3 text-center text-sm text-blue-darkest shadow-transparent hover:bg-gray-lightest;
}
</style>
