<script setup lang="ts">
import { toRefs } from 'vue'
import { DecryptedItem } from '@core/clients/tilig'

import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import {
  CalendarIcon,
  ClockIcon,
  EyeOffIcon,
  LockOpenIcon,
  PencilAltIcon,
  PlusCircleIcon,
  TrashIcon,
} from '@heroicons/vue/solid'

import FormField from '@core/components/FormField.vue'
import DateFormField from '@core/components/DateFormField.vue'
import PasswordFormField from '@core/components/PasswordFormField.vue'
import FormInput from '@core/components/FormInput.vue'
import Button from '@core/components/Button.vue'

const props = defineProps<{
  item: DecryptedItem
}>()

const { item } = toRefs(props)

// const emits = defineEmits<{
//   (e: 'updateCustomField', index: number, value: string | null): void
//   (e: 'deleteCustomField', index: number): void
// }>()

const componentForKind = (kind: string) => {
  switch (kind) {
    case 'date':
      return DateFormField
    case 'password':
    case 'secret':
      return PasswordFormField
    default:
      return FormField
  }
}

const placeholderForKind = (kind: string) => {
  switch (kind) {
    case 'totp':
      return 'Enter 2FA code'
    default:
      return `Enter ${kind}`
  }
}
const showGeneratePasswordButton = (kind: string) => kind === 'password'

const removeCustomField = (index: number) => {
  // FIXME: This modifies the prop directly
  item.value.details.custom_fields.splice(index, 1)
}

const addCustomField = (kind: string) => {
  // FIXME: This modifies the prop directly
  let name: string
  if (kind === 'totp') {
    name = '2FA Code'
  } else {
    name = `${kind.slice(0, 1).toLocaleUpperCase()}${kind.slice(1)}`
  }
  const existingOfKind = item.value.details.custom_fields.filter(({ kind: k }) => kind === k).length
  item.value.details.custom_fields.push({
    kind,
    name: `${name} ${existingOfKind + 1}`,
    value: null,
  })
}
</script>

<template>
  <component
    :is="componentForKind(field.kind)"
    v-for="(field, index) in item.details.custom_fields"
    :key="index"
    :label="field.name"
    :placeholder="placeholderForKind(field.kind)"
    :model-value="field.value"
    :show-generate-password-button="showGeneratePasswordButton(field.kind)"
    @update:model-value="field.value = $event"
  >
    <template #label>
      <FormInput v-model="field.name" class="w-min-0 w-full" />
    </template>

    <template #afterValue>
      <Button button-style="ghost" @click="removeCustomField(index)">
        <TrashIcon class="edit-custom-fields-remove-icon" />
        <span class="sr-only">Remove this field</span>
      </Button>
    </template>
  </component>

  <div class="relative flex justify-center pt-3">
    <Menu>
      <MenuButton>
        <Button>
          <template #icon>
            <PlusCircleIcon class="w-5" aria-hidden="true" />
            <!-- <XIcon class="plus-icon" aria-hidden="true" /> -->
          </template>
          Add field
        </Button>
      </MenuButton>

      <MenuItems
        class="absolute bottom-16 flex w-60 flex-col gap-3 rounded-md bg-white p-6 shadow-lg"
      >
        <MenuItem>
          <Button @click="addCustomField('text')">
            <template #icon><PencilAltIcon class="w-5" /></template>
            Text
          </Button>
        </MenuItem>
        <MenuItem>
          <Button @click="addCustomField('password')">
            <template #icon><LockOpenIcon class="w-5" /></template>
            Password
          </Button>
        </MenuItem>
        <MenuItem>
          <Button @click="addCustomField('secret')">
            <template #icon><EyeOffIcon class="w-5" /></template>
            Secret
          </Button>
        </MenuItem>
        <MenuItem>
          <Button @click="addCustomField('totp')">
            <template #icon><ClockIcon class="w-5" /></template>
            2FA Code
          </Button>
        </MenuItem>
        <MenuItem>
          <Button @click="addCustomField('date')">
            <template #icon><CalendarIcon class="w-5" /></template>
            Date
          </Button>
        </MenuItem>
      </MenuItems>
    </Menu>
  </div>
</template>

<style scoped>
.edit-custom-fields-remove-icon {
  @apply h-5 w-5 text-pink;
}
</style>
