<script setup lang="ts">
import Button from '@core/components/Button.vue'

defineProps<{ copyButton?: boolean }>()

const emit = defineEmits<{
  (e: 'copyJson'): void
  (e: 'edit'): void
}>()
</script>

<template>
  <div class="form-controls">
    <Button v-if="copyButton" class="plain" @click="emit('copyJson')">Copy Json</Button>
    <Button class="plain" @click="emit('edit')">Edit</Button>
  </div>
</template>

<style scoped>
.form-controls {
  @apply relative flex justify-end gap-2;
}
.plain {
  @apply flex h-10 w-20 min-w-fit place-content-center border border-blue-darkest bg-transparent capitalize text-blue-darkest  shadow-transparent hover:cursor-pointer hover:border-blue-darkest hover:bg-gray-lightest hover:shadow;
}
</style>
