<script setup lang="ts">
import { DecryptedItem } from '@core/clients/tilig'
import ItemCustomFields from './ItemCustomFields.vue'

defineProps<{
  item: DecryptedItem
}>()
</script>

<template>
  <section class="item-details">
    <slot />

    <slot v-bind="{ item }" name="custom-fields">
      <ItemCustomFields v-if="item.details.custom_fields.length" :item="item" />
    </slot>
  </section>
</template>

<style scoped>
.item-details {
  @apply min-h-[8rem] divide-y divide-gray-light rounded-lg bg-white p-5 md:px-8 md:py-0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
</style>
