<script setup lang="ts">
import { computed, type Component } from 'vue'

import LoginItemEditForm from '@core/components/item/login/LoginItemEditForm.vue'
import SecureNoteEditForm from '@core/components/item/securenote/SecureNoteForm.vue'
import WifiItemEditForm from '@core/components/item/wifi/WifiItemEditForm.vue'
import CreditCardEditForm from '@core/components/item/creditcard/CreditCardEditForm.vue'
import CustomItemEditForm from '@core/components/item/custom/CustomItemEditForm.vue'
import FolderSelectField from './FolderSelectField.vue'

import { DecryptedItem } from '@core/clients/tilig'
import { Folder, Template } from '@core/clients/tilig/item'
import ItemEditCustomFields from '@core/components/item/ItemEditCustomFields.vue'

const props = defineProps<{
  item: DecryptedItem
  dirty: boolean
  saving: boolean
  invalid: boolean
  maxLoginValueLength?: number | null
  folders?: Folder[]
}>()

const componentMap = new Map<Template, Component>([
  [Template.Login, LoginItemEditForm],
  [Template.SecureNote, SecureNoteEditForm],
  [Template.WiFi, WifiItemEditForm],
  [Template.CreditCard, CreditCardEditForm],
  [Template.Custom, CustomItemEditForm],
])

const component = computed(
  () => props.item.item.template && componentMap.get(props.item.item.template)
)
</script>

<template>
  <form class="item-form-container" autocomplete="off">
    <section class="item-fields">
      <component
        :is="component"
        :item="item"
        :saving="saving"
        :max-login-value-length="maxLoginValueLength"
      />
      <!-- eslint-disable-next-line vue/no-mutating-props -->
      <FolderSelectField v-if="folders?.length" v-model="item.item.folder" :folders="folders" />
      <ItemEditCustomFields :item="item" />
    </section>
  </form>
</template>

<style scoped>
.item-fields {
  @apply relative rounded-lg bg-white px-5 py-2 pb-4 shadow-xs md:divide-y md:divide-gray-light
  md:px-8;
}
</style>
