<script setup lang="ts">
import ItemField from './ItemField.vue'

withDefaults(
  defineProps<{
    value?: string | null
    label?: string
  }>(),
  {
    value: null,
    label: 'Notes',
  }
)
</script>

<template>
  <ItemField
    :label="label"
    label-class="notes-align-top"
    :value="value"
    value-class="notes-value notes-align-top"
    copy-button-class="notes-align-top"
  />
</template>

<style scoped>
:deep(.notes-value) {
  @apply whitespace-pre-wrap font-book;
}

:deep(.notes-align-top) {
  @apply self-start md:my-3;
}
</style>
