<script setup lang="ts">
import { computed, ref } from 'vue'

import { useTrackingStore } from '@core/stores/tracking'
import { PASSWORD_REVEALED } from '@core/utils/trackingConstants'

import { EyeOffIcon, EyeIcon } from '@heroicons/vue/solid'
import ItemField from './ItemField.vue'

const props = withDefaults(
  defineProps<{
    label?: string
    value?: string | null
    maskedValue?: string | null
    disableTrackReveal?: boolean
  }>(),
  {
    label: 'Password',
    value: null,
    maskedValue: null,
  }
)

const { trackEvent } = useTrackingStore()

const isVisible = ref(false)
const valueToShow = computed(() => {
  // when we are not in edit mode - ******
  // when we are in edit mode but no focus - *****
  // when there is focus or isVisible
  if (isVisible.value) return props.value

  if (props.maskedValue !== null) return props.maskedValue

  // replace the password with asterisks(*) so that the browser wouldn't be able to see it as a password value
  return props.value ? '*'.repeat(props.value.toLocaleString().length) : props.value
})

const hide = () => {
  isVisible.value = false
}

const show = () => {
  isVisible.value = true
  if (!props.disableTrackReveal) {
    trackEvent({ event: PASSWORD_REVEALED })
  }
}

const toggleVisbility = () => {
  if (isVisible.value) {
    hide()
  } else {
    show()
  }
}

const valueClass = computed(() => {
  if (!isVisible.value && props.value && !props.maskedValue) {
    return 'password-hidden'
  }

  return null
})
</script>

<template>
  <ItemField :label="label" :value="valueToShow" :value-class="valueClass" :copy-value="value">
    <template #afterValue>
      <component
        :is="isVisible ? EyeOffIcon : EyeIcon"
        v-if="value"
        class="visibility-toggle"
        @click.prevent.stop="toggleVisbility"
      />
    </template>
  </ItemField>
</template>

<style scoped>
.visibility-toggle {
  @apply h-5 w-5 shrink-0 grow-0 cursor-pointer select-none border-transparent bg-transparent p-0 text-indigo hover:text-indigo-dark;
}

/* 
  Makes a text input look like a password input. 
  Note: doesn't work well in Firefox.
*/
:deep(.password-hidden) {
  -webkit-text-security: disc;
}
</style>
