<script setup lang="ts">
import { computed } from 'vue'

import { useTotp } from '@core/composables/useTotp'

import ItemField from './ItemField.vue'
import Totp from '../totp/Totp.vue'
import CircleCountdown from '../totp/CircleCountdown.vue'

const props = withDefaults(
  defineProps<{
    copyButton?: boolean
    label?: string
    // For simplicity, we support both modelValue and value props
    modelValue?: string | null
    value?: string | null
  }>(),
  {
    copyButton: true,
    label: '2FA',
    modelValue: null,
    value: null,
  }
)

const value = computed(() => props.modelValue || props.value)
const { code, remainingSeconds } = useTotp(value)
</script>

<template>
  <ItemField :label="label" :value="code" :copy-button="copyButton">
    <Totp :code="code" />
    <CircleCountdown :count="remainingSeconds" :max-count="30" />
  </ItemField>
</template>
