<script setup lang="ts">
import { computed, ref } from 'vue'
import { storeToRefs } from 'pinia'

import { createLogger } from '@core/utils/logger'
import { parseDomain } from '@core/utils/domainUtils'
import { DecryptedDetails, DecryptedOverview, Template, findInMain } from '@core/clients/tilig'
import { createItem, updateItem } from '@/background/messageApis/accounts'
import { deleteDomainState } from '@/background/messageApis/draftAccounts'
import { getParentTab } from '@/background/messageApis/tab'
import { sendSuggestion } from '@/background/messageApis/acceptSuggestion'
import { fillOnTab } from '@/background/fillUtils'
import { closeCredentialModal } from '@/content-scripts/messageApis/onUpdateCredentialMessage'
import { useCredentialsStore } from '../store'

import ItemIcon from '@core/components/icons/ItemIcon.vue'
import MenuBar from '@/ui/components/MenuBar.vue'
import LoginForm from '@/ui/components/Items/LoginForm.vue'

const logger = createLogger('ext:ModalPage')

const credentialsStore = useCredentialsStore()
const { brand, currentItem, synced, existingItems } = storeToRefs(credentialsStore)

const selectedItem = computed({
  get() {
    return currentItem.value.item.id
  },
  set(id) {
    credentialsStore.changeCurrentSelection(id)
  },
})

const isSaving = ref(false)
const completed = ref(false)

const name = computed(() => {
  return currentItem.value.overview.name
})

const brandColor = computed((): string => {
  if (brand.value) {
    return brand.value.main_color_hex || ''
  }
  return ''
})

const saveButtonEnabled = computed(() => {
  if (isSaving.value || completed.value) {
    return false
  }
  return true
})

const saveButtonText = computed(() => {
  if (isSaving.value && !completed.value) {
    return 'Saving...'
  }
  if (completed.value) {
    return 'Saved'
  }
  if (credentialsStore.isNewItem) {
    return 'Save on Tilig'
  }
  return 'Update'
})

const onCancel = async () => {
  closeCredentialModal()
}

const onChange = async (_overview: DecryptedOverview, details: DecryptedDetails) => {
  credentialsStore.updatePassword(findInMain(details, 'password'))
}

const onNewItemClick = () => {
  credentialsStore.changeCurrentSelection(null)
}

const onUpdateItemClick = () => {
  // Select the first item by default
  if (existingItems.value.length > 0) {
    const firstId = existingItems.value[0].item.id
    credentialsStore.changeCurrentSelection(firstId)
    selectedItem.value = firstId
  } else {
    credentialsStore.changeCurrentSelection(null)
  }
}

const onSave = async (overview: DecryptedOverview, details: DecryptedDetails) => {
  isSaving.value = true
  // Save record
  try {
    let saved = false
    if (credentialsStore.currentItem.item.id) {
      // Update the record
      saved = await updateItem(credentialsStore.currentItem.item.id, overview, details)
    } else {
      saved = !!(await createItem(Template.Login, overview, details))
    }
    await deleteDomainState()
    if (saved) {
      const password = findInMain(details, 'password')
      const username = findInMain(details, 'username')
      // Get domain from the active tab.
      // Another approach would be parseDomain(overview.urls.length ? overview.urls[0].url : null)
      // but that means it won't autofill if the user changes the domain in the modal.
      // (not sure why somebody would, but you never know...)
      const tab = await getParentTab()
      const domain = tab?.url ? parseDomain(tab?.url) : null
      if (tab && domain) {
        fillOnTab(tab, {
          username,
          domain: domain,
          trigger: 'Credentials Modal save',
          userInitiated: true,
        })
        sendSuggestion({
          inputType: 'password',
          suggestion: password || '',
          domain: domain,
        })
      }
      setTimeout(() => {
        closeCredentialModal()
      }, 500)
      isSaving.value = false
      // Changes the button to "Saved!"
      completed.value = true
    }
  } catch (error) {
    isSaving.value = false
    completed.value = false
    logger.error('Unable to create item', error)
  }
}
</script>

<template>
  <div v-if="synced" class="modal">
    <div class="menu-bar-container">
      <MenuBar
        class="menu-bar"
        :primary-title="name"
        :has-back-button="false"
        :brand-color="brandColor"
        :is-item-view="true"
      >
        <ItemIcon :brand="brand" class="item-icon" />
      </MenuBar>
    </div>
    <div v-if="existingItems.length" class="update-or-create">
      <nav class="create-or-update-menu">
        <a
          href="#"
          :class="`create-or-update-button create ${credentialsStore.isNewItem ? `active` : ``}`"
          @click.prevent="onNewItemClick"
          >Store as new</a
        >
        <a
          href="#"
          :class="`create-or-update-button update ${!credentialsStore.isNewItem ? `active` : ``}`"
          @click.prevent="onUpdateItemClick"
          >Update existing</a
        >
      </nav>
    </div>
    <div class="form-container">
      <div
        v-if="!credentialsStore.isNewItem && existingItems.length > 1"
        class="item-to-update-card"
      >
        <h3 class="item-to-update-card-title">Item to be updated</h3>
        <select v-model="selectedItem" class="item-to-update-select">
          <option
            v-for="existingItem in existingItems"
            :key="existingItem.item.id"
            :value="existingItem.item.id"
          >
            {{ existingItem.overview?.name }} - {{ existingItem.overview?.info }}
          </option>
        </select>
      </div>

      <LoginForm
        :decrypted-item="currentItem"
        :hide-notes="true"
        :is-saving="isSaving"
        :save-button-text="saveButtonText"
        :save-button-enabled="saveButtonEnabled"
        @save="onSave"
        @cancel="onCancel"
        @change="onChange"
      />
    </div>
  </div>
</template>

<style scoped>
.menu-bar {
  @apply h-36;
}
.form-container {
  @apply bg-gray-lightest px-4 py-4;
}

.saved-flash {
  padding: 1em;
  text-align: center;
}

.create-or-update-menu {
  @apply flex items-center justify-center;
}

.create-or-update-button {
  @apply flex-grow px-4 py-3 text-center;
}

.create-or-update-button:not(.active) {
  @apply bg-gray-light text-gray-darkest hover:text-indigo;
}

.create-or-update-button.active {
  @apply text-indigo;
}

.create-or-update-button.update {
  @apply border-l border-gray;
}

.item-to-update-card {
  @apply mb-3 w-full rounded-lg border-solid border-gray bg-white p-4;
}

.item-to-update-card-title {
  /* @apply relative mt-2 w-full; */
  @apply mb-[7px] text-xs text-blue-light;
}

.item-to-update-select {
  @apply w-full rounded border-gray;
}
</style>
