<script setup lang="ts">
import { toRefs } from 'vue'

import NotesFormField from '@core/components/NotesFormField.vue'

import { useLoginForm } from '@core/composables/forms'
import { DecryptedItem } from '@core/clients/tilig'

const props = defineProps<{
  item: DecryptedItem
  saving: boolean
}>()

const { item } = toRefs(props)
const { notes } = useLoginForm(item)
</script>

<template>
  <NotesFormField v-model="notes" />
</template>
