<script setup lang="ts">
import { toRefs } from 'vue'

import { DecryptedItem } from '@core/clients/tilig'
import { useLoginForm } from '@core/composables/forms'
import { useTrackingStore } from '@core/stores/tracking'
import { TrackingEvent } from '@core/utils/trackingConstants'

import ItemDetailsWrapper from '@core/components/item/ItemDetailsWrapper.vue'
import NotesField from '@core/components/item/NotesField.vue'

const props = defineProps<{
  item: DecryptedItem
}>()

const { item } = toRefs(props)
const { notes } = useLoginForm(item)
const { trackEvent } = useTrackingStore()

trackEvent({
  event: TrackingEvent.CUSTOM_ITEM_VIEWED,
})
</script>

<template>
  <ItemDetailsWrapper :item="item">
    <NotesField :value="notes" />
  </ItemDetailsWrapper>
</template>
