<script setup lang="ts">
import Button from '@core/components/Button.vue'
import ExportContainer from './ExportContainer.vue'

import backArrow from '@/assets/icon-arrow.svg?url'
import dashlaneLogo from '@/assets/logos/dashlane-logo.png?url'
import dashlaneGif1 from '@/assets/export-dashlane-1.gif?url'
import dashlaneGif2 from '@/assets/export-dashlane-2.gif?url'

import { useGenerateCSV, CSVExportFormat } from '@/composables/useGenerateCSV'
import { useNavigateBack } from '@/composables/useNavigateBack'

const { navigateBack } = useNavigateBack()
const { generatingCSV, downloadCSV } = useGenerateCSV()

const download = () => {
  downloadCSV(CSVExportFormat.DashLane)
}
</script>

<template>
  <ExportContainer>
    <div class="section">
      <div class="heading">
        <img :src="backArrow" alt="icon-arrow-back" class="back-arrow" @click="navigateBack" />
        <h1 class="main-heading">
          Export Passwords to
          <img :src="dashlaneLogo" alt="" class="manager-logo" />
        </h1>
      </div>

      <p class="sub-heading">Follow these steps to move all your Tilig passwords to Dashlane:</p>

      <div class="step">
        <div class="step-number">1.</div>
        <div class="step-content">
          <img :srcset="dashlaneGif1" alt="" class="step-image" />
          <p class="step-text">Open the Dashlane web app from the browser.</p>
        </div>
      </div>
      <div class="step">
        <div class="step-number">2.</div>
        <div class="step-content">
          <img :srcset="`${dashlaneGif2} 2x`" alt="" />
          <p>From the <i>My Account</i> menu, select <i>Import passwords</i></p>
        </div>
      </div>

      <div class="step">
        <div class="step-number">3.</div>
        <div class="step-content">
          <p>Download your Tilig passwords:</p>

          <Button :loading="generatingCSV" @click="download"> Download Export for Dashlane</Button>
        </div>
      </div>
    </div>
  </ExportContainer>
</template>

<style scoped>
.heading {
  @apply flex items-center gap-8;
}

.back-arrow {
  @apply cursor-pointer;
}

.main-heading {
  @apply text-3xl font-book text-blue-darkest;
}

.manager-logo {
  @apply inline-block h-[30px] align-middle;
}

.step {
  @apply mb-20 grid w-full grid-cols-[50px,1fr] gap-4;
}

.step-text {
  @apply mx-0 my-4;
}

.step-image {
  @apply rounded-md;
}

.section {
  @apply max-w-[720px] font-book;
}

.sub-heading {
  @apply mx-0 my-4 font-book;
}

.step-number {
  @apply border-r-2 border-gray-light text-[2rem];
}

.step-content {
  @apply px-[1em] py-0;
}

.note {
  @apply rounded-[5px] p-[1em] font-bold;
}
</style>
