<script setup lang="ts">
import Button from '@core/components/Button.vue'
import ExportContainer from './ExportContainer.vue'

import backArrow from '@/assets/icon-arrow.svg?url'
import onepasswordLogo from '@/assets/logos/1password-logo.png?url'
import onePasswordGif1 from '@/assets/export-1password-2.png?url'
import onePasswordGif2 from '@/assets/export-1password-3.gif?url'
import onePasswordGif3 from '@/assets/export-1password-5.gif?url'
import onePasswordGif4 from '@/assets/export-1password-6.gif?url'
import onePasswordGif5 from '@/assets/export-1password-7.gif?url'

import { useGenerateCSV, CSVExportFormat } from '@/composables/useGenerateCSV'
import { useNavigateBack } from '@/composables/useNavigateBack'

const { navigateBack } = useNavigateBack()
const { generatingCSV, downloadCSV } = useGenerateCSV()

const download = () => {
  downloadCSV(CSVExportFormat.OnePassword)
}
</script>

<template>
  <ExportContainer>
    <div class="heading">
      <img :src="backArrow" alt="icon-arrow-back" class="back-arrow" @click="navigateBack" />

      <h1 class="main-heading">
        Export Passwords to
        <img :src="onepasswordLogo" alt="" class="manager-logo" />
      </h1>
    </div>

    <p class="sub-heading">Follow these steps to move all your Tilig passwords to 1Password:</p>

    <div class="step">
      <div class="step-number">1.</div>
      <div class="step-content">
        <p>
          Navigate to
          <a href="https://start.1password.com/signin" target="_blank"
            >https://start.1password.com/signin</a
          >
          and sign in to the account you wish to import your accounts in.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">2.</div>
      <div class="step-content">
        <p>After signing in, select <i>import</i> from the top-right corner menu:</p>

        <img :srcset="`${onePasswordGif1} 2x`" alt="" />
      </div>
    </div>

    <div class="step">
      <div class="step-number">3.</div>
      <div class="step-content">
        <p>Select <i>Other</i> from the "Where is your data coming from?" menu:</p>

        <img :srcset="`${onePasswordGif2} 2x`" alt="" />
      </div>
    </div>

    <div class="step">
      <div class="step-number">4.</div>
      <div class="step-content">
        <p>Download your Tilig passwords:</p>

        <Button :loading="generatingCSV" @click="download">Download Export for 1Password</Button>
      </div>
    </div>

    <div class="step">
      <div class="step-number">5.</div>
      <div class="step-content">
        <p>Drag the downloaded CSV into the 1Password import wizard:</p>

        <img :srcset="`${onePasswordGif3} 2x`" alt="" />
      </div>
    </div>

    <div class="step">
      <div class="step-number">6.</div>
      <div class="step-content">
        <p>Continue to the next step:</p>
        <img :srcset="`${onePasswordGif4} 2x`" alt="" />
      </div>
    </div>

    <div class="step">
      <div class="step-number">7.</div>
      <div class="step-content">
        <p>
          Select each of the respective fields so that 1Password understands where you want to put
          things:
        </p>
        <img :srcset="`${onePasswordGif5} 2x`" alt="" />

        <p class="note">
          NOTE: If you don't have any 2-Factor authentication tokens stored in Tilig, the complete
          field will be ignored by the 1Password import-tool, so take a good look and see whether
          the fields are correctly marked.
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">8.</div>
      <div class="step-content">
        <p>
          You are done! You can now start using 1Password. Make sure you delete the CSV file with
          your passwords from your hard drive!
        </p>
      </div>
    </div>
  </ExportContainer>
</template>

<style scoped>
.heading {
  @apply flex w-full items-center gap-8;
}

.back-arrow {
  @apply cursor-pointer;
}

.main-heading {
  @apply text-3xl font-book text-blue-darkest;
}

.manager-logo {
  @apply inline-block h-[30px] align-middle;
}

.step {
  @apply mb-20 grid w-full grid-cols-[50px,1fr] gap-4;
}

.step-text {
  @apply mx-0 my-4;
}

.step-image {
  @apply rounded-md;
}

.sub-heading {
  @apply mx-0 my-4 font-book;
}

.step-number {
  @apply border-r-2 border-gray-light text-[2rem];
}

.step-content {
  @apply px-[1em] py-0;
}

.note {
  @apply rounded-[5px] p-[1em] font-bold;
}
</style>
