<script setup lang="ts">
import Button from '@core/components/Button.vue'
import ExportContainer from './ExportContainer.vue'

import backArrow from '@/assets/icon-arrow.svg?url'
import lastPassLogo from '@/assets/logos/lastpass-logo.png?url'
import lastPassGif1 from '@/assets/export-lastpass-1.gif?url'
import lastPassGif3 from '@/assets/export-lastpass-3.gif?url'

import { useGenerateCSV, CSVExportFormat } from '@/composables/useGenerateCSV'
import { useNavigateBack } from '@/composables/useNavigateBack'

const { navigateBack } = useNavigateBack()
const { generatingCSV, downloadCSV } = useGenerateCSV()

const download = () => {
  downloadCSV(CSVExportFormat.LastPass)
}
</script>

<template>
  <ExportContainer>
    <div class="heading">
      <img :src="backArrow" alt="icon-arrow-back" class="back-arrow" @click="navigateBack" />

      <h1 class="main-heading">
        Export Passwords to
        <img :src="lastPassLogo" alt="" class="manager-logo" />
      </h1>
    </div>

    <p class="sub-heading">Follow these steps to move all your Tilig passwords to LastPass:</p>

    <div class="step">
      <div class="step-number">1.</div>
      <div class="step-content">
        <img :srcset="lastPassGif1" alt="" />
        <p>
          Open your LastPass vault from the browser and select
          <i>import</i> from the <i>Advanced Options</i> menu.
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">2.</div>
      <div class="step-content">
        <p>Download your Tilig passwords:</p>

        <Button :loading="generatingCSV" @click="download">Download Export for LastPass</Button>
      </div>
    </div>
    <div class="step">
      <div class="step-number">3.</div>
      <div class="step-content">
        <img :srcset="`${lastPassGif3} 2x`" alt="" />
        <p>Select <i>Generic CSV file</i> and upload the CSV file.</p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">4.</div>
      <div class="step-content">
        <p>
          Review whether the accounts are correctly imported and click
          <i>IMPORT ALL</i>. When the import is successful make sure you delete the CSV file with
          the passwords from your computer.
        </p>
      </div>
    </div>
  </ExportContainer>
</template>

<style scoped>
.heading {
  @apply flex w-full items-center gap-8;
}

.back-arrow {
  @apply cursor-pointer;
}

.main-heading {
  @apply text-3xl font-book text-blue-darkest;
}

.manager-logo {
  @apply inline-block h-[30px] align-middle;
}

.step {
  @apply mb-20 grid w-full grid-cols-[50px,1fr] gap-4;
}

.step-text {
  @apply mx-0 my-4;
}

.step-image {
  @apply rounded-md;
}

.sub-heading {
  @apply mx-0 my-4 font-book;
}

.step-number {
  @apply border-r-2 border-gray-light text-[2rem];
}

.step-content {
  @apply px-[1em] py-0;
}

.note {
  @apply rounded-[5px] p-[1em] font-bold;
}
</style>
