<template>
  <div class="export-container">
    <slot></slot>
  </div>
</template>

<style scoped>
.export-container {
  @apply m-5 flex max-w-[45rem] flex-col items-center font-book  lg:mx-auto;
}
</style>
