<script setup lang="ts">
import Button from '@core/components/Button.vue'
import ExportContainer from './ExportContainer.vue'

import backArrow from '@/assets/icon-arrow.svg?url'
import keeperLogo from '@/assets/logos/keeper-logo.png?url'
import keeperGif1 from '@/assets/export-keeper-4.gif?url'

import { useGenerateCSV, CSVExportFormat } from '@/composables/useGenerateCSV'
import { useNavigateBack } from '@/composables/useNavigateBack'

const { navigateBack } = useNavigateBack()
const { generatingCSV, downloadCSV } = useGenerateCSV()

const download = () => {
  downloadCSV(CSVExportFormat.Keeper)
}
</script>

<template>
  <ExportContainer>
    <div class="heading">
      <img :src="backArrow" alt="icon-arrow-back" class="back-arrow" @click="navigateBack" />

      <h1 class="main-heading">
        Export Passwords to
        <img :src="keeperLogo" alt="" class="manager-logo" />
      </h1>
    </div>
    <p class="sub-heading">Follow these steps to move all your Tilig passwords to Keeper:</p>

    <div class="step">
      <div class="step-number">1.</div>
      <div class="step-content">
        <p>
          Navigate to
          <a href="https://keepersecurity.com/vault/" target="_blank"
            >https://keepersecurity.com/vault/</a
          >
          and sign in.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">2.</div>
      <div class="step-content">
        <p>
          Click on your email address in the right-top menu and select
          <i>settings</i>.
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">3.</div>
      <div class="step-content">
        <p>Download your Tilig passwords:</p>

        <Button :loading="generatingCSV" @click="download">Download Export for Keeper</Button>
      </div>
    </div>

    <div class="step">
      <div class="step-number">4.</div>
      <div class="step-content">
        <img :srcset="`${keeperGif1} 2x`" alt="" />
        <p>Select Import and upload the CSV you just downloaded.</p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">4.</div>
      <div class="step-content">
        <p>
          Verify that all accounts are listed properly and click on the
          <i>Next</i> button.
        </p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">5.</div>
      <div class="step-content">
        <p>Select <i>Import</i> to complete importing your passwords.</p>
      </div>
    </div>
  </ExportContainer>
</template>

<style scoped>
.heading {
  @apply flex w-full items-center gap-8;
}

.back-arrow {
  @apply cursor-pointer;
}

.main-heading {
  @apply text-3xl font-book text-blue-darkest;
}

.manager-logo {
  @apply inline-block h-[30px] align-middle;
}

.step {
  @apply mb-20 grid w-full grid-cols-[50px,1fr] gap-4;
}

.step-text {
  @apply mx-0 my-4;
}

.step-image {
  @apply rounded-md;
}

.sub-heading {
  @apply mx-0 my-4 font-book;
}

.step-number {
  @apply border-r-2 border-gray-light text-[2rem];
}

.step-content {
  @apply px-[1em] py-0;
}

.note {
  @apply rounded-[5px] p-[1em] font-bold;
}
</style>
