<script setup lang="ts">
import Button from '@core/components/Button.vue'
import ExportContainer from './ExportContainer.vue'

import backArrow from '@/assets/icon-arrow.svg?url'
import bitwardenLogo from '@/assets/logos/bitwarden-logo.png?url'
import bitwardenGif1 from '@/assets/export-bitwarden-2.gif?url'
import bitwardenGif2 from '@/assets/export-bitwarden-4.gif?url'

import { useGenerateCSV, CSVExportFormat } from '@/composables/useGenerateCSV'
import { useNavigateBack } from '@/composables/useNavigateBack'

const { navigateBack } = useNavigateBack()
const { generatingCSV, downloadCSV } = useGenerateCSV()

const download = () => {
  downloadCSV(CSVExportFormat.Bitwarden)
}
</script>

<template>
  <ExportContainer>
    <div class="heading">
      <img :src="backArrow" alt="icon-arrow-back" class="back-arrow" @click="navigateBack" />

      <h1 class="main-heading">
        Export Passwords to
        <img :src="bitwardenLogo" alt="" class="manager-logo" />
      </h1>
    </div>

    <p class="sub-heading">Follow these steps to move all your Tilig passwords to Bitwarden:</p>

    <div class="step">
      <div class="step-number">1.</div>
      <div class="step-content">
        <p>
          Navigate to
          <a href="https://vault.bitwarden.com/" target="_blank">https://vault.bitwarden.com/</a>
          and sign in.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">2.</div>
      <div class="step-content">
        <img :srcset="`${bitwardenGif1} 2x`" alt="" />
        <p>Click on <i>tools</i> and find the <i>import data</i> menu item.</p>
      </div>
    </div>

    <div class="step">
      <div class="step-number">3.</div>
      <div class="step-content">
        <p>Download your Tilig passwords:</p>

        <Button :loading="generatingCSV" @click="download">Download Export for Bitwarden</Button>
      </div>
    </div>

    <div class="step">
      <div class="step-number">4.</div>
      <div class="step-content">
        <img :srcset="`${bitwardenGif2} 2x`" alt="" />
        <p>
          Set the format to <i>Bitwarden (csv)</i> and upload the CSV file. Once you click
          <i>import data</i> all your passwords will be added to your BitWarden vault.
        </p>
      </div>
    </div>
  </ExportContainer>
</template>

<style scoped>
.heading {
  @apply flex w-full items-center gap-8;
}

.back-arrow {
  @apply cursor-pointer;
}

.main-heading {
  @apply text-3xl font-book text-blue-darkest;
}

.manager-logo {
  @apply inline-block h-[30px] align-middle;
}

.step {
  @apply mb-20 grid w-full grid-cols-[50px,1fr] gap-4;
}

.step-text {
  @apply mx-0 my-4;
}

.step-image {
  @apply rounded-md;
}

.sub-heading {
  @apply mx-0 my-4 font-book;
}

.step-number {
  @apply border-r-2 border-gray-light text-[2rem];
}

.step-content {
  @apply px-[1em] py-0;
}

.note {
  @apply rounded-[5px] p-[1em] font-bold;
}
</style>
