<script setup lang="ts">
import { ref, toRefs } from 'vue'
import { useScroll } from '@vueuse/core'

import MenuBarLayout from './MenuBarLayout.vue'
import BottomNavigation from '../components/next/BottomNavigation.vue'

const emit = defineEmits<{ (event: 'scrollStopped', offset: number): void }>()

const containerRef = ref<HTMLInputElement | null>(null)

const { y: scrollY, arrivedState } = useScroll(containerRef, {
  onStop() {
    emit('scrollStopped', scrollY.value)
  },
})
const { top: topArrived } = toRefs(arrivedState)
const setScrollY = (offset: number) => (scrollY.value = offset)

defineExpose({
  scrollY,
  topArrived,
  scrollContainer: containerRef,
  setScrollY,
})
</script>

<template>
  <MenuBarLayout>
    <template #menu-left-icon><slot name="menu-left-icon"></slot></template>
    <template #menu-left><slot name="menu-left"></slot></template>
    <template #menu-title><slot name="menu-title"></slot></template>
    <template #menu-right><slot name="menu-right"></slot></template>
    <template #menu-right-icon><slot name="menu-right-icon"></slot></template>

    <template #default>
      <div ref="containerRef" class="layout-content">
        <slot v-bind="{ scrollY, topArrived }"></slot>

        <footer>
          <BottomNavigation class="layout-bottom-nav" />
        </footer>
      </div>
    </template>
  </MenuBarLayout>
</template>

<style scoped>
.layout-content {
  @apply flex h-full flex-col overflow-auto;
}

.layout-content footer {
  @apply sticky bottom-0;
}

.layout-bottom-nav {
  @apply h-16;
}

:slotted(.router-link) {
  @apply text-white;
}
</style>
