<script setup lang="ts">
import type { Component } from 'vue'
import { RouteLocationRaw } from 'vue-router'
import BaseMenuBar from '../components/next/BaseMenuBar.vue'

defineProps<{
  menuTitle?: string | null
  menuLeftTo?: RouteLocationRaw
  menuLeftIcon?: Component | null
  menuRightTo?: RouteLocationRaw
  menuRightIcon?: Component | null
}>()
</script>

<template>
  <div class="layout-container">
    <header>
      <BaseMenuBar
        :title="menuTitle"
        :left-to="menuLeftTo"
        :left-icon="menuLeftIcon"
        :right-to="menuRightTo"
        :right-icon="menuRightIcon"
        class="layout-menu-bar"
      >
        <template #left-icon><slot name="menu-left-icon"></slot></template>
        <template #left><slot name="menu-left"></slot></template>
        <template #title><slot name="menu-title"></slot></template>
        <template #right><slot name="menu-right"></slot></template>
        <template #right-icon><slot name="menu-right-icon"></slot></template>
      </BaseMenuBar>
    </header>
    <slot></slot>
  </div>
</template>

<style scoped>
.layout-container {
  @apply flex h-full flex-col;
}

.layout-menu-bar {
  @apply h-12;
}
</style>
