<script setup lang="ts">
import { computed } from 'vue'

export interface Props {
  speed?: 'slow' | 'fast'
}

const props = withDefaults(defineProps<Props>(), {
  speed: 'fast',
})

const durationClass = computed(() => {
  return props.speed === 'fast' ? 'duration-[100ms]' : 'duration-[400ms]'
})
</script>

<template>
  <Transition
    :enter-active-class="`transition ease ${durationClass}`"
    enter-from-class="transform opacity-0"
    enter-to-class="transform opacity-100"
    :leave-active-class="`transition ease ${durationClass}`"
    leave-from-class="transform opacity-100"
    leave-to-class="transform opacity-0"
    mode="out-in"
  >
    <slot></slot>
  </Transition>
</template>
