<script setup lang="ts">
import { computed } from 'vue'

import Flight from '@core/assets/onboarding/flight.svg?component'

const props = defineProps<{
  completedSteps: number
  totalSteps: number
}>()

const strokeDashOffsetValue = computed(() => 100 - (props.completedSteps / props.totalSteps) * 100)
</script>

<template>
  <div class="getting-started-banner">
    <component :is="Flight" class="flight-icon" />
    <p class="banner-title">Getting started</p>
    <div class="progress-circle">
      <svg viewBox="-2 -2 38 38">
        <circle cx="14" cy="14" r="14" class="progress-bar__background" />
        <circle
          cx="14"
          cy="14"
          r="14"
          class="progress-bar__progress"
          :style="{ strokeDashoffset: strokeDashOffsetValue }"
        />
      </svg>
    </div>
  </div>
</template>

<style scoped>
.getting-started-banner {
  @apply flex items-center rounded-lg bg-indigo p-2;
}

.banner-title {
  @apply ml-2 flex-1 leading-5 text-white;
}

.progress-circle {
  position: relative;
}

.progress-circle svg {
  @apply h-8 w-8 -rotate-90;
}

.progress-bar__background {
  @apply fill-none stroke-indigo-light2 stroke-[4];
}

.progress-circle circle {
  animation: progress 1s linear;
}

.progress-bar__progress {
  @apply fill-none stroke-white stroke-[4];
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 4;
  transition: stroke-dashoffset 1s ease-in-out;
}

@keyframes progress {
  0% {
    stroke-dasharray: 100 100;
  }
}
</style>
