<script setup lang="ts">
import arrow from '@core/assets/onboarding/arrow.svg'
</script>

<template>
  <img :src="arrow" class="arrow" />
</template>

<style scoped>
.arrow {
  @apply absolute -right-[8.5rem] -top-[4rem] z-10 hidden h-[180px] w-[180px] lg:block xl:-right-[21rem] xl:-top-[12.5rem] xl:h-[320px] xl:w-[380px];
}
</style>
