<script setup lang="ts">
import lightbulb from '@core/assets/onboarding/lightbulb.svg'
</script>

<template>
  <div class="onboarding-notification">
    <img :src="lightbulb" class="onboarding-notification-icon" />

    <p class="onboarding-notification-text">
      <slot></slot>
    </p>
  </div>
</template>

<style scoped>
.onboarding-notification {
  @apply my-2 mb-5 grid h-[62px] max-w-[320px] grid-cols-[18px,1fr] items-center gap-2 rounded-lg border border-green bg-[#EBFFF7] p-4 pr-7;
}

.onboarding-notification-text {
  @apply text-xs font-normal text-[#082724];
}

.onboarding-notification-icon {
  @apply h-[18px] w-[18px] self-start;
}
</style>
