<script setup lang="ts">
import TiligLogoImageMark from '@core/components/icons/TiligLogoImageMark.vue'
import OnboardingProgress from '@core/components/onboarding/OnboardingProgress.vue'
import Card from '@core/components/Card.vue'
import CardContainer from '@core/components/CardContainer.vue'
import CardContentWrapper from '@core/components/CardContentWrapper.vue'

import { useOnboardingStore } from '@core/stores/onboarding'
import { onMounted } from 'vue'

const onboardingStore = useOnboardingStore()

onMounted(() => {
  onboardingStore.initialize()
})

withDefaults(
  defineProps<{
    step?: number
    showSteps?: boolean
  }>(),
  {
    showSteps: true,
    step: 0,
  }
)
</script>

<template>
  <CardContainer>
    <Card>
      <OnboardingProgress v-if="showSteps" :step="step" />
      <CardContentWrapper size="large">
        <div class="onboarding-container">
          <TiligLogoImageMark :width="25" :height="27" />
          <slot />
        </div>
      </CardContentWrapper>
    </Card>
  </CardContainer>
</template>

<style scoped>
.onboarding-container {
  @apply flex w-full flex-col items-center px-6;
}
</style>
