<script setup lang="ts">
import { computed } from 'vue'

import { AccountType } from '@core/clients/tilig'
import { useOnboardingStore } from '@core/stores/onboarding'

import CardBullet from '../CardBullet.vue'

const onboardingStore = useOnboardingStore()

const showTeamUpStep = computed(() => onboardingStore.accountType === AccountType.Business)

const props = withDefaults(defineProps<{ step?: number }>(), {
  step: 0,
})
</script>

<template>
  <div class="onboarding-steps">
    <ul class="flex">
      <slot name="steps"></slot>
      <CardBullet :active="props.step === 0" :done="props.step > 0">Sign up</CardBullet>
      <CardBullet v-if="showTeamUpStep" :active="props.step === 1" :done="props.step > 1"
        >Organization</CardBullet
      >
      <CardBullet :active="props.step === 2" :done="props.step > 2">Install</CardBullet>
      <CardBullet :active="props.step === 3" :done="props.step > 3">Pin</CardBullet>
      <CardBullet :active="props.step === 4" :done="props.step > 4">Permission</CardBullet>
    </ul>
  </div>
</template>

<style scoped>
.onboarding-steps {
  @apply mx-auto mb-1 flex w-full items-center justify-center rounded-t-[20px]  bg-gray-lightest pb-4 pt-5 text-sm;
}
</style>
