<template>
  <Teleport to="body">
    <div class="onboarding-halo">
      <div class="top-large-halo">
        <div class="top-small-halo"></div>
      </div>
    </div>
  </Teleport>
</template>

<style scoped>
.onboarding-halo {
  @apply fixed -top-[5rem] right-[50px] h-[131px] w-[131px] animate-ping-slow lg:-top-[7rem] lg:right-[12px] lg:h-[204px] lg:w-[204px];
}

.top-small-halo {
  @apply inset-0 z-10 h-[87px] w-[87px] rounded-full bg-indigo-light lg:h-[134px] lg:w-[134px];
}

.top-large-halo {
  @apply flex h-full w-full items-center justify-center rounded-full bg-indigo-lighter;
}
</style>
