<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

import { useFoldersStore } from '@core/stores/folders'
import { useItemsStore } from '@core/stores/items'

import { TrashIcon, UserGroupIcon } from '@heroicons/vue/solid'
import Button from '@core/components/Button.vue'
import FolderManageModal from '@core/components/folders/FolderManageModal.vue'
import { useAuthStore } from '@core/stores/auth'
import { useContactsStore } from '@core/stores/contacts'

const router = useRouter()
const foldersStore = useFoldersStore()
const { activeFolder } = storeToRefs(useItemsStore())
const { tiligUser } = storeToRefs(useAuthStore())
const contactsStore = useContactsStore()
const { contacts } = storeToRefs(contactsStore)

const folderModalOpen = ref(false)
const deletingFolder = ref(false)

const deleteFolder = async () => {
  if (!activeFolder.value) return
  deletingFolder.value = true

  try {
    const deleted = await foldersStore.deleteFolder(activeFolder.value)
    if (!deleted) return
    await router.push({ name: 'root' })
  } finally {
    deletingFolder.value = false
  }
}

const addFolderMembership = async (email: string) => {
  if (!activeFolder.value) return

  const result = (await foldersStore.getFolderMemberPublicKey(email)) || { email }
  await foldersStore.addFolderMember(activeFolder.value, result)
  await foldersStore.fetchFolders()
}

const revokeFolderMembership = async (folderMemberId: string) => {
  if (!activeFolder.value) return
  await foldersStore.revokeFolderMembership(activeFolder.value.id, folderMemberId)
  await foldersStore.fetchFolders()
}

contactsStore.fetchContacts()
</script>

<template>
  <div class="folder-empty">
    <h1 class="hero-text">Your folder is empty</h1>
    <p class="hero-text-paragraph">Start adding some items</p>
    <p class="hero-text-paragraph">
      <Button
        button-style="primary"
        size="small"
        :icon="UserGroupIcon"
        :disabled="deletingFolder"
        @click="folderModalOpen = true"
      >
        Manage folder
      </Button>
      <Button
        class="ml-3"
        button-style="outline-danger"
        size="small"
        :icon="TrashIcon"
        :disabled="deletingFolder"
        @click="deleteFolder"
      >
        Delete folder
      </Button>
    </p>

    <FolderManageModal
      v-if="activeFolder"
      :open="folderModalOpen"
      :folder="activeFolder"
      :current-user="tiligUser"
      :contacts="contacts"
      :public-key-fetch-error="foldersStore.publicKeyFetchError"
      :is-adding-membership="foldersStore.isAddingFolderMembership"
      :is-revoking-membership="foldersStore.isRevokingFolderMembership"
      @add-folder-membership="addFolderMembership($event)"
      @revoke-folder-membership="revokeFolderMembership($event)"
      @reset-public-key-fetch-error-state="foldersStore.publicKeyFetchError = null"
      @close="folderModalOpen = false"
    />
  </div>
</template>

<style scoped>
.folder-empty {
  @apply flex flex-col items-center gap-6;
}

.hero-text {
  @apply mt-2 text-center font-spoof text-xl font-medium md:text-xl lg:text-2xl;
}

.hero-text-paragraph {
  @apply text-center font-stolzl text-sm font-book leading-5 text-gray-darkest md:text-sm lg:text-base;
}
</style>
