<template>
  <div ref="container" class="container">
    <div class="container-content">
      <!-- syncing tab state should be nearly instantaneous
      so no need for a loader here -->
      <router-view v-if="synced" />
    </div>
  </div>
</template>

<script lang="ts">
import { storeToRefs } from 'pinia'
import { useCredentialsStore } from './store'

export default {
  components: {},
  setup() {
    const store = useCredentialsStore()
    store.sync()
    const { synced } = storeToRefs(store)
    return {
      synced,
    }
  },
}
</script>

<style scoped>
.container {
  overflow: hidden;
}

.container-content {
  /* rounded-md */
  @apply overflow-hidden bg-white;
}

/* Only show rounded borders when it is full size. Otherwise it'll look uggly with the scrollbar. */
@media only screen and (min-height: 750px) {
  .container-content {
    border-radius: 5px;
  }
}
</style>
