<template>
  <StaticMessage :message="message">
    <template v-if="itemsCount === 0"> I couldn't read any passwords from your file.</template>
    <template v-else> I can see the file contains {{ itemsCount }} items.</template>
  </StaticMessage>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import StaticMessage from '@/pages/import/StaticMessage.vue'

import { useImportsStore } from '@/stores/imports'
import {
  FILE_UPLOAD_ERROR_INIT,
  PRE_IMPORT_ANIMATION,
  SPECIFY_FIELDS_AND_COLUMNS,
} from '@/utils/importConstants'

export default defineComponent({
  components: {
    StaticMessage,
  },
  props: {
    message: {
      type: Object,
      default: () => ({
        ms: 1000,
      }),
    },
  },
  emits: ['show-next-message'],
  setup() {
    const importsStore = useImportsStore()

    return {
      importsStore,
    }
  },
  computed: {
    itemsCount() {
      if (this.importsStore.parseResult?.success) {
        return this.importsStore.parseResult.items.length
      }
      return 0
    },
  },
  mounted() {
    setTimeout(() => {
      this.showNextSteps()
    }, this.message.ms)
  },
  methods: {
    showNextSteps() {
      // if the accounts count is 0 - then there is no data to import, so we show an error message
      if (this.itemsCount === 0) {
        // this means our parsing logic cannot even read the file content at all or the file is empty
        // so we show an error message
        this.$emit('show-next-message', FILE_UPLOAD_ERROR_INIT)
        return
      }

      // We want to check if all necessary headers/columns have been identified
      // if Yes, we can proceed to show the next steps to start the import process
      // if No, then, we want to lead the user to the screen to specify the column names manually
      if (!this.importsStore.successfullyParsed) {
        this.$emit('show-next-message', SPECIFY_FIELDS_AND_COLUMNS)
        return
      }

      this.$emit('show-next-message', PRE_IMPORT_ANIMATION)
    },
  },
})
</script>
