<template>
  <StaticMessage :message="message">{{ textToRender }}</StaticMessage>
</template>

<script>
import { mapActions } from 'pinia'

import { useTrackingStore } from '@core/stores/tracking'

import { PARTIAL_IMPORT_COMPLETED, PARTIAL_IMPORT_COUNT } from '@/utils/importConstants'
import { useImportsStore } from '@/stores/imports'

import StaticMessage from '@/pages/import/StaticMessage.vue'

export default {
  components: {
    StaticMessage,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const importsStore = useImportsStore()

    return {
      importsStore,
    }
  },
  computed: {
    failedAccounts() {
      return this.importsStore.numberOfFailedImports
    },
    accounts() {
      return this.importsStore.numberOfTotalImports
    },
    successfullyImportedAccountsCount() {
      return this.accounts - this.failedAccounts
    },
    textToRender() {
      // we are not guessing here, we know the ids of the message props we are expecting  here - check the importConstants file for them
      // as at now, they are just two
      // add to this at will if the need arises
      const messageMap = {
        [PARTIAL_IMPORT_COMPLETED]: `I’ve imported ${this.successfullyImportedAccountsCount} items, succesfully`,
        [PARTIAL_IMPORT_COUNT]: `However, I could not import ${this.failedAccounts} out of the ${this.accounts} items`,
      }

      return messageMap[this.message.id]
    },
  },
  mounted() {
    const { mixpanelEvent } = this.message
    if (mixpanelEvent) {
      this.trackEvent({
        event: mixpanelEvent.name,
        accounts: {
          total: this.accounts,
          imported: this.successfullyImportedAccountsCount,
          failed: this.failedAccounts,
        },
      })
    }
  },
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
  },
}
</script>
