<template>
  <StaticMessage>
    <p>DONE! I’ve imported all {{ importedAccounts }} items.</p>

    <template v-if="importsStore.onePasswordFileCount">
      <p>
        Your 1Password export file also contains {{ importsStore.onePasswordFileCount }} files. We
        can't import those yet.
      </p>
      <p>
        Change the extension of your export from <kbd>.1pux</kbd> to <kbd>.zip</kbd> and you'll be
        able to access your files with any program capable of reading <kbd>.zip</kbd> files.
      </p>
    </template>
  </StaticMessage>
</template>

<script langs="ts">
import StaticMessage from '@/pages/import/StaticMessage.vue'

import { useImportsStore } from '@/stores/imports'
import { defineComponent } from 'vue'

export default defineComponent({
  components: {
    StaticMessage,
  },
  setup() {
    const importsStore = useImportsStore()

    return {
      importsStore,
    }
  },
  computed: {
    importedAccounts() {
      if (this.importsStore.parseResult.success) {
        return this.importsStore.parseResult.items.length
      }
      return 0
    },
  },
})
</script>
