<template>
  <StaticMessage :message="message">
    <p v-if="message.content.preInstruction" class="pre-instruction">
      {{ message.content.preInstruction }}
    </p>
    <h2>Follow these steps:</h2>
    <section class="instructions">
      <slot>
        <ol class="">
          <li
            v-if="message.content.instructionWithLink"
            v-html="message.content.instructionWithLink"
          />
          <li
            v-for="(instruction, index) in message.content.otherInstructions"
            :key="index"
            v-text="instruction"
          />
        </ol>
      </slot>
    </section>
    <div
      v-if="message.content.screenshots && message.content.screenshots.length"
      class="screenshots-container"
    >
      <div
        v-for="(screenshot, index) in message.content.screenshots"
        :key="index"
        class="screenshot-wrapper"
        @click="toggleFullSize(screenshot.url)"
      >
        <img
          :src="getImageUrl(screenshot.url)"
          :class="['screenshot', screenshot.orientation === 'portrait' && 'portrait']"
        />
        <span class="click-to-zoom">🔍 Click to view large version</span>
      </div>
    </div>
    <Modal v-if="showFullSize" :open="showFullSize" @close-modal="closeModal">
      <img :src="screenshotUrl" class="screenshot-full" @click="closeModal" />
    </Modal>

    <p class="support">
      <slot name="support">
        <template v-if="message.content.supportLink">
          If you need more help, I recommend this
          <ExternalLink
            class="link"
            :url="message.content.supportLink"
            text="article"
            @click="fireMixpanelEvent(message.content.supportLink)"
          />
        </template>
      </slot>
    </p>
  </StaticMessage>
</template>

<script>
import { mapActions } from 'pinia'
import { useTrackingStore } from '@core/stores/tracking'

import StaticMessage from '@/pages/import/StaticMessage.vue'
import ExternalLink from '@core/components/ExternalLink.vue'
import Modal from '@core/components/Modal.vue'

export default {
  components: {
    StaticMessage,
    ExternalLink,
    Modal,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  emits: {
    ['show-next-message'](nextMessageId) {
      if (!nextMessageId) return false
      return true
    },
  },
  data: () => ({
    showFullSize: false,
    screenshotUrl: '',
  }),
  mounted() {
    const { ms, nextMessageId } = this.message
    setTimeout(() => {
      this.$emit('show-next-message', nextMessageId)
    }, ms)
  },
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
    getImageUrl(path) {
      return path ? new URL(`./import-screenshots/${path}`, import.meta.url).href : ''
    },
    toggleFullSize(screenshot) {
      this.screenshotUrl = this.getImageUrl(screenshot)
      this.showFullSize = !this.showFullSize
    },
    closeModal() {
      this.showFullSize = false
    },
    fireMixpanelEvent(url) {
      this.trackEvent({
        event: this.message.mixpanelEvent.name,
        properties: {
          linkOpened: url,
        },
      })
    },
  },
}
</script>

<style>
.instructions ol {
  @apply list-inside list-decimal;
}

.support-link {
  @apply mx-1;
}

.link {
  @apply underline;
}

.screenshots-container {
  @apply my-2 flex min-h-[12rem] w-full flex-col gap-4 pt-2 transition duration-300 ease-out;
}

.screenshot {
  @apply cursor-pointer rounded-t-md bg-contain transition duration-300 ease-out;
}

.portrait {
  @apply mx-auto max-h-[250px];
}

.screenshot-wrapper {
  @apply rounded-md bg-white;
}

.screenshot-full {
  @apply max-h-[680px] cursor-pointer bg-contain pt-2 transition duration-300 ease-out;
}

.support {
  @apply mb-2 mt-6;
}

.pre-instruction {
  @apply mb-2;
}

.click-to-zoom {
  @apply inline-block w-full cursor-pointer rounded-b-md bg-blue-darkest py-2 text-center text-white;
}
</style>
