<template>
  <svg
    v-if="type === 'TILIG'"
    width="17"
    height="16"
    viewBox="0 0 17 16"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.37188088e-13,32.9996627 C7.38964445e-13,36.7450113 -0.666666667,39.7451237 -2,42 C-4,45.3823144 -9.00059676,48 -9.00059676,48 C-5.62395941,48.0137791 -2.62376049,47.6804458 7.85149723e-13,47 C3.93564073,45.9793313 8,43.6329631 8,40 C8,34.7191652 5.33333333,32.3857194 7.37188088e-13,32.9996627 Z"
      transform="translate(9 -32)"
      fill="currentColor"
      fill-rule="evenodd"
    />
  </svg>

  <svg v-else width="17" height="15" viewBox="0 0 17 15" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M423.000597,265.0953 C423.000597,268.816667 422.33393,271.797571 421.000597,274.038009 C419.000597,277.398667 414,279.999592 414,279.999592 C417.376637,280.013283 420.376836,279.682084 423.000597,279.005995 C426.936237,277.991862 431.000597,275.660517 431.000597,272.050815 C431.000597,266.803792 428.33393,264.485287 423.000597,265.0953 Z"
      transform="matrix(-1 0 0 1 431 -265)"
      fill="currentColor"
      fill-rule="evenodd"
    />
  </svg>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'TILIG',
      validator(value) {
        return ['USER', 'TILIG'].includes(value)
      },
    },
  },
}
</script>

<style></style>
