<template>
  <section class="chat-assistant">
    <TransitionGroup
      enter-active-class="transition ease duration-300"
      enter-from-class="transform -translate-y-1"
      leave-to-class="transform -translate-y-1"
      move-class="transition ease duration-300"
    >
      <component
        :is="item.component"
        v-for="item in conversation"
        :key="item.id"
        :message="item"
        :is-last-message="isLastStaticMessage(item.id)"
        @show-next-message="showNextMessage"
        @restart-conversation-at="restartConversationAt"
        @selected-option="storeSelectedOption"
      />
    </TransitionGroup>
    <div v-if="showLoader" class="tilig-chat-bot-section">
      <div class="tilig-chat-bot">
        <img src="/favicon.ico" class="tilig-icon" />
      </div>
      <div class="message-loading-indicator-container">
        <div
          v-for="(loader, index) in Array(3)"
          :key="index"
          :class="[
            'message-loading-indicator',
            activeLoader === index && 'message-loading-indicator-active',
          ]"
        />
      </div>
    </div>
    <div ref="scrollIntoViewRef" class="scroll-to-view" />
  </section>
</template>

<script lang="ts">
import { createLogger } from '@core/utils/logger'
import { importMessages, STATIC_MESSAGE, MessageType } from '@/utils/importConstants'
import { useImportsStore } from '@/stores/imports'

import StaticMessage from '@/pages/import/StaticMessage.vue'
import MultipleChoiceMessage from '@/pages/import/MultipleChoiceMessage.vue'
import FileUploader from '@/pages/import/FileUploader.vue'
import StartImport from '@/pages/import/StartImport.vue'
import YesOrNoResponse from '@/pages/import/YesOrNoResponse.vue'
import StaticMessageList from '@/pages/import/StaticMessageList.vue'
import DownloadTemplate from '@/pages/import/DownloadTemplate.vue'
import BrowserAndPasswordManagerExportSteps from '@/pages/import/BrowserAndPasswordManagerExportSteps.vue'
import FileUploadError from '@/pages/import/FileUploadError.vue'
import ShowImportedAccounts from '@/pages/import/ShowImportedAccounts.vue'
import OtherBrowserAndPasswordManagerExportSteps from '@/pages/import/OtherBrowserAndPasswordManagerExportSteps.vue'
import SpecifyFieldsAndColumns from '@/pages/import/SpecifyFieldsAndColumns.vue'
import AccountsCount from '@/pages/import/AccountsCount.vue'
import AccountsImportedSuccessfully from '@/pages/import/AccountsImportedSuccessfully.vue'
import AccountsImportedPartially from '@/pages/import/AccountsImportedPartially.vue'
import ChromeExportSteps from '@/pages/import/ChromeExportSteps.vue'
import EdgeExportSteps from '@/pages/import/EdgeExportSteps.vue'
import FirefoxExportSteps from '@/pages/import/FirefoxExportSteps.vue'

const logger = createLogger('importing')

let interval: ReturnType<typeof setInterval> | null = null
let timeout: ReturnType<typeof setTimeout> | null = null

export default {
  $refs: {
    checkboxElement: HTMLFormElement,
  },
  components: {
    StaticMessage,
    MultipleChoiceMessage,
    FileUploader,
    StartImport,
    YesOrNoResponse,
    StaticMessageList,
    DownloadTemplate,
    BrowserAndPasswordManagerExportSteps,
    FileUploadError,
    ShowImportedAccounts,
    OtherBrowserAndPasswordManagerExportSteps,
    SpecifyFieldsAndColumns,
    AccountsCount,
    AccountsImportedSuccessfully,
    AccountsImportedPartially,
    ChromeExportSteps,
    EdgeExportSteps,
    FirefoxExportSteps,
  },
  setup: () => {
    return {
      importStore: useImportsStore(),
    }
  },
  data: () =>
    ({
      allMessages: importMessages,
      conversation: [],
      showLoader: false,
      activeLoader: 0,
    } as {
      allMessages: MessageType[]
      conversation: MessageType[]
      showLoader: boolean
      activeLoader: number
    }),
  watch: {
    showLoader(loading) {
      if (!loading) {
        interval && clearInterval(interval)
        return
      }
      this.$nextTick(() => {
        this.scrollToBottom()
      })

      interval = setInterval(() => {
        if (this.activeLoader === 2) {
          this.activeLoader = 0
          return
        }
        this.activeLoader++
      }, 350)
    },
  },
  mounted() {
    this.setTiligMessageLoading(true)
    const firstMessage = this.allMessages[0]
    timeout = setTimeout(() => {
      this.conversation = [firstMessage]
    }, firstMessage.ms)
  },
  beforeUnmount() {
    interval && clearInterval(interval)
    timeout && clearTimeout(timeout)
  },
  methods: {
    isLastStaticMessage(messageId: string) {
      // we might change this to 'isLastStaticMessageType'
      const staticMessages = this.conversation.filter((message) => message.type === STATIC_MESSAGE)

      if (staticMessages.length === 0) return false
      const lastStaticMessage = staticMessages[staticMessages.length - 1]
      const isLastStaticMessageId = messageId === lastStaticMessage.id
      return isLastStaticMessageId
    },
    isFirstMessage(index: number) {
      return index === 0
    },
    showNextMessage(messageId: string, replace = true, firedFromId = null) {
      logger.debug(`showNextMessage`, messageId, firedFromId)

      this.setTiligMessageLoading(true)

      this.$nextTick(() => {
        if (firedFromId) {
          this.clearConversationAfter(firedFromId)
        }

        const messageExistsInConversation = this.conversation.find(
          (message) => message.id === messageId
        )

        if (messageExistsInConversation && replace) {
          logger.debug(`messageExistsInConversation`)
          this.restartConversationAt(messageId)
          return
        }

        const nextMessage = this.allMessages.find((message) => message.id === messageId)
        if (!nextMessage) {
          this.setTiligMessageLoading(false)
          logger.error(`Error: message does not exist`)
          return
        } else {
          logger.debug(`Found next message`, nextMessage)
        }

        timeout = setTimeout(() => {
          this.conversation.push(nextMessage)
          logger.debug(`Pushed message`, this.conversation)
          // until we have a better way to fix the page. we will scroll everytime a new message is added
          this.setTiligMessageLoading(false)
          this.$nextTick(() => {
            this.scrollToBottom()
          })
        }, nextMessage?.ms || 1000)
      })
    },
    scrollToBottom() {
      setTimeout(() => {
        const scrollRef: any = this.$refs.scrollIntoViewRef
        scrollRef.scrollIntoView({
          behaviour: 'smooth',
          block: 'end',
          inline: 'nearest',
        })
      }, 0)
    },
    setTiligMessageLoading(showLoader: boolean) {
      this.showLoader = showLoader
    },
    // Clear all conversations after the given messageId.
    // With offset=0, this also removes messageId itself.
    clearConversationAfter(messageId: string, offset = 1) {
      const startPoint = this.conversation.findIndex((message) => message.id === messageId)

      if (startPoint >= 0) {
        // TODO instead of slicing these, let's splice so we could animate the removal of
        // the previous messages
        this.conversation = this.conversation.slice(0, startPoint + offset)
      }
    },
    restartConversationAt(messageId: string) {
      logger.debug(`restartConversationAt `, messageId)
      this.clearConversationAfter(messageId, 0)
      this.showNextMessage(messageId, true)
    },
    // TODO: add an Option type
    storeSelectedOption(messageId: string, selectedOption: any) {
      logger.debug(`Option selected`, messageId, selectedOption)
      this.importStore.selectedOptions[messageId] = selectedOption.id
    },
  },
}
</script>

<style scoped>
.chat-assistant {
  /* For bottom-padding, see .scroll-to-view */
  @apply relative flex w-full max-w-[45rem] flex-col justify-start gap-3 pt-4 md:left-8;
}

.tilig-chat-bot-section {
  @apply relative top-2 flex items-end gap-3;
}

.tilig-chat-bot {
  @apply flex h-12 w-12 items-center justify-center rounded-full bg-gray-lightest;
}

.message-loading-indicator-container {
  @apply flex h-12 w-[6rem] items-center justify-center gap-3 rounded-xl bg-gray-lightest;
}

.message-loading-indicator {
  @apply h-3 w-3 rounded-full bg-indigo opacity-25 transition-opacity duration-500 ease-out;
}

.message-loading-indicator-active {
  @apply opacity-100;
}

.tilig-icon {
  @apply block h-8 w-8 rounded-full;
}

/* This is also the bottom- */
.scroll-to-view {
  @apply h-40;
}
</style>
