<template>
  <BrowserAndPasswordManagerExportSteps>
    <div class="instructions">
      <article class="instruction">
        1.
        <p class="instruction-text">In Chrome, click on the menu icon</p>
        <span class="icon-container"><DotsVerticalIcon class="icon" /></span>
      </article>
      <article class="instruction">
        2.
        <p class="instruction-text">Choose Settings > Autofill > Passwords</p>
      </article>
      <article class="instruction">
        3.
        <p class="instruction-text">In the “Saved Passwords” area click on menu icon</p>
        <span class="icon-container"><DotsVerticalIcon class="icon" /></span>
      </article>
      <article class="instruction">
        4.
        <p class="instruction-text">Choose “Export passwords...” and follow the steps</p>
      </article>
    </div>
  </BrowserAndPasswordManagerExportSteps>
</template>

<script setup>
import { DotsVerticalIcon } from '@heroicons/vue/outline'

import BrowserAndPasswordManagerExportSteps from '@/pages/import/BrowserAndPasswordManagerExportSteps.vue'
</script>

<style scoped>
.instructions {
  @apply my-1;
}

.icon-container {
  @apply inline-block rounded-md bg-white p-1;
}

.icon {
  @apply h-4 w-4 text-blue-darkest;
}

.instruction {
  @apply items-start gap-2;
}

.instruction-text {
  @apply break-words;
}
</style>
