<template>
  <StaticMessage :message="message">
    <p class="message-content">
      {{ message.content }}
    </p>
    <Button full-width @click="downloadTemplate">Download Template</Button>
  </StaticMessage>
</template>

<script>
import { mapActions } from 'pinia'
import { downloadAsFile } from '@/utils/downloadAsFile'

import Button from '@core/components/Button.vue'
import StaticMessage from '@/pages/import/StaticMessage.vue'

import { TEMPLATE_EDIT_ID } from '@/utils/importConstants'
import { useTrackingStore } from '@core/stores/tracking'

export default {
  components: {
    Button,
    StaticMessage,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  emits: {
    ['show-next-message'](nextMessageId) {
      if (!nextMessageId) return false
      return true
    },
  },
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
    downloadTemplate() {
      const csvContent = this.arrayToCsv([
        ['Title', 'Website', 'Username', 'Password', 'Notes'],
        ['', '', '', ''],
        ['', '', '', ''],
        ['', '', '', ''],
        ['', '', '', ''],
        ['', '', '', ''],
      ])
      downloadAsFile('tilig-import-template.csv', csvContent)
      // we want to delay the next message to improve UX
      setTimeout(() => {
        this.$emit('show-next-message', TEMPLATE_EDIT_ID)
      }, 2000)

      this.fireMixpanelEvent()
    },
    arrayToCsv(data) {
      const transformed = data
        .map((line) =>
          line
            .map((item) => String(item))
            .map((v) => v.replaceAll('"', '""')) // escape double colons
            .map((v) => `"${v}"`) // quote it
            .join(',')
        )
        // add new lines for each row
        .join('\n')

      return transformed
    },
    fireMixpanelEvent() {
      this.trackEvent({
        event: this.message.mixpanelEvent.name,
      })
    },
  },
}
</script>

<style scoped>
.message-content {
  @apply my-1 mb-2;
}
</style>
