<script setup lang="ts">
import { onMounted, ref } from 'vue'
import * as Sentry from '@sentry/vue'

import { useImportsStore } from '@/stores/imports'
import { useTrackingStore } from '@core/stores/tracking'
import { FILE_UPLOAD_ERROR_INIT } from '@/utils/importConstants'
import { TrackingEvent } from '@core/utils/trackingConstants'
import { createLogger } from '@core/utils/logger'

import { UploadIcon } from '@heroicons/vue/outline'
import UserInteractions from '@/pages/import/UserInteractions.vue'
import DropZone from '@/shared-components/DropZone.vue'
import Button from '@core/components/Button.vue'

const logger = createLogger('ui:import:FileUploader')

const props = defineProps<{
  message: { nextMessageId: string; mixpanelEvent: { name: TrackingEvent } }
}>()
const emit = defineEmits(['show-next-message'])

const dropZoneIsVisible = ref(false)
const showDummyFileUpload = ref(false)
const uploadedFileName = ref('No file chosen')

const showDropZone = () => {
  dropZoneIsVisible.value = true
}

const hideDropZone = () => {
  dropZoneIsVisible.value = false
}

onMounted(() => {
  document.addEventListener('dragenter', showDropZone)
  document.addEventListener('dragend', hideDropZone)
})

const importsStore = useImportsStore()

const handleFileChange = (event: Event) => {
  if (!event.target) return
  const blob = (event.target as HTMLInputElement).files?.[0]
  if (!blob) return

  blob.arrayBuffer().then(readFile)
  fireMixpanelEvent()
}

const readFile = (contents: ArrayBuffer) => {
  try {
    importsStore.parseFile(contents)
  } catch (e) {
    logger.error('Error parsing file', e)
    Sentry.captureException(e)
  }

  setTimeout(() => {
    showNextSteps()
  }, 1000)
}

const cleanUpDropZone = () => {
  dropZoneIsVisible.value = false

  document.removeEventListener('dragenter', showDropZone)
  document.removeEventListener('dragend', hideDropZone)
}

const showNextSteps = () => {
  cleanUpDropZone()
  emit('show-next-message', props.message.nextMessageId)
}

const handleFileDrop = (event: Event) => {
  event.preventDefault()

  if (!event.target) return

  const fileName = (event.target as HTMLInputElement).files?.[0].name
  const fileExt = fileName?.split('.').pop()

  if (!fileName || !['csv', '1pux'].includes(fileExt || '')) {
    console.error('Wrong file name', fileExt)
    handleFileError()
    return
  }

  // If the user used the drag and drop feature, we want to show the filename but we
  // cannot programmatically set the value of an input element we created a dummy
  // element and set the value of it to the filename
  uploadedFileName.value = fileName
  showDummyFileUpload.value = true
  handleFileChange(event)
}

const handleFileError = (error?: unknown) => {
  console.error('Error uploading file', error)
  cleanUpDropZone()
  emit('show-next-message', FILE_UPLOAD_ERROR_INIT)
}

const fireMixpanelEvent = () => {
  const trackingStore = useTrackingStore()
  trackingStore.trackEvent({
    event: props.message.mixpanelEvent.name,
  })
}
</script>

<template>
  <div class="file-upload-container">
    <UserInteractions>
      <section class="file-upload-area">
        <div class="file-upload">
          <section class="idle-file-upload" @ondragover="handleFileChange">
            <div class="file-upload-label loader-text">
              <UploadIcon class="upload-icon" />
              <p>Drag and drop your file</p>
            </div>

            <div v-if="showDummyFileUpload" class="dummy-file-input">
              <Button class="dummy-file-input-button">Choose file</Button>
              <p class="dummy-file-input-text">{{ uploadedFileName }}</p>
            </div>

            <input
              v-else
              type="file"
              class="upload-input"
              accept=".csv,.1pux,application/zip"
              @change="handleFileChange"
              @error="handleFileError"
            />
          </section>
        </div>
      </section>

      <p class="file-upload-tip">💡 Tip: check your folder with downloads for the file</p>
    </UserInteractions>
    <DropZone
      v-if="dropZoneIsVisible"
      @hide-drop-zone="hideDropZone"
      @file-dropped="handleFileDrop"
    >
      <p class="text-3xl text-white">Drop it like it's hot</p>
    </DropZone>
  </div>
</template>

<style scoped>
.file-upload-container {
  @apply flex justify-end;
}
.file-upload {
  @apply w-full px-2 md:px-8;
}

.file-upload-area {
  @apply flex flex-col items-center justify-center gap-2 rounded-[8px] border-[1.5px] border-dashed border-blue-darkest bg-white py-6;
}

.idle-file-upload {
  @apply flex flex-col items-center gap-8;
}

.upload-input {
  @apply block w-full text-xs text-blue-darkest file:mr-4 file:rounded-full file:border-0 file:bg-indigo-lightest file:px-4 file:py-2 file:text-xs file:font-normal file:text-indigo hover:file:cursor-pointer hover:file:bg-indigo-lighter md:text-sm file:md:text-sm;
}

.upload-icon {
  @apply h-4 w-4;
}

.file-upload-label {
  @apply flex items-center justify-center gap-3 text-sm;
}

.dummy-file-input {
  @apply flex w-full items-center text-xs text-indigo md:text-sm;
}

.file-upload-tip {
  @apply mt-2 pt-2 text-right text-xxs text-blue-lightest;
}

.dummy-file-input-text {
  @apply max-w-[9rem] overflow-hidden truncate md:max-w-[15rem];
}
</style>
