<script setup lang="ts">
import { useAuthStore } from '@core/stores/auth'

import StaticMessage from '@/pages/import/StaticMessage.vue'

const authStore = useAuthStore()

const emit = defineEmits<{
  (e: 'show-next-message', step: string, replace: boolean): void
}>()

const launchChatWidget = async () => {
  const intercom = await import('@/utils/intercom')
  intercom.default()
  intercom.boot(authStore.tiligUser)
}

setTimeout(() => emit('show-next-message', 'file-upload', false), 1000)
</script>

<template>
  <StaticMessage>
    <p class="chat">
      Chat with them by clicking <span class="chat-link" @click="launchChatWidget">here</span>
    </p>
  </StaticMessage>
</template>

<style scoped>
.chat {
  @apply my-1;
}
.chat-link {
  @apply cursor-pointer underline;
}
</style>
