<script setup>
import { ref, onMounted, onUnmounted } from 'vue'

const activeDot = ref(0)
const show = ref(false)

let interval = null
let timeout = null

const nextDot = () => {
  activeDot.value = (activeDot.value + 1) % 3
}

onMounted(() => {
  interval = setInterval(nextDot, 350)
  timeout = setTimeout(() => (show.value = true), 300)
})

onUnmounted(() => {
  clearInterval(interval)
  clearTimeout(timeout)
})
</script>

<template>
  <div v-if="show" class="message-loading-indicator-container">
    <div
      v-for="(_, index) in Array(3)"
      :key="index"
      :class="[
        'message-loading-indicator',
        activeDot === index && 'message-loading-indicator-active',
      ]"
    />
  </div>
</template>

<style scoped>
.message-loading-indicator-container {
  @apply flex h-12 w-[6rem] items-center justify-center gap-3 rounded-xl bg-gray-lightest;
}

.message-loading-indicator {
  @apply h-3 w-3 rounded-full bg-indigo opacity-25 transition-opacity duration-500 ease-out;
}

.message-loading-indicator-active {
  @apply opacity-100;
}
</style>
