<template>
  <UserInteractions>
    <p v-if="message.content.label" class="radio-button-label">
      {{ message.content.label }}
    </p>

    <RadioButton
      v-for="option in message.content.options"
      :key="option.id"
      class="radio-button-container"
      :name="`multiple-choice-${message.id}`"
      :value="option.id"
      :text="option.text"
      :selected="selectedOption"
      :disabled="isDisabled"
      @change="optionSelected"
    />
  </UserInteractions>
</template>

<script>
import { mapActions } from 'pinia'
import RadioButton from '@/shared-components/RadioButton.vue'
import UserInteractions from '@/pages/import/UserInteractions.vue'

import { RADIO_OPTIONS } from '@/utils/importConstants'
import { useTrackingStore } from '@core/stores/tracking'

import { createLogger } from '@core/utils/logger'
const logger = createLogger('importing::multiple-choice')

export default {
  components: { RadioButton, UserInteractions },
  props: {
    selectedOption: {
      type: String,
      default: '',
    },
    message: {
      type: Object,
      default: () => ({
        id: '',
        type: RADIO_OPTIONS,
        content: {
          options: [],
          text: '',
        },
        nextMessageId: '',
      }),
    },
  },
  emits: ['show-next-message', 'selected-option'],
  data: () => ({
    isDisabled: false,
  }),
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
    optionSelected(selectedId) {
      const selected = this.message.content.options.find((option) => option.id === selectedId)

      // emit the option that was selected
      this.$emit('selected-option', this.message.id, selected)
      // emit the next message to show
      this.$emit('show-next-message', selected.nextMessageId, false, this.message.id)

      logger.debug(`optionSelected`, selected, this.message)

      const { mixpanelEvent } = this.message
      if (mixpanelEvent) {
        this.trackEvent({
          event: mixpanelEvent.name,
          properties: {
            answer: selected.text,
          },
        })
      }
    },
  },
}
</script>

<style>
.radio-button-container {
  @apply mb-2 block cursor-pointer rounded-lg border border-gray-light bg-gray-lightest px-3.5 py-2.5 focus-within:bg-indigo-light hover:bg-indigo-light;
}

.radio-button-label {
  @apply mb-4 text-sm;
}
</style>
