<template>
  <BrowserAndPasswordManagerExportSteps>
    <template #support>
      {{ supportText }}
    </template>
  </BrowserAndPasswordManagerExportSteps>
</template>

<script>
import BrowserAndPasswordManagerExportSteps from '@/pages/import/BrowserAndPasswordManagerExportSteps.vue'

import { useImportsStore } from '@/stores/imports'

export default {
  components: {
    BrowserAndPasswordManagerExportSteps,
  },
  setup() {
    const importsStore = useImportsStore()

    return {
      importsStore,
    }
  },
  computed: {
    supportText() {
      return this.importsStore.didSelectBrowser
        ? 'If you need more help, check the support center of the browser you are using.'
        : 'If you need more help, check the support center of the password manager you are using.'
    },
  },
}
</script>
