<template>
  <UserInteractions :message="message">
    <Button @click="handleClick">Show my imported accounts</Button>
  </UserInteractions>
</template>

<script>
import { mapActions } from 'pinia'
import UserInteractions from '@/pages/import/UserInteractions.vue'
import { useTrackingStore } from '@core/stores/tracking'
import Button from '@core/components/Button.vue'

export default {
  components: {
    UserInteractions,
    Button,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
    handleClick() {
      this.trackEvent({
        event: this.message.mixpanelEvent.name,
      })
      this.goToAccountsPage()
    },
    goToAccountsPage() {
      this.$router.push('/')
    },
  },
}
</script>
