<template>
  <div>
    <StaticMessage :message="message">
      Click <span class="modal-launcher" @click="openModal">here</span> to do this
    </StaticMessage>
    <Teleport to="body" :disabled="!modalIsOpen">
      <Modal v-if="modalIsOpen" :open="modalIsOpen" @close-modal="closeModal">
        <section class="field-mapper" v-bind="$attrs">
          <XIcon class="close-button" @click="closeModal" />
          <h2 class="title">Check if the fields are located correctly</h2>
          <p class="sub-title">
            Carefully select for each column what data is being represented. There are a few fields
            required before we can succesfully import your accounts.
          </p>
          <div class="fields-to-select">
            <p>The fields you can select are:</p>
            <ul class="fields">
              <li
                v-for="field in tiligSupportedFields"
                :key="field.name"
                :class="{
                  field: true,
                  'field-selected': fieldIsSelected(field),
                }"
              >
                {{ field.label }}{{ fieldIsRequired(field) ? '*' : '' }}
              </li>
            </ul>
            <p><span class="text-blue-lightest">(* required)</span></p>
          </div>
          <p>
            <label><input v-model="skipFirstRow" type="checkbox" /> Skip the first row</label>
          </p>
          <div class="accounts-table">
            <section class="table-headers">
              <div
                v-for="(_, index) in Array(userProvidedFields.length)"
                :key="index"
                class="header"
              >
                <Listbox>
                  <ListboxButton class="option-button"
                    >{{
                      userProvidedFields[index]?.label.length
                        ? userProvidedFields[index]?.label
                        : 'Which field is this?'
                    }}
                    <ChevronDownIcon class="chevron-down" />
                  </ListboxButton>

                  <transition
                    leave-active-class="transition duration-100 ease-in"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0"
                  >
                    <ListboxOptions class="options">
                      <ListboxOption
                        v-for="field in tiligSupportedFields"
                        :key="field.name"
                        v-slot="{ active, selected }"
                        as="template"
                        :value="field.name"
                        @click="handleFieldSelection(field, index)"
                      >
                        <li
                          :class="[
                            active && 'option-active',
                            'option',
                            fieldIsDisabled(field, index) && 'option-disabled',
                          ]"
                        >
                          <span
                            :class="[selected ? 'font-medium' : 'font-normal', 'block truncate']"
                            >{{ field.label }}</span
                          >
                          <span
                            v-if="selected"
                            class="absolute inset-y-0 left-0 flex items-center pl-3 text-indigo-dark"
                          >
                            <CheckIcon class="h-5 w-5" aria-hidden />
                          </span>
                        </li>
                      </ListboxOption>
                    </ListboxOptions>
                  </transition>
                </Listbox>
              </div>
            </section>
            <ul class="table-body">
              <li
                v-for="(row, index) in accounts"
                :key="index"
                :class="['table-row', { 'table-row-skipped': index === 0 && skipFirstRow }]"
              >
                <p v-for="cell in row" :key="cell" class="table-cell">{{ cell || '-' }}</p>
              </li>
            </ul>
          </div>
          <Button
            button-style="primary"
            full-width
            :disabled="!allRequiredFieldsHaveBeenSpecified"
            @click="continueImportProcess"
            >Looks good, continue</Button
          >
        </section>
      </Modal>
    </Teleport>
  </div>
</template>

<script lang="ts">
import { defineComponent, markRaw } from 'vue'

import { Listbox, ListboxButton, ListboxOptions, ListboxOption } from '@headlessui/vue'
import { ChevronDownIcon, CheckIcon, XIcon } from '@heroicons/vue/solid'

import Modal from '@core/components/Modal.vue'
import StaticMessage from '@/pages/import/StaticMessage.vue'
import { useImportsStore } from '@/stores/imports'
import Button from '@core/components/Button.vue'

interface Field {
  name: string
  label: string
  required?: boolean
}

export default defineComponent({
  components: {
    Modal,
    Listbox,
    ListboxButton,
    ListboxOption,
    ListboxOptions,
    ChevronDownIcon,
    CheckIcon,
    XIcon,
    StaticMessage,
    Button,
  },
  inheritAttrs: false,
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  emits: ['show-next-message'],
  setup() {
    const importsStore = useImportsStore()

    return {
      importsStore,
    }
  },
  data: () => ({
    skipFirstRow: true,
    modalIsOpen: false,
    tiligSupportedFields: markRaw([
      { name: 'name', label: 'Account Name', required: false },
      { name: 'username', label: 'Username', required: true },
      { name: 'password', label: 'Password', required: true },
      { name: 'website', label: 'Website', required: true },
      { name: 'notes', label: 'Notes', required: false },
    ]) as Field[],
    userProvidedFields: [] as Field[],
  }),
  computed: {
    requiredFields() {
      return this.tiligSupportedFields.filter((field) => field.required).map((field) => field.name)
    },
    allRequiredFieldsHaveBeenSpecified() {
      return this.requiredFields.every((field) =>
        this.userProvidedFields.find(({ name }) => name === field)
      )
    },
    accounts() {
      return this.importsStore.parseResult?.success
        ? this.importsStore.parseResult.originalData
        : null
    },
  },
  methods: {
    fieldIsDisabled(selectedField: Field, index: number) {
      return (
        this.userProvidedFields.some((field) => field.name === selectedField.name) &&
        this.userProvidedFields[index].name === selectedField.name
      )
    },
    fieldIsRequired(field: Field) {
      return this.requiredFields.includes(field.name)
    },
    fieldIsSelected(field: Field) {
      return (
        this.userProvidedFields.findIndex(
          (userProvidedField) => userProvidedField.name === field.name
        ) !== -1
      )
    },
    handleFieldSelection(selectedField: Field, index: number) {
      this.userProvidedFields.forEach((field, fieldIndex) => {
        if (field?.name === selectedField.name)
          this.userProvidedFields[fieldIndex] = { name: '', label: '' }

        if (fieldIndex === index) this.userProvidedFields[index] = selectedField
      })
    },
    continueImportProcess() {
      this.closeModal()

      if (this.importsStore.parseResult?.success) {
        const data = this.importsStore.parseResult.originalData

        if (this.skipFirstRow) {
          data.splice(0, 1)
        }

        const headers = this.userProvidedFields
          .map(({ name }, index) => ({ name, index }))
          .reduce((mapping, { name, index }) => {
            if (name) {
              mapping[name] = index
            }
            return mapping
          }, {} as Partial<Record<string, number>>)

        this.importsStore.parseData(headers, data)
      }

      this.$emit('show-next-message', this.message.nextMessageId)
    },
    resetColumns() {
      this.userProvidedFields = new Array(this.accounts?.[0].length ?? 0).fill({
        name: '',
        label: '',
      })
    },
    openModal() {
      this.resetColumns()
      this.modalIsOpen = true
    },
    closeModal() {
      this.modalIsOpen = false
    },
  },
})
</script>

<style scoped>
.field-mapper {
  @apply flex w-[80rem] flex-col items-center gap-4 p-14 pb-10 text-center text-sm font-book text-blue-darkest opacity-75;
}

.title {
  @apply text-3xl font-[400];
}
.sub-title {
  @apply max-w-2xl;
}

.fields-to-select {
  @apply my-3 flex items-center gap-2;
}

.fields {
  @apply flex gap-2;
}
.accounts-table {
  @apply relative max-h-[25rem] min-h-[15rem] w-full overflow-x-auto rounded-lg border border-gray;
}

.table-headers {
  @apply sticky top-0 flex justify-between gap-1 rounded-t-lg bg-gray-lightest p-3 px-5 text-xs;
}

.header {
  @apply relative w-full min-w-[14rem] max-w-[14rem];
}

.table-body {
  @apply flex flex-col;
}

.table-row {
  @apply flex border-collapse items-center justify-between gap-3 border px-5 py-4 text-left;
}

.table-row-skipped {
  @apply text-blue-lightest line-through;
}

.table-cell {
  @apply w-full min-w-[14rem] max-w-[14rem] overflow-hidden text-ellipsis px-2;
}

.option-button {
  @apply flex w-full cursor-pointer items-center justify-between gap-2 rounded-lg border border-gray-darkest bg-white  p-2 px-3 text-left text-sm shadow-md focus:outline-none focus-visible:border-indigo focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-gray;
}
.chevron-down {
  @apply h-5 w-5;
}

.options {
  @apply absolute mt-1 max-h-60 w-full  overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-blue-darkest ring-opacity-5 focus:outline-none sm:text-sm;
}

.option {
  @apply relative cursor-pointer select-none px-2 py-2 pl-7 text-left;
}

.option-active {
  @apply bg-indigo-lighter text-blue-dark;
}

.option-disabled {
  @apply pointer-events-none opacity-30;
}

.field {
  @apply rounded-lg border p-1 px-2 text-xs font-book tracking-wide;
}

.field-required {
  @apply bg-gray;
}

.field-selected {
  @apply bg-indigo-dark text-white transition-all duration-300;
}

.close-button {
  @apply absolute right-8 top-8 h-7 w-7 cursor-pointer text-3xl text-blue-light;
}

.modal-launcher {
  @apply cursor-pointer underline;
}
</style>
