<template>
  <StaticMessage :message="message" class="import-container">
    <section v-if="!importDone" class="uploading upload-container">
      <RefreshIcon class="loading-indicator gray-text" />
      <p class="loader-text gray-text">Importing items...</p>
      <div class="upload-progress-container">
        <div
          class="upload-progress"
          :style="{ width: `${(importedAccounts / accountsToImport) * 100}%` }"
        />
      </div>
    </section>

    <section v-else class="file-uploaded upload-container">
      <CheckCircleIcon class="uploaded-icon" />
      <p class="uploaded-text loader-text">Import completed</p>
    </section>
  </StaticMessage>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { mapStores } from 'pinia'

import { RefreshIcon } from '@heroicons/vue/outline'
import { CheckCircleIcon } from '@heroicons/vue/solid'

import StaticMessage from '@/pages/import/StaticMessage.vue'

import { SUCCESSFUL_IMPORT_FINAL_STEP, PARTIAL_IMPORT_COMPLETED } from '@/utils/importConstants'
import { useImportsStore } from '@/stores/imports'
import { useOnboardingStore } from '@core/stores/onboarding'

export default defineComponent({
  components: {
    RefreshIcon,
    CheckCircleIcon,
    StaticMessage,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  emits: ['show-next-message'],
  data: () => ({
    // we need this state so users won't be able to trigger imports repeatedly
    selectedOption: null,
    importDone: false,
  }),
  computed: {
    ...mapStores(useOnboardingStore, useImportsStore),

    failedAccounts() {
      return this.importsStore.numberOfFailedImports
    },
    accountsToImport() {
      return this.importsStore.numberOfTotalImports
    },
    importedAccounts() {
      return this.importsStore.importResults.filter((v) => v !== undefined).length
    },
  },
  mounted() {
    this.startImportProcess()
  },
  methods: {
    async startImportProcess() {
      try {
        await this.importsStore.createItems()
      } finally {
        this.importDone = true
        this.handlePostImportActions()
      }
    },
    handlePostImportActions() {
      // we want to check if the import was completed successfully or partially
      // so we can show the right thing to the user
      // in the future, we hope to be able to show the user the failed accounts
      // but for now, we will just let them know the counts of the succesfully imported ones and the failed ones
      if (this.failedAccounts > 0) {
        this.$emit('show-next-message', PARTIAL_IMPORT_COMPLETED)
        return
      }

      this.onboardingStore.updateImportSetupStatus()

      this.$emit('show-next-message', SUCCESSFUL_IMPORT_FINAL_STEP)
    },
  },
})
</script>

<style scoped>
.import-container {
  @apply w-full text-white !important;
}
.loading-indicator {
  @apply h-10 w-10 animate-spin-slow;
}

.loader-text {
  @apply text-sm;
}

.uploading {
  @apply flex flex-col items-center justify-center gap-3;
}

.upload-progress-container {
  @apply mt-2 h-2 w-full rounded-[4px] bg-white;
}

.upload-progress {
  @apply h-full max-w-full rounded-[4px];
  background: repeating-linear-gradient(
    120deg,
    rgb(82, 163, 130),
    rgb(82, 163, 130) 10px,
    rgb(133, 179, 160) 10px,
    rgb(133, 179, 160) 20px
  );
  transition: width 0.5s ease-out;
}

.file-uploaded {
  @apply flex flex-col items-center gap-3 text-green-darker;
}

.upload-container {
  @apply h-24;
}

.uploaded-icon {
  @apply h-14 w-14;
}

.uploaded-text {
  @apply font-medium text-white;
}
</style>
