<template>
  <StaticMessage v-slot="{ message }">
    <p v-for="text in message.content" :key="text">
      {{ text }}
    </p>
    <slot :message="message" />
  </StaticMessage>
</template>

<script>
import StaticMessage from '@/pages/import/StaticMessage.vue'

export default {
  components: {
    StaticMessage,
  },
}
</script>
