<template>
  <div :class="['chat-message', isLastStaticMessage && 'active-message']">
    <slot :message="message">
      {{ message.content }}
    </slot>

    <ChatBubble v-if="isLastStaticMessage" class="chat-bubble" />
  </div>
</template>

<script>
import { mapActions } from 'pinia'
import ChatBubble from '@/pages/import/ChatBubble.vue'
import { MIXPANEL_EVENT_TRIGGER } from '@/utils/importConstants'
import { useTrackingStore } from '@core/stores/tracking'

export default {
  components: {
    ChatBubble,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
    isLastStaticMessage: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['show-next-message'],
  mounted() {
    const { mixpanelEvent, nextMessageId } = this.message
    if (mixpanelEvent && mixpanelEvent.trigger === MIXPANEL_EVENT_TRIGGER.LOAD) {
      this.trackEvent({
        event: mixpanelEvent.name,
      })
    }
    if (nextMessageId) {
      this.$emit('show-next-message', nextMessageId)
    }
  },
  methods: {
    ...mapActions(useTrackingStore, ['trackEvent']),
  },
}
</script>

<style scoped>
.chat-message {
  @apply relative w-max max-w-full rounded-[16px] bg-indigo px-4 py-3 text-sm text-white md:left-4 md:max-w-[32rem];
}

.active-message {
  @apply relative bg-indigo opacity-100;
}

.chat-bubble {
  @apply absolute -left-[0.55rem] bottom-0 text-indigo;
}

.active-message-indicator {
  @apply absolute bottom-0 right-0 h-20 w-20;
}

.active-message-indicator-container {
  @apply relative;
}
</style>
