<script setup lang="ts">
import { computed } from 'vue'
import { useAuthStore } from '@core/stores/auth'

import ProfilePicture from '@core/components/ProfilePicture.vue'
import ChatBubble from '@/pages/import/ChatBubble.vue'

const authStore = useAuthStore()
const name = computed(() => authStore.tiligUser?.displayName)
const picture = computed(() => authStore.tiligUser?.photoURL)
</script>

<template>
  <div class="user-interactions">
    <div class="content">
      <slot />
      <ChatBubble class="chat-bubble" type="USER" />
    </div>
    <div class="profile-picture">
      <ProfilePicture :picture="picture" :name="name" />
    </div>
  </div>
</template>

<style scoped>
.user-interactions {
  @apply grid w-full max-w-[34rem] grid-cols-[1fr,2rem] gap-3 self-end md:grid-cols-[1fr,3rem];
}

.content {
  @apply relative my-3 w-full rounded-[16px] bg-indigo-lighter p-6;
}

.chat-bubble {
  @apply absolute -right-[0.55rem] bottom-0 text-indigo-lighter;
}

.profile-picture {
  @apply flex h-10 w-10 translate-y-1/4 self-end;
}
</style>
