<template>
  <UserInteractions>
    <p v-if="message.content.label" class="option-label">{{ message.content.label }}</p>
    <Button
      v-if="optionYes"
      class="mb-3"
      button-style="green"
      full-width
      @click="handleClick(optionYes)"
      >{{ optionYes.text }}
    </Button>
    <Button v-if="optionNo" full-width @click="handleClick(optionNo)">{{ optionNo.text }}</Button>
  </UserInteractions>
</template>

<script>
import UserInteractions from '@/pages/import/UserInteractions.vue'

import { DECISION, YES_OR_NO } from '@/utils/importConstants'
import Button from '@core/components/Button.vue'

export default {
  components: {
    UserInteractions,
    Button,
  },
  props: {
    message: {
      type: Object,
      default: () => ({
        id: '',
        type: YES_OR_NO,
        content: {
          text: '',
          options: [
            {
              id: '',
              nextMessageId: '',
              text: '',
              decision: DECISION.YES,
            },
          ],
        },
        eventType: 'response-selected',
      }),
    },
  },
  emits: ['response-selected', 'show-next-message'],
  computed: {
    optionYes() {
      return this.message.content.options.find((option) => option.decision === DECISION.YES)
    },
    optionNo() {
      return this.message.content.options.find((option) => option.decision === DECISION.NO)
    },
  },
  methods: {
    handleClick(option) {
      const eventType = this.message.eventType ?? 'response-selected'
      if (eventType === 'response-selected') {
        this.$emit(eventType, option)
        return
      }
      this.$emit(eventType, option.nextMessageId)
    },
  },
}
</script>

<style scoped>
.option-label {
  @apply mb-3 text-sm;
}
</style>
